
			@media (max-width: 767px) {
			#section-0-item-0 .title,
			#section-0-item-0 .subtitle,
			#section-0-item-0 .description,
			#section-0-item-0 .link a.default{
				color: #000000;
				border-bottom-color: #000000;
			}
			#section-0-item-0 .link a.default:hover{
				border-bottom-color: transparent;
			}
			#section-0-item-0 hr{
				border-top-color: #000000;
			}
		}
					@media (min-width: 768px) {
			#section-0-item-0 .title,
			#section-0-item-0 .subtitle,
			#section-0-item-0 .description,
			#section-0-item-0 .link a.default{
				color: #000000;
				border-bottom-color: #000000;
			}
			#section-0-item-0 .link a.default:hover{
				border-bottom-color: transparent;
			}
			#section-0-item-0 hr{
				border-top-color: #000000;
			}
		}
					@media (max-width: 767px) {
			#section-0-item-0-play-icon{
				fill: #000000;
			}
		}
				@media (min-width: 768px) {
			#section-0-item-0-play-icon{
				fill: #000000;
			}
		}
				
									@media (max-width: 767px) {
									#section-11-item-0 .title,
									#section-11-item-0 .subtitle,
									#section-11-item-0 .description,
									#section-11-item-0 .link a.default{
										color: #000000;
										border-bottom-color: #000000;
									}
									#section-11-item-0 .link a.default:hover{
										border-bottom-color: transparent;
									}
									#section-11-item-0 hr{
										border-top-color: #000000;
									}
								}
											@media (min-width: 768px) {
									#section-11-item-0 .title,
									#section-11-item-0 .subtitle,
									#section-11-item-0 .description,
									#section-11-item-0 .link a.default{
										color: #000000;
										border-bottom-color: #000000;
									}
									#section-11-item-0 .link a.default:hover{
										border-bottom-color: transparent;
									}
									#section-11-item-0 hr{
										border-top-color: #000000;
									}
								}
													
														@media (max-width: 767px) {
														#section-12-item-0 .title,
														#section-12-item-0 .subtitle,
														#section-12-item-0 .description,
														#section-12-item-0 .link a.default{
															color: #000000;
															border-bottom-color: #000000;
														}
														#section-12-item-0 .link a.default:hover{
															border-bottom-color: transparent;
														}
														#section-12-item-0 hr{
															border-top-color: #000000;
														}
													}
																@media (min-width: 768px) {
														#section-12-item-0 .title,
														#section-12-item-0 .subtitle,
														#section-12-item-0 .description,
														#section-12-item-0 .link a.default{
															color: #000000;
															border-bottom-color: #000000;
														}
														#section-12-item-0 .link a.default:hover{
															border-bottom-color: transparent;
														}
														#section-12-item-0 hr{
															border-top-color: #000000;
														}
													}