
	@media (max-width: 767px) {
	#section-0-item-0 .title,
	#section-0-item-0 .subtitle,
	#section-0-item-0 .description,
	#section-0-item-0 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-0-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-0-item-0 hr{
	border-top-color: #000000;
	}
	}
	@media (min-width: 768px) {
	#section-0-item-0 .title,
	#section-0-item-0 .subtitle,
	#section-0-item-0 .description,
	#section-0-item-0 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-0-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-0-item-0 hr{
	border-top-color: #000000;
	}
	}


	@media (max-width: 767px) {
	#section-11-item-0 .title,
	#section-11-item-0 .subtitle,
	#section-11-item-0 .description,
	#section-11-item-0 .link a.default{
	color: #ffffff;
	border-bottom-color: #ffffff;
	}
	#section-11-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-11-item-0 hr{
	border-top-color: #ffffff;
	}
	}
	@media (min-width: 768px) {
	#section-11-item-0 .title,
	#section-11-item-0 .subtitle,
	#section-11-item-0 .description,
	#section-11-item-0 .link a.default{
	color: #ffffff;
	border-bottom-color: #ffffff;
	}
	#section-11-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-11-item-0 hr{
	border-top-color: #ffffff;
	}
	}


	@media (max-width: 767px) {
	#section-11-item-1 .title,
	#section-11-item-1 .subtitle,
	#section-11-item-1 .description,
	#section-11-item-1 .link a.default{
	color: #ffffff;
	border-bottom-color: #ffffff;
	}
	#section-11-item-1 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-11-item-1 hr{
	border-top-color: #ffffff;
	}
	}
	@media (min-width: 768px) {
	#section-11-item-1 .title,
	#section-11-item-1 .subtitle,
	#section-11-item-1 .description,
	#section-11-item-1 .link a.default{
	color: #ffffff;
	border-bottom-color: #ffffff;
	}
	#section-11-item-1 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-11-item-1 hr{
	border-top-color: #ffffff;
	}
	}


	@media (max-width: 767px) {
	#section-12-item-0 .title,
	#section-12-item-0 .subtitle,
	#section-12-item-0 .description,
	#section-12-item-0 .link a.default{
	color: #ffffff;
	border-bottom-color: #ffffff;
	}
	#section-12-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-12-item-0 hr{
	border-top-color: #ffffff;
	}
	}
	@media (min-width: 768px) {
	#section-12-item-0 .title,
	#section-12-item-0 .subtitle,
	#section-12-item-0 .description,
	#section-12-item-0 .link a.default{
	color: #ffffff;
	border-bottom-color: #ffffff;
	}
	#section-12-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-12-item-0 hr{
	border-top-color: #ffffff;
	}
	}


	@media (max-width: 767px) {
	#section-12-item-1 .title,
	#section-12-item-1 .subtitle,
	#section-12-item-1 .description,
	#section-12-item-1 .link a.default{
	color: #ffffff;
	border-bottom-color: #ffffff;
	}
	#section-12-item-1 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-12-item-1 hr{
	border-top-color: #ffffff;
	}
	}
	@media (min-width: 768px) {
	#section-12-item-1 .title,
	#section-12-item-1 .subtitle,
	#section-12-item-1 .description,
	#section-12-item-1 .link a.default{
	color: #ffffff;
	border-bottom-color: #ffffff;
	}
	#section-12-item-1 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-12-item-1 hr{
	border-top-color: #ffffff;
	}
	}


	@media (max-width: 767px) {
	#section-15-item-0 .title,
	#section-15-item-0 .subtitle,
	#section-15-item-0 .description,
	#section-15-item-0 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-15-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-15-item-0 hr{
	border-top-color: #000000;
	}
	}
	@media (min-width: 768px) {
	#section-15-item-0 .title,
	#section-15-item-0 .subtitle,
	#section-15-item-0 .description,
	#section-15-item-0 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-15-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-15-item-0 hr{
	border-top-color: #000000;
	}
	}


	@media (max-width: 767px) {
	#section-15-item-0 #link-15-0-2{
	color: #000000;
	border-bottom-color: #000000;
	}
	}
	@media (min-width: 768px) {
	#section-15-item-0 #link-15-0-2{
	color: #000000;
	border-bottom-color: #000000;
	}
	}
	#section-15-item-0 #link-15-0-2:hover{
	border-bottom-color: transparent;
	}


	@media (max-width: 767px) {
	#section-19-item-0 .title,
	#section-19-item-0 .subtitle,
	#section-19-item-0 .description,
	#section-19-item-0 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-19-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-19-item-0 hr{
	border-top-color: #000000;
	}
	}
	@media (min-width: 768px) {
	#section-19-item-0 .title,
	#section-19-item-0 .subtitle,
	#section-19-item-0 .description,
	#section-19-item-0 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-19-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-19-item-0 hr{
	border-top-color: #000000;
	}
	}


	@media (max-width: 767px) {
	#section-19-item-1 .title,
	#section-19-item-1 .subtitle,
	#section-19-item-1 .description,
	#section-19-item-1 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-19-item-1 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-19-item-1 hr{
	border-top-color: #000000;
	}
	}
	@media (min-width: 768px) {
	#section-19-item-1 .title,
	#section-19-item-1 .subtitle,
	#section-19-item-1 .description,
	#section-19-item-1 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-19-item-1 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-19-item-1 hr{
	border-top-color: #000000;
	}
	}


	@media (max-width: 767px) {
	#section-20-item-0 .title,
	#section-20-item-0 .subtitle,
	#section-20-item-0 .description,
	#section-20-item-0 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-20-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-20-item-0 hr{
	border-top-color: #000000;
	}
	}
	@media (min-width: 768px) {
	#section-20-item-0 .title,
	#section-20-item-0 .subtitle,
	#section-20-item-0 .description,
	#section-20-item-0 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-20-item-0 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-20-item-0 hr{
	border-top-color: #000000;
	}
	}


	@media (max-width: 767px) {
	#section-20-item-1 .title,
	#section-20-item-1 .subtitle,
	#section-20-item-1 .description,
	#section-20-item-1 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-20-item-1 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-20-item-1 hr{
	border-top-color: #000000;
	}
	}
	@media (min-width: 768px) {
	#section-20-item-1 .title,
	#section-20-item-1 .subtitle,
	#section-20-item-1 .description,
	#section-20-item-1 .link a.default{
	color: #000000;
	border-bottom-color: #000000;
	}
	#section-20-item-1 .link a.default:hover{
	border-bottom-color: transparent;
	}
	#section-20-item-1 hr{
	border-top-color: #000000;
	}
	}
