
@media (max-width: 767px) {
#section-0-item-0 .title,
#section-0-item-0 .subtitle,
#section-0-item-0 .description,
#section-0-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-0-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-0-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-0-item-0 .title,
#section-0-item-0 .subtitle,
#section-0-item-0 .description,
#section-0-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-0-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-0-item-0 hr{
border-top-color: #000000;
}
}


@media (max-width: 767px) {
#section-6-item-0 .title,
#section-6-item-0 .subtitle,
#section-6-item-0 .description,
#section-6-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-6-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-6-item-0 hr{
border-top-color: #ffffff;
}
}
@media (min-width: 768px) {
#section-6-item-0 .title,
#section-6-item-0 .subtitle,
#section-6-item-0 .description,
#section-6-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-6-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-6-item-0 hr{
border-top-color: #ffffff;
}
}


@media (max-width: 767px) {
#section-10-item-0 .title,
#section-10-item-0 .subtitle,
#section-10-item-0 .description,
#section-10-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-10-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-10-item-0 hr{
border-top-color: #ffffff;
}
}
@media (min-width: 768px) {
#section-10-item-0 .title,
#section-10-item-0 .subtitle,
#section-10-item-0 .description,
#section-10-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-10-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-10-item-0 hr{
border-top-color: #ffffff;
}
}
@media (max-width: 767px) {
#section-10-item-0-play-icon{
fill: #ffffff;
}
}
@media (min-width: 768px) {
#section-10-item-0-play-icon{
fill: #ffffff;
}
}


@media (max-width: 767px) {
#section-12-item-0 .title,
#section-12-item-0 .subtitle,
#section-12-item-0 .description,
#section-12-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-12-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-12-item-0 hr{
border-top-color: #ffffff;
}
}
@media (min-width: 768px) {
#section-12-item-0 .title,
#section-12-item-0 .subtitle,
#section-12-item-0 .description,
#section-12-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-12-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-12-item-0 hr{
border-top-color: #ffffff;
}
}


@media (max-width: 767px) {
#section-13-item-0 .title,
#section-13-item-0 .subtitle,
#section-13-item-0 .description,
#section-13-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-13-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-13-item-0 hr{
border-top-color: #ffffff;
}
}
@media (min-width: 768px) {
#section-13-item-0 .title,
#section-13-item-0 .subtitle,
#section-13-item-0 .description,
#section-13-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-13-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-13-item-0 hr{
border-top-color: #ffffff;
}
}


@media (max-width: 767px) {
#section-17-item-0 .title,
#section-17-item-0 .subtitle,
#section-17-item-0 .description,
#section-17-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-17-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-17-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-17-item-0 .title,
#section-17-item-0 .subtitle,
#section-17-item-0 .description,
#section-17-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-17-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-17-item-0 hr{
border-top-color: #000000;
}
}
