	@media (max-width: 767px) {
	#section-0-item-0 .title,
	#section-0-item-0 .subtitle,
	#section-0-item-0 .description,
	#section-0-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-0-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-0-item-0 hr{
		border-top-color: #ffffff;
	}
}
			@media (min-width: 768px) {
	#section-0-item-0 .title,
	#section-0-item-0 .subtitle,
	#section-0-item-0 .description,
	#section-0-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-0-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-0-item-0 hr{
		border-top-color: #ffffff;
	}
}
	@media (max-width: 767px) {
	#section-1-item-0 .title,
	#section-1-item-0 .subtitle,
	#section-1-item-0 .description,
	#section-1-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-1-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-1-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-1-item-0 .title,
	#section-1-item-0 .subtitle,
	#section-1-item-0 .description,
	#section-1-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-1-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-1-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-4-item-0 .title,
	#section-4-item-0 .subtitle,
	#section-4-item-0 .description,
	#section-4-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-4-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-4-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-4-item-0 .title,
	#section-4-item-0 .subtitle,
	#section-4-item-0 .description,
	#section-4-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-4-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-4-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-8-item-0 .title,
	#section-8-item-0 .subtitle,
	#section-8-item-0 .description,
	#section-8-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-8-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-8-item-0 hr{
		border-top-color: #ffffff;
	}
}
			@media (min-width: 768px) {
	#section-8-item-0 .title,
	#section-8-item-0 .subtitle,
	#section-8-item-0 .description,
	#section-8-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-8-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-8-item-0 hr{
		border-top-color: #ffffff;
	}
}
	@media (max-width: 767px) {
	#section-8-item-1 .title,
	#section-8-item-1 .subtitle,
	#section-8-item-1 .description,
	#section-8-item-1 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-8-item-1 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-8-item-1 hr{
		border-top-color: #ffffff;
	}
}
			@media (min-width: 768px) {
	#section-8-item-1 .title,
	#section-8-item-1 .subtitle,
	#section-8-item-1 .description,
	#section-8-item-1 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-8-item-1 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-8-item-1 hr{
		border-top-color: #ffffff;
	}
}