
@media (max-width: 767px) {
#section-0-item-0 .title,
#section-0-item-0 .subtitle,
#section-0-item-0 .description,
#section-0-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-0-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-0-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-0-item-0 .title,
#section-0-item-0 .subtitle,
#section-0-item-0 .description,
#section-0-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-0-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-0-item-0 hr{
border-top-color: #000000;
}
}
@media (max-width: 767px) {
#section-0-item-0-play-icon{
fill: #000000;
}
}
@media (min-width: 768px) {
#section-0-item-0-play-icon{
fill: #000000;
}
}



@media (max-width: 767px) {
#section-1-item-0 .title,
#section-1-item-0 .subtitle,
#section-1-item-0 .description,
#section-1-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-1-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-1-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-1-item-0 .title,
#section-1-item-0 .subtitle,
#section-1-item-0 .description,
#section-1-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-1-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-1-item-0 hr{
border-top-color: #000000;
}
}
@media (max-width: 767px) {
#section-1-item-0-play-icon{
fill: #000000;
}
}
@media (min-width: 768px) {
#section-1-item-0-play-icon{
fill: #000000;
}
}



@media (max-width: 767px) {
#section-3-item-0-play-icon{
fill: #ffffff;
}
}
@media (min-width: 768px) {
#section-3-item-0-play-icon{
fill: #ffffff;
}
}



@media (max-width: 767px) {
#section-heading-7 .section-title,
#section-heading-7 .section-subtitle,
#section-heading-7 .section-title-link a{
color: #000000;
}
#section-heading-7 .section-title-link a{
border-bottom-color: #000000;
}
#section-heading-7 .section-title-link a:hover{
border-bottom-color: transparent;
}
}
@media (min-width: 768px) {
#section-heading-7 .section-title,
#section-heading-7 .section-subtitle,
#section-heading-7 .section-title-link a{
color: #000000;
}
#section-heading-7 .section-title-link a{
border-bottom-color: #000000;
}
#section-heading-7 .section-title-link a:hover{
border-bottom-color: transparent;
}
}



@media (max-width: 767px) {
#section-12-item-0 .title,
#section-12-item-0 .subtitle,
#section-12-item-0 .description,
#section-12-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-12-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-12-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-12-item-0 .title,
#section-12-item-0 .subtitle,
#section-12-item-0 .description,
#section-12-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-12-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-12-item-0 hr{
border-top-color: #000000;
}
}
