.edgemont {

    .main-hero-title {
        font-size: 46px;

        @media ( max-width: 768px ) {
            font-size: 42px;
        }
    }

    #section-0-item-0 {
        .description {
            font-size: 26px;
            line-height: 36px;

            @media ( max-width: 768px ) {
                font-size: 19px;
                line-height: 27px;
                letter-spacing: -.34px;
            }
        }
    }

    h1, h2 {
        font-family: "Circular-Pro-Medium", sans-serif;
    }

    .overview-video-trigger {
        opacity:1;
    }
    .pb-1 {
        padding-bottom:1vw;
    }
    .pb-2 {
        padding-bottom:2vw;
    }
    .pb-3 {
        padding-bottom:3vw;
    }
    .pb-4 {
        padding-bottom:4vw;
    }
    .pb-5 {
        padding-bottom:5vw;
    }

    @media (max-width: $screen-sm) {
        .pb-sm-1 {
            padding-bottom:1vw;
        }
        .pb-sm-2 {
            padding-bottom:2vw;
        }
        .pb-sm-3 {
            padding-bottom:3vw;
        }
        .pb-sm-4 {
            padding-bottom:4vw;
        }
        .pb-sm-5 {
            padding-bottom:5vw;
        }
    }

    .btn-set {
        position:relative;

        &.product-final-item {
            @media ( max-width: 767px ) { top: 700px; }
            @media ( max-width: 700px ) { top: 640px; }
            @media ( max-width: 650px ) { top: 590px; }
            @media ( max-width: 550px ) { top: 510px; }
            @media ( max-width: 500px ) { top: 430px; }
            @media ( max-width: 450px ) { top: 390px; }
            @media ( max-width: 400px ) { top: 350px; }
            @media ( max-width: 370px ) { top: 330px; }
            @media ( max-width: 340px ) { top: 300px; }
        }
    }

    @media (min-width: 1100px ) {
        .offset-vertical {
           position:relative;
           top:70px;
        }

    }

    .page-block{
        // default margins for each block
        margin: 0 auto 40px;
        max-width: $site-max-width;
        @media (min-width: $screen-sm) {
            margin-bottom: 60px;
        }
        @media (min-width: $screen-md) {
            margin-bottom: 65px;
        }

        &.with-offset-left {
            position:relative;
            left:-30px;
        }

        &.with-offset {
            @media (min-width: $screen-md) {
                margin-bottom:140px;
            }
        }

        &.no-bottom-margin-mobile {
            @media ( max-width: 768px ) {
                margin-bottom: 0;
            }
        }

        &.no-bottom-padding-mobile {
            @media ( max-width: 768px ) {
                padding-bottom: 0;
            }
        }

        &.mobile-padding-for-image {
            margin-bottom: 70px;

            &.mobile-padding-for-image-50 {
                margin-bottom: 40px;

                @media ( max-width: 768px ) {
                    margin-bottom: 25px;
                }
            }

            @media ( max-width: $screen-sm ) {
                margin-bottom: 25px;
            }
        }

        &.mb-150 {
            margin-bottom: 150px;
        }

        &.mb-100 {
            margin-bottom: 100px;
        }
    }

    .row.flexed.full {
        .flexer {
            max-width:100%;
            @media (min-width: $screen-md) {
                max-width: 100%;

                p {
                    width:80%;
                }
            }

          
        }
    }


    .image-panel {
        margin-bottom:100px;

        @media ( max-width: 768px ) {
            margin-bottom: 40px;
        }

        .image-panel-content.text-dark {
            .description,
            .title {
                color:$gray-darker;
            }
        }

        &.no-bottom-margin {
            margin-bottom: 0;
        }
    }

    .section-content {
        @media ( max-width: 768px ) {
            padding-left: 25px;
            padding-right: 25px;
        }

        @media (max-width: $screen-sm) {
            &.sm-left {
                text-align:left;
            }

            
        }

        &.sm-full {
            padding-left:0;
            padding-right:0;
            padding-bottom: 0;
            //padding-bottom:40px;

            @media ( min-width: 769px ) {
                padding-bottom: 40px;
            }

            @media (min-width: $screen-md) {
                padding-left: 28px;
                padding-right: 28px;
            }
        }

        &.no-bottom-margin-mobile {
            @media ( max-width: 768px ) {
                margin-bottom: 0;
            }
        }

        &.no-bottom-padding-mobile {
            @media ( max-width: 768px ) {
                padding-bottom: 0;
            }
        }

        &.mobile-padding-for-image {
            @media ( max-width: $screen-sm ) {
                margin-bottom: 20px;
            }
        }

        &.no-bottom-margin {
            margin-bottom: 0;
        }

        &.no-bottom-padding {
            padding-bottom: 0;
        }

        &.mobile-breakout {
            @media ( max-width: 768px ) {
                padding-left: 0;
                padding-right: 0;
            }
        }
        
        &.text-left {
            text-align:left;
        }
        .title {
            font-family: "Circular-Pro-Medium", sans-serif;
            font-size: 27px;
            line-height: 30px;
            margin-bottom: 12px;
            position:relative;
            @media (min-width: $screen-md) {
                font-size: 30px;
            }
            @media (min-width: $screen-xl) {
                font-size: 30px;
            }

            &.top-bordered-mobile {
                @media ( max-width: 767px ) {
                    border-top: 1px solid #EAEAEA;
                    padding-top: 60px;
                    margin-top: 10px;


                    //@media ( max-width: 500px ) {
                    //    padding-top: 45px;
                    //}
                }
            }
        }

        .subtitle {
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            letter-spacing: 2px;
        }
        .description {
            font-size: 16px;
            font-family: $font-family-sans-serif;
            position: relative;
            line-height: 24px;
            letter-spacing: -.34px;
            color: $gray;
            @media (min-width: $screen-md) {
                font-size: 20px;
                &.contain {
                    max-width: 700px;
                    margin:0 auto;
                }
            }
            @media (min-width: $screen-xl) {
                font-size: 24px;
                line-height: 32px;
            }
            
        }



        .description-extra-padding-mobile {
            @media ( max-width: 768px ) {
                padding-bottom: 30px;
            }
        }

        .description-double-extra-padding-mobile {
            @media ( max-width: 768px ) {
                padding-bottom: 50px;
            }
        }

        .description-before-video {
            //padding-bottom: 45px;
            padding-bottom: 20px;
        }

        .flexer {
            @media ( max-width: 768px ) {
                padding-left: 25px;
                padding-right: 25px;
            }
        }

        &.xlarge {
            .title{
                font-family: "Circular-Pro-Medium", sans-serif;
                font-size: 40px;
                line-height: 51px;
                margin-bottom: 25px;
                letter-spacing:-1.33px;

                &.carry-on-title {
                    margin-bottom: 15px;
                }

                @media (min-width: $screen-md) {
                    font-size: 64px;
                    line-height: 68px;
                }
                @media (min-width: $screen-xl) {
                    font-size: 72px;
                    line-height: 78px;
                }

            }
            .description{
                font-size: 22px;
                font-family: $font-family-sans-serif;
                position: relative;
                line-height: 30px;
                color: $gray;
                letter-spacing: -.04em;

                @media (min-width: $screen-md) {
                    font-size: 26px;
                }
                @media (min-width: $screen-xl) {
                    font-size: 30px;
                    line-height: 42px;
                }

                @media ( max-width: 768px ) {
                    max-width: 250px;
                    margin: 0 auto;
                }


            }

            .description-stay-organized {
                @media ( max-width: 768px ) {
                    max-width: 290px !important;
                }
            }

            .title-stay-organized {
                @media ( max-width: 768px ) {
                    max-width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

        }
        @media (max-width: $screen-sm) {
            .sm-inset {
                padding-top:10px;
                padding-left:25px;
                padding-right:25px;
            }
        }

        &.added-bottom-padding-mobile {
            @media ( max-width: 768px ) {
                padding-bottom: 25px;
            }
        }

        &.added-bottom-padding-tablet {
            @media ( max-width: 768px ) and ( min-width: 767px ) {
                padding-bottom: 50px;
            }
        }


        .organized-padded-mobile {
            padding-top: 40px;
            padding-bottom: 50px;

            @media ( max-width: 768px ) {
                padding-top: 15px;
                padding-bottom: 40px;
            }

            &.last-organized-padded-mobile {
                @media ( max-width: 768px ) {
                    padding-bottom: 15px;
                }
            }
        }
    }

    .suitcase-mobile-only-heading {
        @media ( max-width: 768px ) {
            padding-left: 15px;
            padding-right: 15px;

            .flexer {
                padding-top: 15px;
                padding-bottom: 20px;
            }
        }
    }

    .mobile-only-heading {

        display: none;

        @media ( max-width: 767px ) {
            display: block;
        }

        &.with-border {
            .title {
                border-top: 1px solid #EAEAEA;
                padding-top: 60px;
                margin-top: 10px;

                @media ( max-width: 500px ) {
                    padding-top: 45px;
                }
            }
        }
    }

    .ratio-16-9-m {
        .embed-container {
            @media ( max-width: 768px ) {
                padding-bottom: 56.25%;
            }
        }
    }

    .section-for-fade-out {
        position: relative;

        .fadeout-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.3);
            transition: 1s ease;
            opacity: 1;
            z-index: 100;

            &.hidden {
                display: none;
            }

            &.hiding {
                opacity: 0;
            }
        }
    }

    .suitcase-handle-container {
        @media ( min-width: 1200px ) {
            padding-right: 120px;
            padding-top: 90px;
        }

        @media ( min-width: 769px ) {
            padding-right: 40px;
            padding-top: 30px;
        }

        picture {

        }
    }

    .minimalist-custom-paragraph {
        @media ( min-width: 1030px ) {
            width: 380px !important;
        }
    }

    .desktop-col-left {
        @media ( min-width: 768px ) {
            padding-right: 5px !important;
        }

        @media ( min-width: 769px ) {
            padding-right: 37px !important;
        }

        @media ( min-width: 1250px ) {
            padding-right: 57px !important;
        }

        @media ( min-width: 1400px ) {
            padding-left: 100px !important;
        }
    }

    .desktop-col-right {
        @media ( min-width: 768px ) {
            padding-left: 5px !important;
        }

        @media ( min-width: 769px ) {
            padding-left: 37px !important;
        }

        @media ( min-width: 1250px ) {
            padding-left: 57px !important;
        }

        @media ( min-width: 1400px) {
            padding-right: 100px !important;
        }
    }

    #what-fits-header {
        font-size: 42px;
        letter-spacing: 1px;
        font-family: "Circular-Pro-Medium", sans-serif;

        @media ( max-width: 768px ) {
            font-size: 27px;
        }
    }

    .bottles-image {
        max-width: 940px;
        margin: 0 auto;

        @media ( max-width: 767px ) {
            //padding-left: 40px;
            //padding-right: 40px;

            img {
                max-width: 240px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .minimalist-offset {
        padding-bottom: 100px;

        @media ( max-width: 768px ) {
            padding-bottom: 0;
            //padding-left: 0;
        }
    }

    .minimalist-offset-tablet {
        @media ( max-width: 768px ) and ( min-width: 767px ) {
            padding-right: 5px !important;
        }
    }

    .minimalist-offset-2 {
        margin-bottom: -30px;

        @media ( max-width: 1600px ) {
            margin-bottom: -10px;
        }
    }

    .minimalist-flexer-on-tablet {
        @media ( max-width: 768px ) and ( min-width: 767px ) {
            padding-left: 5px !important;
        }
    }

    .minimalist-left-column-tablet {
        @media ( max-width: 768px ) and ( min-width: 767px ) {
            padding-right: 12px !important;
        }
    }

    .ultra-comfort-description {
        padding-bottom: 70px !important;
        max-width: 460px !important;
    }

    .description-contained {
        max-width: 85%;

        @media ( max-width: 768px ) {
            padding-top: 0 !important;
            max-width: 95%;
        }
    }

    .sustainable-description {
        max-width: 600px !important;
        padding-bottom: 40px;
    }

    .water-resistant-description  {
        max-width: 580px !important;
        padding-bottom: 30px;
    }

    .no-side-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .converts-title {
        @media ( max-width: 768px ) {
            max-width: 300px;
            display: block;
        }
    }

    .quality-description {
        @media ( max-width: 768px ) {
            max-width: 310px !important;
            margin-bottom: 20px !important;
        }
    }

    .converting-video-desktop,
    .minimalist-for-desktop {
        @media ( max-width: 768px ) {
            display: none;
        }
    }

    .converting-video-mobile,
    .minimalist-for-mobile {
        @media ( min-width: 769px ) {
            display: none;
        }
    }

    .minimalist-for-mobile {
        margin-bottom: 25px;
        margin-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .mens-page-added-padding-for-image {
        padding-bottom: 200px !important;

        @media ( max-width: 1024px ) {
            padding-bottom: 140px !important
        }

        @media ( max-width: 768px ) {
            padding-bottom: 0px !important;
        }
    }

    .mens-adaptable-custom {
        @media ( max-width: 768px ) {
            padding-bottom: 45px;
        }
    }

    .product-video {
        @media ( max-width: 768px ) {
            .embed-container {
                padding-bottom: 100%;
            }
        }
    }

    .memory-foam-video-desktop {
        padding-bottom: 56%;

        @media ( max-width: 768px ) {
            display: none;
        }
    }

    .memory-foam-video-mobile {
        padding-bottom: 75%;

        @media ( min-width: 769px ) {
            display: none;
        }
    }

    .memory-foam-container-desktop {
        @media ( max-width: 768px ) {
            display: none;
        }
    }

    .memory-foam-container-mobile {
        margin-bottom: 0;

        @media ( min-width: 769px ) {
            display: none;
        }
    }

    .center-for-tablet {
        @media ( max-width: 768px ) and ( min-width: 767px ) {
            margin: 0 auto;
        }
    }

    .minimalist-container-one {
        .section-content {
            @media ( max-width: 768px ) and ( min-width: 767px ) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .flexer {
            @media ( max-width: 768px ) {
                padding-right: 0 !important;
            }
        }
    }

    .minimalist-flex-top-on-tablet {
        @media ( max-width: 768px ) and ( min-width: 767px ) {
            justify-content: start !important;
        }
    }

    .title-on-tablet {
        @media ( max-width: 1024px ) {
            font-size: 20px !important;
            line-height: 25px !important;
            letter-spacing: -.24px;
        }
    }

    .removable-insert-image {
        margin-top: 80px;

        @media ( max-width: 1024px ) {
            margin-top: 30px
        }
    }

    .removable-insert-left-column {
        @media ( max-width: 1024px ) and ( min-width: 767px ) {
            padding-right: 20px;
        }
    }

    .removable-insert-right-column {
        @media ( max-width: 1024px ) and ( min-width: 767px ) {
            padding-left: 20px;
        }
    }

    .minimalist-container-two {
        .section-content {
            picture, img {
                display: block;
                width: 100%;
            }

            @media ( max-width: 768px ) and ( min-width: 767px ){
                margin: 0 37px;
            }
        }
    }

    .minimalist-padding-top-for-tablet {
        @media ( max-width: 768px )  and ( min-width: 767px ) {
            padding-top: 30px !important;
        }
    }
}

#main-section-three {
    @media ( max-width: 768px ) {
        padding-top: 35px;
    }
}

// Animate CSS
.animate {
    opacity: 1;
    @media ( min-width: $screen-md ) {
        opacity: 0;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}