.password-wall{
	height: 100%;
}
.template-password{
	height: 100%;
	#MainContent{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#site-logo{
		margin-bottom: 30px;
	}
}
#Login{
	max-width: 360px;
	padding: 0 $mobile-gutter;
	p{
		color: $gray;
		text-align: center;
	}
}