<header class="page-header">
    <h1>Press</h1>
</header>
<div class="container">
    <section id="press-page-container">
    <div class="row">
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="//cdn.shopify.com/s/files/1/2185/1497/files/huffingtonpost_logo.png?v=1513189756" alt="The Huffington Post" />
    <h3 class="article-title">This Adorable Bag Just Might Be The Best Carry On Bag Out There</h3>
    <p class="article-excerpt">“Say goodbye to the days of bags falling off the side of your suitcase and spilling out over the floor (we've all been there,) and hello to a less painful carry on experience.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/foodandwine_logo.png" />
    <h3 class="article-title">Best Weekend Travel Bags</h3>
    <p class="article-excerpt">“A zippered bottom compartment and unusually large size (plus a great choice of pretty, subdued colors) set this tote apart from the pack.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/bhg_logo.png" />
    <h3 class="article-title">Fresh Gatherings</h3>
    <p class="article-excerpt">“Can't live without my OMG bag, which fits my laptop, Minted day planner, jacket, walking shoes, and everything I need on the road or to survive sometimes an 18-hour workday.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/refinery29_logo.png" />
    <h3 class="article-title">Snag The Ultimate Laptop Bag</h3>
    <p class="article-excerpt">“A young New York-based brand that's the brainchild of a mother and her two sons, both of whom have backgrounds in advertising, product design, and DJing (creative family, huh?). With dreams of building the perfect functional-yet-stylish laptop tote, the trio dreamt up a series of streamlined and minimalist designs that they describe as the little black dress of travel accessories.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/lucky_logo.png" />
    <h3 class="article-title">If You Were a Street-Style Blogger, You'd Totally Wear This Cross-Body Bag</h3>
    <p class="article-excerpt">“If you were a street style blogger in the vein of vintage Man Repeller and Susie Bubble, you'd totally carry your weapon of choice—the DSLR camera—in this genius nappa leather camera, er, cross-body bag.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/shape_logo.png" />
    <h3 class="article-title">The Best Gift Ideas for Men, Foodies, Fashionistas, and Fit Women in Your Life</h3>
    <p class="article-excerpt">“This isn't just any bag. The O.G. by Lo and Sons keeps up with your busy schedule. Whether you're traveling or heading to the gym after work, this bag will hold your laptop, shoes, papers, extra clothes, and more, thanks to its multiple pockets to keep you organized and comfortable.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/elle_logo.png" />
    <h3 class="article-title">Fall Trends - Camera Bags</h3>
    <p class="article-excerpt">“Now I have a new item to add to my wish list - a camera bag that’s elegant chic and not the bland backpack black neoprene I've been using.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/travelchannel_logo.png" />
    <h3 class="article-title">Mother's Day Travel Gift Guide</h3>
    <p class="article-excerpt">“For the mom whose purse is a black hole. How many times has mom dug through her purse, endlessly looking for something important? This cross-body bag is the perfect place for mom to store her most important travel items.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/businessinsider_logo.png" />
    <h3 class="article-title">These Luxury Bags Were Inspired By Apple Products</h3>
    <p class="article-excerpt">“Helen Lo founded luxury bag company Lo &amp; Sons after she couldn't find any fashionable, functional travel bags. She convinced her sons, Derek and Jan, to quit their jobs in advertising and product design research, respectively, and get the startup off the ground in December 2010.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/people_logo.png" />
    <h3 class="article-title">What We're Buying</h3>
    <p class="article-excerpt">“It’s incredibly well-designed - nothing gets lost, despite the size, thanks to all the thoughtful pockets and compartments. It fits securely over the handle of a wheeled suitcase. And it’s super-durable, so it won’t get destroyed on its way from the gym to work to the airport. It’s made traveling nearly pleasant.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/usweekly_logo.png" />
    <h3 class="article-title">Editors Style Picks</h3>
    <p class="article-excerpt">“Get out of town in style with this roomy Lo &amp; Sons bag that's large enough for a weekend's essentials. A bottom compartment makes for a nifty space to stash shoes, toiletries or, for your return trip, dirty clothes.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/fodors_logo.png" />
    <h3 class="article-title">Fodor's Approved: Best Summer Weekend Bags</h3>
    <p class="article-excerpt">“Lo &amp; Sons chose lightweight materials like nylon and canvas to help ease the load on your shoulders. Because when you’re traveling, your bag shouldn’t weigh more than the stuff it carries!”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/racked_logo.png" />
    <h3 class="article-title">How to Carry a Lot of Stuff Without Looking Like You're Carrying a Lot of Stuff</h3>
    <p class="article-excerpt">“Lo &amp; Sons was founded by Helen Lo of Charlottesville, VA, who spent years looking for easy-to-use, streamlined and practical luggage for her frequent travels.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/yahootravel_logo.png" />
    <h3 class="article-title">11 Travel Gifts You Really Want</h3>
    <p class="article-excerpt">“Finding the perfect bag for all of your stuff can be a tall order. If you’re a girl on the go, you need a bag big enough to fit your laptop, but stylish enough to take anywhere. Enter the O.M.G.”</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="article"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/todayshow_logo.png" />
    <h3 class="article-title">Take Charge Of Your Life</h3>
    <p class="article-excerpt">“Tips On Organizing Your Wallet &amp; Purse”</p>
    <a href="http://www.today.com/video/today/56278776#56278776" target="_blank" rel="noopener noreferrer">Watch Footage</a></div>
    </div>
    </div>
    </section>
</div>
