<nav class="page-nav theme-light has-button">
<div class="container"><span class="page-nav-title">Seville</span> <a href="#" id="page-nav-items-toggle"></a>
<ul class="page-nav-actions">
<li><a href="/products/seville-tote-saffiano-leather-black-gold-grey" class="btn btn-primary">Buy now</a></li>
</ul>
<ul class="page-nav-items">
<li><a href="#block-target-1" class="page-nav-item">Features</a></li>
<li><a href="#block-target-7" class="page-nav-item">See What Fits Inside</a></li>
<li><a href="#block-target-8" class="page-nav-item">Materials</a></li>
<li><a href="#block-target-11" class="page-nav-item">Compare</a></li>
</ul>
</div>
</nav>
<div class="max-container">
<div class="hero" id="seville-discover-hero"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/seville7-hero-2-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/seville6-hero-2-mobile.jpg" alt="" /> </picture>
<div class="hero-content black left">
<h1 class="title"><span class="subtitle">Discover</span> Seville</h1>
<p class="description">An innovative leather laptop tote that goes from business mode to airplane mode in a snap.</p>
</div>
</div>
</div>
<a id="block-target-1" class="jumptarget page-has-nav"></a>
<div class="container">
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-Laptop.jpg" alt="Seville Laptop Storage" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Laptop Storage</h3>
<p class="description">Available in two sizes: 13" laptop &amp; 15" laptop.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6 col-sm-push-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-Interior.jpg" alt="Seville Interior Organization" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-pull-6">
<div class="topic-content">
<h3 class="title">Interior Organization</h3>
<p class="description">Well placed pockets keep business documents, tech items, and personal things neat and accessible.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-key-leash.jpg" alt="Seville Key Leash" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Key Leash</h3>
<p class="description">Never misplace your keys again with the inner key leash.</p>
</div>
</div>
</div>
</div>
<div class="max-container topic-block has-overlay-xs mb-default"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/4Seville-refresh-shell-design-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/5Seville-refresh-shell-design-mobile.jpg" alt="" /> </picture>
<div class="topic-content black left seville-overlay-block">
<h3 class="title">Patented Interchangeable Shell Design</h3>
<p class="description">Change the exterior of your bag without having to unpack and repack everything, one item at a time. The entire interior organizer slips out of one Shell and into another in under a minute.</p>
<a href="#" data-video-id="1" class="video-trigger"> <img src="//cdn.shopify.com/s/files/1/1952/2557/t/9/assets/play-black-v2.svg" alt="Play video" /> </a></div>
</div>
<div class="max-container topic-block has-overlay-xs mb-default"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-travel-shell-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2Seville-refresh-travel-shell-mobile.jpg" alt="" /> </picture>
<div class="topic-content black right seville-overlay-block">
<h3 class="title">Includes Lightweight Travel Shell</h3>
<p class="description">The super lightweight Soft Touch shell features a suitcase handle sleeve that helps you breeze through the airport. Made of durable and wipeable "Memory Yarn", a luxury-quality nylon that quickly releases wrinkles.</p>
<a href="#" data-video-id="2" class="video-trigger"> <img src="//cdn.shopify.com/s/files/1/1952/2557/t/9/assets/play-black-v2.svg" alt="Play video" /> </a></div>
</div>
<div class="max-container topic-block has-overlay-xs mb-default"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/sev-hero-desktop.gif" media="(min-width: 768px)" /> <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" /> </picture>
<div class="topic-content black left seville-overlay-block" id="seville-addtional-colors">
<h3 class="title">Buy Additional Colors</h3>
<p class="description">Refine your business style by slipping into a different color leather shell.</p>
<a href="#" data-video-id="3" class="video-trigger"> <img src="//cdn.shopify.com/s/files/1/1952/2557/t/9/assets/play-black-v2.svg" alt="Play video" /> </a></div>
</div>
<a id="block-target-7" class="jumptarget page-has-nav"></a>
<div class="max-container topic-block has-overlay-xs mb-large"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/5-seville-fits-inside-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/5-seville-fits-inside-mobile.jpg" alt="" /> </picture>
<div class="topic-content">
<h3 class="title">See What Fits Inside</h3>
<a href="#" data-video-id="4" class="video-trigger"> <img src="//cdn.shopify.com/s/files/1/1952/2557/t/9/assets/play-v2.svg" alt="Play video" /> </a></div>
</div>
<div class="container"><a id="block-target-8" class="jumptarget page-has-nav"></a>
<div class="topic-block has-overlay-xs mb-large"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/7Seville-refresh-material-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/7Seville-refresh-material-mobile.jpg" alt="" /> </picture>
<div class="topic-content" style="padding: 30px;">
<h3 class="title">High Quality Materials</h3>
<p class="description">“What really stands out to me the most is the high quality and durability of the shells - both the Saffiano and the Soft Touch.”</p>
<p class="description">- Megan F., Customer</p>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6 col-sm-push-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Premium-Leather01.gif" alt="Seville Premium Leather" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-pull-6">
<div class="topic-content">
<h3 class="title">Premium Leather</h3>
<p class="description">Choose from premium Saffiano leather that's durable and scratch-resistant or luxurious Vachetta leather that develops a rich patina with each wear.</p>
<div class="btn-set"><a class="btn btn-secondary" href="/pages/compare-seville-materials">Compare</a></div>
</div>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/seville02-Snap-Design.jpg" alt="Seville High-End Italian Snaps" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">High End Italian Buttons</h3>
<p class="description">Ultra strong and durable snap buttons by Cobra™, an Italian producer of high-end hardware, connect the leather straps of the interior organizer to the outer shell. The firm CLICK of the snaps assures you that your Seville Tote is securely assembled.</p>
</div>
</div>
</div>
</div>
<a id="block-target-11" class="jumptarget page-has-nav"></a>
<div class="max-container topic-block has-overlay-xs mb-default"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new2-compare-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/new2-compare-mobile.jpg" alt="" /> </picture>
<div class="topic-content black left seville-overlay-block">
<h3 class="title">The Seville Collection</h3>
<p class="description">View the similarities and differences between our 13-inch tote and 15-inch tote.</p>
<div class="btn-set"><a class="btn btn-secondary" href="/pages/compare-seville-size-and-fit">Compare</a></div>
</div>
</div>
<div class="container">
<div class="pr-items">
<div class="section-heading">
<h2 class="title">Traveler Approved</h2>
</div>
<div class="row topic-end-md">
<div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1">
<blockquote class="pr">
<p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/logo-Claremont-3.jpg" alt="Fast Company logo" /></p>
<p class="pr-quote">“The key innovation of the Seville is that you can easily swap the leather shell for a nylon one, transforming the bag into a lightweight travel bag that can be attached to your suitcase for easy wheeling. The swapping process takes under a minute and it was well worth it, I found, because it made traveling so much more convenient. And when I arrived at my destination, I could swap back the leather so that I had an elegant bag to bring to the office.”</p>
</blockquote>
</div>
<div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0">
<blockquote class="pr">
<p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/download-1-2.png" alt="Self logo" /></p>
<p class="pr-quote">“I often have to switch my bags out throughout the week, which always ends up with me misplacing something (typically my ID or my AmEx card). This bag is part of a “system” of interchangeable outer shells that all fit around the same inner lining. Just pop out the liner, slip it into a different shell, and voilà, a whole new look and all your things are still in the pockets they belong in.”</p>
</blockquote>
</div>
</div>
</div>
<hr />
<div class="row">
<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
<div class="section-heading">
<h2 class="title">Shop</h2>
<p class="description">Thoughtfully designed with features that make it adaptable to any situation.</p>
</div>
</div>
</div>
<div class="image-panel half-width-panels " data-bxhover-1518568165091="">
<div class="image-panel half-width-panels " data-bxhover-1518568165091="">
<div class="row">
<div class="col-sm-6 ">
<div class="half-width-panel legacy-cta">
<div id="section-16-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/4-seville-tote-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/4-seville-tote-mobile.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-bottom v-aligned-d-bottom ratio-4-3" id="sev-m-1">
<div class="flexer">
<p class="noSwipe title">Seville Tote</p>
<p class="noSwipe final-price">$398 - $448</p>
<div class="btn-set">
<p class="noSwipe"><a class="btn" href="/products/seville-tote-saffiano-leather-black-gold-grey">Buy now</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-6 ">
<div class="half-width-panel legacy-cta">
<div id="section-16-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/4-seville-shell-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/s2-seville-shell-mobile.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-bottom v-aligned-d-bottom" id="sev-m-2">
<div class="flexer">
<p class="noSwipe title">Seville Shell</p>
<p class="noSwipe final-price">$168 - $228</p>
<div class="btn-set">
<p class="noSwipe"><a class="btn" href="/products/seville-shell-saffiano-leather-white-gold-black">Buy now</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>// <![CDATA[
var video1Embed = '<iframe src="https://player.vimeo.com/video/144233271" width="640" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>';
var video2Embed = '<iframe src="https://player.vimeo.com/video/145145297" width="640" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
var video3Embed = '<iframe src="https://player.vimeo.com/video/144833766" width="640" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
var video4Embed = '<iframe src="https://player.vimeo.com/video/170473484" width="640" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
// ]]></script>
<div id="product-video">
<div id="product-video-container"></div>
<a href="#" class="panel-close">Close</a></div>