<article id="credo-giveaway">
	<div class="max-container">
        <div class="hero">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-hero-image-md.jpg?10430709846004379422" media="(min-width: {{ screenMd }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-hero-image-sm.jpg?10430709846004379422" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-hero-image-xs.jpg?10430709846004379422" alt="TODO" />
            </picture>
            <div class="hero-content">
                <h1 class="title">Spring Break Giveaway.</h1>
                <p class="description"><strong>What you can win</strong></p>
                <p class="description">$185 of spring travel essentials from Credo and a Catalina Deluxe weekender bag (either size) in color of winner’s choice. </p>
            </div>
        </div>
    </div>

</article>