<article>
<div class="max-container">
<div class="hero"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/vintage-photo-1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/vintage-photo-1.jpg" alt="Helen Lo with Jan and Derek as children" /> </picture>
<div class="hero-content center white">
<h1 class="title">About Us</h1>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
<div class="section-heading">
<h2 class="title">Our Mission</h2>
<p class="description">To inspire and empower people to go places, while striving to leave a positive impact.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mom.jpg" alt="Helen Lo" /></div>
</div>
<div class="col-sm-5 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Necessity Is The Mother Of Invention</h3>
<p class="description">When Helen Lo had back issues and needed the perfect bag that kept up with her frequent travels, she set out to find it. Unfortunately, the options were either too heavy, too frumpy, too tech-y, overpriced, overly designed, or pocketless black holes.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm">
<div class="col-sm-6 col-sm-push-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/boys.jpg" alt="Jan and Derek as boys" /></div>
</div>
<div class="col-sm-5 col-sm-pull-6">
<div class="topic-content">
<h3 class="title">A Mother And Her Two Sons</h3>
<p class="description">After watching their mother abandon yet another bag, her sons suggested she invent one herself. But as a woman in her mid-60s, she wondered how she would ever get from Point A to Point B. So eventually devoted sons Jan and Derek ditched their respective day jobs in advertising and product design research (and nightly gigs as DJ’s) to help make Helen’s dream a reality.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/bags.jpg" alt="Lo &amp; Sons bags" /></div>
</div>
<div class="col-sm-5 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Travel Light &amp; Look Smart</h3>
<p class="description">Lo &amp; Sons bags are built to travel light without compromising functionality and style. Every single high-quality feature was designed to meet the needs of frequent travelers, movers and shakers. Each bag is thoughtfully designed with features like meticulously placed pockets, compartments for tech essentials, and elements for smooth travels like an adjustable sleeve for sliding over suitcase handles. Translation: less fumbling, more globetrotting.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
<div class="section-heading">
<h2 class="title">In Memory of Our Father</h2>
<p class="description">In December 2016, we lost our father. We miss him everyday. He was the chairman of our board of directors, our biggest supporter and fan, and he was instrumental in the launch of Lo &amp; Sons.</p>
</div>
</div>
</div>
</div>
<div class="max-container">
<div class="hero"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Homepage-Banner-Fathers-Day-2017-Desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Homepage-Banner-Fathers-Day-2017-Mobile.jpg" alt="Fred Lo with son" /> </picture>
<div class="hero-content center white">
<div class="btn-set"><a href="/pages/in-memory-of/" class="btn btn-secondary inverted">This is his story</a></div>
</div>
</div>
</div>
</article>