<article>
<div class="max-container">
<div class="hero"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Part_1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Mobile_Part_1a.jpg" alt="Fred Lo" /> </picture>
<div class="hero-content center white">
<h1 class="title">In Memory of Fred Lo</h1>
<p class="description">In December 2016, we lost our father. We miss him everyday. He was the chairman of our board of directors, our biggest supporter and fan, and he was instrumental in the launch of Lo &amp; Sons. This is his story.</p>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
<div class="section-heading">
<h2 class="title">The Early Days</h2>
<p class="description">Our father grew up in Hong Kong and was the third of 6 sons. Our grandfather owned a small business selling Chinese antiques, which coincidentally was named P.C. Lu &amp; Sons. And while he started his business from nothing, he was able to make enough money to send my father to one semester of college. Luckily, business took off after our dad went to college, and he was able to graduate from M.I.T. with a Ph.D. in astrophysics.</p>
</div>
</div>
</div>
<div class="row mb-default">
<div class="fw-xs"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Desktop_Part_2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Mobile_Part_2a.jpg" alt="photo collage of Fred's early days" /> </picture></div>
</div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
<div class="section-heading">
<h2 class="title">Love &amp; Family</h2>
<p class="description">While pursuing his Ph.D., our dad met our wonderful mother Helen, who was also pursuing her Ph.D. at Brandeis University. Soon they were married during a winter snowstorm in Woodstock, Vermont. But the warm weather of California was calling, and our mom and dad eventually moved west to Los Angeles where dad worked in astronomy at Caltech for about 12 years. And that’s where we were born!</p>
</div>
</div>
</div>
<div class="row mb-default">
<div class="fw-xs"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Part_3.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Mobile_Part_3.jpg" alt="photo collage of Fred with family" /> </picture></div>
</div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
<div class="section-heading">
<h2 class="title">A Scholar &amp; World Traveler</h2>
<p class="description">Professionally, he was an accomplished astronomer who discovered a black hole in the center of our galaxy. He was passionate about science, but he was also passionate about travel. And because the field of astronomy has a very international community, he was a seasoned globe trotter with over 5 million miles flown in his lifetime. Having walked once around the south pole, he is one of the few people in the world who can claim that they’ve walked around the world at least once. His life and our experiences with him are a big reason why we love to travel and why we ultimately created Lo &amp; Sons.</p>
</div>
</div>
</div>
<div class="row topic-block">
<div class="fw-xs"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Part_4.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Mobile_Part_4.jpg" alt="photo collage of Fred's travels" /> </picture></div>
</div>
</div>
</article>