<article class="edgemont">
	{{ page.content }}
    
    <nav class="page-nav theme-light has-button">
        <div class="container-fluid">
            <h1 class="page-nav-title">Edgemont</h1>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="/products/edgemont-600d-recycled-poly-onyx" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#block-target-1" class="page-nav-item">Features</a></li>
                <li><a href="#block-target-8" class="page-nav-item">See What Fits Inside</a></li>
                <li><a href="#block-target-11" class="page-nav-item">Material</a></li>
                <!-- <li><a href="#block-target-14" class="page-nav-item">Compare</a></li> -->
            </ul>
        </div>
    </nav>

    <div class="image-panel">
        <div id="section-0-item-0" class="item active">
            <script>
                // <![CDATA[
                var video1Embed = '<iframe src="https://player.vimeo.com/video/262578108" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
                // ]]>
            </script>
            <picture>
                <!-- [if IE 9]><video style="display: none;"></video><![endif]-->
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-hero-women_49857aaa-6948-469c-a330-17962f51d3b1.jpg?1070111382154943662" media="(min-width: 768px)" />
                <!-- [if IE 9]><![endif]--><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-hero-women-mobile_ad303c1f-0687-4024-9d3f-967a4c77beed.jpg?1070111382154943662" alt="" />
            </picture>
            <div class="image-panel-content h-aligned-left v-aligned-m-center v-aligned-d-center">
                <div class="flexer">
                    <p class="subtitle" style="margin-bottom:0;"><span style="font-size: 110%;">Discover</span></p>
                    <p class="title"><span class="main-hero-title">Edgemont</span></p>
                    <p class="description">A convertible travel backpack made from lightweight eco-friendly materials.</p>
                    <a href="#" data-video-id="1" class="overview-video-trigger">Play Video
                        <svg width="94px" height="94px" viewBox="0 0 94 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="02-1-Discover-Page-women-option1" transform="translate(-476.000000, -535.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                    <g id="Hero" transform="translate(0.000000, 64.000000)">
                                        <g id="Play-btn" transform="translate(476.000000, 471.000000)">
                                            <path d="M47,0 C21.15,0 0,21.15 0,47 C0,72.85 21.15,94 47,94 C72.85,94 94,72.85 94,47 C94,21.15 72.85,0 47,0 Z M41.4865385,59.925 L41.4865385,34.075 L57.9365385,47 L41.4865385,59.925 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media sm-full" style="margin: 0;">
                    <div class="inline-video ratio-16-9 product-video">
                        <div class="embed-container"
                            data-desktop-url="https://player.vimeo.com/external/263519401.hd.mp4?s=a7af8051e957fdf8da8e4fa187be35b30ec72386&profile_id=174"
                            data-mobile-url="https://player.vimeo.com/external/263519274.hd.mp4?s=8ab165903e766996fea84fb3aa93d4f8756a5832&profile_id=175"
                            data-autoplay="true"
                            data-loops="100">
                            <video id="video-1" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-primary-poster.jpg?6367938058879432929"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main-section-one" class="section-for-fade-out">
        <div id="fadeout-overlay-one" class="fadeout-overlay hidden hiding"></div>

        <div class="page-block" id="block-target-1">
            <div class="row flexed">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="section-content xlarge animate" data-animate="fadeIn"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <p class="title">Ultimate Versatility</p>
                        <p class="description contain description-before-video">Thoughtfully designed with features that make it adaptable to any situation.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-block converting-video-desktop">
            <div class="row flexed">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-content is-media sm-full no-bottom-margin no-bottom-padding animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <div class="inline-video ratio-16-9">
                            <div class="embed-container"
                                 data-desktop-url="https://player.vimeo.com/external/262565751.hd.mp4?s=d7f04fb9600d47f7242ca5d61d774b2071b81718&profile_id=175"
                                 data-mobile-url="https://player.vimeo.com/external/262565751.hd.mp4?s=d7f04fb9600d47f7242ca5d61d774b2071b81718&profile_id=175"
                                 data-autoplay="true"
                                 data-loops="100">
                                <video id="video-4" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-versatile-women_e281e0b8-9d59-42de-b09d-62497425bb33.jpg?17038918741868048283"></video>
                                <div class="loading"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-panel converting-video-mobile">
            <div id="section-0-item-0" class="item active">
                <script>
                    // <![CDATA[
                    var video3Embed = '<iframe src="https://player.vimeo.com/video/262568060" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
                    // ]]>
                </script>
                <picture>
                    <!-- [if IE 9]><video style="display: none;"></video><![endif]-->
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-versatile-women-mobile.jpg?1390420925075893109" media="(min-width: 768px)" />
                    <!-- [if IE 9]><![endif]--><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-versatile-women-mobile.jpg?1390420925075893109" alt="" />
                </picture>
                <div class="image-panel-content h-aligned-left v-aligned-m-center v-aligned-d-center">
                    <div class="flexer center-for-tablet">
                        <a href="#" data-video-id="3" class="overview-video-trigger">Play Video
                            <svg width="94px" height="94px" viewBox="0 0 94 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="02-1-Discover-Page-women-option1" transform="translate(-476.000000, -535.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                        <g id="Hero" transform="translate(0.000000, 64.000000)">
                                            <g id="Play-btn" transform="translate(476.000000, 471.000000)">
                                                <path d="M47,0 C21.15,0 0,21.15 0,47 C0,72.85 21.15,94 47,94 C72.85,94 94,72.85 94,47 C94,21.15 72.85,0 47,0 Z M41.4865385,59.925 L41.4865385,34.075 L57.9365385,47 L41.4865385,59.925 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-block mb-100">
            <div class="row flexed">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="section-content sm-left animate" data-animate="fadeIn" data-delay="0s" data-duration=".5s" data-offset="200">
                        <p class="title converts-title">Converts from Backpack to Tote</p>
                        <p class="description contain">We combined the best from both worlds so that you can seamlessly go from backpack to tote mode.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Done -->
        <div class="page-block with-offset">
            <div class="row flexed full animate" data-animate="fadeInUp" data-delay="0" data-duration=".5s" data-offset="200">
                <div class="col-md-4 col-sm-5 col-md-offset-2 col-sm-offset-1">
                    <div class="section-content is-media sm-full">
                        <div class="inline-video">
                            <div class="embed-container"
                                 data-desktop-url="https://player.vimeo.com/external/262578076.hd.mp4?s=bd5c34e60bdc228ef49830ae2bdd964bac9de6fd&profile_id=175"
                                 data-mobile-url="https://player.vimeo.com/external/262578076.hd.mp4?s=bd5c34e60bdc228ef49830ae2bdd964bac9de6fd&profile_id=175"
                                 data-autoplay="true"
                                 data-loops="10"
                                 style="padding-bottom:133.2%">
                                <video id="video-2" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-removable-insert-women_69a759ff-ccc5-4cad-9512-47f46d4129cf.jpg?5421397605024517121"></video>
                                <div class="loading"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 offset-vertical">
                    <div class="section-content align-left with-image-overspill sm-full">
                        <div class="flexer">
                            <p class="title title-on-tablet">Removable Insert</p>
                            <p class="description">If you don't need to carry your laptop around all day, quickly just remove the insert to lighten the load.</p>
                            <img class="removable-insert-image" src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-removable-insert-product.jpg?11652921948763397510" alt="Edgemont">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Done -->
        <div class="page-block mobile-padding-for-image minimalist-container-two">
            <div class="mobile-only-heading hidden-md hidden-lg section-content align-left sm-full with-border">
                <div class="flexer">
                    <p class="title">Minimalist Design</p>
                    <p class="description description-before-video">Clean lines and understated style. <br>Take it anywhere.</p>
                </div>
            </div>
            <div class="row flexed">
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="section-content is-media sm-full no-bottom-padding animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-01_530abd60-6ff3-44eb-a171-2d5671a69493.jpg?17294097604999964020" media="(min-width: 769px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-01-mobile_9524ad5c-166c-4388-9bdf-3a09b93cb3d0.jpg?11546108786454041272" alt="Edgemont">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Done -->
        <div class="page-block with-offset mobile-padding-for-image mobile-padding-for-image-50 minimalist-for-desktop">
            <div class="row flexed full animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                <div class="col-md-4 col-sm-5 col-md-offset-2 col-sm-offset-1 minimalist-flex-top-on-tablet">
                    <div class="minimalist-offset section-content is-media">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-02_f106d050-6c46-4ad1-b3ae-3453dca859f1.jpg?17526954887417311615" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-02-mobile_f38574cf-e99f-4a5a-9253-5a7b6e266b3e.jpg?15400651322926618616" alt="Edgemont">
                        </picture>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 offset-vertical hidden-xs">
                    <div class="minimalist-offset-2 section-content align-left full">
                        <div class="flexer">
                            <p class="title">Minimalist Design</p>
                            <p class="description description-before-video minimalist-custom-paragraph">Clean lines and understated style. <br>Take it anywhere.</p>
                            <div class="inline-video">
                                <div class="embed-container"
                                     data-desktop-url="https://player.vimeo.com/external/262570815.hd.mp4?s=38a4c7dc442d83d9ea1d1aca65a50a20690c9efb&profile_id=174"
                                     data-mobile-url="https://player.vimeo.com/external/262570815.hd.mp4?s=38a4c7dc442d83d9ea1d1aca65a50a20690c9efb&profile_id=174"
                                     data-autoplay="true"
                                     data-loops="10"
                                     style="padding-bottom: 76%;">
                                    <video id="video-5" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable-fabric_ab443227-f657-4e24-9b07-b0e3b74e2bec.jpg?5161380656260839406"></video>
                                    <div class="loading"></div>
                                </div>
                            </div>
                            <!-- <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable-fabric.jpg?7436827176151389146" alt="Edgemont" style="margin-top:60px;" class="hidden-xs hidden-sm"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-panel minimalist-for-mobile">
            <div id="section-0-item-0" class="item active">
                <script>
                    // <![CDATA[
                    var video4Embed = '<iframe src="https://player.vimeo.com/video/262570815" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
                    // ]]>
                </script>
                <picture>
                    <!-- [if IE 9]><video style="display: none;"></video><![endif]-->
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-02-mobile_f38574cf-e99f-4a5a-9253-5a7b6e266b3e.jpg?15400651322926618616" media="(min-width: 768px)" />
                    <!-- [if IE 9]><![endif]--><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-02-mobile_f38574cf-e99f-4a5a-9253-5a7b6e266b3e.jpg?15400651322926618616" alt="" />
                </picture>
                <div class="image-panel-content h-aligned-left v-aligned-m-center v-aligned-d-center">
                    <div class="flexer center-for-tablet">
                        <a href="#" data-video-id="4" class="overview-video-trigger">Play Video
                            <svg width="94px" height="94px" viewBox="0 0 94 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="02-1-Discover-Page-women-option1" transform="translate(-476.000000, -535.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                        <g id="Hero" transform="translate(0.000000, 64.000000)">
                                            <g id="Play-btn" transform="translate(476.000000, 471.000000)">
                                                <path d="M47,0 C21.15,0 0,21.15 0,47 C0,72.85 21.15,94 47,94 C72.85,94 94,72.85 94,47 C94,21.15 72.85,0 47,0 Z M41.4865385,59.925 L41.4865385,34.075 L57.9365385,47 L41.4865385,59.925 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Done -->
        <div class="page-block no-bottom-margin-mobile">
            <div class="row flexed">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="added-bottom-padding-tablet section-content is-media sm-full no-bottom-padding animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-03_7f6e4234-5da1-4bee-8e4c-d501d80420f7.jpg?10226469007934054208" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-03-mobile_cd0487cc-1b70-40a0-b1eb-04e4a5718749.jpg?5158270221638848087" alt="Edgemont">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Done -->
        <div class="page-block with-offset">
            <div class="row flexed full animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1">
                    <div class="section-content align-left sm-full pb-5 added-bottom-padding-mobile">
                        <div class="flexer minimalist-left-column-tablet" style="margin-top: -10px;">
                            <p class="description">Adapts to any situation and destination.</p>
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-04_69a6443b-8a22-49f5-b6b5-4672ba6ed1d6.jpg?15580710778639451586" alt="Edgemont" style="margin-top:30px">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4">
                    <div class="section-content is-media align-left sm-full">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-05_57a7eb97-1a41-43c3-abc8-7851b1f83ec9.jpg?14101188477701021036" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-05-mobile_7bd4219e-1dd3-4643-9197-4a7d88aebf9e.jpg?14101188477701021036" alt="Edgemont">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div id="main-section-two" class="section-for-fade-out">
        <div id="fadeout-overlay-two" class="fadeout-overlay hidden hiding"></div>

        <div class="page-block">
            <div class="row flexed">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="section-content xlarge animate" data-animate="fadeIn"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <p class="title carry-on-title">Carry-on Effortlessly</p>
                        <p class="description contain">Fits perfectly as a carry-on personal item.</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Section Done -->
        <div class="page-block with-offset no-bottom-margin-mobile animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
            <div class="row flexed full">
                <div class="col-sm-4 col-sm-offset-2 offset-vertical pb-sm-5">
                    <div class="section-content is-media suitcase-handle-container">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product_976fa952-33a6-4a10-bdb0-600e9c26e6c8.jpg?16145140201501093072" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product_976fa952-33a6-4a10-bdb0-600e9c26e6c8.jpg?16145140201501093072" alt="Edgemont">
                        </picture>
                    </div>
                </div>
                <div class="mobile-only-heading hidden-md hidden-lg section-content align-left suitcase-mobile-only-heading">
                    <div class="flexer">
                        <p class="title">Suitcase Handle Sleeve</p>
                        <p class="description description-extra-padding-mobile">Take a load off your shoulders.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="section-content align-left sm-full">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-women_bb3e44d2-8241-4501-b7d3-78f2b4ccfdf6.jpg?16145140201501093072" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-suitcase-handle-sleeve-women-mobile_18902805-bc04-4a6e-a8e8-5877ab31dbb5.jpg?11245329676072291207" alt="Edgemont" class="pb-3">
                        </picture>
                        <div class="flexer hidden-xs hidden-sm">
                            <p class="title">Suitcase Handle Sleeve</p>
                            <p class="description">Take a load off your shoulders.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-block with-offset animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
            <div class="row flexed">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="section-content align-left sm-full">
                        <div class="flexer">
                            <p class="title">Airline Seat Friendly</p>
                            <p class="description description-double-extra-padding-mobile">The Edgemont fits easily under any airline seat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="section-content is-media align-left sm-full">
                        <picture>
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-airline-seat_786e4b3d-56c0-413c-912f-11bc445bc645.jpg?11507813114453709294" alt="Airline Seat">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Done -->
        <div class="page-block memory-foam-container-desktop">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-content is-media sm-full no-bottom-padding no-bottom-margin">
                        <div class="inline-video animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                            <div class="embed-container"
                                data-desktop-url="https://player.vimeo.com/external/262568180.hd.mp4?s=cfd1f58e8668534abc1945fcec0f04066677ee8c&profile_id=175"
                                data-mobile-url="https://player.vimeo.com/external/262568060.hd.mp4?s=5c2b7a1994b916c1c601e870f3a5483c5a6a5c25&profile_id=175"
                                data-autoplay="true"
                                data-loops="10"
                                style="padding-bottom:56%">
                                <video id="video-3" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-memory-foam-women_b7e04a61-87eb-47a8-b327-032813adb5f5.jpg?12586189126654451280"></video>
                                <div class="loading"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Done -->
        <div class="page-block memory-foam-container-mobile">
            <div class="row">
                <div class="col-sm-12">
                    <div class="image-panel animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <div id="section-10-item-0">
                            <script>
                                // <![CDATA[
                                var video5Embed = '<iframe src="https://player.vimeo.com/video/262568180" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
                                // ]]>
                            </script>
                            <picture>
                                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-memory_foam_women_mobile_preview.jpeg?14239747506472739386" media="(min-width: 768px)">
                                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-memory_foam_women_mobile_preview.jpeg?14239747506472739386" alt="Edgemont">
                            </picture>
                            <div class="image-panel-content text-dark">
                                <div class="flexer">
                                    <a href="#" data-video-id="5" class="overview-video-trigger">Play Video
                                        <svg width="94px" height="94px" viewBox="0 0 94 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="02-1-Discover-Page-women-option1" transform="translate(-476.000000, -535.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                    <g id="Hero" transform="translate(0.000000, 64.000000)">
                                                        <g id="Play-btn" transform="translate(476.000000, 471.000000)">
                                                            <path d="M47,0 C21.15,0 0,21.15 0,47 C0,72.85 21.15,94 47,94 C72.85,94 94,72.85 94,47 C94,21.15 72.85,0 47,0 Z M41.4865385,59.925 L41.4865385,34.075 L57.9365385,47 L41.4865385,59.925 Z" id="Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-block">
            <div class="row flexed">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="section-content sm-left animate" data-animate="fadeIn"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <p class="title">Ultra Comfortable</p>
                        <p class="description contain description-before-video ultra-comfort-description">Straps padded with memory foam make the Edgemont super comfy to carry.</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Section Done -->
        <div class="page-block" id="block-target-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="image-panel animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <div id="section-10-item-0">
                            <script>
                                // <![CDATA[
                                var video2Embed = '<iframe src="https://player.vimeo.com/video/262563963" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
                                // ]]>
                            </script>
                            <picture>
                                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-what-fits-inside.jpg?12864703857325661391" media="(min-width: 768px)">
                                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-what-fits-inside-mobile.jpg?12864703857325661391" alt="Edgemont">
                            </picture>
                            <div class="image-panel-content text-dark">
                                <div class="flexer">
                                    <p class="description"><span id="what-fits-header">What Fits Inside</span></p>
                                    <a href="#" data-video-id="2" class="overview-video-trigger">Play Video
                                        <svg width="94px" height="94px" viewBox="0 0 94 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="02-1-Discover-Page-women-option1" transform="translate(-476.000000, -535.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                    <g id="Hero" transform="translate(0.000000, 64.000000)">
                                                        <g id="Play-btn" transform="translate(476.000000, 471.000000)">
                                                            <path d="M47,0 C21.15,0 0,21.15 0,47 C0,72.85 21.15,94 47,94 C72.85,94 94,72.85 94,47 C94,21.15 72.85,0 47,0 Z M41.4865385,59.925 L41.4865385,34.075 L57.9365385,47 L41.4865385,59.925 Z" id="Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="main-section-three" class="section-for-fade-out">
        <div id="fadeout-overlay-three" class="fadeout-overlay hidden hiding"></div>

        <div class="page-block">
            <div class="row flexed">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="section-content xlarge animate" data-animate="fadeIn"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <p class="title title-stay-organized">Stay Organized</p>
                        <p class="description contain description-stay-organized">The Edgemont is designed with tons of features to help you stay put together when traveling.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-block pb-5 no-bottom-margin-mobile no-bottom-padding-mobile">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="section-content text-left sm-full desktop-col-left animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <!-- <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/laptop_storage_women_mobile_preview.jpeg?17474422447703182448" alt="Laptop Storage"> -->
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/laptop_storage_women_mobile_preview.jpeg?17474422447703182448" media="(min-width: 768px)">
                            <img style="width: 100%; display: block;" src="https://cdn.shopify.com/s/files/1/2185/1497/files/laptop_storage_women_portrait_preview_tablet.jpeg?9259371038199681304" alt="Laptop Storage">
                        </picture>
                        <div class="organized-padded-mobile">
                            <p class="title sm-inset">Laptop Storage</p>
                            <p class="description sm-inset description-contained">Protect up to a 13 inch laptop in an interior padded compartment.</p>
                        </div>
                    </div>

                    <div class="section-content text-left pb-4 sm-full desktop-col-left animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <div class="inline-video ratio-4-3">
                            <div class="embed-container"
                                 data-desktop-url="https://player.vimeo.com/external/262570275.hd.mp4?s=817db22d86c9d1ae8211960c33e8d882e75ce668&profile_id=175"
                                 data-mobile-url="https://player.vimeo.com/external/262570275.hd.mp4?s=817db22d86c9d1ae8211960c33e8d882e75ce668&profile_id=175"
                                 data-autoplay="true"
                                 data-loops="10"
                            >
                                <video id="video-20" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-key-leash-women.jpg?11727760034259516241"></video>
                                <div class="loading"></div>
                            </div>
                        </div>
                        <div class="organized-padded-mobile">
                            <p class="title sm-inset">Key Leash</p>
                            <p class="description sm-inset description-contained">Never misplace your keys again with our detachable key leash.</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-5 offset-vertical">
                    <div class="section-content text-left pb-4 sm-full desktop-col-right animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <div class="inline-video ratio-4-3">
                            <div class="embed-container"
                                 data-desktop-url="https://player.vimeo.com/external/263018948.sd.mp4?s=5acd2d6f789e020ff4f149a6e50ed93e9e796565&profile_id=165"
                                 data-mobile-url="https://player.vimeo.com/external/263018948.sd.mp4?s=5acd2d6f789e020ff4f149a6e50ed93e9e796565&profile_id=165"
                                 data-autoplay="true"
                                 data-loops="10"
                            >
                                <video id="video-21" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-interior-pockets-women.jpg?17723544321680947789"></video>
                                <div class="loading"></div>
                            </div>
                        </div>
                        <div class="organized-padded-mobile">
                            <p class="title sm-inset">Interior Pockets</p>
                            <p class="description sm-inset description-contained">Two interior mesh pockets and two padded slip pockets help keep documents, magazines, tablets, and all your essentials neatly in place.</p>
                        </div>
                    </div>
                    <div class="section-content text-left pb-4 mobile-breakout no-bottom-padding-mobile desktop-col-right animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-side-pockets-women-portrait.jpg?5124213442534354328" alt="Key Leash">
                        <div class="organized-padded-mobile last-organized-padded-mobile">
                            <p class="title sm-inset">Stash Pockets</p>
                            <p class="description sm-inset description-contained">Store your passport, wallet, or earphones in two easy to access side pockets.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="main-section-four" class="section-for-fade-out">
        <div id="fadeout-overlay-four" class="fadeout-overlay hidden hiding"></div>

        <div class="page-block" id="block-target-11">
            <div class="row flexed">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="section-content xlarge animate" data-animate="fadeIn"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <p class="title top-bordered-mobile">High-Quality Materials</p>
                        <p class="description contain pb-3 quality-description">The Edgemont is constructed from premium grade materials that are both durable and eco-friendly.</p>

                        <div class="btn-set" style="padding-top: 0;">
                            <a class="btn btn-secondary" href="/pages/featured-material-recycled-poly">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Done -->
        <div class="page-block" style="margin-bottom: 25px;">
            <div class="row flexed">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="bottles-image section-content is-media animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-bottles_c86bb42f-666a-4184-9000-aa5572899fca.jpg?12416363281346336783" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-bottles-mobile.jpg?4810767758631716175" alt="Sustainable">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-block">
            <div class="row flexed">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="section-content sm-left animate" data-animate="fadeIn"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <p class="title">Sustainable</p>
                        <p class="description contain sustainable-description">The exterior is made from a high density polyester made from recycled plastic bottles.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Done -->
        <div class="page-block">
            <div class="row flexed">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-content is-media sm-full no-bottom-padding animate" data-animate="fadeInUp"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-water-resistant.jpg?12864703857325661391" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-water-resistant-mobile.jpg?12864703857325661391" alt="Water Resistant">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-block">
            <div class="row flexed">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="section-content sm-left animate" data-animate="fadeIn"  data-delay="0s" data-duration=".5s" data-offset="200">
                        <p class="title">Water-Resistant</p>
                        <p class="description contain water-resistant-description">This 600D recycled poly is built to withstand the elements.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Keep this non breaking space in place -->
        <span>&nbsp;</span>
    </div>


    <div class="image-panel no-bottom-margin" style="background-color: #F8F8F8 !important;">
        <div class="item active">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-product-with-bg.jpg?11536765160871189837" media="(min-width: 768px)">
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-product-with-bg-mobile.jpg?10628233016619011782" alt="">
            </picture>
            <div class="image-panel-content text-dark h-aligned-right v-aligned-m-top v-aligned-d-center">
                <div class="flexer">
                    <p class="title text-dark" style="font-size:90%">Edgemont</p>
                    <p class="final-price">$128</p>
                    <div class="btn-set product-final-item">
                        <p><a class="btn btn-secondary" id="link-17-0-1" href="/products/edgemont-600d-recycled-poly-onyx">View colors &amp; sizes</a></p>
                        <p><a class="btn" href="/products/edgemont-600d-recycled-poly-onyx">Buy now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="product-video">
    <div id="product-video-container"></div>
    <a href="#" class="panel-close">Close</a>
</div>

</article>