<a id="block-target-0" class="jumptarget "></a>
<div class="max-container">
<div class="hero without-image">
<div class="hero-content black">
<h1 class="title"><span class="subtitle">The Seville</span> 13" Laptop Size vs 15" Laptop Size</h1>
<p class="description">To help compare the 2 sizes of our laptop tote, we asked 3 women of different heights to carry both bags.</p>
</div>
</div>
</div>
<div class="container"><a id="block-target-1" class="jumptarget "></a>
<div class="section-heading " id="section-heading-1">
<h3 class="title">Bojana</h3>
<p class="description">HEIGHT - 5'9"</p>
</div>
<a id="block-target-2" class="jumptarget "></a>
<div class="image-panel  mb-large">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-2">
<ol class="carousel-indicators">
<li data-target="#carousel-2" data-slide-to="0" class="active"></li>
<li data-target="#carousel-2" data-slide-to="1"></li>
<li data-target="#carousel-2" data-slide-to="2"></li>
<li data-target="#carousel-2" data-slide-to="3"></li>
</ol>
<div class="carousel-inner">
<div id="section-2-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03A.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03A.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
<div id="section-2-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03B.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03B.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
<div id="section-2-item-2" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03C.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03C.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
<div id="section-2-item-3" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03D.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03D.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-2" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-2" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>
<a id="block-target-3" class="jumptarget "></a>
<div class="section-heading " id="section-heading-3">
<h3 class="title">Kerry</h3>
<p class="description">HEIGHT - 5'5"</p>
</div>
<a id="block-target-4" class="jumptarget "></a>
<div class="image-panel mb-large ">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-4">
<ol class="carousel-indicators">
<li data-target="#carousel-4" data-slide-to="0" class="active"></li>
<li data-target="#carousel-4" data-slide-to="1"></li>
<li data-target="#carousel-4" data-slide-to="2"></li>
<li data-target="#carousel-4" data-slide-to="3"></li>
</ol>
<div class="carousel-inner">
<div id="section-4-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05A.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05A.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
<div id="section-4-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05B.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05B.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
<div id="section-4-item-2" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05C.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05C.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
<div id="section-4-item-3" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05D.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05D.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-4" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-4" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>
<a id="block-target-5" class="jumptarget "></a>
<div class="section-heading " id="section-heading-5">
<h3 class="title">Patricia</h3>
<p class="description">HEIGHT - 5'2"</p>
</div>
<a id="block-target-6" class="jumptarget "></a>
<div class="image-panel mb-large ">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-6">
<ol class="carousel-indicators">
<li data-target="#carousel-6" data-slide-to="0" class="active"></li>
<li data-target="#carousel-6" data-slide-to="1"></li>
<li data-target="#carousel-6" data-slide-to="2"></li>
<li data-target="#carousel-6" data-slide-to="3"></li>
</ol>
<div class="carousel-inner">
<div id="section-6-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07A.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07A.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
<div id="section-6-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07B.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07B.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
<div id="section-6-item-2" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07C.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07C.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
<div id="section-6-item-3" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07D.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07D.jpg" alt="Compare the Seville laptop tote size, 13" vs="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-6" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-6" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>
<a id="block-target-7" class="jumptarget "></a>
<div class="section-heading " id="section-heading-7">
<div class="container">
<h3 class="title">What Fits Inside</h3>
</div>
</div>
<a id="block-target-8" class="jumptarget "></a>
<div class="image-panel mb-default ">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-8">
<ol class="carousel-indicators">
<li data-target="#carousel-8" data-slide-to="0" class="active"></li>
<li data-target="#carousel-8" data-slide-to="1"></li>
</ol>
<div class="carousel-inner">
<div id="section-8-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-09A.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-09A.jpg" alt="Compare the Seville laptop tote, 13" vs="" what="" fits="" inside="" /> </picture></div>
<div id="section-8-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-09B.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-09B.jpg" alt="Compare the Seville laptop tote, 13" vs="" what="" fits="" inside="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-8" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-8" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>
<a id="block-target-9" class="jumptarget "></a>
<div class="image-panel legacy-has-overlay mb-default ">
<div id="section-9-item-0" class="item active"><script>// <![CDATA[
var video1Embed = '<iframe src="//player.vimeo.com/video/170471664?player_id=vimeo-seville-1&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalina" class="vimeo"></iframe>';
// ]]></script><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-49.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-46.jpg" alt="Compare the Seville laptop tote, 13" vs="" what="" fits="" inside="" video="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
<div class="flexer">
<p class="noSwipe subtitle"><span style="font-size: 150%;">SEE WHAT FITS INSIDE THE 13" LAPTOP SIZE</span></p>
<a href="#" data-video-id="1" class="video-trigger"><svg viewbox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1-9" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M45,90 C69.8528137,90 90,69.8528137 90,45 C90,20.1471863 69.8528137,0 45,0 C20.1471863,0 0,20.1471863 0,45 C0,69.8528137 20.1471863,90 45,90 Z M35,30 L62,45.5 L35,61 L35,30 Z" id="section-9-item-0-play-icon" fill="#FFFFFF"></path> </g> </svg> </a></div>
</div>
</div>
</div>
<a id="block-target-10" class="jumptarget "></a>
<div class="image-panel legacy-has-overlay mb-large">
<div id="section-10-item-0" class="item active"><script>// <![CDATA[
var video2Embed = '<iframe src="//player.vimeo.com/video/170473484?player_id=vimeo-seville-1&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalina" class="vimeo"></iframe>';
// ]]></script><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-51.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-49.jpg" alt="Compare the Seville laptop tote, 13" vs="" what="" fits="" inside="" video="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
<div class="flexer">
<p class="noSwipe subtitle"><span style="font-size: 150%;">SEE WHAT FITS INSIDE THE 15" LAPTOP SIZE</span></p>
<a href="#" data-video-id="2" class="video-trigger"><svg viewbox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1-10" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M45,90 C69.8528137,90 90,69.8528137 90,45 C90,20.1471863 69.8528137,0 45,0 C20.1471863,0 0,20.1471863 0,45 C0,69.8528137 20.1471863,90 45,90 Z M35,30 L62,45.5 L35,61 L35,30 Z" id="section-10-item-0-play-icon" fill="#FFFFFF"></path> </g> </svg> </a></div>
</div>
</div>
</div>
<a id="block-target-11" class="jumptarget "></a>
<div class="section-heading " id="section-heading-11">
<div class="container">
<h3 class="title">Bag Specs</h3>
</div>
</div>
<a id="block-target-12" class="jumptarget "></a>
<div class="image-panel mb-default ">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-12">
<ol class="carousel-indicators">
<li data-target="#carousel-12" data-slide-to="0" class="active"></li>
<li data-target="#carousel-12" data-slide-to="1"></li>
</ol>
<div class="carousel-inner">
<div id="section-12-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-13A.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-51.jpg" alt="Compare the Seville laptop tote, 13" vs="" bag="" dimmensions="" /> </picture></div>
<div id="section-12-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-13B.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-13B.jpg" alt="Compare the Seville laptop tote, 13" vs="" bag="" dimmensions="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-12" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-12" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>
<a id="block-target-13" class="jumptarget "></a>
<div class="image-panel mb-large ">
<div id="section-13-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-58.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-55.jpg" alt="Compare the Seville laptop tote, 13" vs="" bag="" dimmensions="" /> </picture></div>
</div>
<a id="block-target-14" class="jumptarget "></a>
<div class="container">
<div class="section-heading " id="section-heading-14">
<h3 class="title">Shop</h3>
</div>
<div class="row fw-xs cta-block">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
	<a class="btn-gtm-trk" data-gtm-a="7" href="/pages/seville-womens-laptop-travel-tote">
		<picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-cta-md.jpg?17936836033864662155" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-cta-xs.jpg?17936836033864662155" alt="Shop Seville Tote" /> </picture>
	</a>
</div>
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
<div class="topic-content">
<h3 class="title">Seville Tote</h3>
<p class="description">$398 - $448</p>
<div class="btn-set"><a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="/pages/seville-womens-laptop-travel-tote">Learn more</a><a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/seville-tote-saffiano-leather-black-gold-grey">Buy now</a></div>
</div>
</div>
</div>
<div class="row fw-xs cta-block">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
	<a class="btn-gtm-trk" data-gtm-a="7" href="/pages/seville-womens-laptop-travel-tote">
		<picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-shell-cta-md.jpg?1037341573864563638" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-shell-cta-xs.jpg?1037341573864563638" alt="Shop Seville Shell" /> </picture>
	</a>
</div>
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
<div class="topic-content">
<h3 class="title">Seville Shell</h3>
<p class="description">$168 - $228</p>
<div class="btn-set"><a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="/pages/seville-womens-laptop-travel-tote">Learn more</a><a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/seville-shell-saffiano-leather-white-gold-black">Buy now</a></div>
</div>
</div>
</div>
</div>
<div id="product-video">
<div id="product-video-container"></div>
<a href="#" class="panel-close"><span class="sr-only">Close</span></a></div>
</div>