<article class="edgemont">
	{{ page.content }}
    
    <nav class="page-nav theme-light has-button">
        <div class="container">
            <h1 class="page-nav-title">Edgemont</h1>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="/products/hanover-deluxe-600d-recycled-poly-onyx" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#block-target-1" class="page-nav-item">Features</a></li>
                <li><a href="#block-target-8" class="page-nav-item">See What Fits Inside</a></li>
                <li><a href="#block-target-11" class="page-nav-item">Material</a></li>
                <li><a href="#block-target-14" class="page-nav-item">Compare</a></li>
            </ul>
        </div>
    </nav>


    <div class="image-panel">
        <div id="section-0-item-0" class="item active">
            <script>
                // <![CDATA[
                var video1Embed = '<iframe src="https://player.vimeo.com/video/241599208" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
                // ]]>
            </script>
            <picture>
                <!-- [if IE 9]><video style="display: none;"></video><![endif]-->
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-hero-women.jpg?16504140729958675345" media="(min-width: 768px)" />
                <!-- [if IE 9]><![endif]--><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-hero-women-mobile.jpg?16504140729958675345" alt="" /> </picture>
            <div class="image-panel-content h-aligned-left v-aligned-m-top v-aligned-d-center">
                <div class="flexer">
                    <p class="noSwipe subtitle"><span style="font-size: 110%;">Discover</span></p>
                    <p class="noSwipe title"><span style="font-size: 90%;">Edgemont</span></p>
                    <p class="noSwipe description">A lightweight travel backpack made from the same eco-friendly materials, now with even more space.</p>
                    <a href="#" data-video-id="1" class="video-trigger">Play Video 
                        <svg viewbox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1-0" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M45,90 C69.8528137,90 90,69.8528137 90,45 C90,20.1471863 69.8528137,0 45,0 C20.1471863,0 0,20.1471863 0,45 C0,69.8528137 20.1471863,90 45,90 Z M35,30 L62,45.5 L35,61 L35,30 Z" id="section-0-item-0-play-icon" fill="#FFFFFF"></path> </g> </svg> 
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-content is-media">
                    <div class="inline-video ratio-16-13">
                        <div class="embed-container"
                            data-desktop-url="https://cdn.shopify.com/s/files/1/1952/2557/files/product_animation.mp4?2802706171751751996"
                            data-mobile-url="https://cdn.shopify.com/s/files/1/1952/2557/files/product_animation.mp4?2802706171751751996"
                            data-autoplay="true"
                            data-loops="100">
                            <video id="video-1" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-product-with-bg.jpg?2802706171751751996"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content xlarge">
                    <p class="title">Travel Seamlessly</p>
                    <p class="description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-versatile-women.jpg?6287752918699439630" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-versatile-women-mobile.jpg?6287752918699439630" alt="Edgemont">
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content">
                    <p class="title">Converts from a Backpack to Tote</p>
                    <p class="description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block with-offset with-offset-left">
        <div class="row flexed">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="section-content is-media">
                    <div class="inline-video">
                        <div class="embed-container"
                            data-desktop-url="https://cdn.shopify.com/s/files/1/2185/1497/files/removable_insert.mp4?9942428727971670274"
                            data-mobile-url="https://cdn.shopify.com/s/files/1/2185/1497/files/removable_insert.mp4?9942428727971670274"
                            data-autoplay="true"
                            data-loops="10"
                            style="padding-bottom:133.2%">
                            <video id="video-2" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-removable-insert-women.jpg?13717106437751246300"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 offset-vertical">
                <div class="section-content align-left with-image-overspill">
                    <div class="flexer">
                        <p class="title">Removable Insert</p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddoing eusmod tempor incididunt</p>
                        <img src="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-removable-insert-product.jpg?3470238152501459712" alt="Edgemont" style="margin-top:80px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-01.jpg?12242657538844412597" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-01-mobile.jpg?12242657538844412597" alt="Edgemont">
                    </picture>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block with-offset with-offset-left">
        <div class="row flexed">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="section-content is-media">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-02.jpg?12242657538844412597" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-02-mobile.jpg?12242657538844412597" alt="Edgemont">
                    </picture>
                </div>
            </div>
            <div class="col-sm-5 offset-vertical">
                <div class="section-content align-left with-image-overspill">
                    <div class="flexer">
                        <p class="title">Adaptable for any Situation</p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddoing eusmod tempor incididunt</p>
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable-fabric.jpg?7436827176151389146" alt="Edgemont" style="margin-top:60px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-03.jpg?7436827176151389146" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-03-mobile.jpg?7436827176151389146" alt="Edgemont">
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block with-offset">
        <div class="row flexed full">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="section-content align-left">
                    <div class="flexer">
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddoing eusmod tempor incididunt</p>
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-04.jpg?7436827176151389146" alt="Edgemont" style="margin-top:30px">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="section-content is-media align-left">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-05.jpg?7436827176151389146" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-05-mobile.jpg?7436827176151389146" alt="Edgemont">
                    </picture>
                </div>
                
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content xlarge">
                    <p class="title">Carry-on Friendly</p>
                    <p class="description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
                </div>
            </div>
        </div>
    </div>
   


   <div class="page-block with-offset with-offset-left">
        <div class="row flexed full">
            <div class="col-sm-4 col-sm-offset-2 offset-vertical">
                <div class="section-content is-media">
                    <div class="flexer">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product.jpg?7534691200918814672" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product.jpg?7534691200918814672" alt="Edgemont">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="section-content align-left">
                    <div class="flexer">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-women.jpg?7534691200918814672" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-suitcase-handle-sleeve-women-mobile.jpg?7534691200918814672" alt="Edgemont" style="margin-bottom:30px">
                        </picture>
                        <p class="title">Suitcase Handle Sleeve</p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddoing eusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block with-offset with-offset-left">
        <div class="row flexed">
            <div class="col-sm-4 col-sm-offset-2 offset-vertical">
                <div class="section-content align-left">
                    <div class="flexer">
                        <p class="title">Airline Seats Friendly</p>
                        <p class="description">The Edgemont fits seamlessly under any airline seat.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="section-content is-media align-left">
                    <picture>
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-airline-seat.jpg?3452690508298570451" alt="Airline Seat">
                    </picture>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media">
                    <div class="inline-video">
                        <div class="embed-container"
                            data-desktop-url="https://cdn.shopify.com/s/files/1/2185/1497/files/video_memory_foam.mp4?4503407123041765074"
                            data-mobile-url="https://cdn.shopify.com/s/files/1/2185/1497/files/video_memory_foam.mp4?4503407123041765074"
                            data-autoplay="true"
                            data-loops="10"
                            style="padding-bottom:56%">
                            <video id="video-3" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-memory-foam-women.jpg?4503407123041765074"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content">
                    <p class="title">Memory Foam</p>
                    <p class="description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
                </div>
            </div>
        </div>
    </div>


</article>