{% include 'vars' %}

{% assign ctaTitle = 'Cambridge' %}
{% assign ctaPrice= '$248' %}
{% assign ctaLink = '/products/cambridge-600d-recycled-poly-onyx' %}

{% include 'cta-overrides' %}

<article class="discover">
    
    {% include 'discover-nav', labels:'Features,See What Fits Inside,Material' %}
    
    <div class="max-container">
        <div class="hero has-black-arrow" id="cambridge-hero">
            <picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-cambridge-Hero-desktop.jpg" media="(min-width: 768px)"> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-cambridge-Hero-mobile.jpg" alt=""> </picture>
            <div class="hero-content right">
                <h1 class="title"><span class="subtitle">Discover</span> Cambridge</h1>
                <p class="description">An overnight bag and briefcase designed for the modern traveler.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}
        <a id="nav-target-1" class="jumptarget"></a>
        
        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Cambridge-1.jpg" alt="Cambridge Suitcase Handle Sleeve">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-offset-1">
                <div class="topic-content">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Travel seamlessly with a convenient pass-through sleeve that slides onto any roller bag.</p> 
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6 col-sm-push-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Cambridge-2.jpg" alt="Cambridge Side Pocket">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-pull-6">
                <div class="topic-content">
                    <h3 class="title">Side Pocket</h3>
                    <p class="description">Perfect for stashing an umbrella or a slim pair of shoes.</p>
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Cambridge-3.jpg" alt="Cambridge Laptop Storage">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-offset-1">
                <div class="topic-content">
                    <h3 class="title">Laptop Storage</h3>
                    <p class="description">The built-in padded pocket fits up to a 15” laptop.</p> 
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6 col-sm-push-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Cambridge-4.jpg" alt="Cambridge Front Pocket">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-pull-6">
                <div class="topic-content">
                    <h3 class="title">Front Pocket</h3>
                    <p class="description">The front pocket keeps your essentials organized and easily accessible.</p>
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Cambridge-5.jpg" alt="Cambridge Messenger Strap">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-offset-1">
                <div class="topic-content">
                    <h3 class="title">Messenger Strap</h3>
                    <p class="description">Carry on your shoulder or across your body to comfortably distribute weight.</p> 
                </div>
            </div>
        </div>

        <a id="nav-target-2" class="jumptarget"></a>
        <div class="topic-block mb-large has-overlay-xs animate" {{ animateFadeInUp }}>
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Cambridge-7.jpg?{{ assetVersion }}" media="(min-width: 768px)">
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Cambridge-7.jpg?{{ assetVersion }}" alt="cambridge">
            </picture>
            <div class="topic-content">
                <h3 class="title">What Fits Inside</h3>
                <a href="#" data-video-id="1" class="video-trigger">
                    <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                </a>
            </div>
        </div>

        <a id="nav-target-3" class="jumptarget"></a>
        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-8.jpg" alt="600D Recycled Poly">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-offset-1">
                <div class="topic-content">
                    <h3 class="title">600D Recycled Poly</h3>
                    <p class="description">A high density water resistant polyester made from recycled plastic bottles.</p> 
                    <div class="btn-set">
                        <a class="btn btn-secondary" href="/pages/featured-material-recycled-poly">Learn more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6 col-sm-push-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-9.jpg" alt="Waxed Twill">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-pull-6">
                <div class="topic-content">
                    <h3 class="title">Waxed Twill</h3>
                    <p class="description">A cotton/poly/nylon blend tightly woven for extra strength and wax coated for water resistance.</p>
                </div>
            </div>
        </div>
        
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
    {% endunless %}


    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/129575638" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>