<article class="edgemont">
	{{ page.content }}
    
    <nav class="page-nav theme-light has-button">
        <div class="container-fluid">
            <h1 class="page-nav-title">Edgemont</h1>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="/products/hanover-deluxe-600d-recycled-poly-onyx" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#block-target-1" class="page-nav-item">Features</a></li>
                <li><a href="#block-target-8" class="page-nav-item">See What Fits Inside</a></li>
                <li><a href="#block-target-11" class="page-nav-item">Material</a></li>
                <li><a href="#block-target-14" class="page-nav-item">Compare</a></li>
            </ul>
        </div>
    </nav>


    <div class="image-panel">
        <div id="section-0-item-0" class="item active">
            <script>
                // <![CDATA[
                var video1Embed = '<iframe src="https://player.vimeo.com/video/241599208" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
                // ]]>
            </script>
            <picture>
                <!-- [if IE 9]><video style="display: none;"></video><![endif]-->
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-hero-women.jpg?16504140729958675345" media="(min-width: 768px)" />
                <!-- [if IE 9]><![endif]--><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-hero-women-mobile.jpg?16504140729958675345" alt="" /> </picture>
            <div class="image-panel-content h-aligned-left v-aligned-m-center v-aligned-d-center">
                <div class="flexer">
                    <p class="noSwipe subtitle" style="margin-bottom:0;"><span style="font-size: 110%;">Discover</span></p>
                    <p class="noSwipe title"><span style="font-size: 90%;">Edgemont</span></p>
                    <p class="noSwipe description">A convertible travel backpack made from lightweight eco-friendly materials.</p>
                    <a href="#" data-video-id="1" class="overview-video-trigger">Play Video
                        <svg width="94px" height="94px" viewBox="0 0 94 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="02-1-Discover-Page-women-option1" transform="translate(-476.000000, -535.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                    <g id="Hero" transform="translate(0.000000, 64.000000)">
                                        <g id="Play-btn" transform="translate(476.000000, 471.000000)">
                                            <path d="M47,0 C21.15,0 0,21.15 0,47 C0,72.85 21.15,94 47,94 C72.85,94 94,72.85 94,47 C94,21.15 72.85,0 47,0 Z M41.4865385,59.925 L41.4865385,34.075 L57.9365385,47 L41.4865385,59.925 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-content is-media">
                    <div class="inline-video ratio-16-13">
                        <div class="embed-container"
                            data-desktop-url="https://cdn.shopify.com/s/files/1/1952/2557/files/product_animation.mp4?2802706171751751996"
                            data-mobile-url="https://cdn.shopify.com/s/files/1/1952/2557/files/product_animation.mp4?2802706171751751996"
                            data-autoplay="true"
                            data-loops="100">
                            <video id="video-1" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-primary-poster.jpg?6367938058879432929"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content xlarge">
                    <p class="title">Ultimate Versatility</p>
                    <p class="description contain">Thoughtfully designed with features that make it adaptable to any situation.</p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media sm-full">
                    <div class="inline-video ratio-16-9">
                        <div class="embed-container"
                             data-desktop-url="https://cdn.shopify.com/s/files/1/2185/1497/files/strap-versatility-16-9-womens.mp4?4509226733853477760"
                             data-mobile-url="https://cdn.shopify.com/s/files/1/2185/1497/files/strap-versatility-4-3-womens.mp4?6145645757530884190"
                             data-autoplay="true"
                             data-loops="100">
                            <video id="video-4" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-versatile-women.jpg?6287752918699439630"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                    <!-- <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-versatile-women.jpg?6287752918699439630" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-versatile-women-mobile.jpg?6287752918699439630" alt="Edgemont">
                    </picture> -->
                    <!-- TODO : Mobile videos are mens, we were given the incorrect videos -->
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content sm-left">
                    <p class="title">Converts from a Backpack to Tote</p>
                    <p class="description contain">We combined the best from both worlds so that you can seamlessly go from backpack to tote mode.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block with-offset">
        <div class="row flexed full">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="section-content is-media sm-full">
                    <div class="inline-video">
                        <div class="embed-container"
                            data-desktop-url="https://cdn.shopify.com/s/files/1/2185/1497/files/removable_insert.mp4?9942428727971670274"
                            data-mobile-url="https://cdn.shopify.com/s/files/1/2185/1497/files/removable_insert.mp4?9942428727971670274"
                            data-autoplay="true"
                            data-loops="10"
                            style="padding-bottom:133.2%">
                            <video id="video-2" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-removable-insert-women.jpg?13717106437751246300"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 offset-vertical">
                <div class="section-content align-left with-image-overspill sm-full">
                    <div class="flexer">
                        <p class="title">Removable Insert</p>
                        <p class="description">If you don't need to carry your laptop around all day, quickly just remove the insert to lighten the load.</p>
                        <img src="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-removable-insert-product.jpg?3470238152501459712" alt="Edgemont" style="margin-top:80px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block mobile-padding-for-image">
        <div class="mobile-only-heading hidden-md hidden-lg section-content align-left sm-full with-border">
            <div class="flexer">
                <p class="title">Minimalist Design</p>
                <p class="description">Clean lines and understated style, the Edgemont can be taken anywhere.</p>
            </div>
        </div>
        <div class="row flexed">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media sm-full">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-01.jpg?12242657538844412597" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-01-mobile.jpg?12242657538844412597" alt="Edgemont">
                    </picture>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block with-offset mobile-padding-for-image">
        <div class="row flexed full">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="section-content is-media">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-02.jpg?12242657538844412597" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-02-mobile.jpg?12242657538844412597" alt="Edgemont">
                    </picture>
                </div>
            </div>
            <div class="col-sm-4 offset-vertical hidden-xs hidden-sm">
                <div class="section-content align-left full">
                    <div class="flexer">
                        <p class="title">Minimalist Design</p>
                        <p class="description">Clean lines and understated style, the Edgemont can be taken anywhere.</p>
                        <div class="inline-video">
                            <div class="embed-container"
                                 data-desktop-url="https://cdn.shopify.com/s/files/1/2185/1497/files/adaptable-use-4-3-womens.mp4?3311804513744672369"
                                 data-mobile-url="https://cdn.shopify.com/s/files/1/2185/1497/files/adaptable-use-4-3-womens.mp4?3311804513744672369"
                                 data-autoplay="true"
                                 data-loops="10"
                                 style="padding-bottom: 76%;">
                                <video id="video-5" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable-fabric.jpg?7436827176151389146"></video>
                                <div class="loading"></div>
                            </div>
                        </div>
                        <!-- <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable-fabric.jpg?7436827176151389146" alt="Edgemont" style="margin-top:60px;" class="hidden-xs hidden-sm"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block no-bottom-margin-mobile">
        <div class="row flexed">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media sm-full">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-03.jpg?7436827176151389146" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-03-mobile.jpg?7436827176151389146" alt="Edgemont">
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block with-offset">
        <div class="row flexed full">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="section-content align-left sm-full pb-5 added-bottom-padding-mobile">
                    <div class="flexer">
                        <p class="description">Take it on the train, to a coffee shop, or to the park.</p>
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-04.jpg?7436827176151389146" alt="Edgemont" style="margin-top:30px">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="section-content is-media align-left sm-full">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-05.jpg?7436827176151389146" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-05-mobile.jpg?7436827176151389146" alt="Edgemont">
                    </picture>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content xlarge">
                    <p class="title">Carry-on Effortlessly</p>
                    <p class="description contain">Fits perfectly as a carry-on personal item.</p>
                </div>
            </div>
        </div>
    </div>
   


   <div class="page-block with-offset no-bottom-margin-mobile">
        <div class="row flexed full">
            <div class="col-sm-4 col-sm-offset-2 offset-vertical pb-sm-5">
                <div class="section-content is-media">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product.jpg?7534691200918814672" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product.jpg?7534691200918814672" alt="Edgemont">
                    </picture>
                </div>
            </div>
            <div class="mobile-only-heading hidden-md hidden-lg section-content align-left suitcase-mobile-only-heading">
                <div class="flexer">
                    <p class="title">Suitcase Handle Sleeve</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddoing eusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="section-content align-left sm-full">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-women.jpg?7534691200918814672" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-suitcase-handle-sleeve-women-mobile.jpg?7534691200918814672" alt="Edgemont" class="pb-3">
                    </picture>
                    <div class="flexer hidden-xs hidden-sm">
                        <p class="title">Suitcase Handle Sleeve</p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddoing eusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block with-offset">
        <div class="row flexed">
            <div class="col-sm-4 col-sm-offset-2 offset-vertical">
                <div class="section-content align-left sm-full">
                    <div class="flexer">
                        <p class="title">Airline Seats Friendly</p>
                        <p class="description">The Edgemont fits seamlessly under any airline seat.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="section-content is-media align-left sm-full">
                    <picture>
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-airline-seat.jpg?3452690508298570451" alt="Airline Seat">
                    </picture>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media sm-full">
                    <div class="inline-video">
                        <div class="embed-container"
                            data-desktop-url="https://cdn.shopify.com/s/files/1/2185/1497/files/video_memory_foam.mp4?4503407123041765074"
                            data-mobile-url="https://cdn.shopify.com/s/files/1/2185/1497/files/video_memory_foam.mp4?4503407123041765074"
                            data-autoplay="true"
                            data-loops="10"
                            style="padding-bottom:56%">
                            <video id="video-3" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-memory-foam-women.jpg?4503407123041765074"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content sm-left">
                    <p class="title">Ultra Comfortable</p>
                    <p class="description contain">Padded with memory foam, the Edgemont is super comfy to carry.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row">
            <div class="col-sm-12">
                <div class="image-panel">
                    <div id="section-10-item-0">
                        <script>// <![CDATA[
                            var video2Embed = '<iframe src="//player.vimeo.com/video/191846909?player_id=vimeo-hanover&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
                            // ]]></script>
                        <picture> 
                            <source srcset="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-what-fits-inside.jpg?6227852250316028997" media="(min-width: 768px)">
                            <img src="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-mobile-what-fits-inside-mobile.jpg?6227852250316028997" alt="Edgemont">
                        </picture>
                        <div class="image-panel-content text-dark">
                            <div class="flexer">
                                <p class="description"><span style="font-size: 130%; letter-spacing: 1px;">What Fits Inside</span></p>
                                <a href="#" data-video-id="2" class="overview-video-trigger">Play Video 
                                    <svg width="94px" height="94px" viewBox="0 0 94 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="02-1-Discover-Page-women-option1" transform="translate(-476.000000, -535.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                <g id="Hero" transform="translate(0.000000, 64.000000)">
                                                    <g id="Play-btn" transform="translate(476.000000, 471.000000)">
                                                        <path d="M47,0 C21.15,0 0,21.15 0,47 C0,72.85 21.15,94 47,94 C72.85,94 94,72.85 94,47 C94,21.15 72.85,0 47,0 Z M41.4865385,59.925 L41.4865385,34.075 L57.9365385,47 L41.4865385,59.925 Z" id="Shape"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content xlarge">
                    <p class="title">Stay Organized</p>
                    <p class="description contain">The Edgemont comes packed with tons of features to help you stay put together on the road.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block pb-5 no-bottom-margin-mobile no-bottom-padding-mobile">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="section-content text-left pb-4 sm-full">
                    <img src="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-laptop-storage-women-portrait.jpg?2380292705611309061" alt="Laptop Storage" class="pb-3">
                    <div class="organized-padded-mobile">
                        <p class="title sm-inset">Laptop Storage</p>
                        <p class="description sm-inset">Protect up to a 15-inch laptop in an interior padded compartment.</p>
                    </div>
                </div>

                <div class="section-content text-left pb-4 sm-full">
                    <div class="inline-video ratio-4-3 pb-3">
                        <div class="embed-container"
                            data-desktop-url="https://cdn.shopify.com/s/files/1/1952/2557/files/key_leash.mp4?17811801115560820215"
                            data-mobile-url="https://cdn.shopify.com/s/files/1/1952/2557/files/key_leash.mp4?17811801115560820215"
                            data-autoplay="true"
                            data-loops="10"
                            >
                            <video id="video-20" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-key-leash-women.jpg?2380292705611309061"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                    <div class="organized-padded-mobile">
                        <p class="title sm-inset">Key Leash</p>
                        <p class="description sm-inset">Never misplace your keys again with our detachable key leash.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 offset-vertical">
                <div class="section-content text-left pb-4 sm-full">
                    <div class="inline-video ratio-4-3 pb-3">
                        <div class="embed-container"
                            data-desktop-url="https://cdn.shopify.com/s/files/1/1952/2557/files/interior_pockets.mp4?17811801115560820215"
                            data-mobile-url="https://cdn.shopify.com/s/files/1/1952/2557/files/interior_pockets.mp4?17811801115560820215"
                            data-autoplay="true"
                            data-loops="10"
                            >
                            <video id="video-21" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-interior-pockets-women.jpg?2380292705611309061"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                    <div class="organized-padded-mobile">
                        <p class="title sm-inset">Interior Pockets</p>
                        <p class="description sm-inset">Two interior mesh pockets and two padded slip pockets help keep documents, magazines, tablets, and all your essentials neatly in place.</p>
                    </div>
                </div>
                <div class="section-content text-left pb-4 mobile-breakout no-bottom-padding-mobile">
                    <img src="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-side-pockets-women-portrait.jpg?2380292705611309061" alt="Key Leash" class="pb-3">
                    <div class="organized-padded-mobile last-organized-padded-mobile">
                        <p class="title sm-inset">Stash Pockets</p>
                        <p class="description sm-inset">Store your passport, wallet, or earphones in two easy to access side pockets.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content xlarge">
                    <p class="title top-bordered-mobile">High-Quality Materials</p>
                    <p class="description contain pb-3">The Edgemont is crafted from premium grade materials that are both durable and eco-friendly.</p>

                    <div class="btn-set">
			            <a class="btn btn-secondary" href="#">Learn More</a>
			        </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-content is-media">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-bottles.jpg?7339266015769543836" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-mobile-bottles-mobile.jpg?7339266015769543836" alt="Sustainable">
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content sm-left">
                    <p class="title">Sustainable</p>
                    <p class="description contain">The exterior is crafted from a high density polyester made from recycled plastic bottles.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-content is-media sm-full">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-water-resistant.jpg?17485383639226535446" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-mobile-water-resistant-mobile.jpg?17485383639226535446" alt="Water Resistant">
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="row flexed">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-content sm-left">
                    <p class="title">Water-Resistant</p>
                    <p class="description contain">This 600D recycled poly is built to withstand the elements or just any accidental spills.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="image-panel">
        <div class="item active">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-desktop-product-with-bg.jpg?17485383639226535446" media="(min-width: 768px)">
                <img src="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-mobile-product-with-bg-mobile.jpg?7669488592874128036" alt="">
            </picture>
            <div class="image-panel-content text-dark h-aligned-right v-aligned-m-top v-aligned-d-center">
                <div class="flexer">
                    <p class="title text-dark" style="font-size:90%">Edgemont</p>
                    <p class="final-price">$150</p>
                    <div class="btn-set">
                        <p><a class="btn btn-secondary" id="link-17-0-1" href="#">View colors &amp; sizes</a></p>
                        <p><a class="btn" href="#">Buy now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</article>