{% include 'vars' %}
{% assign ctaTitle = 'Claremont' %}
{% assign ctaPrice= '$298' %}
{% assign ctaLink = '/products/claremont-full-grain-leather-black' %}

{% comment %} {% include 'cta-overrides' %} {% endcomment %}

<article class="discover">

  {% include 'discover-nav', labels:'Design,Features,Device Compatibility,Press' %}

  <div class="max-container">
    <div class="hero has-arrow"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_03.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_03.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag for DSLR cameras" /> </picture>
      <div class="hero-content white right">
        <h1 class="title"><span class="subtitle">Discover</span> Claremont</h1>
        <p class="description">A chic travel bag designed to protect DSLR cameras.</p>
      </div>
      {% include 'hero-jump-btn' %}
    </div>
  </div>
  <div class="container"><a id="nav-target-1" class="jumptarget page-has-nav"></a>{% include 'hero-jump-target' %}
    <div class="section-heading " id="section-heading-1">
    <h3 class="title">Designed for DSLR Cameras</h3>
    <p class="description"><span>We asked 2 NYC-based photographers, Lindsay Brown and Chaunté Vaughn to take the Claremont camera bag on a day trip touring some of their favorite NYC landmarks.</span></p>
  </div>

  <div class="image-panel fw-xs mb-default">
    <div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-2">
      <ol class="carousel-indicators">
        <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-2" data-slide-to="1"></li>
        <li data-target="#carousel-2" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div id="section-2-item-0" class="item legacy-has-overlay active">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_11.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_06.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag for DSLR cameras" /> 
          </picture>
          <div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
            <div class="flexer">
              <p class="noSwipe subtitle">The Metropolitan Museum of Art</p>
            </div>
          </div>
        </div>
        <div id="section-2-item-1" class="item">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_07.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_08.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag for DSLR cameras" />
          </picture>
        </div>
        <div id="section-2-item-2" class="item">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_09.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_10.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag for DSLR cameras" /> 
          </picture>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-2" role="button" data-slide="prev"> 
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
        <span class="sr-only">Previous</span> 
      </a>
      <a class="right carousel-control" href="#carousel-2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
        <span class="sr-only">Next</span> 
      </a>
    </div>
  </div>

  <div class="image-panel fw-xs mb-default">
    <div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-3">
      <ol class="carousel-indicators">
        <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-3" data-slide-to="1"></li>
        <li data-target="#carousel-3" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div id="section-3-item-0" class="item legacy-has-overlay active">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_20.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_15.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag for DSLR cameras" />
          </picture>
          <div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
            <div class="flexer">
              <p class="noSwipe subtitle">New York Public Library</p>
            </div>
          </div>
        </div>
        <div id="section-3-item-1" class="item">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_16.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_20.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag for DSLR cameras" />
          </picture>
        </div>
        <div id="section-3-item-2" class="item">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_18.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_17.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag for DSLR cameras" />
          </picture>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-3" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span> 
      </a> 
      <a class="right carousel-control" href="#carousel-3" role="button" data-slide="next"> 
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span> 
      </a>
    </div>
  </div>

  <div class="image-panel fw-xs mb-large ">
    <div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-4">
      <ol class="carousel-indicators">
        <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-4" data-slide-to="1"></li>
        <li data-target="#carousel-4" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div id="section-4-item-0" class="item legacy-has-overlay active">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_24.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_25.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag for DSLR cameras" />
          </picture>
          <div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
            <div class="flexer">
              <p class="noSwipe subtitle">World Trade Center Tunnel</p>
            </div>
          </div>
        </div>
        <div id="section-4-item-1" class="item">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_26.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_26.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag for DSLR cameras" />
          </picture>
        </div>
        <div id="section-4-item-2" class="item">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_28.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_27.jpg" alt="" />
          </picture>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-4" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-4" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <a id="nav-target-2" class="jumptarget page-has-nav"></a>
  <div class="section-heading " id="section-heading-5">
    <h3 class="title">Features</h3>
  </div>
  <div class="image-panel  ">
    <div id="section-6-item-0" class="item active">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_33.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_31.jpg" alt="The Claremont camera bag, made with internal padding designed to protect a DSLR camera" />
      </picture>
    </div>
  </div>
  <div class="image-panel  ">
    <div id="section-7-item-0" class="item active">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_34.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_32.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag with 2 SD memory card pockets" />
      </picture>
    </div>
  </div>
  <div class="image-panel  ">
    <div id="section-8-item-0" class="item active">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Large_35.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/LightGreyClaremont_OverviewPage_Small_33.jpg" alt="The Claremont camera bag, a stylish crossbody camera bag with discreet back pocket" />
      </picture>
    </div>
  </div>

  <a id="nav-target-3" class="jumptarget page-has-nav"></a>
  <div class="section-heading " id="section-heading-9">
    <p class="description" style="padding: 1em 0;">DEVICE COMPATIBILITY</p>
    <p class="description"><span>Canon models: 5D, 7D, 50D, 60D, T3i/600D, T3, XS</span></p>
    <p class="description" style="padding: 1em 0;"><span>Nikon models: D90, D700, D3000, D3100, D5000, D7000</span></p>
  </div>

  <a id="nav-target-4" class="jumptarget page-has-nav"></a>
  <div class="container pr-items">
    {% include 'section-title', title: "Traveler Approved" %}
    <div class="row topic-end-md">
      {% include 'press-review',
          med-right: false,
          img: 'elle_logo_120.svg',
          alt: 'Elle Logo',
          quote: "Don't let this buttery soft leather and vintage shape fool you. This is a modern shutterbug's ideal cross-body. Filled with features like pockets for memory cards and extra internal padding to keep your DSLR safe (and your look chic)." %}
      {% include 'press-review',
          med-right: true,
          img: 'lucky_logo_120.png',
          alt: 'Lucky Logo',
          quote: "Now I have a new item to add to my wish list - a camera bag that’s elegant chic and not the bland backpack black neoprene I've been using." %}
      {% include 'press-review',
          med-right: false,
          img: 'huffington-post-logo_120.svg',
          alt: 'Huffington Post Logo',
          quote: "It looks like a trendy leather purse and features extra internal padding specifically designed to protect a DSLR camera and a small extra lens. The cross body bag has adjustable straps and several discreet pockets for essentials – a back zipper pockets for cash, keys, or credit cards, with two front pockets for memory cards, and a hanging SD memory card holder. This is the best-looking camera bag in the market." %}
      {% include 'press-review',
          med-right: true,
          img: 'smartertravel_logo_120.svg',
          alt: 'Smarter Travel Logo',
          quote: "Most bags for DSLR cameras are bulky or scream 'expensive equipment inside.' Lo &amp; Sons’ Claremont looks just like a regular, stylish crossbody bag—so no one but you will know that the interior is padded and designed to protect your camera and lens. Thanks to a back zipper pocket and two small front pockets, I was able to fit my DSLR camera, my smartphone, travel-sized sunscreen, hand sanitizer, and a light cardigan into this bag... This bag is so classically stylish that I will use it as a regular handbag even when I’m not bringing my camera." %}
      {% include 'press-review',
          med-right: false,
          img: 'fast-company_logo_120.svg',
          alt: 'Fast Company Logo',
          quote: "The leather Claremont must be one of the most feminine and elegant DSLR camera bags on the market." %}
      {% include 'press-review',
          med-right: true,
          img: 'lonely_planet_logo_120.svg',
          alt: 'Lonely Planet Logo',
          quote: "Fashion-conscious traveling photographers don’t have to sacrifice style for function. Beautifully-crafted bags like the Claremont are ideal for those who prefer to keep their kits covert. The comfortable cross-body looks like a chic satchel from the outside; inside are ideal features to protectively transport your gear." %}
    </div>
  </div>

  <div class="image-panel fw-xs legacy-has-overlay ">
    <div id="section-1item-0" class="item active">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/shop_crossbody_claremont_large_aa4ea2ec-61b1-40be-9468-338463e929b4.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/shop_crossbody_claremont_small_072308d5-467a-4f63-910c-5ba0905a3724.jpg" alt="" />
      </picture>
      <div class="image-panel-content h-aligned-left v-aligned-m-center v-aligned-d-center" id="claremont-cta">
        <div class="topic-content">
          <h3 class="noSwipe title">{{ ctaTitle }}</h3>
          <p class="noSwipe final-price">{{ ctaPrice }}</p>
            <div class="btn-set">
              <p class="noSwipe"><a class="btn btn-gtm-trk" data-gtm-a="8" href="{{ ctaLink }}">View colors &amp; sizes</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
    {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
  {% endunless %} {% endcomment %}



  <div id="product-video">
    <div id="product-video-container"></div>
    <a href="#" class="panel-close"><span class="sr-only">Close</span></a>
  </div>

</article>