{% include 'vars' %}

{%- assign assetVersion = 162329 -%}
{%- assign ctaTitle = catalinaToteTitle -%}
{%- assign ctaPrice = catalinaTotePrice -%}
{%- assign ctaLink = catalinaTotePdp -%}
{%- assign ctaImg = catalinaToteCtaImg -%}

{% comment %} {% include 'cta-overrides' %} {% endcomment %}

<article class="discover">

    {% include 'discover-nav', labels:'Functionality,Size,Materials' %}
    
    {% include 'hero',
      img: 'catalina-deluxe-tote-fw19-hero',
      alt: 'woman standing next to Catalina Deluxe Tote on suitcase',
      title: ctaTitle,
      subtitle: 'Discover',
      text: 'A compact weekender tote — perfect for a quick getaway, beach day or gym session.'
      align: 'center'
      color: 'white' %}

    {% include 'product-hero', img: 'catalina-deluxe-tote-fw19-isolated', alt: 'Two Catalina Deluxe Totes isolated on white background'%}

    <a id="nav-target-1" class="jumptarget"></a>
    {% include 'section-title', title: "Smart Design", text: "Thoughtful features and a place for all your essentials, the Catalina Deluxe Tote is designed for life on the road." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-tote-fw19-design-1',
              alt: 'Catalina Deluxe Tote on luggage handle',
              fw: false,
              title: "Seamless Travel",
              text: "The luggage sleeve slides right over a suitcase handle." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-tote-fw19-design-2',
              alt: 'bottom pocket opened',
              fw: false,
              title: "Separate Storage",
              text: "A separate compartment designed for maximum organization." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'catalina-deluxe-tote-fw19-design-3',
                alt: 'close up of handle pad',
                fw: false,
                title: "Carrier Comfort",
                text: "The detachable memory foam pad adds comfort to the straps." %}
          </div>
        </div>
      </div>
    </div>

    {% include 'section-title', title: "Thoughtful Organization", text: "Designed to fit all your essentials—whether it be a long weekend trip or a weeklong trip." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-tote-fw19-organization-1',
              alt: 'passport and wallet packed into zipper pocket',
              fw: false,
              title: "Interior Security",
              text: "Keep important items like your passport and wallet in the interior zipper pocket." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-tote-fw19-organization-2',
              alt: 'close up of key leash',
              fw: false,
              title: "Clever Accessibility",
              text: "The key leash securely holds keys right where you need them." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'catalina-deluxe-tote-fw19-organization-3',
                alt: 'items packed into front pocket',
                fw: false,
                title: "Easily Within Reach",
                text: "The front pocket allows for easy access to your essentials." %}
          </div>
        </div>
      </div>
    </div>

    {% include 'section-title', title: "Perfect Fit for Every Trip", text: "Whether it be a European vacation, trip to the gym, or a weekend getaway, the Catalina Deluxe Tote has you covered." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-tote-fw19-trip-1',
              alt: 'woman with Catalina Deluxe Tote on suitcase',
              fw: false,
              title: "Travel",
              text: "Whether you’re going near or far, pack everything you need for that upcoming vacation." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-tote-fw19-trip-2',
              alt: 'woman in workout clothes with Catalina Deluxe Tote',
              fw: false,
              title: "Workout Session",
              text: "The definition of form meets function — this is the bag you’ll want to add to your fitness routine." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'catalina-deluxe-tote-fw19-trip-3',
                alt: 'woman holding Catalina Deluxe Tote near woods',
                fw: false,
                title: "Weekend",
                text: "Carry your necessities in style on your next getaway." %}
          </div>
        </div>
      </div>
    </div>

    <a id="nav-target-2" class="jumptarget"></a>
    {% include 'section-title', title: "Spacious Interior", text: "Designed to maximize what you can take on your travels." %}
    {% include 'video-block', img: 'catalina-deluxe-tote-fw19-video', alt: 'video showing how to pack the Catalina Deluxe Tote', id: 1 %}

    {% include 'section-title', title: "Expandable Design", text: "Designed to maximize what you can take on your travels." %}
    {% include 'video-block', img: 'catalina-deluxe-tote-fw19-video-2', alt: 'video showing how to expand the Catalina Deluxe Tote', id: 2, text: 'How to Expand' %}


    {% include 'catalina-deluxe-tote-carry-on' %}

    <a id="nav-target-3" class="jumptarget"></a>    
    {% include 'catalina-materials' %}

    {% include 'discover-cta' %}

    {% comment %} {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
    {% endunless %} {% endcomment %}

    {% include 'discover-catalina-compare', url: catalinaCompareW %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/347804073" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    var video2Embed = '<iframe src="https://player.vimeo.com/video/347738741" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

</article>