<h1 class="sr-only">{{ page.title }}</h1>
<div class="container-fluid {% if shop.metafields["global"]["hide-dates-on-stories-page"] == '1' %}dates-hidden{% endif %}">
	{% comment %}{{ page.content }}{% endcomment %}
	{% section 'page-stories' %}
</div>
