{% include 'vars' %}
{%- assign assetVersion = 1582287 -%}

<article>

    {% include 'hero',
      img: 'seville-system-collection-hero1',
      alt: 'group photo of Seville totes',
      title: 'The Seville Collection',
      subtitle: 'Discover',
      text: 'Seamlessly and sustainably switch up your look &mdash; without changing your whole bag.'
      align: 'center' %}
    
    {% include 'section-title', title: "Invest in Innovation", text: "Today’s conscientious consumers (that’s you) value quality over quantity—but that doesn’t mean you have to sacrifice variety. Instead of buying an array of bags, you can buy a single Seville bag (therefore minimizing waste), but update its look with interchangeable exterior shells, intentionally designed to keep your look fresh, seasonal, and context-appropriate." %}
    {% include 'video-block', img: 'seville-system-collection-section1-block1', alt: 'woman removing Seville liner from shell', id: 1, text: 'View the Collection' %}

    {% include 'section-title', title: "How It Works", text: "Our interchangeable shells allow you to switch up your bag’s look—without having to unpack. In under a minute, you can seamlessly move the inner bag from one shell to the next, and you’re off!" %}
    {% include 'video-block', img: 'seville-system-collection-section2-block1', alt: 'video showing how to Seville shells work', id: 2, text: 'How it Works' %}

    {% include 'section-title', title: "A Strategic Selection of Materials", text: "We use a carefully-considered mix of materials that maximize elegance and performance, so you’ll have the right bag for every context." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-system-collection-section3-block1',
              alt: 'close up of saffiano leather',
              retina: true, fw: false, lg: true,
              title: "Saffiano Leather",
              text: "Treated to be scratch- and water-resistant, Saffiano leather is exceptionally durable. The cross-hatch pattern gives it texture and structure that endures over time." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-system-collection-section3-block2',
              alt: 'close up of nappa leather',
              retina: true, fw: false, lg: true,
              title: "Nappa Leather",
              text: "Known for its buttery texture and adaptable shape, this natural-grain leather gives the trim and handles of these bags a luxurious feel and an elegant look." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'seville-system-collection-section3-block3',
                alt: 'close up of nylon',
                retina: true, fw: false, lg: true,
                title: "Nylon",
                text: "This fine-weave, water-resistant nylon is a sleek alternative to leather. Lightweight and travel-friendly, it’s perfect for those on the go." %}
          </div>
        </div>
      </div>
    </div>

    {% include 'section-title', title: "Goes Everywhere You Do", text: "Dress your Seville bags up or down for work, travel, and weekend." %}

    {% include 'section-hero', title: 'The Seville', img: 'seville-system-collection-section4-hero1', alt: 'woman holding classic Seville at side' %}
    {% include 'shop-block', handle: "seville-tote-and-shell" %}

    {% include 'section-hero', title: 'The Seville Prima', img: 'seville-system-collection-section5-hero1', alt: 'woman packing laptop into Seville Prima' %}
    {% include 'shop-block', handle: "seville-prima-tote-and-shell" %}

    {% include 'section-hero', title: 'The Seville Aire', img: 'seville-system-collection-section6-hero1', alt: 'woman storing passport in Seville Aire' %}
    {% include 'shop-block', handle: "seville-aire-tote-and-shell" %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/364308475" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    var video2Embed = '<iframe src="https://player.vimeo.com/video/364308543" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>