{% assign ctaTitle = 'Seville Materials' %}
{% include 'discover-nav', labels:'Saffiano Leather,Perforated Leather,Vachetta Leather,Compare,Shop' %}

<div class="max-container">
<div class="hero without-image">
<div class="hero-content left black">
<h1 class="title"><span class="subtitle">The Seville</span> Material Comparison Guide</h1>
<p class="description">All of our leathers come from premium tanneries and are colored with vegetable derived dyes.</p>
</div>
</div>
</div>
<div class="container"><a id="nav-target-1" class="jumptarget page-has-nav"></a>
<div class="topic-block has-overlay-xs"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/leather-saffiano-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/leather-saffiano-mobile.jpg" alt="" /> </picture>
<div class="topic-content">
<h2 class="title">Saffiano Leather</h2>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/saffiano.gif" alt="" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Durable</h3>
<p class="description">Saffiano leather is scratch and water resistant, making it one of our most durable materials. The cross hatching texture creates a stiffness and durability that keeps the bag structured over time.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6 col-sm-push-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/s2-saffiano-1.jpg" alt="" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-pull-6">
<div class="topic-content">
<h3 class="title">Classic</h3>
<p class="description">Saffiano leather is perfect for the frequent business traveler that has a full schedule of client meetings, business conferences and events.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/1-saffiano-2.jpg" alt="" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Care Instructions</h3>
<p class="description">To clean your bag we recommend using a damp, cold cloth and mild soap. Gently wipe away excess dirt or residue and air dry.</p>
</div>
</div>
</div>
<a id="nav-target-2" class="jumptarget page-has-nav"></a>
<div class="topic-block has-overlay-xs"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/leather-perforated-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/leather-perforated-mobile.jpg" alt="" /> </picture>
<div class="topic-content">
<h2 class="title">Perforated Leather</h2>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-p.gif" alt="" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Lightweight</h3>
<p class="description">Perforated leather is Saffiano leather with a horizontal dot pattern across the material, creating a lighter alternative to the classic Saffiano leather that’s still scratch resistant.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6 col-sm-push-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/s2-perforated-1.jpg" alt="" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-pull-6">
<div class="topic-content">
<h3 class="title">Modern</h3>
<p class="description">Perforated leather is a great material for trips where you might need to dress up for a formal work event, but also meet friends out for dinner and drinks after a day full of client meetings.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/s2-perforated-2.jpg" alt="" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Care Instructions</h3>
<p class="description">To clean your bag we recommend using a damp, cold cloth and mild soap. Gently wipe away excess dirt or residue and air dry.</p>
</div>
</div>
</div>
<a id="nav-target-3" class="jumptarget page-has-nav"></a>
<div class="topic-block has-overlay-xs"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/leather2-vachetta-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/leather-vachetta-mobile.jpg" alt="" /> </picture>
<div class="topic-content">
<h2 class="title">Vachetta Leather</h2>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-leather-1-v-1.jpg" alt="" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Natural</h3>
<p class="description">Vachetta is an untreated leather that evolves with wear over time. In new condition, the leather is a light cream color and has a soft and delicate texture. Once exposed to the sun and everyday wear, it develops a natural patina (or sheen) that gives it a resilient coating and deep tan shade. Every piece of Vachetta leather varies in color and texture and will become unique to the person who wears it.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs mb-large">
<div class="col-sm-6 col-sm-push-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/s2-vachetta-1.jpg" alt="" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-pull-6">
<div class="topic-content">
<h3 class="title">Casual</h3>
<p class="description">Vachetta leather is more seasonal in style, so it’s perfect for when you’re traveling for a summer company retreat or taking a long weekend excursion.</p>
</div>
</div>
</div>
<div class="row topic-block aligned-sm mb-negate-xs">
<div class="col-sm-6">
<div class="fw-xs"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/s2-vachetta-2.jpg" alt="" /></div>
</div>
<div class="col-sm-5 col-md-4 col-sm-offset-1">
<div class="topic-content">
<h3 class="title">Care Instructions</h3>
<p class="description">Our Vachetta is not scratch resistant but is lightly treated with a water resistant coating for added protection. To clean your bag we recommend using a leather cleaner. Test a small area first before cleaning the whole bag.</p>
</div>
</div>
</div>
<a id="nav-target-4" class="jumptarget page-has-nav"></a>
<div class="section-heading " id="section-heading-13">
<h3 class="title"><span>Compare</span></h3>
</div>

<div class="image-panel mb-large ">
<div id="section-14-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/s2-compare-desktop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/s2-compare-mobile.jpg" alt="" /> </picture></div>
</div>
<a id="nav-target-5" class="jumptarget page-has-nav"></a>
<div class="section-heading " id="section-heading-15">
<h3 class="title"><span>Shop The Collection</span></h3>
</div>
<div class="row fw-xs cta-block">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-cta-md.jpg?17936836033864662155" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-cta-xs.jpg?17936836033864662155" alt="Shop Seville Tote" /> </picture></div>
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
<div class="topic-content">
<h3 class="title">Seville Tote</h3>
<p class="description">$398 - $448</p>
<div class="btn-set"><a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="/pages/seville-womens-laptop-travel-tote">Learn more</a><a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/seville-tote-saffiano-leather-black-gold-grey">Buy now</a></div>
</div>
</div>
</div>
<div class="row fw-xs cta-block">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-shell-cta-md.jpg?1037341573864563638" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-shell-cta-xs.jpg?1037341573864563638" alt="Shop Seville Shell" /> </picture></div>
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
<div class="topic-content">
<h3 class="title">Seville Shell</h3>
<p class="description">$168 - $228</p>
<div class="btn-set"><a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="/pages/seville-womens-laptop-travel-tote">Learn more</a><a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/seville-shell-saffiano-leather-white-gold-black">Buy now</a></div>
</div>
</div>
</div>
</div>
<div id="product-video">
<div id="product-video-container"></div>
<a href="#" class="panel-close">Close</a></div>