{% include 'vars' %}

{%- assign assetVersion = 162329 -%}
{%- assign ctaTitle = catalinaDeluxeTitle -%}
{%- assign ctaPrice = catalinaDeluxePrice -%}
{%- assign ctaLink = catalinaDeluxePdp -%}
{%- assign ctaImg = catalinaDeluxeCtaImg -%}

{% include 'cta-overrides' %}

<article class="discover">

    {% include 'discover-nav', labels:'Functionality,Size,Materials,Press' %}
    
    {% include 'hero',
      img: 'catalina-deluxe-fw19-hero',
      alt: 'stack of Catalina Deluxes in multiple colors',
      title: ctaTitle,
      subtitle: 'Discover',
      text: 'Everyone’s favorite weekender — perfect for a quick getaway, beach day or gym session.'
      align: 'right',
      color: 'white black-sm' %}

    {% include 'product-hero', img: 'catalina-deluxe-fw19-isolated', alt: 'Two Catalina Deluxes isolated on white background'%}

    <a id="nav-target-1" class="jumptarget"></a>
    {% include 'section-title', title: "Smart Design", text: "Thoughtful features and a place for all your essentials, the Catalina Deluxe is designed for life on the road." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-fw19-design-1',
              alt: 'Catalina Deluxe sliding onto luggage handle',
              fw: false,
              title: "Seamless Travel",
              text: "The luggage sleeve slides right over a suitcase handle." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-fw19-design-2',
              alt: 'bottom pocket opened',
              fw: false,
              title: "Separate Storage",
              text: "A separate compartment designed for maximum organization." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'catalina-deluxe-fw19-design-3',
                alt: 'close up of handle pad',
                fw: false,
                title: "Carrier Comfort",
                text: "The detachable memory foam pad adds comfort to the straps." %}
          </div>
        </div>
      </div>
    </div>

    {% include 'section-title', title: "Thoughtful Organization", text: "Designed to fit all your essentials—whether it be a long weekend trip or a weeklong trip." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-fw19-organization-1',
              alt: 'passport and wallet packed into zipper pocket',
              fw: false,
              title: "Interior Security",
              text: "Keep important items like your passport and wallet in the interior zipper pocket." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-fw19-organization-2',
              alt: 'woman packing Catalina Deluxe',
              fw: false,
              title: "Spacious Design",
              text: "Designed to maximize what you can take on your travels." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'catalina-deluxe-fw19-organization-3',
                alt: 'phone packed into front pocket',
                fw: false,
                title: "Easily Within Reach",
                text: "The front pocket allows for easy access to your essentials." %}
          </div>
        </div>
      </div>
    </div>

    {% include 'section-title', title: "Perfect Fit for Every Trip", text: "Whether it be a European vacation, trip to the gym, or a weekend getaway, the Catalina Deluxe has you covered." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-fw19-trip-1',
              alt: 'man with Catalina Deluxe on suitcase',
              fw: false,
              title: "Travel",
              text: "Whether you’re going near or far, pack everything you need for that upcoming vacation." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'catalina-deluxe-fw19-trip-2',
              alt: 'woman walking with Catalina Deluxe',
              fw: false,
              title: "Workout Session",
              text: "The definition of form meets function — this is the bag you’ll want to add to your fitness routine." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'catalina-deluxe-fw19-trip-3',
                alt: 'woman holding Catalina Deluxe on pier',
                fw: false,
                title: "Weekend",
                text: "Carry your necessities in style on your next getaway." %}
          </div>
        </div>
      </div>
    </div>

    <a id="nav-target-2" class="jumptarget"></a>
    {% include 'section-title', title: "Spacious Interior", text: "Designed to maximize what you can take on your travels." %}
    {% include 'video-block', img: 'catalina-deluxe-fw19-video', alt: 'video showing how to pack the Catalina Deluxe', id: 1 %}

    {% include 'catalina-deluxe-carry-on' %} 

    <a id="nav-target-3" class="jumptarget"></a>    
    {% include 'catalina-materials' %}

    <a id="nav-target-4" class="jumptarget"></a>
    <div class="container pr-items">
      {% include 'section-title', title: "Press" %}
      <div class="row topic-end-md">
        {% include 'press-review',
            med-right: false,
            img: 'travel-leisure-logo_120.svg',
            alt: 'Travel+Leisure Logo',
            quote: "With interior and exterior pockets for organizing your stuff, a drop-strap that makes hauling it around easy, and a bottom zip compartment for keeping shoes or dirty clothes separate, it’s a practical pick for long weekend excursions." %}
        {% include 'press-review',
            med-right: true,
            img: 'domino_logo_120.svg',
            alt: 'Domino Logo',
            quote: "When it comes to weekenders, Lo and Sons reigns supreme because they live and breathe organization. Every single design element is thoughtfully planned out, so much so, that the brand even has awesome videos to demonstrate just how much stuff you can fit inside each of their bags." %}
        {% include 'press-review',
            med-right: false,
            img: 'bustle_logo_120.svg',
            alt: 'Bustle Logo',
            quote: "The Catalina Canvas Weekender is a no-fuss canvas bag that seems unassuming, but is ground-breaking in its organization. If you live for compartments and labels, you're going to drool." %}
        {% include 'press-review',
            med-right: true,
            img: 'smartertravel_logo_120.svg',
            alt: 'SmarterTravel Logo',
            quote: "The Lo & Son’s Catalina Deluxe is the perfect weekender bag to take with you on your next getaway. Whether you’re traveling by bus, train, plane, or car, it fits everything you need and doesn’t take up too much space on any form of transportation." %}
        {% include 'press-review',
            med-right: false,
            img: 'Refinery29_logo_120.svg',
            alt: 'Refinery29 Logo',
            quote: "This canvas weekender comes in a small yet powerful size with multi compartments for strategic long-weekend outfit storage (hello, separate shoe compartment) and convertible straps for adaptable toting (over-shoulder or cross-body)." %}
        {% include 'press-review',
            med-right: true,
            img: 'fodors-logo_120.svg',
            alt: 'Fodors Logo',
            quote: "This bag does double duty with a smart bottom zipper pocket for wet clothes after a day at the beach or shoes if you’re using it as a carry-on. It’s bigger than your average one-person beach bag, but would make the perfect weekend bag, easy to toss in the back of the car." %}
        {% include 'press-review',
            med-right: false,
            img: 'expedia_logo_120.svg',
            alt: 'Expedia Logo',
            quote: "The base of the tote bag is a compartment that can store shoes and bulkier ponchos, and the top compartment is extra spacious and easily fits everything you would need for a weekend away!" %}
      </div>
    </div>

    {% include 'discover-cta' %}

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
    {% endunless %}

    {% include 'discover-catalina-compare', url: catalinaCompareW %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/347803675" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

    {% include 'catalina-deluxe-dimensions' %}

</article>