<div class="max-container">
<div class="hero has-arrow" id="organic-canvas-hero"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Organic-Cotton-CanvasD-1.1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/O-M-1.1.jpg" alt="" /> </picture>
<div class="hero-content white right">
<h1 class="title"><span class="subtitle">Discover</span> Organic Cotton Canvas</h1>
<p class="description">A spacious and durable travel bag that fits everything you need for a weekend getaway.</p>
</div>
{% include 'hero-jump-btn' %}
</div>
</div>
<div class="continuous-carousel"> 
  {% for i in (1..8) %}
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/organic-canvas-carousel-{{ i }}-md.jpg?82925" media="(min-width: 1025px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/organic-canvas-carousel-{{ i }}-xs.jpg?82925" alt="" />
      </picture>
    </div>
  {% endfor %}
</div>
<div class="container"><a id="block-target-1" class="jumptarget "></a>{% include 'hero-jump-target' %}
<div class="image-panel mb-default fw-xs" data-bxhover-1518568895571="">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-1">
<ol class="carousel-indicators">
<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
<li data-target="#carousel-1" data-slide-to="1" class=""></li>
<li data-target="#carousel-1" data-slide-to="2" class=""></li>
</ol>
<div class="carousel-inner">
<div id="section-1-item-0" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/8_2-D-2.1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mobile-M-2.1.jpg" alt="" /> </picture></div>
<div id="section-1-item-1" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/8_2-D-2.2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mobile-M-2.2.jpg" alt="" /> </picture></div>
<div id="section-1-item-2" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new-D-2.3.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mobile-M-2.3.jpg" alt="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>
<a id="block-target-2" class="jumptarget "></a>
<div class="section-heading " id="section-heading-2">
<h3 class="title"><span>All Natural</span></h3>
<p class="description"><span>Organic cotton canvas is a canvas that is 100% naturally grown without the use of any synthetic agricultural chemicals such as fertilizers or pesticides. Its production also promotes and enhances biodiversity and biological cycles.</span></p>
</div>
<a id="block-target-3" class="jumptarget "></a>
<div class="image-panel half-width-panels mb-default fw-xs  mb-negate-xs" data-bxhover-1518568895571="">
<div class="row">
<div class="col-sm-6 ">
<div class="half-width-panel">
<div id="section-3-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/stock-D-3.1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/stock-M-3.1.jpg" alt="" /> </picture></div>
</div>
</div>
<div class="col-sm-6 ">
<div class="half-width-panel">
<div id="section-3-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/stock-D-3.2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/stock-M-3.2.jpg" alt="" /> </picture></div>
</div>
</div>
</div>
</div>
<a id="block-target-4" class="jumptarget "></a>
<div class="image-panel legacy-has-overlay fw-xs mb-large">
<div id="section-4-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new-swatchD-4.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mobile-M-4.1.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
<div class="topic-content">
<p class=" title"><span>Limited Supply</span></p>
<p class=" description"><span style="letter-spacing: 1px;">Organic cotton farming is more complicated and time consuming, so supply is limited. But the outcome is a higher quality canvas that is better for the earth and better for your skin.</span></p>
</div>
</div>
</div>
</div>
<a id="block-target-5" class="jumptarget "></a>
<div class="section-heading " id="section-heading-5">
<h3 class="title"><span>Safe For Your Skin</span></h3>
<p class="description"><span>Our organic cotton canvas is hypo allergenic and won't irritate your skin because it's dye free and pesticide free.</span></p>
</div>
<a id="block-target-6" class="jumptarget "></a>
<div class="image-panel half-width-panels mb-large " data-bxhover-1518568895571="">
<div class="row">
<div class="col-sm-6 ">
<div class="half-width-panel">
<div id="section-6-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/crop-D-5.1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/crop-M-5.1.jpg" alt="" /> </picture></div>
</div>
</div>
<div class="col-sm-6 ">
<div class="half-width-panel">
<div id="section-6-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/NEW1-D-5.2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/NEW1-M-5.2.jpg" alt="" /> </picture></div>
</div>
</div>
</div>
</div>
<a id="block-target-7" class="jumptarget "></a>
<div class="section-heading " id="section-heading-7">
<h3 class="title"><span>Better For The Earth</span></h3>
</div>
<a id="block-target-8" class="jumptarget "></a>
<div class="image-panel half-width-panels fw-xs mb-large">
<div class="row">
<div class="col-sm-6 ">
<div class="half-width-panel legacy-has-overlay organic-canvas-better">
<div id="section-8-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new3-D-6.1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/O-M-6.1.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-top v-aligned-d-top">
<div class="flexer">
<h3 class=" title"><span>Pesticide Free</span></h3>
<p class=" description"><span>Organic cotton is grown without the use of any synthetic agricultural chemicals such as fertilizers or pesticides.</span></p>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-6 ">
<div class="half-width-panel legacy-has-overlay organic-canvas-better">
<div id="section-8-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new3-D-6.2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/O-M-6.2.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-top v-aligned-d-top">
<div class="flexer">
<h3 class=" title"><span>Water Conservation</span></h3>
<p class=" description"><span>Organic cotton reduces water usage. Organic farming practices create healthier soil which in turn requires less water and is more resilient during droughts or dry periods.</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<a id="block-target-9" class="jumptarget "></a>
<div class="image-panel legacy-has-overlay " data-bxhover-1518568895571="">
<div id="section-9-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/shop-D-7.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mobile-M-7.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-right v-aligned-m-center v-aligned-d-center">
<div class="flexer">
<div class="btn-set" style="width: auto"><a class="btn btn-secondary inverted" href="/collections/organic-canvas-collection">Shop the collection</a></div>
</div>
</div>
</div>
</div>
</div>
<div id="product-video">
<div id="product-video-container"></div>
<a href="#" class="panel-close"><span class="sr-only">Close</span></a></div>