{% include 'vars' %}
{%- assign ctaTitle = 'Rhodes' -%}
{%- assign ctaPrice = '$348' -%}
{%- assign ctaLink = '/products/rhodes-waxed-twill-charcoal' -%}

{% include 'cta-overrides' %}

<article class="discover">

    {% include 'discover-nav', labels:'Features,See What Fits Inside,Material' %}

    {% include 'hero'
      img: 'Rhodes1-Hero',
      alt: 'man with Rhodes on shoulder',
      subtitle: 'Discover',
      title: ctaTitle,
      align: 'left',
      contentAlign: 'top',
      color: 'black',
      text: 'A spacious and durable travel bag that fits everything you need for a weekend getaway.' %}
    
    <div class="container">
        <a id="nav-target-1" class="jumptarget"></a>
        
        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-1.jpg" alt="Rhodes Suitcase Handle Sleeve">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-offset-1">
                <div class="topic-content">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Travel seamlessly with a convenient pass-through sleeve that slides onto any roller bag.</p> 
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6 col-sm-push-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-2.jpg" alt="Rhodes Expandable Main Compartment">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-pull-6">
                <div class="topic-content">
                    <h3 class="title">Expandable Main Compartment</h3>
                    <p class="description">Side snaps allow the bag to expand or compact.</p>
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-3.jpg" alt="Rhodes Bottom Pocket">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-offset-1">
                <div class="topic-content">
                    <h3 class="title">Bottom Pocket</h3>
                    <p class="description">Keeps shoes and toiletries separate from clean clothes.</p> 
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6 col-sm-push-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-4.jpg" alt="Rhodes Front Pocket">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-pull-6">
                <div class="topic-content">
                    <h3 class="title">Front Pocket</h3>
                    <p class="description">Zip pocket and secret stash pocket keep your essentials accessible.</p>
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-5.jpg" alt="Rhodes Messenger Strap">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-offset-1">
                <div class="topic-content">
                    <h3 class="title">Messenger Strap</h3>
                    <p class="description">Carry on your shoulder or across your body to comfortably distribute weight.</p> 
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6 col-sm-push-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-6.jpg" alt="Rhodes Shoulder Pads">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-pull-6">
                <div class="topic-content">
                    <h3 class="title">Shoulder Pads</h3>
                    <p class="description">Includes 2 detachable, memory foam shoulder pads with a non-slip grip.</p>
                </div>
            </div>
        </div>
        
    </div>
    
    <a id="nav-target-2" class="jumptarget"></a>
    <div class="max-container topic-block mb-large has-overlay-xs animate" {{ animateFadeInUp }}>
        <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-7.jpg?{{ assetVersion }}" media="(min-width: 768px)">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-7.jpg?{{ assetVersion }}" alt="items around Rhodes">
        </picture>
        <div class="topic-content">
            <h3 class="title">What Fits Inside</h3>
            <a href="#" data-video-id="1" class="video-trigger">
                <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
            </a>
        </div>
    </div>

    <div class="container">
        <a id="nav-target-3" class="jumptarget"></a>
        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-8.jpg" alt="600D Recycled Poly">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-offset-1">
                <div class="topic-content">
                    <h3 class="title">600D Recycled Poly</h3>
                    <p class="description">A high density water resistant polyester made from recycled plastic bottles.</p> 
                    <div class="btn-set">
                        <a class="btn btn-secondary" href="/pages/featured-material-recycled-poly">Learn more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm mb-negate-xs">
            <div class="col-sm-6 col-sm-push-6">
                <div class="fw-xs">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Rhodes-9.jpg" alt="Waxed Twill">
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sm-pull-6">
                <div class="topic-content">
                    <h3 class="title">Waxed Twill</h3>
                    <p class="description">A cotton/poly/nylon blend tightly woven for extra strength and wax coated for water resistance.</p>
                </div>
            </div>
        </div>
        
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
    {% endunless %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/129575639" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    // ]]></script>

</article>