<div class="max-container">
<div class="hero has-arrow"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Recycled_Poly2-D-1.1.jpg" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Recycled_Poly3-M-1.1.jpg" alt="" /> </picture>
<div class="hero-content right white">
<h1 class="title"><span class="subtitle">Discover</span> Recycled Poly</h1>
</div>
{% include 'hero-jump-btn' %}
</div>
</div>
<div class="container"><a id="block-target-1" class="jumptarget "></a>{% include 'hero-jump-target' %}
<div class="image-panel mb-large fw-xs ">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-1">
<ol class="carousel-indicators">
<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
<li data-target="#carousel-1" data-slide-to="1" class=""></li>
<li data-target="#carousel-1" data-slide-to="2" class=""></li>
</ol>
<div class="carousel-inner">
<div id="section-1-item-0" class="item active"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Recycled_Poly2-D-2.1.jpg" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Recycled_Poly-M-2.1.jpg" alt="" /> </picture></div>
<div id="section-1-item-1" class="item"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Recycled_Poly2-D-2.2.jpg" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Recycled_Poly-M-2.2.jpg" alt="" /> </picture></div>
<div id="section-1-item-2" class="item"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Recycled_Poly2-D-2.3.jpg" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Recycled_Poly-M-2.3.jpg" alt="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>
<a id="block-target-2" class="jumptarget "></a>
<div class="image-panel half-width-panels mb-default">
<div class="row">
<div class="col-sm-6 col-sm-push-6">
<div class="half-width-panel">
<div id="section-2-item-0" class="item active"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/D-3.jpg" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/M-3.jpg" alt="" /> </picture></div>
</div>
</div>
<div class="col-sm-6 col-sm-pull-6">
<div class="half-width-panel">
<div id="section-2-item-1" class="item">
<div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center no-image">
<div class="topic-content">
<h3 class="noSwipe title"><span>What is Recycled Poly?</span></h3>
<p class="noSwipe description"><span>Leading environmental experts, labs and material innovators have developed a technical fabric that has given new life to plastic bottles that are currently finding their way into our landfills and waterways at an overflowing rate. By turning those bottles into yarn and technical fabric, the fashion industry is now able to optimize the lifespan of PET* plastic and contribute to cleaning up our earth.</span></p>
<p class="noSwipe description"><span>*Polyethylene Terephthalate, known commonly as PET or PETE is best known as the clear plastic used for water and soda bottle containers.</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="max-container"><a id="block-target-3" class="jumptarget "></a>
<div class="has-overlay-xs topic-block" style="margin-bottom: 0;"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/HC-02-desktop-600D.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/HC-02-mobile-600D.jpg" alt="" /> </picture>
<div class="topic-content" style="padding: 30px;">
<h3 class="title">600D Recycled Poly</h3>
<p class="description">A high-density, water-resistant polyester made from recycled plastic bottles.</p>
</div>
</div>
<a id="block-target-4" class="jumptarget "></a>
<div class="has-overlay-xs topic-block"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/HC-02-desktop-Ripstop.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/HC-02-mobile-Ripstop.jpg" alt="" /> </picture>
<div class="topic-content" style="padding: 30px;">
<h3 class="title">Ripstop Recycled Poly</h3>
<p class="description">A water-resistant polyester made from recycled water bottles and reinforced to prevent ripping.</p>
</div>
</div>
</div>
<div class="container"><a id="block-target-5" class="jumptarget "></a>
<div class="section-heading " id="section-heading-5">
<h3 class="title"><span>From Bottle to Bag</span></h3>
</div>
<a id="block-target-6" class="jumptarget "></a>
<div class="image-panel mb-large ">
<div id="section-6-item-0" class="item active"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/poly-01.png" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/poly-03.png" alt="" /> </picture></div>
</div>
<a id="block-target-7" class="jumptarget "></a>
<div class="section-heading " id="section-heading-7">
<div class="container">
<h3 class="title"><span>Investing in a Sustainable Future</span></h3>
<p class="section-subtitle"><span style="font-size: 80%;">As our business has grown, we've started to invest in sourcing more eco-friendly materials to minimize harm to the earth and the wonderful places we like to travel to.</span></p>
</div>
</div>
<a id="block-target-8" class="jumptarget "></a>
<div class="image-panel half-width-panels ">
<div class="row">
<div class="col-sm-6 ">
<div class="half-width-panel mb-default">
<div id="section-8-item-0" class="item active"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Re-d-8.jpg" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/re-m-m-8.jpg" alt="" /> </picture></div>
</div>
</div>
<div class="col-sm-6 ">
<div class="half-width-panel mb-default">
<div id="section-8-item-1" class="item"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Re-d-9.jpg" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/re-m-m-9.jpg" alt="" /> </picture></div>
</div>
</div>
</div>
</div>
<a id="block-target-9" class="jumptarget "></a>
<div class="image-panel mb-large ">
<div id="section-9-item-0" class="item active"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Re2-d-10.jpg" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/re-m-m-10.jpg" alt="" /> </picture></div>
</div>
<a id="block-target-10" class="jumptarget "></a>
<div class="section-heading " id="section-heading-10">
<h3 class="title"><span>The Return on Investment</span></h3>
</div>
<a id="block-target-11" class="jumptarget "></a>
<div class="image-panel mb-large fw-xs ">
<div id="section-11-item-0" class="item active"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/poly-02.png" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/poly-04.png" alt="" /> </picture></div>
</div>
<a id="block-target-12" class="jumptarget "></a>
<div class="section-heading " id="section-heading-12">
<h3 class="title"><span>Our Mission</span></h3>
<p class="section-subtitle"><span>We are continually looking at new ways to improve the lifecycle of our products, from where they come from to where they will inevitably end up, all without compromising quality or aesthetics in the process. This is just one step in a long road, but we are excited about getting one step closer to achieving our mission as a company: to inspire and empower people to go places, while striving to leave a positive impact.</span></p>
</div>
</div>
<div class="max-container"><a id="block-target-13" class="jumptarget "></a>
<div class="has-overlay-xs topic-block fw-xs"><picture><source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Re3-d-11.jpg" media="(min-width: 768px)" /><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Re3-m-11.jpg" alt="" /> </picture>
<div class="topic-content"><a class="btn btn-secondary inverted" href="/collections/recycled-poly-collection">Shop recycled poly</a></div>
</div>
</div>
<div id="product-video">
<div id="product-video-container"></div>
<a href="#" class="panel-close"><span class="sr-only">Close</span></a></div>