{% include 'pdp-get-sibling-products' %}

{%- capture data-file -%}pdp-data-{{parentCollection.title| downcase | remove: 'the' | strip | replace: ' ', '-' }}{%- endcapture -%}
{%- include data-file -%}

{% include 'pdp-photoswipe-template' %}

<div itemscope itemtype="http://schema.org/Product">
  {%- include 'pdp-main' -%}

  <div class="pdp-container">
	{%- include 'pdp-callout-galleries' -%}
  {%- include 'pdp-callout-galleries', alternate: true -%}
	{%- include 'pdp-material', data: data_pdp_material -%}
  {%- include 'pdp-see-how-to-pack-it' -%}
  {%- include 'pdp-stories' -%}
	{%- include 'pdp-testimonials', testimonials: pdp_testimonials_data -%}
	{%- include 'pdp-cross-sell', collection: parentCollection -%}
  </div>
</div>

{%- include 'pdp-modal', id: 'shipping' -%}
{%- include 'pdp-modal', id: 'size-fit', collection: parentCollection -%}

{%- unless parentCollection.metafields["global"]["product-video"] == blank -%}
<script>
  var video1Embed = '{{ parentCollection.metafields["global"]["product-video"] | remove: "api=1&amp;" }}';
</script>
<div id="product-video">
  <div id="product-video-container"></div>
  <a href="#" class="panel-close"><span class="sr-only">close</span></a>
</div>
{%- endunless -%}
