{%- assign parentCollection = false -%}
{%- assign referringCollectionHandle = false -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- assign oosPolicy = current_variant.metafields['global']['out-of-stock-policy'] -%}

{% comment %} check the URL for collection-aware content {% endcomment %}
{%- assign urlParts = request.path | split: '/' -%}
{%- if urlParts[1] == 'collections' -%}
  {%- assign referringCollectionHandle = urlParts[2] -%}
{%- endif -%}

{% comment %} find the type collection {% endcomment %}
{%- for collection in product.collections -%}
    {%- if collection.metafields["global"]["is-parent-collection"] == "true" -%}
      {%- assign parentCollection = collections[collection.handle] -%}
      {%- break -%}
    {%- endif -%}
{%- endfor -%}

{% comment %} build up a string of IDs to check against later as we loop on sibling products because we only want to do all this logic once {% endcomment %}
{%- capture siblingsList -%}
{%- for siblingProduct in parentCollection.products -%}
  {%- if referringCollectionHandle and collections[referringCollectionHandle].metafields["global"]["enable-pdp-filtering"] == "true" -%}
    {%- assign excludeProduct = true -%}
    {%- paginate collections[referringCollectionHandle].products by 200 -%}
      {%- for referringCollectionProduct in collections[referringCollectionHandle].products -%}
        {%- if referringCollectionProduct.id == siblingProduct.id -%}
          {%- assign excludeProduct = false -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endpaginate -%}
    {%- if excludeProduct -%}
      {%- continue -%}
    {%- else -%}
      {{ siblingProduct.id }}{%- unless forloop.last -%}|{%- endunless -%}
    {%- endif -%}
  {%- else -%}
    {{ siblingProduct.id }}{%- unless forloop.last -%}|{%- endunless -%}
  {%- endif -%}
{%- endfor -%}
{%- endcapture -%}

{% comment %} all sibling IDs regardless of referring URLs {% endcomment %}
{%- capture allSiblingsList -%}
{%- for siblingProduct in parentCollection.products -%}
  {{ siblingProduct.id }}{%- unless forloop.last -%}|{%- endunless -%}
{%- endfor -%}
{%- endcapture -%}




<div itemscope itemtype="http://schema.org/Product">
  {%- include 'pdp-main' -%}


  <div class="container container-xl">
	{%- include 'pdp-callout-galleries' -%}
	{%- include 'pdp-material' -%}
    {%- include 'pdp-stories' -%}
	{%- include 'pdp-testimonials', testimonials: pdp_testimonials -%}
	{%- include 'pdp-cross-sell', collection: parentCollection -%}

  </div>




</div>
</div>

{%- include 'pdp-modal', id: 'shipping' -%}
{%- include 'pdp-modal', id: 'size-fit', collection: parentCollection -%}