<div itemscope itemtype="http://schema.org/Product">
  {%- include 'pdp-main' -%}
	{%- include 'pdp-callout-galleries' -%}
	{%- include 'pdp-material' -%}
	{%- include 'pdp-stories' -%}
	{%- include 'pdp-testimonials' -%}
	{%- include 'pdp-cross-sell' -%}
	{%- include 'pdp-size-fit-modal' -%}
</div>
