<article class="entry">
  <a href="{{ thisArticle.url }}">
    {% if thisArticle.image %}
      <div class="entry-image">
        <img src="{{ thisArticle | img_url: thumbSize, crop: 'center' }}" alt="">
      </div>
    {% endif %}
    <div class="entry-content">
      {% unless shop.metafields["global"]["hide-dates-on-stories-page"] == '1' %}
      <p class="entry-meta">{{ thisArticle.created_at | date: "%e %B %Y" }}</p>
      {% endunless %}
      <h3 class="entry-title">
        {{ thisArticle.title }}
      </h3>
    </div>
  </a>
</article>