<script>
var comparisonData = {
  "default" : "prospect",
  "prospect" : [
    ["height","15.5&rdquo;"],
    ["width","12.25&rdquo;"],
    ["depth","6.25&rdquo;"],
    ["handleDrop","1.5&rdquo;"],
    ["weight","3.8 lbs"],
    ["volume","19.4 L"],
    ["linearInches","34&rdquo;"],
    ["deviceFit","12.25&rdquo; x 14.5&rdquo;"],
    ["laptopCompat","Padded laptop compartment"],
    ["extOrg","2 zippered stash pockets<br /> 1 back pocket"],
    ["intOrg","1 document sleeve<br /> 2 mesh pockets<br /> 2 small pockets<br /> 2 pen slips<br /> 1 zippered pocket"],
    ["pockets","11"],
    ["convertibility","Backpack to briefcase"],
    ["straps","Detachable<br/ > Adjustable<br/ > Memory foam padding<br/ > Non-slip quilting"],
    ["sleeve","Yes"],
    ["feet","Yes"],
    ["leash","Yes"],
    ["bodyTrim","1200D recycled poly and Vachetta leather"],
    ["closure","Magnetic flap"],
    ["hardware","Black"],
    ["handle","Vachetta leather"],
    ["lining","Wave jacquard lining"],
    ["btn","<a href=\"#\" class=\"btn btn-block\">Buy now</a>"],
    ["price","$498"],
    ["img","<img src=\"https://cdn.shopify.com/s/files/1/2185/1497/files/compare-prospect.jpg?109131\" alt=\"The Prospect\" />"]
  ],
  "hanover-deluxe" : [
    ["height", "18&rdquo;"],
    ["width", "12&rdquo;"],
    ["depth", "6&rdquo;"],
    ["handleDrop", "2.95&rdquo;"],
    ["weight","2.2 lbs"],
    ["volume","24.3 L"],
    ["linearInches","36&rdquo;"],
    ["deviceFit","12&rdquo; x 16.5&rdquo;"],
    ["laptopCompat","Padded laptop compartment in removable insert"],
    ["extOrg","2 side pockets<br /> 1 front zipper pocket"],
    ["intOrg","1 document sleeve<br /> 1 large slip pocket<br /> 2 mesh pockets<br /> 1 zipper pocket<br /> 2 slip pockets"],
    ["pockets","10"],
    ["convertibility","&mdash;"],
    ["straps","Adjustable<br /> Memory foam padding<br /> Non-slip air mesh"],
    ["sleeve","Yes"],
    ["feet","&mdash;"],
    ["leash","Yes"],
    ["bodyTrim","600D recycled poly"],
    ["closure","Zipper top"],
    ["hardware","Black"],
    ["handle","Polyester webbing"],
    ["lining","Solid lining"],
    ["btn","<a href=\"/products/hanover-deluxe-600d-recycled-poly-onyx\" class=\"btn btn-block\">Buy now</a>"],
    ["price","$148"],
    ["img","<img src=\"https://cdn.shopify.com/s/files/1/2185/1497/files/compare-hanover-deluxe.jpg?109131\" alt=\"The Hanover Deluxe\" />"]
  ],
  "hanover" : [
    ["height", "16.25&rdquo;"],
    ["width", "11.5&rdquo;"],
    ["depth", "7&rdquo;"],
    ["handleDrop", "2.75&rdquo;"],
    ["weight","1.75 lbs"],
    ["volume","21.4 L"],
    ["linearInches","34.75&rdquo;"],
    ["deviceFit","11.5&rdquo; x 16&rdquo;"],
    ["laptopCompat","Padded laptop compartment in removable insert"],
    ["extOrg","1 front zipper pocket<br /> 2 zippered stash pockets"],
    ["intOrg","1 document sleeve<br /> 1 large slip pocket<br /> 1 mesh pocket"],
    ["pockets","6"],
    ["convertibility","&mdash;"],
    ["straps","Adjustable<br /> Memory foam padding<br /> Non-slip air mesh"],
    ["sleeve","Yes"],
    ["feet","&mdash;"],
    ["leash","Yes"],
    ["bodyTrim","600D recycled poly"],
    ["closure","Zipper top"],
    ["hardware","Black"],
    ["handle","Polyester webbing"],
    ["lining","Solid lining"],
    ["btn","<a href=\"/products/hanover-600d-recycled-poly-onyx\" class=\"btn btn-block\">Buy now</a>"],
    ["price","$128"],
    ["img","<img src=\"https://cdn.shopify.com/s/files/1/2185/1497/files/compare-hanover.jpg?109131\" alt=\"The Hanover\" />"]
  ],
  "edgemont" : [
    ["height", "14.5&rdquo;"],
    ["width", "13&rdquo;"],
    ["depth", "5&rdquo;"],
    ["handleDrop", "9&rdquo;"],
    ["weight","2.2 lbs"],
    ["volume","18.5 L"],
    ["linearInches","32.5&rdquo;"],
    ["deviceFit","11.75&rdquo; x 13.25&rdquo;"],
    ["laptopCompat","Padded laptop compartment in removable insert"],
    ["extOrg","2 zippered stash pockets"],
    ["intOrg","1 document sleeve<br /> 1 large slip pocket<br/> 2 mesh pockets"],
    ["pockets","6"],
    ["convertibility","Backpack to tote"],
    ["straps","Convertible<br /> Adjustable<br/> Memory foam padding<br /> Non-slip air mesh"],
    ["sleeve","Yes"],
    ["feet","&mdash;"],
    ["leash","Yes"],
    ["bodyTrim","600D recycled poly"],
    ["closure","Zipper top"],
    ["hardware","Black"],
    ["handle","Nylon webbing"],
    ["lining","Solid lining"],
    ["btn","<a href=\"/products/edgemont-600d-recycled-poly-onyx\" class=\"btn btn-block\">Buy now</a>"],
    ["price","$128"],
    ["img","<img src=\"https://cdn.shopify.com/s/files/1/2185/1497/files/compare-edgemont.jpg?109131\" alt=\"The Edgemont\" />"]
  ],
  "rowledge" : [
    ["height", "16.5&rdquo;"],
    ["width", "11.5&rdquo;"],
    ["depth", "6.75&rdquo;"],
    ["handleDrop", "2.75&rdquo;"],
    ["weight","3 lbs"],
    ["volume","21 L"],
    ["linearInches","36.5&rdquo;"],
    ["deviceFit","9&rdquo; x 13.5&rdquo;"],
    ["laptopCompat","Separate padded laptop sleeve"],
    ["extOrg","1 zippered stash pocket<br /> 2 expandable side pockets<br /> 1 front zipper pocket"],
    ["intOrg","1 document sleeve<br /> 2 mesh pockets<br /> 2 small pockets<br /> 2 pen slips<br /> 1 zippered pocket"],
    ["pockets","12"],
    ["convertibility","Backpack to tote"],
    ["straps","Convertible<br /> Adjustable<br /> Memory foam padding<br /> Non-slip quilting"],
    ["sleeve","Yes"],
    ["feet","Yes"],
    ["leash","Yes"],
    ["bodyTrim","Nylon and Nappa leather"],
    ["closure","Zipper top, tote handle clasp"],
    ["hardware","Gold"],
    ["handle","Rolled Nappa leather"],
    ["lining","Hummingbird jacquard lining"],
    ["btn","<a href=\"/products/rowledge-nylon-black-gold-grey\" class=\"btn btn-block\">Buy now</a>"],
    ["price","$375"],
    ["img","<img src=\"https://cdn.shopify.com/s/files/1/2185/1497/files/compare-rowledge.jpg?109131\" alt=\"The Rowledge\" />"]
  ]
} 
</script>

