{% include 'section-title', title: "Carry-On Friendly", text: "We designed our Catalina Deluxe Tote to be the ideal travel partner." %}
<div class="container animate" {{ animateFadeInUp }}">
  <div class="block has-cards">
    <div class="row">
      <div class="col-sm-6">
        {% include 'card',
          img: 'Catalina-Deluxe-Tote-carry-on-1',
          alt: 'airplane seats',
          fw: false,
          title: "Under Seat Ready",
          text: "The Catalina Deluxe Tote fits seamlessly under any airline seat." %}
      </div>
      <div class="col-sm-6">
        {% include 'card',
          img: 'Catalina-Deluxe-Tote-carryon-2',
          alt: 'airplane overhead bins',
          fw: false,
          title: "Cabin Compatible",
          text: "The Catalina Deluxe Tote fits seamlessly in the overhead cabin storage." %}
      </div>
    </div>
  </div>
</div>