{% include 'discover-section-heading', title: "Carry-On Friendly", text: "We designed our Catalina Deluxe Tote to be the ideal travel partner." %}
<div class="row animate mb-large" {{ animateFadeInUp }}>
  <div class="col-sm-6">  
    {% include 'discover-picture', name: 'Catalina-Deluxe-Tote-carry-on-1', alt: 'airplane seats', retina: true, fw: false, lg: true %}
    {% include 'discover-topic-content', title: "Under Seat Ready", text: "The Catalina Deluxe Tote fits seamlessly under any airline seat.", modifiers: 'text-center-xs' %}               
  </div>
  <div class="col-sm-6">    
    {% include 'discover-picture', name: 'Catalina-Deluxe-Tote-carryon-2', alt: 'airplane overhead bins', retina: true, fw: false, lg: true %}                
    {% include 'discover-topic-content', title: "Cabin Compatible", text: "The Catalina Deluxe Tote fits seamlessly in the overhead cabin storage." , modifiers: 'text-center-xs' %}
  </div>
</div>