<div class="more-window" id="dimensions-overlay">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              {% include 'discover-picture', name: 'catalina-deluxe-dimensions', alt: "Catalina Deluxe", retina: true, fw: false, lg: true %}
          </div>
          <div class="col-sm-6 col-md-5 col-md-offset-1">
              <table>
                  <thead>
                      <tr>
                          <th></th>
                          <th>Small</th>
                          <th>Large</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th>Top Width</th>
                          <td>24&rdquo;</td>
                          <td>26&rdquo;</td>
                      </tr>
                      <tr>
                          <th>Bottom Width</th>
                          <td>18&rdquo;</td>
                          <td>18.5&rdquo;</td>
                      </tr>
                      <tr>
                          <th>Depth</th>
                          <td>8.5&rdquo;</td>
                          <td>9&rdquo;</td>
                      </tr>
                      <tr>
                          <th>Height</th>
                          <td>16&rdquo;</td>
                          <td>18&rdquo;</td>
                      </tr>
                      <tr>
                          <th>Handle Drop Length</th>
                          <td>11&rdquo;</td>
                          <td>11&rdquo;</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <button class="panel-close"><span class="sr-only">close</span></button>
</div>