{% include 'section-title', title: "High Quality Materials", text: "Choose from a technical fabric made of recycled plastic bottles, washed cotton canvas and organic cotton canvas." %}
<div class="container animate" {{ animateFadeInUp }}">
  <div class="block has-cards">
    <div class="row">
      <div class="col-sm-4">
        {% include 'card',
          img: 'Catalina-Deluxe-materials-1',
          alt: 'close up of 600D Recycled Poly material and zipper',
          fw: false,
          title: "600D Recycled Poly",
          text: "Water-resistant, extra durable and eco-friendly." %}
      </div>
      <div class="col-sm-4">
        {% include 'card',
          img: 'Catalina-Deluxe-materials-2',
          alt: 'close up of washed cotton canvas material',
          fw: false,
          title: "Washed Cotton Canvas",
          text: "Soft but sturdy, lightweight and pre-washed." %}
      </div>
      <div class="col-sm-4">
        {% include 'card',
            img: 'Catalina-Deluxe-material-3',
            alt: 'close up of organic cotton canvas material',
            fw: false,
            title: "Organic Cotton Canvas",
            text: "High-quality, 100% naturally grown and hypo-allergenic." %}
      </div>
    </div>
  </div>
</div>