{% include 'section-title', title: "Carry-On Friendly", text: "We designed our Catalina Deluxe to be the ideal travel partner." %}
<div class="container animate" {{ animateFadeInUp }}">
  <div class="block has-cards">
    <div class="row">
      <div class="col-sm-6">
        {% include 'card',
          img: 'Catalina-Deluxe-carry-on-1',
          alt: 'packed Catalina Deluxe bags in two colors',
          fw: false,
          title: "Available in 2 Sizes",
          text: "The Catalina Deluxe is available in two sizes, Small and Large.",
          text2:  '<a href="#dimensions-overlay" class="more-window-trigger">Size guide +</a>' %}
      </div>
      <div class="col-sm-6">
        {% include 'card',
          img: 'Catalina-Deluxe-carryon-2',
          alt: 'airplane overhead bins',
          fw: false,
          title: "Cabin Compatible",
          text: "The Catalina Deluxe Large can be placed in the overhead compartment of most aircrafts. The Catalina Deluxe Small may fit underneath the airline seat when not fully packed." %}
      </div>
    </div>
  </div>
</div>