<div class="discover-cta{% if(mtSmall) %} mt-small{% endif %}" id="backpacks-compare-cta">
  <div class="container">
    <div class="row topic-block">
      <div class="col-md-8">
        <div class="hidden-xs hidden-sm">
          {% include 'discover-picture', name: 'prospect-compare', alt: 'group of Lo &amp; Sons backpacks', retina: true, fw: true, lg: true %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="topic-content">
          <h3 class="title">Can't Decide?</h3>
          <p class="description">Compare all backpack styles to find the one that’s right for you.</p>
          <div class="btn-set hidden-xs hidden-sm">
            <a class="btn btn-secondary" href="/pages/compare-backpacks">Compare</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-md hidden-lg">
    {% include 'discover-picture', name: 'prospect-compare', alt: 'group of Lo &amp; Sons backpacks', retina: true, fw: false, lg: true %}
    <div class="topic-content">
      <div class="btn-set">
        <a class="btn btn-secondary" href="/pages/compare-backpacks">Compare</a>
      </div>
    </div>
  </div>
</div>