<div class="block cta">
  <div class="container">
    <div class="media">
      {% include 'picture', name: img, alt: alt %}   
    </div>
    <div class="content">
      <h2 class="title">{{ title }}</h2>
      <p>{{ text }}</p>
      <div class="btn-set">
        <a class="btn btn-secondary" href="{{ link }}">{{ linkText }}</a>
      </div>
    </div>
  </div>
</div>