<div class="container discover-category-lead">
	<div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">                    
            <h2 class="block-title">{{ block.settings.title }}</h2>
            {% unless block.settings.description == blank %}
                <p class="block-description">{{ block.settings.description }}</p>
            {% endunless %}
        </div> 
    </div>
</div>