<div class="discover-cta compare">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="topic-content">
                    <h2 class="title">Compare</h2>
                    <p>Discover the differences and find the one that best suits your needs.</p>
                    <div class="hidden-xs hidden-sm">
                        <p><a class="btn btn-secondary" href="{{ url }}">Compare</a></p>
                    </div>
                </div>
            </div> 
            <div class="col-md-7">
                 {% include 'discover-picture', name: 'Catalina-Deluxe-compare', alt: 'close up of 600D Recycled Poly material and zipper', retina: true, fw:true, lg: true %} 
                <div class="hidden-md hidden-lg">
                    <p><a class="btn btn-secondary" href="{{ url }}">Compare</a></p>
                </div>
            </div>
        </div>
    </div>
</div>