<div class="row animate" {{ animateFadeInUp }}>
    <div class="col-sm-10 col-sm-offset-1">                    
        <div class="section-heading">
            <h2 class="title">High-Quality &amp; Lightweight</h2>
            <p class="description">Crafted from materials that balance durability with comfort to make your trip easy on the back and shoulders.</p>
        </div>
    </div>
</div>
<div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
    <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
        {% include 'discover-picture', name: 'catalina-materials-1', alt: "detail of the pre-washed canvas material", retina: true, fw: true, lg: true %}
    </div>
    <div class="col-sm-5 col-md-offset-1 content-col">
        <div class="topic-content">
            <h3 class="title">Pre-washed Canvas</h3>
            <p class="description">We use a high-quality, lightweight, yet strong pre-washed canvas. Despite being a softer and less structured canvas than the typical heavy canvas, it can handle a heavyweight load (even though we always encourage packing light).</p>
        </div>
    </div>
</div>
<div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
    <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
        {% include 'discover-picture', name: 'catalina-materials-2', alt: "detail of the organic cotton canvas material", retina: true, fw: true, lg: true %}
    </div>
    <div class="col-sm-5 col-md-offset-1 content-col">
        <div class="topic-content">
            <h3 class="title">Organic Cotton Canvas</h3>
            <p class="description">A canvas that is 100% naturally grown without the use of any synthetic agricultural chemicals such as fertilizers or pesticides.</p>
        </div>
    </div>
</div>