<div class="discover-cta compare">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {% include 'discover-picture', name: 'hanover2-discover-compare', alt: 'The bags of the Hanover collection', retina: true, fw:true, lg: true %} 
            </div>
            <div class="col-md-5">
                <div class="topic-content">
                    <h2 class="title">The Hanover 2 Colleciton</h2>
                    <p>One great backpack, two ways. Here’s how they differ.</p>
                    <p><a class="btn btn-secondary" href="{{ url }}">Compare</a></p>
                </div>
            </div>
        </div>
    </div>
</div>