<div class="discover-compare fw-xs animate" {{ animateFadeInUp }}>
    <div class="container">
        <div class="section-heading">                    
            <h2 class="title">Compare the Collection</h2>
            <p class="description">Discover the differences and find the perfect fit for your needs.</p>
        </div>
        <div class="overflow-window">
            <div class="overflow-row" data-indicators="#ofi-1">
                <div class="overflow-content" id="discover-catalina-compare">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-compare-md.jpg?9819498961148932255" media="(min-width: {{ screenMd }})">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-compare-xs.jpg?9819498961148932255" alt="one model holding each Catalina for comparison">
                    </picture>
                    <ul class="compare-labels">
                        <li>Catalina</li>
                        <li>Catalina<br /> Deluxe Large</li>
                        <li>Catalina<br /> Deluxe Small</li>
                        <li>Catalina<br /> Deluxe Tote</li>
                    </ul>
                </div>
            </div>
        </div>
        {% comment %}
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="overflow-position" id="ofi-1">
                    <div class="active"><span class="sr-only">Item 1</span></div>
                    <div><span class="sr-only">Item 2</span></div>
                    <div><span class="sr-only">Item 3</span></div>
                    <div><span class="sr-only">Item 4</span></div>
                </div>  
            </div>
        </div>
        {% endcomment %}
        <div class="text-center">  
            <div class="btn-set">
                <p><a class="btn" href="/pages/compare-catalina-collection/">Compare collection</a></p>
            </div>
        </div>
    </div>
</div>