<div id="hanover-compare" class="row animate topic-block aligned-md reversed mb-default" {{ animateFadeInUp }}>
    <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 text-center content-col">                    
        <div class="topic-content">
         <h2 class="title">Hanover vs. <br />Hanover Deluxe</h2>
         <p class="description">One great backpack, two ways. Here’s how they differ.</p>
         <div class="btn-set hidden-xs hidden-sm">
             <p><a class="btn btn-secondary" href="/pages/compare-hanover-collection-mens">Compare</a></p>
         </div>
       </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0">
         {% include 'discover-picture', name: 'hanover-m-compare', alt: 'two views of man wearing the Hanover', retina: true, fw: true %}  
         <div class="btn-set hidden-md hidden-lg">
             <p><a class="btn btn-secondary" href="/pages/compare-hanover-collection-mens">Compare</a></p>
         </div>
    </div>
</div>