<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
    <title>Shape</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="06-6-Feature-with-button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-90.000000, -359.000000)">
        <g id="Description" transform="translate(27.000000, 159.000000)" fill="#111111" fill-rule="nonzero">
            <g id="See-info" transform="translate(0.000000, 180.000000)">
                <path d="M73,20 C67.4771333,20 63,24.4774667 63,30 C63,35.5227333 67.4771333,40 73,40 C78.5228667,40 83,35.5227333 83,30 C83,24.4774667 78.5228667,20 73,20 Z M76.7230667,30.5510667 L70.9526,33.8824667 C70.8646,33.9334667 70.766,33.9587333 70.6678,33.9587333 C70.5696,33.9587333 70.4712,33.9334667 70.3828667,33.8824667 C70.2068667,33.7808 70.0982667,33.5926667 70.0982667,33.389 L70.0982667,26.726 C70.0982667,26.5224667 70.207,26.334 70.3828667,26.2325333 C70.5594,26.1306667 70.7766,26.1306667 70.9529333,26.2325333 L76.7234,29.5641333 C76.8997333,29.6661333 77.0083333,29.8542667 77.008,30.0576 C77.008,30.2610667 76.8996,30.4494 76.7230667,30.5510667 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>