{%- unless pdp_instagram_data == blank -%}

<div class="pdp-instagram">
  <div class="pdp-instagram__header">
    <a target="_blank" href="http://instagram.com/tags/LSTRAVELERAPPROVED">#loandsons</a>
  </div>
  <div class="pdp-instagram__widget">
  {{ pdp_instagram_data }}
  </div>
</div>
{%- endunless -%}
