<div class="pdp-modal" id="pdp-modal-{{ id }}">

  <a class="pdp-modal-close" href="#"></a>

  <div class="pdp-modal-content">

      <div>
        
        <h2>Shipping, Returns, Exchanges</h2>
        <h3>Shipping & Returns</h3>

        {{ shop.metafields["global"]["shipping-returns-exchanges"] }}

      </div>

  </div>
</div>
