{%- capture inc -%}pdp-{{ id }}-modal{%- endcapture -%}
<div class="pdp-modal" id="pdp-modal-{{ id }}">

  <a class="pdp-modal-close" href="#"></a>

  <div class="pdp-modal-content">

      <div>

      {%- include inc, collection: collection -%}

      </div>

  </div>
</div>
