{%- unless data == blank -%}

<div class="pdp-cross-sell js-pdp-cross-sell">
  <div class="pdp__section-heading pdp-cross-sell__section-heading">
    <h2>You May Also Like</h2>
  </div>
  <div class="js-container pdp-snap pdp-cross-sell__container">
  {%- for row in data -%}
  {%- assign handle = row | strip -%}
  {%- if handle contains ' ' -%}
  {%- assign handle = handle | handleize -%}
  {%- endif -%}
  {%- assign product = all_products[handle] -%}

  {%- unless product == blank -%}

  {%- assign product_featured_image = product.featured_image | img_url: '480x' -%}

  {%- assign colorCount = '' -%}

{%- for collection in product.collections -%}
{%- assign is_parent_collection = collection.metafields["global"]["is-parent-collection"] | strip_html -%}
{%- if is_parent_collection == "true" -%}
{%- assign colorCount = collections[collection.handle].products | size -%}
{%- assign productTitle = collections[collection.handle].title -%}
{%- break -%}
{%- endif -%}
{%- endfor -%}

  <article class="pdp-cross-sell__article product">
    <a class="product-link" href="{{ product.url }}">
      <div class="pdp-cross-sell__image">
        {% include 'image',
          src: product_featured_image,
          object_fit: 'contain',
          alt: product.title %}
      </div>
      <h4>{{productTitle}}</h4>
      <p class="pdp-cross-sell__colors">{{colorCount}} colors</p>
    </a>
  </article>

  {%- endunless -%}
  {%- endfor -%}
  </div>
</div>

{%- endunless -%}

{%- assign handle = nil -%}
{%- assign product = nil -%}
{%- assign productTitle = nil -%}
{%- assign product_featured_image = nil -%}

