

<div class="pdp-instagram">
  <div class="pdp-instagram__header">
    <h3>Traveler Approved</h3>
    <a target="_blank" href="http://instagram.com/tags/LSTRAVELERAPPROVED">#LSTRAVELERAPPROVED</a>
  </div>
  <div class="pdp__instagram-widget">
    <div class="yotpo yotpo-pictures-widget" data-gallery-id="5c7f0ae41b0ee5321a63269c"></div>
  </div>
</div>
