{%- assign testimonials = testimonials | default: blank -%}
{%- assign testimonials_count_minus_1 = testimonials | size -%}

{%- unless testimonials == blank -%}

<div class="pdp__section-heading">
  <h2 class="title">{{testimonials[0]}}</h2>
</div>

<div class="pdp-testimonials js-pdp-testimonials">
  <div class="pdp-testimonials__logos js-pdp-testimonials-logos">
  {%- for i in (1..testimonials_count_minus_1) -%}
  {%- assign testimonial = testimonials[i] -%}

  {%- assign image_src = testimonial | split: '|' | last -%}
  <div class="pdp-testimonials__logos-item">
    <span>
      {% include 'image',
        src: image_src,
        object_fit: 'contain',
        alt: '' %}
    </span>
  </div>
  {%- assign image_src = nil -%}
  {%- endfor -%}
</div>
<div class="pdp-testimonials__texts js-pdp-testimonials-texts">
  {%- for i in (1..testimonials_count_minus_1) -%}
  {%- assign testimonial = testimonials[i] -%}
  {%- assign text = testimonial | split: '|' | first -%}
    <p>{{ text }}</p>
  {%- assign image_src = nil -%}
  {%- endfor -%}
  </div>
</div>
{%- endunless -%}
{%- assign testimonials = nil -%}
{%- assign i = nil -%}
{%- assign testimonials_count_minus_1 = nil -%}
