<div id="swatch-groups" class="fw-xs">
{%- assign swatchGroup1Label = parentCollection.metafields["global"]["swatch-group-1-label"] -%}
{%- assign swatchGroup2Label = parentCollection.metafields["global"]["swatch-group-2-label"] -%}
{%- assign swatchGroup3Label = parentCollection.metafields["global"]["swatch-group-3-label"] -%}

{%- comment -%}
DETECT PRESELECTED material/color IF ANY
{%- endcomment -%}
{%- for siblingProduct in parentCollection.products -%}
  {%- assign siblingProductColor = siblingProduct.title | split: '-' | last | strip -%}
  {%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-1' -%}
    {%- if siblingProductColor == product.metafields["global"]["swatch-label"] -%}
      {%- assign selectedColor1 = siblingProductColor -%}
    {%- endif -%}
  {%- elsif siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-2' -%}
    {%- if siblingProductColor == product.metafields["global"]["swatch-label"] -%}
      {%- assign selectedColor2 = siblingProductColor -%}
    {%- endif -%}
  {%- elsif siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-3' -%}
    {%- if siblingProductColor == product.metafields["global"]["swatch-label"] -%}
      {%- assign selectedColor3 = siblingProductColor -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- if swatchGroup2Label == blank -%}{% comment %} no extra grouping, show them all {% endcomment %}
  {% capture swatches %}
      {%- for siblingProduct in parentCollection.products -%}{% comment %} all products of this type {% endcomment %}
        {%- if siblingsList contains siblingProduct.id -%}{% comment %} make sure this product can be shown {% endcomment %}
          {%- assign siblingUrl = siblingProduct.url -%}
          {%- if referringCollectionHandle -%}
            {%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
          {%- endif -%}
          {% include "pdp-swatch" %}
        {%- endif -%}
      {%- endfor -%}
    {% endcapture %}
  {% include "pdp-swatch-group", name: swatchGroup1Label, swatches: swatches %}
{%- else -%}
  {% comment %}TODO: maybe DRY this up a bit{% endcomment %}
  {%- capture swatchGroup1 -%}
    {%- for siblingProduct in parentCollection.products -%}
      {%- if siblingsList contains siblingProduct.id -%}
        {%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-1' -%}
          {%- assign siblingUrl = siblingProduct.url -%}
          {%- if referringCollectionHandle -%}
            {%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
          {%- endif -%}
          {% include "pdp-swatch" %}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
  {% if swatchGroup1 != blank %}{% comment %} these can be blank if the collection-aware URL filters out all products in this group {% endcomment %}
    {% include "pdp-swatch-group", name: swatchGroup1Label, swatches: swatchGroup1 %}
  {%- endif -%}
  {%- capture swatchGroup2 -%}
    {%- for siblingProduct in parentCollection.products -%}
      {%- if siblingsList contains siblingProduct.id -%}
        {%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-2' -%}
          {%- assign siblingUrl = siblingProduct.url -%}
          {%- if referringCollectionHandle -%}
            {%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
          {%- endif -%}
          {% include "pdp-swatch" %}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
  {% if swatchGroup2 != blank %}
    {% include "pdp-swatch-group", name: swatchGroup2Label, swatches: swatchGroup2 %}
  {%- endif -%}
  {%- capture swatchGroup3 -%}
    {%- for siblingProduct in parentCollection.products -%}
      {%- if siblingsList contains siblingProduct.id -%}
        {%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-3' -%}
          {%- assign siblingUrl = siblingProduct.url -%}
          {%- if referringCollectionHandle -%}
            {%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
          {%- endif -%}
          {% include "pdp-swatch" %}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
  {% if swatchGroup3 != blank %}
    {% include "pdp-swatch-group", name: swatchGroup3Label, swatches: swatchGroup3 %}
  {%- endif -%}
{%- endif -%}
{% comment %}
{% endcomment %}
</div>