
{%- for siblingProduct in parentCollection.products -%}
  {%- if siblingsList contains siblingProduct.id -%}
  <div class="more-window negate-p" id="zoomed-gallery-{{ siblingProduct.id }}">
    <div class="sibling-zoomed-gallery">
        {% for image in siblingProduct.images %}
          {%- unless image.alt contains 'swatch' -%}
          <div class="item">
            <div class="zoom-window"><img class="unzoomed" data-lazy="{{ image | img_url: 'master' }}"></div>
          </div>
          {%- endunless -%}
        {% endfor %}
        {% if parentCollection.metafields["global"]["collection-images"] %}
          {% assign images = parentCollection.metafields["global"]["collection-images"] | split: ',' %}
          {% for image in images %}
            <div class="item">
              <div class="zoom-window"><img class="unzoomed" data-lazy="{{ image }}"></div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    <button class="panel-close"><span class="sr-only">close</span></button>
  </div>
  {%- endif -%}
{%- endfor -%}
