<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Size, Weight, Dimensions</h3>
  
  <div class="pdp-size-fit__carousel" body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new1-Desktop-size-dimensions-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-mobile-size-dimensions-1.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-7.-Desktop-copy.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-mobile-size-dimensions-2.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  

  <div class="pdp-size-fit__table">
  
    <table>
      <thead>
        <tr>
        
          <th>Dimensions</th>
        
          <th>Depth</th>
        
          <th>weight</th>
        
          <th>Handle Drop height</th>
        
          <th>Base Width</th>
        
          <th>Height</th>
        
        </tr>
      </thead>

      <tbody>
      
        <tr>
         
          <td>Catalina</td>
          
          <td>9"</td>
          
          <td>1.4 lbs</td>
          
          <td>11"</td>
          
          <td>18.5"</td>
          
          <td>18"</td>
          
        </tr>
      
        <tr>
         
          <td>Cataline Deluxe Large</td>
          
          <td>9"</td>
          
          <td>2 lbs</td>
          
          <td>11"</td>
          
          <td>18.5"</td>
          
          <td>18"</td>
          
        </tr>
      
        <tr>
         
          <td>Cataline Deluxe Small</td>
          
          <td>8.5"</td>
          
          <td>1.9 lbs</td>
          
          <td>11"</td>
          
          <td>18"</td>
          
          <td>16"</td>
          
        </tr>
      
        <tr>
         
          <td>Cataline Deluxe Tote</td>
          
          <td>7"</td>
          
          <td>1.6 lbs</td>
          
          <td>11"</td>
          
          <td>14"</td>
          
          <td>15"</td>
          
        </tr>
      
      </tbody>
    </table>
  
  </div>

</div>


<div class="pdp-modal__section">
  <h3>The Fit</h3>
  
  <h4>5'10"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-Francine-desktop-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-1.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-Francine-desktop-2.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-2.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-Francine-desktop-3.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-3.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-Francine-desktop-4.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-4.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-Francine-desktop-5.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-6.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  
  <h4>5'4"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-1.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-2.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-2.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-3.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-3.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-4.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-4.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-5.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-5.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  
</div>





<div class="pdp-modal__section pdp-modal__section-airline">
  <h3>Airline Carry-On</h3>
  <div class="pdp-modal__section-two-column">
    <div>
      <figure>{%- include 'pdp-icons', icon: 'icon-airline-1' -%}</figure>
      <h5>Airline Seat</h5>
      <h6>Catalina Deluxe Small</h6>
      <p>Can be placed in the overhead compartment of most aircrafts and may fit underneath the airline seat when not fully packed.</p>
      <h6>Catalina Deluxe Tote</h6>
      <p>Should fit underneath the airline seat of most aircrafts, and should comply with the dimension requirements of most aircrafts.</p>
    </div>
    <div>
      <figure>{%- include 'pdp-icons', icon: 'icon-airline-2' -%}</figure>
      <h5>Airline Overhead Compartment</h5>
      <h6>Catalina</h6>
      <p>Can be placed in the overhead compartment of most aircrafts.</p>
      <h6>Catalina Deluxe Large</h6>
      <p>Can be placed in the overhead compartment of most aircrafts and is comparable in capacity to the Catalina.</p>
    </div>
  </div>
</div>

