<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Size, Weight, Dimensions</h3>
  

  <div class="pdp-size-fit__table">
  
    <table >
      <thead>
        <tr>
        
          <th>Dimensions</th>
        
          <th>Width</th>
        
          <th>Depth</th>
        
          <th>Height</th>
        
          <th>Strap Maximum Length</th>
        
          <th>Strap Shortest Length</th>
        
          <th>Weight</th>
        
        </tr>
      </thead>

      <tbody>
      
        <tr>
         
          <td>Small</td>
          
          <td>8"</td>
          
          <td>2"</td>
          
          <td>5.6"</td>
          
          <td>57"</td>
          
          <td>23"</td>
          
          <td>0.6 lbs</td>
          
        </tr>
      
        <tr>
         
          <td>Large</td>
          
          <td>8.3"</td>
          
          <td>2"</td>
          
          <td>5.9"</td>
          
          <td>57"</td>
          
          <td>23"</td>
          
          <td>0.8 lbs</td>
          
        </tr>
      
      </tbody>
    </table>
  
  </div>
</div>


<div class="pdp-modal__section pdp-size-fit-galleries-container">
  
    <div class="pdp-size-fit-galleries pdp-callout-galleries js-pdp-callout-galleries">
      <div class="pdp-callout-galleries__carousel">
        <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main">
          
            <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main-slide">
              <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01_Waverley2_Small_53713cd5-4c71-4072-a34c-f24cba97d0d9.png?85644" alt="Small" />
              <span>Small</span>
            </div>
            <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main-slide">
              <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01_Waverley2_Large_2d52f875-4f59-4c5f-93d6-0742b2685d6a.png?85644" alt="Large" />
              <span>Large</span>
            </div></div>
        <div class="js-pdp-callout-gallery-nav pdp-callout-galleries__carousel-nav">
          
            <span>Small</span>
            <span>Large</span></div>
        <p class="pdp-size-fit-galleries__text">Nicola's pant size is 2.</p>
      </div>
    </div>
    <div class="pdp-size-fit-galleries pdp-callout-galleries js-pdp-callout-galleries">
      <div class="pdp-callout-galleries__carousel">
        <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main">
          
            <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main-slide">
              <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/02_Waverley2_Small_22e9b05d-5ae0-4455-b133-7c16e8212269.png?85644" alt="Small" />
              <span>Small</span>
            </div>
            <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main-slide">
              <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/02_Waverley2_Large_4a3736c0-ec9d-4e59-a215-964f13dc4404.png?85644" alt="Large" />
              <span>Large</span>
            </div></div>
        <div class="js-pdp-callout-gallery-nav pdp-callout-galleries__carousel-nav">
          
            <span>Small</span>
            <span>Large</span></div>
        <p class="pdp-size-fit-galleries__text">Katie's pant size is 6.</p>
      </div>
    </div>
    <div class="pdp-size-fit-galleries pdp-callout-galleries js-pdp-callout-galleries">
      <div class="pdp-callout-galleries__carousel">
        <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main">
          
            <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main-slide">
              <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/03_Waverley2_Small_96d4f5ae-e31c-4715-943c-a56a7a852c17.png?85644" alt="Small" />
              <span>Small</span>
            </div>
            <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main-slide">
              <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/03_Waverley2_Large_57fc9f43-9684-406f-a56c-b30c4b32eb05.png?85644" alt="Large" />
              <span>Large</span>
            </div></div>
        <div class="js-pdp-callout-gallery-nav pdp-callout-galleries__carousel-nav">
          
            <span>Small</span>
            <span>Large</span></div>
        <p class="pdp-size-fit-galleries__text">Vanessa's pant size is 12.</p>
      </div>
    </div></div>









