<script>
BARREL.product = {{product | json}};
</script>

<section class="product-main">
  <div class="product-main__container container container-xl">
    <div class="product-main__featured">
      {%- include 'pdp-gallery', item: product -%}
    </div>
    <div class="product-main__holder">
      {%- include 'pdp-form', item: product -%}
    </div>
  </div>
</section>
