<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Size, Weight, Dimensions</h3>
  

  <div class="pdp-size-fit__table">
  
    <table >
      <thead>
        <tr>
        
          <th>Dimensions</th>
        
          <th>Width</th>
        
          <th>Depth</th>
        
          <th>Height</th>
        
          <th>Strap Maximum Length</th>
        
          <th>Strap Shortest Length</th>
        
          <th>Weight</th>
        
        </tr>
      </thead>

      <tbody>
      
        <tr>
         
          <td>Small</td>
          
          <td>8"</td>
          
          <td>2"</td>
          
          <td>5.6"</td>
          
          <td>57"</td>
          
          <td>23"</td>
          
          <td>0.6 lbs</td>
          
        </tr>
      
        <tr>
         
          <td>Large</td>
          
          <td>8.3"</td>
          
          <td>2"</td>
          
          <td>5.9"</td>
          
          <td>57"</td>
          
          <td>23"</td>
          
          <td>0.8 lbs</td>
          
        </tr>
      
      </tbody>
    </table>
  
  </div>
</div>

<div class="pdp-modal__section pdp-size-fit-galleries-container">
  {%- capture pdp_size_fit_galleries_data_1 -%}
  Nicola's pant size is 2.
  Small|https://cdn.shopify.com/s/files/1/2185/1497/files/01_Waverley2_Small_53713cd5-4c71-4072-a34c-f24cba97d0d9.png?85644
  Large|https://cdn.shopify.com/s/files/1/2185/1497/files/01_Waverley2_Large_2d52f875-4f59-4c5f-93d6-0742b2685d6a.png?85644
  {%- endcapture -%}

  {%- capture pdp_size_fit_galleries_data_2 -%}
  Katie's pant size is 6.
  Small|https://cdn.shopify.com/s/files/1/2185/1497/files/02_Waverley2_Small_22e9b05d-5ae0-4455-b133-7c16e8212269.png?85644
  Large|https://cdn.shopify.com/s/files/1/2185/1497/files/02_Waverley2_Large_4a3736c0-ec9d-4e59-a215-964f13dc4404.png?85644
  {%- endcapture -%}

  {%- capture pdp_size_fit_galleries_data_3 -%}
  Vanessa's pant size is 12.
  Small|https://cdn.shopify.com/s/files/1/2185/1497/files/03_Waverley2_Small_96d4f5ae-e31c-4715-943c-a56a7a852c17.png?85644
  Large|https://cdn.shopify.com/s/files/1/2185/1497/files/03_Waverley2_Large_57fc9f43-9684-406f-a56c-b30c4b32eb05.png?85644
  {%- endcapture -%}

  {%- assign pdp_size_fit_galleries_data_1 = pdp_size_fit_galleries_data_1 | newline_to_br | split: '<br />' -%}
  {%- assign pdp_size_fit_galleries_data_2 = pdp_size_fit_galleries_data_2 | newline_to_br | split: '<br />' -%}
  {%- assign pdp_size_fit_galleries_data_3 = pdp_size_fit_galleries_data_3 | newline_to_br | split: '<br />' -%}

  {%- include 'pdp-size-fit-galleries', data: pdp_size_fit_galleries_data_1 -%}
  {%- include 'pdp-size-fit-galleries', data: pdp_size_fit_galleries_data_2 -%}
  {%- include 'pdp-size-fit-galleries', data: pdp_size_fit_galleries_data_3 -%}
</div>




