{%- unless data == blank -%}

<section class="related">
  <div class="container">
    <div class="section-heading">
      <h2>You May Also Like</h2>
    </div>
    {%- for row in data -%}
      {%- assign handle = row | strip -%}
      {%- if handle contains ' ' -%}
        {%- assign handle = handle | handleize -%}
      {%- endif -%}
      {%- assign product = all_products[handle] -%}
      {%- unless product == blank -%}
        {% include 'product-item' %}
      {%- endunless -%}
    {%- endfor -%}
  </div>
</section>

{%- endunless -%}