<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Size, Weight, Dimensions</h3>
  

  <div class="pdp-size-fit__table">
  
    <table>
      <thead>
        <tr>
        
          <th>Dimensions</th>
        
          <th>Bottom Width</th>
        
          <th>Top Width</th>
        
          <th>Depth</th>
        
          <th>Height</th>
        
          <th>Handle Drop Length</th>
        
          <th>Weight (600D Recycled Poly)</th>
        
          <th>Weight (Waxed Twill)</th>
        
        </tr>
      </thead>

      <tbody>
      
        <tr>
         
          <td></td>
          
          <td>20"</td>
          
          <td>28.5"</td>
          
          <td>10"</td>
          
          <td>12"</td>
          
          <td>11"</td>
          
          <td>3.4 lbs</td>
          
          <td>4.2 lbs</td>
          
        </tr>
      
      </tbody>
    </table>
  
  </div>

</div>






