<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Size, Weight, Dimensions</h3>
  

  <div class="pdp-size-fit__table">
  
    <table >
      <thead>
        <tr>
        
          <th>Dimensions</th>
        
          <th>Width</th>
        
          <th>Depth</th>
        
          <th>Height</th>
        
          <th>Strap Maximum Length</th>
        
          <th>Strap Shortest Length</th>
        
          <th>Weight</th>
        
        </tr>
      </thead>

      <tbody>
      
        <tr>
         
          <td>Small</td>
          
          <td>8"</td>
          
          <td>2"</td>
          
          <td>5.6"</td>
          
          <td>57"</td>
          
          <td>23"</td>
          
          <td>0.6 lbs</td>
          
        </tr>
      
        <tr>
         
          <td>Large</td>
          
          <td>8.3"</td>
          
          <td>2"</td>
          
          <td>5.9"</td>
          
          <td>57"</td>
          
          <td>23"</td>
          
          <td>0.8 lbs</td>
          
        </tr>
      
      </tbody>
    </table>
  
  </div>
</div>






