{%- unless data == blank -%}

<div class="pdp-cross-sell">
  <div class="pdp__section-heading pdp-cross-sell__section-heading">
    <h2>You May Also Like</h2>
  </div>
  <div class="js-container pdp-snap pdp-cross-sell__container">
  {%- for row in data -%}
  {%- assign handle = row | strip -%}
  {%- assign product = all_products[handle] -%}
  {%- assign product_featured_image = product.featured_image | img_url: 'large' -%}

{%- assign colorCount = '' -%}

{%- for collection in product.collections -%}
{%- assign is_parent_collection = collection.metafields["global"]["is-parent-collection"] | strip_html -%}
{%- if is_parent_collection == "true" -%}
{%- assign colorCount = collections[collection.handle].products | size -%}
{%- break -%}
{%- endif -%}
{%- endfor -%}





  <article class="pdp-cross-sell__article product">
    <a class="product-link" href="{{ product.url }}" data-list-name="Shop All Mens Products" data-product-name="The Hanover - 600D Recycled Poly - Navy" data-product-price="128.00" data-product-type="The Hanover" data-product-sku="850180007142" data-product-position="4">
      <div class="pdp-cross-sell__image">
        {% include 'image',
          src: product_featured_image,
          object_fit: 'contain',
          alt: product.title %}
      </div>
      <h4>{{product.title}}</h4>
      <p class="pdp-cross-sell__colors">{{colorCount}} colors</p>
    </a>
  </article>
  {%- endfor -%}
  </div>
</div>

{%- endunless -%}

{%- assign handle = nil -%}
{%- assign product = nil -%}
{%- assign product_featured_image = nil -%}
