<section class="pdp-related">
  <div class="container">
    <div class="section-heading">
      <h2 class="title">You May Also Like</h2>
    </div>
    <div class="product-grid">
      <div class="row">
        {%- for row in data -%}
          {%- assign handle = row | strip -%}
          {%- if handle contains ' ' -%}
            {%- assign handle = handle | handleize -%}
          {%- endif -%}
          {%- assign product = all_products[handle] -%}
          {%- unless product == blank -%}
            <div class="col-sm-4">
              {% include 'product-item' with product %}
            </div>
          {%- endunless -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>