<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Size, Weight, Dimensions</h3>
  

  <div class="pdp-size-fit__table">
  
    <table  class="hide-first">
      <thead>
        <tr>
        
          <th>Dimensions</th>
        
          <th>Width</th>
        
          <th>Depth</th>
        
          <th>Height</th>
        
          <th>Strap Full Length</th>
        
          <th>Strap Drop Length</th>
        
          <th>Weight</th>
        
        </tr>
      </thead>

      <tbody>
      
        <tr>
         
          <td></td>
          
          <td>8"</td>
          
          <td>2"</td>
          
          <td>5.6"</td>
          
          <td>58"</td>
          
          <td>27.5"</td>
          
          <td>0.5 lbs</td>
          
        </tr>
      
      </tbody>
    </table>
  
  </div>
</div>






<div class="pdp-modal__section">
  <h3>Device Compatibility</h3>
  
    
      <p>The Waverley is designed to fit the following smartphones (without a case):</p>
    
  
    
      <ul>
        
          <li>iPhone 6, iPhone 6 Plus, iPhone 7, iPhone 7 Plus</li>
        
          <li>Samsung Galaxy S7</li>
        
          <li>Motorola Moto Z</li>
        
          <li>LG G5</li>
        
          <li>Google Pixel</li>
        
      </ul>
    
  
</div>





