
{%- for siblingProduct in parentCollection.products -%}
  {%- if siblingsList contains siblingProduct.id -%}
  <div class="sibling-image-set {% if siblingProduct.id == product.id %}active{% endif %}" data-sibling="{{ siblingProduct.id }}">
    
    {% for image in siblingProduct.images %}
      {%- unless image.alt contains 'swatch' -%}
        {{ image | img_tag: image.alt, '', '433x' }}
      {%- endunless -%}
    {% endfor %}

    {%- unless parentCollection.metafields["global"]["product-video"] == blank and pdp_video_url == blank -%}
      {%- if pdp_mobile_video_thumb != blank -%}
        <div class="pdp-gallery-mobile-image pdp-gallery-mobile-image--video" id="product-video-trigger">
        <span class="pdp-gallery-video-icon" aria-label="Play Video"></span>
        {%- assign img_src = pdp_mobile_video_thumb | file_img_url: 'original' -%}
        <img src="{{- img_src | strip -}}">
        </div>
      {%- endif -%}
    {%- endunless -%}

    {%- unless parentCollection.metafields["global"]["product-video"] == blank and pdp_video_url == blank -%}
      <a href="#" id="product-video-trigger" class="pdp-gallery-thumbs-video"></a>
    {%- endunless -%}

  </div>
  {%- endif -%}
{%- endfor -%}
