<div class="pdp-cross-sell">
  <div class="section-heading">
    <h2 class="title">You May Also Like</h2>
  </div>
  <div class="js-container pdp-snap">
  {%- for product in collection.products limit: 3 -%}
    <article class="product" data-bxhover-1551366567137.4377="true">
    <a class="product-link" href="/collections/mens-travel-bags/products/hanover-600d-recycled-poly-navy" data-list-name="Shop All Mens Products" data-product-name="The Hanover - 600D Recycled Poly - Navy" data-product-price="128.00" data-product-type="The Hanover" data-product-sku="850180007142" data-product-position="4">
      <div class="pdp-cross-sell-image">
        {% include 'image',
          src: '//cdn.shopify.com/s/files/1/2185/1497/products/side-hanover-600d-recycled-poly-navy-backpack-lo-and-sons_360x360.jpg?v=1519107128',
          object_fit: 'contain',
          alt: 'Side - The Hanover - 600D Recycled Poly - Navy - Backpack - Lo &amp; Sons' %}
      </div>
      <h4 class="title">Hanover</h4>
      <p class="pdp-cross-sell-product-type">Navy</p>
      <p class="pdp-cross-sell-product-colors">5 colors</p>
    </a>
  </article>
  {%- endfor -%}
  </div>
</div>
