{%- assign stories = '1,2,3' | split: ',' -%}
{%- assign stories_count = stories | size -%}


{%- if(stories) -%}


{%- case stories_count -%}
  {% when 3 %}
  {%- assign article_class = 'col-sm-4' -%}
  {% when 2 %}
  {%- assign article_class = 'col-sm-6' -%}
  {% else %}
  {%- assign article_class = 'col-sm-12' -%}
{%- endcase -%}

<div class="section-heading">
  <h2 class="title">Stories</h2>
</div>

<div class="pdp-stories">

{%- for id in stories -%}

  <article class="{{article_class}}">

    <figure>
      <img src="//cdn.shopify.com/s/files/1/2185/1497/files/home-feature-3-xs.jpg?v=1538701681" />
    </figure>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


  </article>

{%- endfor -%}

</div>
{%- endif -%}


<script>console.log('PDP Stories')</script>