<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Size, Weight, Dimensions</h3>
  
  <div class="pdp-size-fit__carousel" body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-13A.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-51.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-13B.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-13B.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  

  <div class="pdp-size-fit__table">
  
    <table>
      <thead>
        <tr>
        
          <th>Dimensions</th>
        
          <th>Depth</th>
        
          <th>Weight</th>
        
          <th>Handle Drop height</th>
        
          <th>Base Width</th>
        
          <th>Height</th>
        
          <th>Laptop Fit</th>
        
        </tr>
      </thead>

      <tbody>
      
        <tr>
         
          <td>13" Laptop Size</td>
          
          <td>5"</td>
          
          <td>2.6 lbs</td>
          
          <td>11"</td>
          
          <td>18.5"</td>
          
          <td>12.5"</td>
          
          <td>13"</td>
          
        </tr>
      
        <tr>
         
          <td>15" Laptop Size</td>
          
          <td>5"</td>
          
          <td>2.7 lbs</td>
          
          <td>11"</td>
          
          <td>20"</td>
          
          <td>13"</td>
          
          <td>15"</td>
          
        </tr>
      
      </tbody>
    </table>
  
  </div>

</div>


<div class="pdp-modal__section">
  <h3>The Fit</h3>
  
  <h4>5'9"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03A.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03A.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03B.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03B.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03C.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03C.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03D.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03D.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  
  <h4>5'5"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05A.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05A.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05B.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05B.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05C.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05C.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05D.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05D.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  
  <h4>5'2"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07A.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07A.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07B.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07B.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07C.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07C.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07D.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07D.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  
</div>







