<h2>Size & Fit Guide for {{collection.title}}</h2>

<h3>Weight &amp; Dimensions</h3>

{% assign ctaTitle = 'Catalina Comparison' %}

<div class="max-container">
<div class="hero without-image">
<div class="hero-content black">
<h1 class="title">Catalina Comparison Guide</h1>
<p class="description">This is a guide to help compare the 4 bags in our line of Catalina bags.</p>
</div>
</div>
</div>
<div class="container"><a id="nav-target-1" class="jumptarget page-has-nav"></a>
<div class="section-heading " id="section-heading-1">
<h3 class="title"><span>Features</span></h3>
</div>

<div class="image-panel mb-large ">
<div id="section-2-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Catalina-Comparison-Desktop-features-chart-2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Mobile-features-chart-2.jpg" alt="" /> </picture></div>
</div>
<a id="nav-target-2" class="jumptarget page-has-nav"></a>
<div class="section-heading " id="section-heading-3">
<h3 class="title"><span>The Fit</span></h3>
<p class="description"><span>To help compare the different styles and sizes of our weekender bag, we asked two women of different heights to carry all four bags.</span></p>
</div>
<div class="section-heading ">
<h4 class="title"><span>Francine</span></h4>
<p class="description">Height - 5'10"</p>
</div>

<div class="image-panel mb-default ">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-4">
<ol class="carousel-indicators">
<li data-target="#carousel-4" data-slide-to="0" class="active"></li>
<li data-target="#carousel-4" data-slide-to="1"></li>
<li data-target="#carousel-4" data-slide-to="2"></li>
<li data-target="#carousel-4" data-slide-to="3"></li>
<li data-target="#carousel-4" data-slide-to="4"></li>
</ol>
<div class="carousel-inner">
<div id="section-4-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-Francine-desktop-1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-1.jpg" alt="" /> </picture></div>
<div id="section-4-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-Francine-desktop-2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-2.jpg" alt="" /> </picture></div>
<div id="section-4-item-2" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Francine-desktop-3.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-3.jpg" alt="" /> </picture></div>
<div id="section-4-item-3" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Francine-desktop-4.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-4.jpg" alt="" /> </picture></div>
<div id="section-4-item-4" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Francine-desktop-5.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-5.jpg" alt="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-4" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-4" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>

<div class="section-heading " id="section-heading-5">
<h4 class="title"><span>Eyesmin</span></h4>
<p class="description">Height - 5'4"</p>
</div>

<div class="image-panel mb-large ">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-6">
<ol class="carousel-indicators">
<li data-target="#carousel-6" data-slide-to="0" class="active"></li>
<li data-target="#carousel-6" data-slide-to="1"></li>
<li data-target="#carousel-6" data-slide-to="2"></li>
<li data-target="#carousel-6" data-slide-to="3"></li>
<li data-target="#carousel-6" data-slide-to="4"></li>
</ol>
<div class="carousel-inner">
<div id="section-6-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-1.jpg" alt="" /> </picture></div>
<div id="section-6-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-2.jpg" alt="" /> </picture></div>
<div id="section-6-item-2" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-3.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-3.jpg" alt="" /> </picture></div>
<div id="section-6-item-3" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-4.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-4.jpg" alt="" /> </picture></div>
<div id="section-6-item-4" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-5.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-5.jpg" alt="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-6" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-6" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>
<a id="nav-target-3" class="jumptarget page-has-nav"></a>
<div class="section-heading " id="section-heading-7">
<h3 class="title"><span>Weight &amp; Dimensions</span></h3>
</div>

<div class="image-panel  ">
<div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-8">
<ol class="carousel-indicators">
<li data-target="#carousel-8" data-slide-to="0" class="active"></li>
<li data-target="#carousel-8" data-slide-to="1"></li>
</ol>
<div class="carousel-inner">
<div id="section-8-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new1-Desktop-size-dimensions-1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-mobile-size-dimensions-1.jpg" alt="" /> </picture></div>
<div id="section-8-item-1" class="item"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-7.-Desktop-copy.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-mobile-size-dimensions-2.jpg" alt="" /> </picture></div>
</div>
<a class="left carousel-control" href="#carousel-8" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-8" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
</div>

<div class="image-panel mb-large ">
<div id="section-9-item-0" class="item active"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new1-Desktop-size-dimensions-2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/new1-Mobile-size-dimensions-2.jpg" alt="" /> </picture></div>
</div>
<a id="nav-target-4" class="jumptarget page-has-nav"></a>
<div class="section-heading " id="section-heading-10">
<h3 class="title">Capacity</h3>
</div>

<div class="image-panel half-width-panels ">
<div class="row">
<div class="col-sm-6 ">
<div class="half-width-panel legacy-has-overlay " style="margin-bottom: 30px;">
<div id="section-11-item-0" class="item active"><script>// <![CDATA[
var video1Embed = '<iframe src="//player.vimeo.com/video/170848560?player_id=vimeo-catalina&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalina" class="vimeo"></iframe>';
// ]]></script><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/desktop-c.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mobile-c.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
<div class="flexer">
<p class="noSwipe description"><span>Catalina</span></p>
<a href="#" data-video-id="1" class="video-trigger"><svg viewbox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1-11" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M45,90 C69.8528137,90 90,69.8528137 90,45 C90,20.1471863 69.8528137,0 45,0 C20.1471863,0 0,20.1471863 0,45 C0,69.8528137 20.1471863,90 45,90 Z M35,30 L62,45.5 L35,61 L35,30 Z" id="section-11-item-0-play-icon" fill="#FFFFFF"></path> </g> </svg> </a></div>
</div>
</div>
</div>
</div>
<div class="col-sm-6 ">
<div class="half-width-panel legacy-has-overlay" style="margin-bottom: 30px;">
<div id="section-11-item-1" class="item"><script>// <![CDATA[
var video2Embed = '<iframe src="//player.vimeo.com/video/170848014?player_id=vimeo-catalinadeluxelarge&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
// ]]></script><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/desktop-L.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mobile-L.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
<div class="flexer">
<p class="noSwipe description"><span>Catalina Deluxe Large</span></p>
<a href="#" data-video-id="2" class="video-trigger"><svg viewbox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1-11" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M45,90 C69.8528137,90 90,69.8528137 90,45 C90,20.1471863 69.8528137,0 45,0 C20.1471863,0 0,20.1471863 0,45 C0,69.8528137 20.1471863,90 45,90 Z M35,30 L62,45.5 L35,61 L35,30 Z" id="section-11-item-1-play-icon" fill="#FFFFFF"></path> </g> </svg> </a></div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="image-panel half-width-panels mb-large">
<div class="row">
<div class="col-sm-6 ">
<div class="half-width-panel legacy-has-overlay" style="margin-bottom: 30px;">
<div id="section-12-item-0" class="item active"><script>// <![CDATA[
var video3Embed = '<iframe src="//player.vimeo.com/video/170848377?player_id=vimeo-catalinadeluxelarge&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
// ]]></script><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/desktop-s.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mobile-s.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
<div class="flexer">
<p class="noSwipe description"><span>Catalina Deluxe Small</span></p>
<a href="#" data-video-id="3" class="video-trigger"><svg viewbox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1-12" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M45,90 C69.8528137,90 90,69.8528137 90,45 C90,20.1471863 69.8528137,0 45,0 C20.1471863,0 0,20.1471863 0,45 C0,69.8528137 20.1471863,90 45,90 Z M35,30 L62,45.5 L35,61 L35,30 Z" id="section-12-item-0-play-icon" fill="#FFFFFF"></path> </g> </svg> </a></div>
</div>
</div>
</div>
</div>
<div class="col-sm-6 ">
<div class="half-width-panel legacy-has-overlay">
<div id="section-12-item-1" class="item"><script>// <![CDATA[
var video4Embed = '<iframe src="//player.vimeo.com/video/226210203?player_id=vimeo-catalinadeluxetote&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxetote" class="vimeo"></iframe>';
// ]]></script><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/desktop-t.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/mobile-t.jpg" alt="" /> </picture>
<div class="image-panel-content h-aligned-center v-aligned-m-center v-aligned-d-center">
<div class="flexer">
<p class="noSwipe description"><span>Catalina Deluxe Tote</span></p>
<a href="#" data-video-id="4" class="video-trigger"><svg viewbox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1-12" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M45,90 C69.8528137,90 90,69.8528137 90,45 C90,20.1471863 69.8528137,0 45,0 C20.1471863,0 0,20.1471863 0,45 C0,69.8528137 20.1471863,90 45,90 Z M35,30 L62,45.5 L35,61 L35,30 Z" id="section-12-item-1-play-icon" fill="#FFFFFF"></path> </g> </svg> </a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<a id="nav-target-5" class="jumptarget page-has-nav"></a>
<div class="section-heading " id="section-heading-13">
<h3 class="title"><span>Materials</span></h3>
</div>
</div>
<div class="max-container">
<div class="has-overlay-xs topic-block fw-xs"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/D-swatch2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/M-swatch-2.jpg" alt="" /> </picture>
<div class="topic-content black" style="padding: 30px 60px;">
<h3 class="title">Pre-washed Canvas</h3>
<p class="description">We use a high-quality, lightweight, yet strong pre-washed canvas. Despite being a softer and less structured canvas than the typical heavy canvas, it can handle a heavyweight load (even though we always encourage packing light).</p>
</div>
</div>
<div class="has-overlay-xs topic-block fw-xs"><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-D-swatch.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/1-M-swatch.jpg" alt="" /> </picture>
<div class="topic-content black" style="padding: 30px 60px;">
<h3 class="title">Organic Cotton Canvas</h3>
<p class="description">The material is so natural that you can actually see bits of the seeds on the surface!</p>
<div class="btn-set" style="margin-left: auto;">
<p class="noSwipe"><a class="btn btn-secondary" href="/pages/featured-material-organic-cotton-canvas">Learn more</a></p>
</div>
</div>
</div>
</div>
<div class="container"><a id="nav-target-6" class="jumptarget page-has-nav"></a>
<div class="section-heading " id="section-heading-16">
<h3 class="title"><span>FAQ</span></h3>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<dl class="faqs">
<dt>How do the “Deluxe” bags differ from the classic Catalina style?</dt>
<dd>
<p><strong>The features</strong>: The <a href="/pages/catalina-deluxe-womens-weekender-travel-bag"><span style="text-decoration: underline;">Catalina Deluxe weekenders</span></a> (both small &amp; large) include a bottom pocket padded insert, a suitcase handle sleeve, and messenger strap. The<span style="text-decoration: underline;"> <a href="/products/catalina-deluxe-tote-washed-canvas-dove-grey">Catalina Deluxe Tote</a></span> includes all features, as well as an interior key leash and an adjustable bottom pocket. The classic <span style="text-decoration: underline;"><a href="/products/catalina-washed-canvas-dove-grey">Catalina</a></span> does not include these features.</p>
<p><strong>The colorways</strong>: The classic <a href="/products/catalina-washed-canvas-dove-grey"><span style="text-decoration: underline;">Catalina</span></a> is available in all colorways, plus additional colorblock options.</p>
</dd>
<dt>So which Catalina bags have a bottom pocket padded tray?</dt>
<dd>
<p>The <span style="text-decoration: underline;"><a href="/products/catalina-deluxe-washed-canvas-midnight-ash">Catalina Deluxe Large</a></span>, the <span style="text-decoration: underline;"><a href="/products/catalina-washed-canvas-dove-grey-deluxe-small">Catalina Deluxe Small</a>,</span> and the <span style="text-decoration: underline;"><a href="/products/catalina-deluxe-tote-washed-canvas-dove-grey">Catalina Deluxe Tote</a></span>.</p>
</dd>
<dt>And which Catalina bags have the messenger strap and luggage sleeve?</dt>
<dd>
<p>The <a href="/products/catalina-deluxe-washed-canvas-midnight-ash"><span style="text-decoration: underline;">Catalina Deluxe Large</span></a>, the <a href="/products/catalina-washed-canvas-dove-grey-deluxe-small"><span style="text-decoration: underline;">Catalina Deluxe Small</span></a>, and the <a href="/products/catalina-deluxe-tote-washed-canvas-dove-grey"><span style="text-decoration: underline;">Catalina Deluxe Tote</span></a>.</p>
</dd>
<dt>And is the key leash a feature on all the Catalinas as well?</dt>
<dd>
<p>No. The key leash is an exclusive feature for the <a href="/products/catalina-deluxe-tote-washed-canvas-dove-grey"><span style="text-decoration: underline;">Catalina Deluxe Tote</span></a>. This also goes for the adjustable bottom pocket!</p>
</dd>
<dt>How do I clean / care for the material?</dt>
<dd>
<p>The Catalina bags are made from soft but sturdy pre-washed cotton canvas material. If needed, we recommend spot cleaning the bag with water or a mild soap, and then allow to air dry. However, test a small area of the bag with the mild soap first before applying all over to avoid any possible damage. Some customers have machine washed the bag on the “delicate” or “hand washing” cycle with cold water and mild detergent, then laid flat to air or line dry. This method may cause minor discoloration for some colorways. We DO NOT recommend taking the bag to the dry cleaners.</p>
</dd>
<dt>Does the Catalina Collection meet airline size requirements for carry-on bags?</dt>
<dd>
<p>In general, yes. It is always a good idea to confirm carry-on requirements with your airline beforehand. For most airlines: The <a href="/products/catalina-washed-canvas-dove-grey"><span style="text-decoration: underline;">Catalina</span></a> weekender can be placed in the overhead compartment of most aircrafts. The <span style="text-decoration: underline;"><a href="/products/catalina-deluxe-washed-canvas-midnight-ash">Catalina Deluxe Large</a></span> weekender can be placed in the overhead compartment of most aircrafts and is comparable in capacity to the Catalina. The <span style="text-decoration: underline;"><a href="/products/catalina-washed-canvas-dove-grey-deluxe-small">Catalina Deluxe Small</a> </span>weekender can be placed in the overhead compartment of most aircrafts and may fit underneath the airline seat when not fully packed. The <span style="text-decoration: underline;"><a href="/products/catalina-deluxe-tote-washed-canvas-dove-grey">Catalina Deluxe Tote</a></span> should fit underneath the airline seat of most aircrafts, and should comply with the dimension requirements of most aircrafts. Keep in mind, due to the nature and material of the Catalinas, fit will vary based on how much is packed.</p>
</dd>
</dl>
</div>
</div>
</div>

<div class="section-heading " id="section-heading-18">
<h3 class="title">Shop The Collection</h3>
</div>
<div class="row fw-xs cta-block">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
  <a class="btn-gtm-trk" data-gtm-a="7" href="/pages/catalina-weekender-womens-travel-bag">
    <picture class="legacy-cta-image-fix"> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-cta-md.jpg?1312692621756025204" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-cta-xs.jpg?1312692621756025204" alt="Shop Catalina" /> </picture>
  </a>
</div>
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
<div class="topic-content">
<h3 class="title">Catalina</h3>
<p class="description">$120 - $130</p>
<div class="btn-set"><a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="/pages/catalina-weekender-womens-travel-bag">Learn more</a><a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/catalina-washed-canvas-dove-grey">Buy now</a></div>
</div>
</div>
</div>
<div class="row fw-xs cta-block">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
  <a class="btn-gtm-trk" data-gtm-a="7" href="/pages/catalina-deluxe-womens-weekender-travel-bag">
    <picture class="legacy-cta-image-fix larger"> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-cta-md.jpg?18132754112649490934" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-cta-xs.jpg?18132754112649490934" alt="Shop Catalina Deluxe" /> </picture>
  </a>
</div>
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
<div class="topic-content">
<h3 class="title">Catalina Deluxe</h3>
<p class="description">$128 - $158</p>
<div class="btn-set"><a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="/pages/catalina-deluxe-womens-weekender-travel-bag">Learn more</a><a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/catalina-deluxe-washed-canvas-midnight-ash">Buy now</a></div>
</div>
</div>
</div>
<div class="row fw-xs cta-block">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
  <a class="btn-gtm-trk" data-gtm-a="7" href="/pages/catalina-deluxe-tote-womens-travel-bag">
    <picture class="legacy-cta-image-fix"> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-tote-cta-md.jpg?10032446425132256139" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-tote-cta-xs.jpg?10032446425132256139" alt="Shop Catalina Deluxe Tote" /> </picture>
  </a>
</div>
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
<div class="topic-content">
<h3 class="title">Catalina Deluxe Tote</h3>
<p class="description">$118 - $128</p>
<div class="btn-set"><a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="/pages/catalina-deluxe-tote-womens-travel-bag">Learn more</a><a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/catalina-deluxe-tote-washed-canvas-dove-grey">Buy now</a></div>
</div>
</div>
</div>
</div>
<div id="product-video">
<div id="product-video-container"></div>
