
{%- assign video = '' -%}

{%- if(video) -%}

<div class="pdp__separator">

  <div class="pdp__section-heading">
    <h2 class="title">See How To Pack It</h2>
  </div>

  <div class="pdp-see-how-to-pack-it">

    <div class="pdp-see-how-to-pack-it-video">
      {% comment %}
      <a href="#" class="pdp-see-how-to-pack-it-video-trigger"><svg viewBox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1-12" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M45,90 C69.8528137,90 90,69.8528137 90,45 C90,20.1471863 69.8528137,0 45,0 C20.1471863,0 0,20.1471863 0,45 C0,69.8528137 20.1471863,90 45,90 Z M35,30 L62,45.5 L35,61 L35,30 Z" id="section-12-item-1-play-icon" fill="#FFFFFF"></path> </g> </svg> </a>
      {% endcomment %}
      <video _ngcontent-c18="" playsinline="" muted="" loop="" src="https://app.coverr.co/s3/mp4/Tel-Aviv-Beach.mp4" poster="https://storage.googleapis.com/coverr-public/poster/Tel-Aviv-Beach.jpg" class="ng-star-inserted" style=""></video>
    </div>
  </div>

</div>
{%- endif -%}

{%- assign video = nil -%}
