{%- comment -%}
### ------------
### 0. Mobile Video Thumbnail
### ------------
{%- endcomment -%}
{%- assign pdp_mobile_video_thumb = "Hanover_Deluxe.jpg" -%}
{%- assign pdp_video_url = "https://vimeo.com/241598769" -%}

{%- comment -%}
### ------------
### 1. Instagram
### ------------
{%- endcomment -%}

{%- capture pdp_instagram_data -%}
<div class="yotpo yotpo-pictures-widget" data-gallery-id="5c83d505eecffe00073d4229"></div>
{%- endcapture -%}


{%- comment -%}
### -----------
### 2. Carousel
### -----------
### line 1: carousel title (or "-" if none)
### line 2: carousel subtitle
### line 3: carousel text
### line 4+N: slide text|slide image
### -----------
{%- endcomment -%}

{%- capture pdp_callout_galleries_data_1 -%}
Work to Weekend
Travel Effortlessly
Thoughtfully designed with features that make traveling as easy and stress-free as possible.
Suitcase Handle Sleeve|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-1_Suitcase-Handle-Sleeve_Hanover_Deluxe.jpg?18400490821863958846
Removable Insert|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-1_Removeable-Insert_Hanover_Deluxe.jpg?18400490821863958846
Ultra Comfortable|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-1_Ultra-Comfortable_Hanover_Deluxe.jpg?18400490821863958846
Airline Seat Friendly|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-1_Airline-Seat-Friendly_Hanover_Deluxe.jpg?18400490821863958846
{%- endcapture -%}

{%- capture pdp_callout_galleries_data_2 -%}
-
Thoughtfully Organized
The Hanover comes packed with tons of features to help you stay put together on the road.
Interior Pockets|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-2_Interior-Pockets_Hanover_Deluxe.jpg?18400490821863958846
Laptop Storage|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-2_Laptop-Storage_Hanover_Deluxe.jpg?18400490821863958846
Exterior Slip Pockets|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-2_Exterior-Slip-Pockets_Hanover_Deluxe.jpg?18400490821863958846
Key Leash|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-2_Key-Leash_Hanover_Deluxe.jpg?18400490821863958846
Front Pocket|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-2_Front-Pocket_Hanover_Deluxe.jpg?18400490821863958846
{%- endcapture -%}

{%- capture pdp_callout_galleries_data_3 -%}
-
Take It Anywhere
The Hanover Deluxe’s minimalist and understated design makes it perfect for taking on any kind of trip.
Work|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-3_Take-It-Anywhere-Work_Hanover_Deluxe.jpg?18400490821863958846
Leisure|https://cdn.shopify.com/s/files/1/2185/1497/files/Slider-3_Take-It-Anywhere-Leisure_Hanover_Deluxe.jpg?18400490821863958846
{%- endcapture -%}

{%- assign pdp_callout_galleries_data_1 = pdp_callout_galleries_data_1 | newline_to_br | split: '<br />' -%}
{%- assign pdp_callout_galleries_data_2 = pdp_callout_galleries_data_2 | newline_to_br | split: '<br />' -%}
{%- assign pdp_callout_galleries_data_3 = pdp_callout_galleries_data_3 | newline_to_br | split: '<br />' -%}



{%- comment -%}
### -------------------
### 3. Video
### -------------------
### line N: title|video
### -------------------
{%- endcomment -%}

{%- capture pdp_video_data -%}
What Fits Inside|https://player.vimeo.com/external/241599208.hd.mp4?s=cbeb340a99b864ebdf62f469a661586034ac2e88&profile_id=175
{%- endcapture -%}
{%- assign pdp_video_data = pdp_video_data | trim -%}


{%- comment -%}
### ----------------
### 4. Fabric Module
### ----------------
### line 1: Main title
### line 2+N: Tile title|tile subtitle|tile image
### ----------------
{%- endcomment -%}

{%- capture pdp_material_data -%}
High-Quality Materials
Sustainable|The exterior is constructed from a high density polyester made from recycled plastic bottles.|https://cdn.shopify.com/s/files/1/2185/1497/files/Fabric-1_Sustainable_Hanover_Deluxe.jpg?18400490821863958846
Water-Resistant|This 600D recycled poly is built to withstand the elements or just accidental spills.|https://cdn.shopify.com/s/files/1/2185/1497/files/Fabric-2_Water-Resistant_Hanover_Deluxe.jpg?18400490821863958846
{%- endcapture -%}
{%- assign pdp_material_data = pdp_material_data | newline_to_br | split: '<br />' -%}


{%- comment -%}
### --------------------
### 5. Corporate Reviews
### --------------------
### line 1: title
### line 1+N: review|image
### --------------------
{%- endcomment -%}

{%- capture pdp_testimonials_data -%}
{%- endcapture -%}
{%- assign pdp_testimonials_data = pdp_testimonials_data | newline_to_br | split: '<br />' -%}


{%- comment -%}
### ----------
### 6. Stories
### ----------
### handle 1, handle 2,... handle N
### ----------
{%- endcomment -%}

{%- capture pdp_stories_data -%}
{%- endcapture -%}
{%- assign pdp_stories_data = pdp_stories_data | split: ',' -%}

{%- comment -%}
### ----------
### 7. Related Products
### ----------
### line N: handle N
### ----------
{%- endcomment -%}

{%- capture pdp_cross_sell_data -%}
hanover-600d-recycled-poly-onyx
hanover-600d-recycled-poly-navy
hanover-600d-recycled-poly-navy-camo
{%- endcapture -%}
{%- assign pdp_cross_sell_data = pdp_cross_sell_data | newline_to_br | split: '<br />' -%}
