<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Size, Weight, Dimensions</h3>
  
  <div class="pdp-size-fit__carousel" body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/H3-specs-desktop.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H3-specs-mobile.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  

  <div class="pdp-size-fit__table">
  
  </div>

</div>


<div class="pdp-modal__section">
  <h3>The Fit</h3>
  
  <h4>5'7"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Becky-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Becky-1.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Becky-2.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Becky-2.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Becky-3.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Becky-3.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Becky-4.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Becky-4.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Becky-5.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Becky-5.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  
  <h4>5'3"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Maeve-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Maeve-mobile-1.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Maeve-2.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Maeve-mobile-2.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Maeve-3.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Maeve-mobile-3.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Maeve-4.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Maeve-mobile-4.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Maeve-5.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/H-Maeve-mobile-5.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  
  <h4>6'2"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-desktop-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-mobile-1.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-desktop-2.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-mobile-2.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-desktop-3.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-mobile-3.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-desktop-4.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-mobile-4.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-desktop-5.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Nicolas-mobile-5.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  
  <h4>5'8"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-desktop-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-mobile-1.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-desktop-2.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-mobile-2.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-desktop-3.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-mobile-3.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-desktop-4.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-mobile-4.jpg" alt="" />
      </picture>
    </div>
    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-desktop-5.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/2-HC-Viktor-mobile-5.jpg" alt="" />
      </picture>
    </div>
    
  </div>
  
</div>







