{% unless alternate %}
<div class="section-heading">
  <h2 class="title">Designed for life on the road with thoughtful features and a place for all your essentials.</h2>
</div>
{%- endunless -%}

<div class="pdp-callout-galleries{% if alternate %} pdp-callout-galleries-alternate{% endif %}">


  <div class="pdp-product-features-text">

    <h4>Ready for Travel </h4>
    <p>Featuring a pass through messenger sleeve to slide over your suitcase handle for seamless travel and a padded messenger strap for extra comfort. In addition, the Catalina Deluxe qualifies as a carry on item and fits in airline compartments and under the seat when not fully packed.</p>

  </div>

  <div class="pdp-product-features-carousel">


    <div class="pdp-product-features-carousel-main">


      <div class="pdp-product-features-carousel-main-slide">
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/amalfi-coast-beach.jpeg">
        <span>Pass through sleeve</span>
      </div>

      <div class="pdp-product-features-carousel-main-slide">
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/amalfi-coast-street.jpeg">
        <span>Messenger strap</span>
      </div>

      <div class="pdp-product-features-carousel-main-slide">
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/amalfi-coast-terrace.jpeg">
        <span>Carry on friend</span>
      </div>

      <div class="pdp-product-features-carousel-main-slide">
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/amalfi-coast-beach.jpeg">
        <span>Pass through sleeve</span>
      </div>

    </div>

    <div class="pdp-product-features-carousel-nav">

      <span>Pass through sleeve</span>
      <span>Messenger strap</span>
      <span>Carry on friend</span>
      <span>Pass through sleeve</span>

    </div>

  </div>



</div>
