<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Weight, Weight, Dimensions</h3>
  <div class="pdp-size-fit__carousel" body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>

    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new1-Desktop-size-dimensions-1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-mobile-size-dimensions-1.jpg" alt="" /> </picture></div>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-7.-Desktop-copy.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-mobile-size-dimensions-2.jpg" alt="" /> </picture></div>

  </div>

  <div class="pdp-size-fit__table">
    <table>
      <thead>
        <tr>
          <th>Dimensions</th>
          <th>Top Width</th>
          <th>Bottom Width</th>
          <th>Depth</th>
          <th>Height</th>
          <th>Handle Drop Length</th>
          <th>Washed Canvas</th>
          <th>Organic Canvas</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Catalina</td>
          <td>24"</td>
          <td>18"</td>
          <td>8.5"</td>
          <td>16"</td>
          <td>11"</td>
          <td>1.9lbs</td>
          <td>1.9lbs</td>
        </tr>

        <tr>
          <td>Catalina Deluxe Large</td>
          <td>24"</td>
          <td>18"</td>
          <td>8.5"</td>
          <td>16"</td>
          <td>11"</td>
          <td>1.9lbs</td>
          <td>1.9lbs</td>
        </tr>

        <tr>
          <td>Catalina Deluxe Small</td>
          <td>24"</td>
          <td>18"</td>
          <td>8.5"</td>
          <td>16"</td>
          <td>11"</td>
          <td>1.9lbs</td>
          <td>1.9lbs</td>
        </tr>

        <tr>
          <td>Catalina Deluxe Tote</td>
          <td>24"</td>
          <td>18"</td>
          <td>8.5"</td>
          <td>16"</td>
          <td>11"</td>
          <td>1.9lbs</td>
          <td>1.9lbs</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="pdp-modal__section">
  <h3>The Fit</h3>

  <h4>Height - 5'10"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-Francine-desktop-1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-1.jpg" alt="" /> </picture></div>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-Francine-desktop-2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-2.jpg" alt="" /> </picture></div>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Francine-desktop-3.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-3.jpg" alt="" /> </picture></div>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Francine-desktop-4.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-4.jpg" alt="" /> </picture></div>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Francine-desktop-5.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Francine-mobile-5.jpg" alt="" /> </picture></div>
  </div>

  <h4>Height - 5'4"</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-1.jpg" alt="" /> </picture></div>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-2.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-2.jpg" alt="" /> </picture></div>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-3.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-3.jpg" alt="" /> </picture></div>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-4.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-4.jpg" alt="" /> </picture></div>
    <div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new-Eyesmin-desktop-5.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc6-Eyesmin-mobile-5.jpg" alt="" /> </picture></div>
  </div>

</div>

<div class="pdp-modal__section pdp-modal__section-airline">

  <h3>Airline Carry-On</h3>

  <div class="pdp-modal__section-two-column">

    <div>

      <figure><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 325 310" enable-background="new 0 0 325 310" xml:space="preserve">
<path fill="#646464" d="M136.2,300.7h48.2c11,0,13.8-9.1,13.8-14v-34.6h12v-14c0-11-9.1-14-13.8-14H138v-10.3
  c0-5.1,3.2-10.3,10.2-10.3h45.1v-3.6h-55.7l-11.7-59.4v-37.8H98.3V141l12,111.1h12v34.6C122.3,297.7,131.4,300.7,136.2,300.7z
   M138,227.8h58.4c5.1,0,10.2,3.2,10.2,10.3v10.3H138V227.8z M194.6,252.1v34.6c0,5.1-3.2,10.3-10.2,10.3h-48.2
  c-5.1,0-10.2-3.2-10.2-10.3v-34.6H194.6z M109.4,209l-7.5-67.9l0-34.7h20.5v34.3l11.6,59.2h-9.8c-3,0-7.2,1.2-10.3,4.4L109.4,209z
   M113.9,248.5v-34.6c0-7.5,5.5-10.2,10.2-10.3h13.5l-1.9,4.3c-0.9,2-1.4,4.2-1.4,6.1v34.6H113.9z"/>
<path fill="#00AEEF" d="M269.7,278H224l4.7-4.7c0.3-0.3,0.3-0.8,0-1.1s-0.8-0.3-1.1,0l-6,6c-0.3,0.3-0.3,0.8,0,1.1l6,6
  c0.1,0.1,0.3,0.2,0.5,0.2s0.4-0.1,0.5-0.2c0.3-0.3,0.3-0.8,0-1.1l-4.7-4.7h45.7c0.4,0,0.8-0.3,0.8-0.8S270.1,278,269.7,278z"/>
</svg>
</figure>

      <h5>Airline Seat</h5>

      <h6>Catalina Deluxe Small </h6>
      <p>Can be placed in the overhead compartment of most aircrafts and may fit underneath the airline seat when not fully packed.</p>

      <h6>Catalina Deluxe Tote </h6>
      <p>Should fit underneath the airline seat of most aircrafts, and should comply with the dimension requirements of most aircrafts.</p>
    </div>

    <div>

      <figure><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 325 310" enable-background="new 0 0 325 310" xml:space="preserve">
<g>
  <path fill="#CBCBCB" d="M141.8,301.6h48.2c11,0,13.8-9.1,13.8-14V253h12v-14c0-11-9.1-14-13.8-14h-58.4v-10.3
    c0-5.1,3.2-10.3,10.2-10.3h45.1v-3.6h-55.7l-11.7-59.4v-37.8h-27.7v38.2l12,111.1h12v34.6C127.9,298.6,137,301.6,141.8,301.6z
     M143.6,228.7H202c5.1,0,10.2,3.2,10.2,10.3v10.3h-68.6V228.7z M200.2,253v34.6c0,5.1-3.2,10.3-10.2,10.3h-48.2
    c-5.1,0-10.2-3.2-10.2-10.3V253H200.2z M115,209.9l-7.5-67.9l0-34.7h20.5v34.3l11.6,59.2h-9.8c-3,0-7.2,1.2-10.3,4.4L115,209.9z
     M119.5,249.4v-34.6c0-7.5,5.5-10.2,10.2-10.3h13.5l-1.9,4.3c-0.9,2-1.4,4.2-1.4,6.1v34.6H119.5z"/>
  <path fill="#00AEEF" d="M168.4,89.1l-6-6c-0.3-0.3-0.8-0.3-1.1,0l-6,6c-0.3,0.3-0.3,0.8,0,1.1s0.8,0.3,1.1,0l4.7-4.7v46.2
    c0,0.4,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8V85.4l4.7,4.7c0.1,0.1,0.3,0.2,0.5,0.2s0.4-0.1,0.5-0.2C168.6,89.9,168.6,89.4,168.4,89.1z"
    />
  <path fill="#D8D8D8" d="M229.7,1.7c-1.5,0-3,0.2-4.4,0.6V1.6h-47.6h-59.7H19.8C9.6,1.6,1.3,9.9,1.3,20.1v39.1h98.2h78.2h32.4v0.2
    h113.6V1.7H229.7z"/>
  <rect x="26.3" y="51.8" fill="#FFFFFF" width="50.4" height="7.4"/>
  <rect x="129.6" y="51.8" fill="#FFFFFF" width="50.5" height="7.4"/>
  <rect x="241.3" y="51.7" fill="#FFFFFF" width="50.3" height="7.6"/>
  <path fill="#646464" d="M325.2,0h-95.5c-1,0-1.9,0.1-2.9,0.2v0h-47.6h-61.2H19.8c-11,0-20,9-20,20v40.6h98.2h81.2h47.6v0h13v0h53.3
    v0h32.1V0z M27.8,57.6v-4.4h47.4v4.4H27.8z M98.1,57.8H78.2v-7.5H24.8v7.5h-22V20.2c0-9.4,7.6-17,17-17h87.7
    c-5.7,3.5-9.5,9.8-9.5,17V57.8z M178.6,57.7h-47.5v-4.4h47.5V57.7z M208.6,57.8h-27v-7.5h-53.5v7.5h-27V20.2c0-9.4,7.6-17,17-17
    h101c-6.2,4-10.4,11.5-10.4,19.9V57.8z M290.1,57.7h-47.3v-4.5h47.3V57.7z M322.2,57.7h-29.1v-7.5h-53.3v7.5h-28.2V23.1
    c0-8.8,5.1-16.3,12.2-19c1.3-0.5,2.1-0.7,3-0.8s1.9-0.3,2.9-0.3h92.5V57.7z"/>
</g>
</svg>
</figure>

      <h5>Airline Overhead Compartment</h5>

      <h6>Catalina </h6>
      <p>Can be placed in the overhead compartment of most aircrafts.</p>

        <h6>Catalina Deluxe Large </h6>
      <p>Can be placed in the overhead compartment of most aircrafts and is comparable in capacity to the Catalina.</p>
    </div>

  </div>

</div>
