<h2>Size & Fit Guide for {{collection.title}}</h2>

<h3>Weight &amp; Dimensions</h3>

<div class="image-panel  ">
    <div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-8">
        <ol class="carousel-indicators">
            <li data-target="#carousel-8" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-8" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div id="section-8-item-0" class="item active">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/new1-Desktop-size-dimensions-1.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-mobile-size-dimensions-1.jpg" alt="" /> </picture>
            </div>
            <div id="section-8-item-1" class="item">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/2-7.-Desktop-copy.jpg" media="(min-width: 768px)" /> <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/cc-new2-mobile-size-dimensions-2.jpg" alt="" /> </picture>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-8" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
        <a class="right carousel-control" href="#carousel-8" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
    </div>
</div>