
{%- assign video = '' -%}


{%- if(video) -%}



<div class="section-heading">
  <h2 class="title">See How To Pack It</h2>
</div>

<div class="pdp-see-how-to-pack-it">
  <video _ngcontent-c18="" playsinline="" autoplay="" muted="" loop="" src="https://app.coverr.co/s3/mp4/Tel-Aviv-Beach.mp4" poster="https://storage.googleapis.com/coverr-public/poster/Tel-Aviv-Beach.jpg" class="ng-star-inserted" style=""></video>
</div>
{%- endif -%}
