{%- capture inc -%}pdp-{{ id }}-modal{%- endcapture -%}
<div class="pdp-modal" id="pdp-modal-{{ id }}">

  <a href="#" class="panel-close"><span class="sr-only">close</span></a>

  <div class="pdp-modal-content">

      <div>

      {%- include inc, collection: collection -%}

      </div>

  </div>
</div>
