<div class="col-sm-6">
    <div class="press-item">
        <img src="{{ block.settings.logo | img_url: 'master' }}" alt="{{ block.settings.altText }} logo" />
        <p>&ldquo;{{ block.settings.content }}&rdquo;</p>
    </div>
</div>