<div class="container animate" {{ animateZoomIn }}>
  <div class="block">
    <div class="text-center">
      {% include 'picture', name: img, alt: alt, retina: true, fw: false, lg: true %}
    </div>
  </div>
</div>