{%- unless parentCollection.metafields["global"][detailKey] == blank -%}
<div class="product-detail-panel">
	<h2 data-collapse-toggle class="panel-toggle collapsed">{{ detailTitle }}</h2>
	<div data-collapse-panel class="panel-content">
		<div class="default-content{% if product.metafields["global"][detailKey] != blank %} hide{% endif%}">
			{{ parentCollection.metafields["global"][detailKey] }}
		</div>
		{% for siblingProduct in parentCollection.products %}
			{% if siblingsList contains siblingProduct.id and siblingProduct.metafields["global"][detailKey] != blank %}
				<div class="sibling-content{% unless product.metafields["global"][detailKey] != blank and siblingProduct.id == product.id %} hide{% endunless %}" data-sibling="{{ siblingProduct.id }}">
					{{ siblingProduct.metafields["global"][detailKey] }}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{%- endunless -%}