<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="section-heading">
				<h2 class="title">{{ block.settings.title }}</h2>
				{% unless block.settings.description == blank %}
				<p class="description">{{ block.settings.description }}</p>
				{% endunless %}
			</div>
		</div>
	</div>
</div>