<div class="max-container animate" {{ animateFadeInUp }}>
  <div class="section-hero">
    {% include 'picture', name: img, alt: alt, fw: false %}
    <div class="content">
      <{{tag | default: 'h2'}} class="title">{{ title }}</{{tag | default: 'h2'}}>
    </div>
  </div>
</div>