<div class="product-family container animate" {{ animateFadeInUp }}>
  <div class="section-heading">
    {% if title == blank %}
    <h2 class="title">Shop the Collection</h2>
    {% else %}
    <h2 class="title">{{ title }}</h2>
    {% endif %}
  </div>
  <div class="product-row-wrap">
    <div class="product-row">
      {% for product in collections[handle].products %}
      <div class="item">
        {% include 'product-item' with product %} 
      </div>
      {% endfor %}
    </div>
  </div> 
</div>