{% include 'discover-section-heading', title: 'Size & Fit Guide', withAnimations: false %}

<h3 class="table-label">Size, Weight, Dimensions</h3>
<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Bottom Width</th>
        <th>Top Width</th>
        <th>Depth</th>
        <th>Height</th>
        <th>Handle Drop Length</th>
        <th>Weight (600D Recycled Poly)</th>
        <th>Weight (Waxed Twill)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>20"</td>
        <td>28.5"</td>
        <td>10"</td>
        <td>16"</td>
        <td>11"</td>
        <td>3.4 lbs</td>
        <td>4.2 lbs</td>
      </tr>
    </tbody>
  </table>
</div>