{% include 'discover-section-heading', title: 'Size & Fit Guide', withAnimations: false %}

<h3 class="table-label">Size, Weight, Dimensions</h3>
<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Width</th>
        <th>Depth</th>
        <th>Height</th>
        <th>Padded Strap Length</th>
        <th>Stash Pocket Depth</th>
        <th>Front Zipper Pocket Height</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11.5"</td>
        <td>6.75"</td>
        <td>16.5"</td>
        <td>14"</td>
        <td>7"</td>
        <td>9"</td>
        <td>3 lbs</td>
      </tr>
    </tbody>
  </table>
</div>