{% include 'discover-section-heading', title: 'Size & Fit Guide', withAnimations: false %}

<h3 class="table-label">Size, Weight, Dimensions</h3>
<div class="size-fit-slider">
  <div class="slides">
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-13A.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-51.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-13B.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-13B.jpg" alt="" />
      </picture>
    </div>
  </div>
</div>

<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Dimensions</th>
        <th>Depth</th>
        <th>Weight</th>
        <th>Handle Drop height</th>
        <th>Base Width</th>
        <th>Height</th>
        <th>Laptop Fit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>13" Laptop Size</td>
        <td>5"</td>
        <td>2.6 lbs</td>
        <td>11"</td>
        <td>18.5"</td>
        <td>12.5"</td>
        <td>13"</td>
      </tr>
      <tr>
        <td>15" Laptop Size</td>
        <td>5"</td>
        <td>2.7 lbs</td>
        <td>11"</td>
        <td>20"</td>
        <td>13"</td>
        <td>15"</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="table-label">The Fit</h3>
<div class="size-fit-slider">
  <h4>5'9"</h4>
  <div class="slides">
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03A.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03A.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03B.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03B.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03C.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03C.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-03D.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-03D.jpg" alt="" />
      </picture>
    </div>
  </div>
</div>

<div class="size-fit-slider">  
  <h4>5'5"</h4>
  <div class="slides">
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05A.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05A.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05B.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05B.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05C.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05C.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-05D.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-05D.jpg" alt="" />
      </picture>
    </div>
  </div>
</div>
  
<div class="size-fit-slider">  
  <h4>5'2"</h4>
  <div class="slides">    
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07A.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07A.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07B.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07B.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07C.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07C.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Large-07D.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Seville-SizeComparisonPage-Small-07D.jpg" alt="" />
      </picture>
    </div>
  </div>
</div>







