<div class="container-fw-mobile">
  <div class="section-heading fit-heading">
    <h2>Fit</h2>
    <p class="description">
      We asked real women of different heights to carry the Brookline.
    </p>
  </div>
  <div class="block product-family">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Patricia</h3>
      <h4>Height: 5&rsquo; 1&rdquo;</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'picture', name: 'Brookline_fit_short_angle_01', alt: 'The Brookline Short Fit Guide 1', retina: true, fw: false, lg: true%}
        </div>
        <div class="item">
          {% include 'picture', name: 'Brookline_fit_short_angle_02', alt: 'The Brookline Short Fit Guide 2', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Brookline_fit_short_angle_03', alt: 'The Brookline Short Fit Guide 3', retina: true, fw: false, lg: true %}
        </div>
      </div>
    </div> 
  </div>
  <div class="block product-family">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Kerry</h3>
      <h4>Height: 5&rsquo; 6&rdquo;</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'picture', name: 'Brookline_fit_average_angle_01', alt: 'The Brookline Average Fit Guide 1', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Brookline_fit_average_angle_02', alt: 'The Brookline Average Fit Guide 2', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Brookline_fit_average_angle_03', alt: 'The Brookline Average Fit Guide 3', retina: true, fw: false, lg: true %}
        </div>
      </div>
    </div> 
  </div>
  <div class="block product-family mb-negate">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Bojana</h3>
      <h4>Height: 6&rsquo;</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'picture', name: 'Brookline_fit_tall_angle_01', alt: 'The Brookline Tall Fit Guide 1', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Brookline_fit_tall_angle_02', alt: 'The Brookline Tall Fit Guide 2', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Brookline_fit_tall_angle_03', alt: 'The Brookline Tall Fit Guide 3', retina: true, fw: false, lg: true %}
        </div>
      </div>
    </div> 
  </div>

  <div class="section-divider"></div>

  <div class="section-heading fit-heading">
    <h2>Scale</h2>
    <p class="description">
      See how the Brookline falls on various heights of real women to compare size.
    </p>
  </div>
  <div class="section-heading fit-sub-heading">
    <h3 class="mb-negate">The Brookline</h3>
  </div>
  {% include 'picture', name: 'Brookline_scale', alt: 'The Brookline scale comparison', retina: true, fw: false, lg: true %}

  <div class="section-divider"></div>

  <div class="section-heading fit-heading">
    <h2>Dimensions & Weight</h2>
  </div>

  {% include 'picture', name: 'Brookline_dimensions_weight', alt: 'The Brookline Dimensions and Weight table', retina: true, fw: false, lg: true %}

</div>