<div class="container">
  <div class="section-heading fit-heading">
    <h2>Fit</h2>
    <p class="description">
      To help compare the O.G. 2 Medium and Large, we asked real women of different heights to carry both sizes.
    </p>
  </div>
  <div class="block product-family">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Olivia</h3>
      <h4>Height: 5'1"</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'picture', name: 'OG2_fit_short_angle_01', alt: 'The O.G 2 Short Fit Guide 1', fw: false%}
        </div>
        <div class="item">
          {% include 'picture', name: 'OG2_fit_short_angle_02', alt: 'The O.G 2 Short Fit Guide 2', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'OG2_fit_short_angle_03', alt: 'The O.G 2 Short Fit Guide 3', fw: false %}
        </div>
      </div>
    </div> 
  </div>
  <div class="block product-family">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Lana</h3>
      <h4>Height: 5'5"</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'picture', name: 'OG2_fit_average_angle_01', alt: 'The O.G 2 Average Fit Guide 1', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'OG2_fit_average_angle_02', alt: 'The O.G 2 Average Fit Guide 2', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'OG2_fit_average_angle_03', alt: 'The O.G 2 Average Fit Guide 3', fw: false %}
        </div>
      </div>
    </div> 
  </div>
  <div class="block product-family mb-negate">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Amanda</h3>
      <h4>Height: 5'9"</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'picture', name: 'OG2_fit_tall_angle_01', alt: 'The O.G 2 Tall Fit Guide 1', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'OG2_fit_tall_angle_02', alt: 'The O.G 2 Tall Fit Guide 2', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'OG2_fit_tall_angle_03', alt: 'The O.G 2 Tall Fit Guide 3', fw: false %}
        </div>
      </div>
    </div> 
  </div>

  <div class="section-divider"></div>

  <div class="section-heading fit-heading">
    <h2>Scale</h2>
    <p class="description">
      See how the same bag falls on various heights of real women to compare size.
    </p>
  </div>
  <div class="section-heading fit-sub-heading">
    <h3 class="mb-negate">The O.G. 2 Medium</h3>
  </div>
  {% include 'picture', name: 'OG2_medium_scale', alt: 'The O.G. 2 Medium scale comparison', fw: false,  extraClasses: 'mb-fit' %}
  <div class="section-heading fit-sub-heading">
    <h3 class="mb-negate">The O.G. 2 Large</h3>
  </div>
  {% include 'picture', name: 'OG2_large_scale', alt: 'The O.G. 2 Large scale comparison', fw: false %}

  <div class="section-divider"></div>

  <div class="section-heading fit-heading">
    <h2>Dimensions & Weight</h2>
  </div>

  {% include 'picture', name: 'OG2_dimensions_weight', alt: 'The O.G. 2 Dimensions and Weight table', fw: false %}

</div>


