{% include 'section-title', noContainer: true, title: 'Size & Fit Guide', withAnimations: false %}

<h3 class="table-label">Size, Weight, Dimensions</h3>
<div class="size-fit-slider">
  <div class="slides">
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/bagspecs-frontview-large.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/bagspecs-frontview-small.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/bagspecs-sideview-large.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/bagspecs-sideview-small.jpg" alt="" />
      </picture>
    </div>
  </div>
</div>

<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Dimensions</th>
        <th>Depth</th>
        <th>Weight</th>
        <th>Handle Drop height</th>
        <th>Base Width</th>
        <th>Height</th>
        <th>Laptop Fit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>O.G.</td>
        <td>6.5"</td>
        <td>2.2 lbs</td>
        <td>9.5"</td>
        <td>17"</td>
        <td>15"</td>
        <td>13"</td>
      </tr>
      <tr>
        <td>O.M.G</td>
        <td>6"</td>
        <td>2.1 lbs</td>
        <td>9"</td>
        <td>16"</td>
        <td>13.5"</td>
        <td>13"</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="table-label">The Fit</h3>
<div class="size-fit-slider">
  <h4>5'9"</h4>
  <div class="slides">
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Amanda-desktop-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Amanda-mobile-1.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Amanda-desktop-2.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Amanda-mobile-2.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Amanda-desktop-3.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Amanda-mobile-3.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Amanda-desktop-4.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Amanda-mobile-5.jpg" alt="" />
      </picture>
    </div>
  </div>
</div>

<div class="size-fit-slider">
  <h4>5'5"</h4>
  <div class="slides">
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Lana-desktop-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Lana-mobile-1.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Lana-desktop-2.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Lana-mobile-2.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Lana-desktop-3.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Lana-mobile-3.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Lana-desktop-4.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Lana-mobile-4.jpg" alt="" />
      </picture>
    </div>
  </div>
</div>
  
<div class="size-fit-slider">
  <h4>5'1"</h4>
  <div class="slides">
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Olivia-desktop-1.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Olivia-mobile-1.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Olivia-desktop-2.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Olivia-mobile-2.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Olivia-desktop-3.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Olivia-mobile-3.jpg" alt="" />
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/Olivia-desktop-4.jpg" media="(min-width: 768px)" />
        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/01-Olivia-mobile-5.jpg" alt="" />
      </picture>
    </div>
  </div>
</div>


<h3 class="table-label">Laptop Pocket Dimensions</h3>
<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Width</th>
        <th>Height</th>
        <th>Depth</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>13"</td>
        <td>9.5"</td>
        <td>1.4"</td>
      </tr>
    </tbody>
  </table>
</div>



