{% include 'section-title', noContainer: true, title: 'Size & Fit Guide', withAnimations: false %}

<h3 class="table-label">Size, Weight, Dimensions</h3>
<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Width</th>
        <th>Depth</th>
        <th>Height</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>13"</td>
        <td>5"</td>
        <td>14.5"</td>
        <td>2.2 lbs</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="table-label">Laptop Pocket Dimensions</h3>
<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Width</th>
        <th>Height</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11.75"</td>
        <td>13.25"</td>
      </tr>
    </tbody>
  </table>
</div>



