{% include 'discover-section-heading', title: 'Size & Fit Guide', withAnimations: false %}

<h3 class="table-label">Size, Weight, Dimensions</h3>
<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Base Width</th>
        <th>Depth</th>
        <th>Height</th>
        <th>Handle Drop Length</th>
        <th>Weight (600D Recycled Poly)</th>
        <th>Weight (Waxed Twill)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>17"</td>
        <td>7"</td>
        <td>12"</td>
        <td>9"</td>
        <td>3.2 lbs</td>
        <td>3.4 lbs</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="table-label">Laptop Pocket Dimensions</h3>
<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Width</th>
        <th>Height</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16.25"</td>
        <td>10"</td>
      </tr>
    </tbody>
  </table>
</div>