<div class="container-fw-mobile">
  <div class="section-heading fit-heading">
    <h2>Fit</h2>
    <p class="description">
      To help compare the O.G. 2 Medium and Large, we asked real women of different heights to carry both sizes.
    </p>
  </div>
  <div class="product-family">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Olivia</h3>
      <h4>Height: 5'1"</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'discover-picture', name: 'OG2_fit_short_angle_01', alt: 'The O.G 2 Short Fit Guide 1', retina: true, fw: false, lg: true%}
        </div>
        <div class="item">
          {% include 'discover-picture', name: 'OG2_fit_short_angle_02', alt: 'The O.G 2 Short Fit Guide 2', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'discover-picture', name: 'OG2_fit_short_angle_03', alt: 'The O.G 2 Short Fit Guide 3', retina: true, fw: false, lg: true %}
        </div>
      </div>
    </div> 
  </div>
  <div class="product-family">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Lana</h3>
      <h4>Height: 5'5"</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'discover-picture', name: 'OG2_fit_average_angle_01', alt: 'The O.G 2 Average Fit Guide 1', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'discover-picture', name: 'OG2_fit_average_angle_02', alt: 'The O.G 2 Average Fit Guide 2', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'discover-picture', name: 'OG2_fit_average_angle_03', alt: 'The O.G 2 Average Fit Guide 3', retina: true, fw: false, lg: true %}
        </div>
      </div>
    </div> 
  </div>
  <div class="product-family mb-negate">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Amanda</h3>
      <h4>Height: 5'9"</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'discover-picture', name: 'OG2_fit_tall_angle_01', alt: 'The O.G 2 Tall Fit Guide 1', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'discover-picture', name: 'OG2_fit_tall_angle_02', alt: 'The O.G 2 Tall Fit Guide 2', retina: true, fw: false, lg: true %}
        </div>
        <div class="item">
          {% include 'discover-picture', name: 'OG2_fit_tall_angle_03', alt: 'The O.G 2 Tall Fit Guide 3', retina: true, fw: false, lg: true %}
        </div>
      </div>
    </div> 
  </div>

  <div class="section-divider"></div>

  <div class="section-heading fit-heading">
    <h2>Scale</h2>
    <p class="description">
      See how the same bag falls on various heights of real women to compare size.
    </p>
  </div>
  <div class="section-heading fit-sub-heading">
    <h3 class="mb-negate">The O.G. 2 Medium</h3>
  </div>
  {% include 'discover-picture', name: 'OG2_medium_scale', alt: 'The O.G. 2 Medium scale comparison', retina: true, fw: false, lg: true,  extraClasses: 'mb-fit' %}
<div class="section-heading fit-sub-heading">
  <h3 class="mb-negate">The O.G. 2 Large</h3>
</div>
  {% include 'discover-picture', name: 'OG2_large_scale', alt: 'The O.G. 2 Large scale comparison', retina: true, fw: false, lg: true %}

  <div class="section-divider"></div>

  <div class="section-heading fit-heading">
    <h2>Dimensions & Weight</h2>
  </div>

  <div class="dimensions-weight-table">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>The OG 2 Medium</th>
          <th>The OG 2 Large</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Height</td>
          <td>13"</td>
          <td>13.5"</td>
        </tr>
        <tr>
          <td>Base Width</td>
          <td>16"</td>
          <td>17"</td>
        </tr>
        <tr>
          <td>Depth</td>
          <td>6"</td>
          <td>6.5"</td>
        </tr>
        <tr>
          <td>Handle Drop Length</td>
          <td>9"</td>
          <td>9.5"</td>
        </tr>
        <tr>
          <td>Laptop Fit</td>
          <td>13"</td>
          <td>13"</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>1.2 lbs</td>
          <td>2.2 lbs</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


