<div class="container">
  <div class="section-heading fit-heading">
    <h2>Fit</h2>
    <p class="description">
      To help compare the The Seville Tote 13&rdquo; and 15&rdquo;, we asked real women of different heights to carry both sizes.
    </p>
  </div>
  <div class="block product-family">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Patricia</h3>
      <h4>Height: 5&rsquo; 1&rdquo;</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'picture', name: 'Seville_fit_short_angle_01', alt: 'The Seville Tote Short Fit Guide 1', fw: false%}
        </div>
        <div class="item">
          {% include 'picture', name: 'Seville_fit_short_angle_02', alt: 'The Seville Tote Short Fit Guide 2', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Seville_fit_short_angle_03', alt: 'The Seville Tote Short Fit Guide 3', fw: false %}
        </div>
      </div>
    </div> 
  </div>
  <div class="block product-family">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Kerry</h3>
      <h4>Height: 5&rsquo; 6&rdquo;</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'picture', name: 'Seville_fit_average_angle_01', alt: 'The Seville Tote Average Fit Guide 1', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Seville_fit_average_angle_02', alt: 'The Seville Tote Average Fit Guide 2', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Seville_fit_average_angle_03', alt: 'The Seville Tote Average Fit Guide 3', fw: false %}
        </div>
      </div>
    </div> 
  </div>
  <div class="block product-family mb-negate">
    <div class="section-heading fit-sub-heading">
      <h3 class="mb-negate">Bojana</h3>
      <h4>Height: 6&rsquo;</h4>
    </div>
    <div class="product-row-wrap">
      <div class="product-row fit-row">
        <div class="item">
          {% include 'picture', name: 'Seville_fit_tall_angle_01', alt: 'The Seville Tote Tall Fit Guide 1', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Seville_fit_tall_angle_02', alt: 'The Seville Tote Tall Fit Guide 2', fw: false %}
        </div>
        <div class="item">
          {% include 'picture', name: 'Seville_fit_tall_angle_03', alt: 'The Seville Tote Tall Fit Guide 3', fw: false %}
        </div>
      </div>
    </div> 
  </div>

  <div class="section-divider"></div>

  <div class="section-heading fit-heading">
    <h2>Scale</h2>
    <p class="description">
      See how the Seville Tote 13&rdquo; and 15&rdquo; falls on various heights of real women to compare size.
    </p>
  </div>
  <div class="section-heading fit-sub-heading">
    <h3 class="mb-negate">The Seville Tote 13&rdquo;</h3>
  </div>
  {% include 'picture', name: 'Seville_13_scale', alt: 'The Seville 13 inch scale comparison', fw: false, extraClasses: 'mb-fit' %}

  <div class="section-heading fit-sub-heading">
    <h3 class="mb-negate">The Seville Tote 15&rdquo;</h3>
  </div>
  {% include 'picture', name: 'Seville_15_scale', alt: 'The Seville 15 inch scale comparison', fw: false %}

  <div class="section-divider"></div>

  <div class="section-heading fit-heading">
    <h2>Dimensions & Weight</h2>
  </div>

  {% include 'picture', name: 'Seville_dimensions_weight', alt: 'The Seville Dimensions and Weight table', fw: false %}

</div>