{% include 'discover-section-heading', title: 'Size & Fit Guide', withAnimations: false %}

<h3 class="table-label">Size, Weight, Dimensions</h3>
<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Width</th>
        <th>Height</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>7"</td>
        <td>4"</td>
        <td>0.4 lbs</td>
      </tr>
    </tbody>
  </table>
</div>










