{% include 'section-title', noContainer: true, title: 'Size & Fit Guide', withAnimations: false %}

<h3 class="table-label">Size, Weight, Dimensions</h3>
<div class="product-specs">
  <table>
    <thead>
      <tr>
        <th>Width</th>
        <th>Depth</th>
        <th>Height</th>
        <th>Strap Full Length</th>
        <th>Strap Drop Length</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9.5"</td>
        <td>3"</td>
        <td>7.75"</td>
        <td>60"</td>
        <td>30.5"</td>
        <td>0.9 lbs</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="table-label">Device Compatibility</h3>
<p>Designed to fit mini-tablets, such as the models below:</p>
<ul>
    <li>Apple iPad Mini 3 (2014 release)</li>
    <li>Google Nexus 7</li>
    <li>Samsung Galaxy Tab 4 (7 inch)</li>
    <li>Kindle Fire HD6/HD7</li>
</ul>