<div class="max-container animate" {{ animateFadeInUp }}>
  <div class="block video-block">
    {% include 'picture', name: img, alt: alt, retina: true, fw: false, lg: true %}
    <a href="#" data-video-id="{{ id }}" class="video-trigger">{{ text | default: 'See What Fits Inside' }}</a>
  </div>
</div>