.comparison{
	background: #f8f8f8;
	padding: 30px 0;
	color: $gray-dark;
	font-family: $font-family-sans-serif;
	font-size: $font-size-small;
	@media (min-width: $screen-sm) {
		font-size: $font-size-large;
	}
	@media (min-width: $screen-md) {
		padding: 3vw 2vw;
	}
	table{
		width: 100%;
	}
	th{
		font-weight: normal;
	}
	thead{
		th{
			background: #FFF;
			letter-spacing: 1px;
		}
	}
	tbody{
		td{
			font-family: $font-family-medium;
			// font-size: 150%;
		}
		th{
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: left;
		}
		tr:nth-child(even){
			td, th{
				background: #FFF;
			}
		}
	}
	th, td{
		text-align: center;
		padding: 10px;
		line-height: 1;
		@media (min-width: $screen-md) {
			padding: 15px 30px;
		}
	}
}
