.navbar {
	margin:0;
	padding-top:15px;
	text-align: center;
	border: none;
}
// #header .navbar{
// 	@media (min-width: $screen-md) {
// 		position: static;
// 	}
// }

#site-header {
	padding-bottom:12px;
	padding-top:12px;
	font-family: $font-family-sans-serif;
	@include transition(all .25s ease-out);
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #FFF;
	line-height: 0; // fixes weird space below items ¯\_(ツ)_/¯
	margin: 0;
	text-align: center;
	z-index: 1010;
	@media (min-width: $screen-md) {
		padding: 0;
	}
	.container-fluid{
		position: relative;
	}
	.logo {
		@include text-hide;
		overflow:hidden;
		background: url(ls-logo.svg) no-repeat transparent center center;
		@include size(52px, 30px);
		background-size: 52px auto;
		margin:0 auto;
		padding:0;
		display: block;
		@media only screen and (min-width: $screen-md) {
			@include size(70px, $ls-navbar-height);
			background-size: auto 36px;
		    position: relative;
		    z-index: 10;
		}
	}
}

.navbar-toggle{
	display: block;
	position: absolute;
	border: none;
	margin: 0;
	left: 18px;
	top: 0;
	@media (min-width: $screen-md) {
		top: 13px;
		left: -10px;
	}
	.icon-bar{
		background-color: $headings-color;
		width: 20px;
	}
	.icon-bar + .icon-bar{
		margin-top: 5px;
	}
	&:hover,
	&:focus{
		background: none;
	}
	&:focus{
		.icon-bar{
			background-color: $brand-blue;
		}
	}
}

.cart-link{
	display: block;
	position: absolute;
	right: $mobile-gutter;
	top: 0;
	&:hover{
		text-decoration: none;
		.cart-count{
			border-color: $brand-blue;
		}
		.cart-icon{
			background-image: url(icon-cart-empty.svg);
		}
	}
	@media (min-width: $screen-md) {
		top: 16px;
		right: 0;
	}
	// nothing changes for now, but leaving this here
	&.empty{
		// .cart-count{
		// 	display: none;
		// }
	}
	.cart-icon{
		display: inline-block;
		width: 19px;
		height: 32px;
		background: url(icon-cart-empty-gray-v4.svg) no-repeat 0 50%;
		background-size: auto 23px;
		vertical-align: middle;
	}
	.cart-count{
		display: inline-block;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: solid 1px $gray-lighter;
		color: $brand-blue;
		margin-left: 15px;
		line-height: 29px;
		vertical-align: middle;
	}
}

#site-nav-panel{
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 10001;
	width: 100%;
	background: #fff;
	@include transition(left .25s ease-out);
	// @media (min-width: $screen-sm) {
	// 	left: -$menu-width-sm;
	// 	width: $menu-width-sm;
	// 	@include transition(left .5s ease-out);
	// }
	@media (min-width: $screen-sm) {
		left: -$menu-width-md;
		width: $menu-width-md;
	}
	.panel-close{
		left: auto;
		right: 31px;
		top: 15px;
	}
}
#site-nav-body{
	position: relative;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
    padding: 75px $mobile-gutter 30px;
	nav{
		ul{
			@include clean;
			padding-right: 15px;
			padding-left: 15px;
			font-size: 20px;
			ul{
				font-size: 15px;
				padding: 0;
				a{
					color: $gray;
					&.menu-toggle{
						&:before{
							display: none;
						}
						&:after{
							background: url('icon-expandable.svg');
							width: 8px;
							height: 5px;
							margin-top: -3px;
							@include rotate(-180deg);
						}
						&.collapsed{
							&:after{
								@include rotate(0deg);
							}
						}
					}
				}
				ul{
					font-size: 14px;
					padding-left: 30px;
					padding-top: 10px;
					li{
						padding: 15px 0;
					}
				}
			}
		}
		li{
			border-bottom: solid 1px #ededed;
			padding: 20px 0;
			&:last-child{
				border: 0;
				padding-bottom: 0;
			}
		}
		a{
			display: block;
			&:hover,
			&:focus{
				color: $brand-blue;
				text-decoration: none;
			}
		}
		.menu-toggle{
			@include collapsing-panel-toggle;
		}
	}
}