.modal.fade .modal-dialog {
    transform: translate(0, 0);
}
.modal-dialog{
	width: 100%;
	margin: 0;
	padding: 50px;
	@media (min-width: $screen-md) {
		width: 70%;
	}
}
.modal-backdrop{
	background: #FFF;
	&.in{
		opacity: 1;
	}
}
.modal-content {
	padding: 0;
	box-shadow: none;
	border: 0;
	margin: 0 auto;
	max-width: 800px;
}
.modal-header {
	border: none;
	margin-bottom: 20px;
	padding: 0;

	@media(min-width:$screen-sm-min) {
		padding: 0 10%;
	}

	position: relative;
	text-align: center;

	.close {
		position: absolute;
		right: -20px;
		top: -20px;
	}
	h4 {
		margin-bottom: 20px;
	}
	strong {
		color: $brand-blue-dark;
	}
}
.modal-body {
	padding: 0;
	@media(min-width:$screen-sm-min) {
		margin-bottom: 20px;
	}
}
.modal-close{
	display: block;
	@include text-hide;
	@include square($ls-navbar-height-xs);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	&:before,
	&:after{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -14px;
		display: block;
		content: '';
		width: 28px;
		height: 1px;
		background: $gray-light;
	}
	&:before{
		@include rotate(45deg);
	}
	&:after{
		@include rotate(135deg);
	}
}