/*Newsletter Modal*/
[data-target="#newsletter"]{
	// margin-top: 24px;
	// margin-bottom: $line-height-computed/2;
}
.newsletter {

	
	.gform_footer,
	.modal-footer {
		border: none;
		padding: 0;
		text-align: center;
	}
	.product-types-val.form-group label {
		color: $gray;
		font: 15px "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif !important;
		letter-spacing: normal;
		text-transform: none;
		vertical-align: middle;
	}
	.checkbox-inline {
		padding-left: 10px;

		input[type="checkbox"] {
			margin: 2px 10px 0 0;
		}
	}
	@media(max-width:480px) {
		.check-title {
			display: block;
			width: 100%;
		}
	}

	.gfield{
		.gfield_label{
			font-family: $font-family-sans-serif;
		}
	}
}

/*Newsletter - Vertically Align - Middle*/
.modal {
	text-align: center;
}
@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
    	vertical-align: middle;
    	content: " ";
    	height: 100%;
  	}
}
.modal-dialog {
  	display: inline-block;
  	text-align: left;
  	vertical-align: middle;
}


#footer-newsletter-message {
  text-align: center; }
#footer-newsletter .btn.dropdown-toggle {
  background-image:none; }
#footer-newsletter .error {
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 0 10px 0;
  font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #A94442;
  float: none;
  padding: 0; }
#footer-newsletter .product-types-val .validation-advice {
  text-align:center; }
#footer-newsletter .product-types-val .validation-advice:after {
  background-image:none;
  top: 99px; }
@media (max-width: 768px) {
  #newsletter #advice-validate-select-birthyear:after {
    background: none;
    top: 99px;
  }
}

#newsletter-prompt{
	background: #FFF;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 40px;
	z-index: 999;
	@include transition-off;
	text-align: center;
	@media (min-width: $screen-md) {
		text-align: left;
		padding: 33px 0;
	}
	&.closed{
		bottom: -160px;
		box-shadow: none;
		@media (min-width: $screen-md) {
			bottom: -130px;
		}
	}
	p{
		font-family: $font-family-sans-serif;
		color: $gray-darker;
		margin-bottom: 20px;
		@media (min-width: $screen-md) {
			font-size: 20px;
			line-height: 50px;
			margin: 0;
		}
	}
	.panel-close{
		left: auto;
		right: 0;
		@media (min-width: $screen-md) {
			right: 30px;
			top: 50%;
			margin-top: -22px;
		}
		@media (min-width: 1300px) {
			right: 40px;
		}
	}
	[class^="col-"]:last-child{
		@media (min-width: 1300px) {
			text-align: right;
		}
	}
}