/*
Attempting to detatch typography from layout 
 */

.theme-white{
	.block-title,
	.block-subtitle,
	.block-description{
		color: #FFF;
	}
}

.xs-fw{
	.container{
		@media (max-width: $screen-xs-max) {
		    padding-left: 0;
		    padding-right: 0;
		}
	}
}

.block-title{
	font-family: $font-family-medium; 
	font-size: 48px;
	line-height: calculateEm(52px, 48px);
	margin-bottom: .3em;
	color: $gray-darker;
	@media (min-width: $screen-sm) {
		font-size: 40px;
		line-height: calculateEm(51px, 40px);
	}
	@media (min-width: $screen-lg) {
		font-size: 52px;
	}
}
.block-subtitle{
	color: $gray-darker;
	text-transform: uppercase;
	margin: 0;
}
.block-description{
	font-size: 19px;
	line-height: calculateEm(27px,19px);
	color: $gray;
	margin-bottom: 50px;
	@media (min-width: $screen-sm) {
		font-size: 20px;
		line-height: calculateEm(28px,20px);
	}
	@media (min-width: $screen-lg) {
		font-size: 24px;
		line-height: calculateEm(36px,24px);
		margin-bottom: 80px;
	}
}
.block-price{
	color: $gray;
	font-size: 30px;
	line-height: calculateEm(50px, 30px);
	margin-bottom: 30px;
}

.figure-caption{
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		text-align: center;
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.title{
		font-size: 27px;
		line-height: calculateEm(30px, 27px);
		font-family: $font-family-medium;
		margin-top: 1.6em;
		margin-bottom: 0.5em;
		@media (min-width: $screen-sm) {
			font-size: 20px;
			line-height: calculateEm(25px, 20px);
		}
		@media (min-width: $screen-md) {
			font-size: 22px;
		}
		@media (min-width: $screen-lg) {
			font-size: 28px;
		}
	}
	.description{
		font-size: 19px;
		line-height: calculateEm(27px, 19px);
		color: $gray;
		margin-bottom: calculateEm(100px, 19px);
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			font-size: 16px;
			margin-bottom: calculateEm(60px, 16px);
		}
		@media (min-width: $screen-md) {
			font-size: 18px;
		}
		@media (min-width: $screen-lg) {
			font-size: 22px;
		}
	}
}