.pagination{
	text-transform: uppercase;
	font-size: $font-size-small;
	letter-spacing: $ls-xs;
	display: block;
	text-align: center;
	font-family: $font-family-sans-serif;
	span{
		display: inline-block;
		a{
			padding: 8px 16px;
			display: block;
			color: $gray;
			border: solid 1px $gray-lighter;
			&:hover{
				color: $gray-darker;
				border-color: $gray-light;
				text-decoration: none;
			}
		}
	}
	.current{
		padding: 8px 16px;
		color: $brand-blue;
		border: solid 1px $gray-lighter;
	}
}

.pager{
	text-transform: uppercase;
	line-height: 36px;
	font-size: $font-size-xs;
	letter-spacing: $ls-xs;
	.amount{
		strong{
			font-family: $font-family-sans-serif;
		}
	}
	.limiter{
		label{
			font-weight: normal;
		}
		select{
			display: inline-block;
			width: auto;
			margin: 0 10px;
		}
	}
	.pages{
		strong{
			display: none;
		}
		ol{
			@include clean;
			display: inline;
		}
	}
	li > a {
		border: 0;
		padding-top: 0;
		padding-bottom: 0;
		color: $gray;
		&:active,
		&:hover{
			background: none;
			color: $brand-blue;
		}
	}
	li.current{
		color: $brand-blue;
	}
}