.page-block{
	// default margins for each block
	margin: 0 auto 20px;
	max-width: $site-max-width;
	&.contained{
		@extend .container-fluid;
		// allow full width when parent container is not
		.shg-c{
			width: 100%;
			max-width: 100%;
		}
	}
	// no margins for nested blocks,
	// don't allow full width for nested items
	.section-content{
		margin: 0 auto;
	}
	// for flexed elements
	.shg-row{
		.shg-c{
			height: 100%;
		}
	}
}

.row.flexed{
	@media (min-width: $screen-sm) {
		display: flex;
		align-items: stretch;
	}
	.flexer{
		max-width: 600px;
	}
}

.section-header{
	text-align: center;
	padding: 50px 0 55px;
	@media (min-width: $screen-md) {
		padding: 60px 0 70px;
	}
	.header-text{
		margin: 0;
		line-height: 1;
		font-family: $font-family-semibold;
		font-size: 30px;
		display: inline-block;
		position: relative;
		@media (min-width: $screen-md) {
			font-size: 60px;
		}
		&:after{
			content: '';
			height: 9px;
			background: $brand-blue-light;
			position: absolute;
			left: -5px;
			right: -5px;
			bottom: 2px;
			z-index: -1;
			@media (min-width: $screen-md) {
				height: 28px;
				bottom: -4px;
				left: -10px;
				right: -10px;
			}
		}
	}
}
.section-content{
	text-align: center;
	color: $gray-darker;
	padding: 0 $mobile-gutter;
	@media (min-width: $screen-sm) {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0 30px;
	}
	.flexer{
		padding: 45px 20px 35px;
		@media (min-width: $screen-md) {
			padding: 0;
		}
	}
	p{
		margin-bottom: 18px;
		@media (min-width: $screen-md) {
			margin-bottom: 24px;
		}
	}
	.title{
		font-family: $font-family-bold; 
		font-size: 25px;
		line-height: 1.1;
		letter-spacing: 2px;
		margin-bottom: 0.5em;
		@media (min-width: $screen-md) {
			font-size: 40px;
		}
	}
	.subtitle{
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		letter-spacing: 2px;
	}
	.description{
		font-size: 19px;
		font-family: $font-family-sans-serif;
		position: relative;
		@media (min-width: $screen-md) {
			font-size: 26px;
		}
	}
	.btn-set{
		padding-top: 10px;
		@media (min-width: $screen-md) {
			padding-top: 20px;
		}
	}
	// .link{
	// 	line-height: 1;
	// 	&:last-child{
	// 		margin: 0;
	// 	}
	// 	a{
	// 		font-family: $font-family-sans-serif;
	// 		border-bottom: solid 1px $gray-dark;
	// 		padding-bottom: 2px;
	// 		display: inline-block;
	// 		vertical-align: middle;
	// 		text-transform: uppercase;
	// 		&:hover,
	// 		&:focus{
	// 			text-decoration: none;
	// 			border-bottom-color: transparent;
	// 		}
	// 	}
	// } 
}
.page-block{
	.inline-video{
		
	}
	video{ 
		object-fit: contain;
	}
	.loading{
		display: block; 
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: transparent;
		background-image: url('oval.svg');
		background-size: 75px;
	}
	.video-trigger{
		display: block;
		@include text-hide;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -35px;
		margin-left: -35px;
		opacity: 0.7;
		@include transition(opacity .2s ease);
		@media (min-width: $screen-md) {
			margin-top: -45px;
			margin-left: -45px;
			&:hover{
				opacity: .9;
			}
		}
		svg{ // inline so we can override fill color
			width: 70px;
			height: 70px;
			@media (min-width: $screen-md) {
				width: 90px;
				height: 90px;
			}
		}
	}
}
.fw-image{
	position: relative;
	img{
		width: 100%;
	}
	.section-content{
		text-align: center;
		@media (min-width: $screen-md) {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			&.left{
				left: 0;
				width: 50%;
			}
			&.center{
				.flexer{
					width: 30%;
				}
			}
			&.right{
				left: auto;
				right: 0;
				width: 50%;
			}
		}
	}
	.title{
		font-size: 36px;
		@media (min-width: $screen-md) {
			font-size: 63px;
		}
	}
}