.pages{
	@include clean;
	font-size: $font-size-small;
	text-align: center;
	li{
		display: inline-block;
		margin: 0 5px;
		a{
			padding: 6px 0;
			display: block;
			width: 40px;
			height: 40px;
			color: $gray;
			border: solid 1px $gray-lighter;
			border-radius: 50%;
			&:focus,
			&:hover{
				color: $brand-blue;
				border-color: $brand-blue;
				text-decoration: none;
			}
			&.current{
				color: $brand-blue;
				border-color: $brand-blue;
				cursor: default;
			}
		}
	}
}

.pager{
	text-transform: uppercase;
	line-height: 36px;
	font-size: $font-size-xs;
	letter-spacing: $ls-xs;
	.amount{
		strong{
			font-family: $font-family-sans-serif;
		}
	}
	.limiter{
		label{
			font-weight: normal;
		}
		select{
			display: inline-block;
			width: auto;
			margin: 0 10px;
		}
	}
	.pages{
		strong{
			display: none;
		}
		ol{
			@include clean;
			display: inline;
		}
	}
	li > a {
		border: 0;
		padding-top: 0;
		padding-bottom: 0;
		color: $gray;
		&:active,
		&:hover{
			background: none;
			color: $brand-blue;
		}
	}
	li.current{
		color: $brand-blue;
	}
}