.product-grid{
	.row{
		@include make-row;
	}
	[class^="col-"]{
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}
	@media (max-width: $screen-xs-max) {
	    .col-xs-6:nth-child(2n+1){
			clear: left;
	    }
	}
	@media (min-width: $screen-sm) {
		margin: 60px 0;
	    .col-sm-4:nth-child(3n+1){
			clear: left;
	    }
	}
	.product{
		margin-bottom: 68px;
		.image{
			margin-bottom: 13px;
			position: relative;
		}
		.title{
			font-family: $font-family-semibold;
			font-size: 22px;
			line-height: 22px;
			margin: 0 0 6px;
		}
		a{
			&:hover{
				text-decoration: none;
			}
		}
	}
	.product-color{
		font-size: 18px;
		color: $gray-darker;
		line-height: 1;
		margin: 0 0 15px;
	}
	.product-material{
		color: #A9A9A9;
		line-height: 16px;
		line-height: 1;
		margin: 0;
	}
	.price{
		font-family: $font-family-semibold;
		font-size: 18px;
		color: $gray-darker;
		line-height: 20px;
		span{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.old-price{
		font-family: $font-family-base;
		font-size: 14px;
		color: #646464;
		line-height: 20px;
		margin-left: 10px;
	}
}

.discount-badge{
	position: absolute;
	background: #5E4471;
	top: 20px;
	left: 20px;
	width: 55px;
	height: 55px;
	color: #F2E7F7;
	display: block;
	text-align: center;
	border-radius: 50%;
	line-height: 1;
	padding-top: 11px;
}