[role="search"]{
	position: relative;
	margin-bottom: 20px;
	.form-control{
		padding-right: 60px;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
	.btn{
		background: #FFF;
		padding: 7px 10px 13px;
		margin: 0;
		position: absolute;
		top: 1px;
		right: 1px;
		width: 40px;
		bottom: 1px;
	}
}

#in-page-search-container{
	margin: 60px 0 100px;
}