.side-by-side{
	max-width: 400px;
	margin: 0 auto;
	font-size: 8vw;
	padding: $grid-gutter-width $grid-gutter-width/2;
	@media (min-width: $screen-sm) {
		max-width: 100%;
		font-size: 5vw;
	}
	@media (min-width: $screen-md) {
		font-size: 4vw;
	}
	@media (min-width: $screen-lg) {
		font-size: 3.5vw;
	}
	@media (min-width: $screen-xl) {
		font-size: 2vw;
	}
	img{
		margin-bottom: 4vw;
		@media (min-width: $screen-md) {
			margin-bottom: 2vw;
		}
	}
}
.sbs-title,
.sbs-price,
.sbs-color,
.sbs-link{
	color: $gray-dark;
	font-family: $font-family-sans-serif;
	text-align: center;
	margin-bottom: 4vw;
	line-height: 1;
	@media (min-width: $screen-sm) {
		margin-bottom: 3vw;
	}
	@media (min-width: $screen-md) {
		margin-bottom: 2vw;
	}
	@media (min-width: $screen-lg) {
		margin-bottom: 1.5vw;
	}
	@media (min-width: $screen-xl) {
		margin-bottom: 1vw;
	}
}

.sbs-title{
	font-family: $font-family-medium;
	text-transform: uppercase;
	letter-spacing: $ls-sm;
	font-size: 100%;
}
.sbs-color,
.sbs-link a{
	text-transform: uppercase;
	letter-spacing: $ls-sm;
	font-size: 50%;
}
.sbs-link a{
	padding-bottom: 2px;
	border-bottom: solid 1px $gray-darker;
	&:hover,
	&:focus{
		text-decoration: none;
		border-bottom-color: transparent;
	}
}
.sbs-price{
	letter-spacing: $ls-sm;
	font-size: 75%;
}