.table thead > tr > th{
	background: $gray;
}
.cart-items{
	font-family: $font-family-sans-serif;
	font-size: $font-size-small;
	margin-bottom: 0;
	> tbody > tr > td{
		vertical-align: middle;
		padding-top: 15px;
	}
	> tbody > tr > td,
	> tbody > tr > td:first-child,
	> tbody > tr:first-child > td{
		border-top: 0;
	}
 	td{
		color: $gray-dark;
		vertical-align: middle;
		.table{
			margin-bottom: 0; 
			tbody{
				td{
					border: 0;
					padding: 0;
				}
			}
		}
	}
	tr.line-item td{
		text-transform: uppercase;
	}
	.cart-item-thumb{
		width: 60px; 
		a{
			display: block;
			text-align: center;
		}
	}
	.product-name{
		text-transform: uppercase;
		letter-spacing: $ls-xs;
		margin: 0 0 6px;
	}
	.item-options{
		font-size: 11px;
		color: $gray;
		text-transform: uppercase;
		letter-spacing: $ls-xs;
		margin-bottom: 0;
		.sep{
			padding-left: 2px;
			padding-right: 2px;
		}
	}
	.sep{
		color: $gray-lighter;
		font-size: 18px;
		display: inline-block;
		padding: 0 8px;
		line-height: 0;
		text-transform: lowercase;
		@media (min-width: $screen-sm) {
			display: none;
		}
	}
	.qty{
		width: 40px;
		text-align: center;
	}
	.cart-item-qty,
	.price-box{
		text-align: center;
	}
	.price-box{
		display: block;
		font-size: $font-size-small;
	}
	.a-right{
		@media (min-width: $screen-sm) {
		    text-align: right;
		}
	}
	.a-center{
		@media (min-width: $screen-sm) {
		    text-align: center;
		}
	}
	> tbody > tr{
		position: relative;
	}
	.remove-item{
		display: block;
		color: #ccc;
		font-size: 12px;
		padding: 10px;
		text-align: center;
		@media (min-width: $screen-sm) {
			padding: 0;
		}
		&:hover{
			text-decoration: none;
		}
	}

	@media (max-width: $screen-xs-max) {
		> tbody > tr{
			@include clearfix;
			> td{
				padding-right: 0;
				&.cart-item-remove{
					position: absolute;
					top: 0;
					left: 0;
					width: 36px;
					padding: 0;
					height: 100%;
				}
			}
		} 

		.remove-item{
			display: inline-block;
			position: absolute;
			top: 50%;
			margin-top: -18px;
		}
		.cart-item-thumb{
			position: absolute;
			left: 36px;
			top: 0;
		}
		.cart-item-info{
			padding-bottom: 10px;
		}
		.cart-item-price,
		.cart-item-qty,
		.cart-item-subtotal{
			text-align: left;
			display: block;
			float: left;
			border: 0;
			padding-top: 0;
		}
		.cart-item-info,
		.cart-item-price{
			padding-left: 106px;
		}
		.cart-item-price{
			position: absolute; // why yes, this is gross but it allows us to align the qty cells with padding
		}
		.cart-item-qty{
			padding-left: 60%;
		}
		.qty{
			border: solid 1px $gray-lighter;
			text-align: center;
		}
		.cart-item-subtotal{
			float: right;	
		}
		.price-box{
			padding-top: 2px;
		}
	}
}
.cart-totals{
	color: $gray-dark;
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	font-size: $font-size-small;
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 30px;
	border-top: solid 1px #a8a8a8;
	tbody > tr{
		display: table-row;
		td{
			border-top: 0;
			padding: 10px 0;
			@media (min-width: $screen-sm) {
				padding: 10px 15px
			}
		}
		&:last-child{
			td{
				padding-bottom: 15px;
			}
		}
		.a-right{
			text-align: left;
		}
		> th,
		> td{
			display: table-cell;
		}
		td.a-right:last-child{ // ewww
			text-align: right;
		}
		&#subtotal-row{
			td{
				padding-bottom: 10px;
			}
		}
	}
	tr.grand-total > td{
		border-top: solid 1px #a8a8a8;
		padding: 10px 0;
		font-size: 18px;
		@media (min-width: $screen-sm) {
			padding: 10px 15px
		}
	}
	tr.total-adjustment{
		td{
			color: $gray;
		}
	}
	tfoot > tr td.a-right:last-child{
		text-align: right;
	}
}