.not-found{
  background: #fafafa;
  padding: 0 0 1em;
  @include mb;
  @media (min-width: $screen-md) {
    padding: 0 0 2em;
  }
  p{
    color: $gray;
    @media (min-width: $screen-md) {
      font-size: 18px;
    }
  }
}