.template-cart{
	#MainContent{
		padding: 37px 0;
		@media (min-width: $screen-md) {
			padding: 75px 0;
		}
	}
	.table h1{ // cart has the page title aligned with the columns headings, because designers
		font-size: 22px;
		color: $gray-darker;
		margin: 0;
		font-family: $font-family-medium;
	}
	.price{
		font-size: 15px;
		line-height: 1;
		color: $gray-darker;
		display: block;
		@media (min-width: $screen-sm) {
			font-size: 20px;
		}
	}
	.old-price{
		display: block;
		color: $gray;
		font-size: 13px;
		padding-top: 6px;
	}
	.final-sale-warning{
		text-align: left;
	}
}
.cart-empty{
	h1{
		font-size: 22px;
		font-family: $font-family-medium;
		padding-bottom: 45px;
		margin-bottom: 45px;
		border-bottom: solid 1px #e6e6e6;
	}
}
// get a little more specific for some cart styling
#cart-items{
	@media (max-width: $screen-xs-max) {
		thead th{
			color: #FFF;
		}
		td{
			vertical-align: top;
		}
	}
	.item-remove{
		@media (max-width: $screen-xs-max) {
		    padding: 0;
		    width: 0;
		}
		.panel-close{
			position: relative;
			@media (max-width: $screen-xs-max) {
			    display: none;
			}
		}
	}
	.item-options{
		@media (max-width: $screen-xs-max) {
			font-size: 12px;
			line-height: 14px;
			margin-bottom: 10px;
		}
	}
	.item-qty{
		@media (max-width: $screen-xs-max) {
		    display: none;
		}
	}
	.item-subtotal{
		@media (max-width: $screen-sm-max) {
		    display: none;
		}
	}	
} 

#cart-items,
#cart-totals{
	margin-bottom: 28px;
	@media (min-width: $screen-md) {
		margin-bottom: 46px;
	}
}

#cart-actions{
	text-align: right;
	.btn{
		width: 100%;
		margin-bottom: 10px;
		@media (min-width: $screen-sm) {
			width: auto;
			padding-left: 82px;
			padding-right: 82px;
			margin-left: 12px;
			margin-bottom: 25px;
		}
	}
}

#checkout-message{
	text-align: right;
	color: $gray;
	line-height: 1;
	p:first-child{
		margin-bottom: 20px;
	}
	@media (max-width: $screen-xs-max) {
	    text-align: center;
	    font-size: 12px;
	    padding-top: 10px;
	}
}