.product-family-title{
	margin-top: 16px;
	text-transform: uppercase;
	text-align: center;
	margin: 45px 0;
	@media (min-width: $screen-md) {
		text-align: left;
	}
}
.catalog-category-view{
	.feature{
		@media (max-width: $screen-sm-max) {
		    margin: 0 -20px 0;
		}
	}
	.hero{
		margin-bottom: 30px;
		img{
			width: 100%;
		}
		.carousel-indicators{
			bottom: 10px;
		}
		@media (min-width: $screen-md) {
			// tear down the slider
		    .carousel-indicators{
		    	display: none;
		    }
		    .carousel-inner{
		    	.item{
		    		position: static;
		    		display: block;
		    	}
		    }
		}
	}
	
}
.category-shop{
	.main{
		@media (min-width: $screen-md) {
		    padding-top: 55px;
		}
	}
}

// small screens
.category-gallery{
	margin-bottom: 10px;
	position: relative;
	.item{
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
		font-size: 16px;
		letter-spacing: 0;
	}
	.carousel-control.left,
	.carousel-control.right{
		&:after{
			top: 33%;
		}	
	}
}

#all-filters{
	margin-bottom: 20px;
	font-family: $font-family-sans-serif;
	text-align: left;
	p{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	@media (min-width: $screen-md) {
		margin: 0;
		display: block;
	}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Sidebar
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#filters-column-home{
	@include transition(height .3s ease-out); // js adjusts the height occasionally
	
	@media (min-width: $screen-md) {
	    margin-bottom: 60px;
	}
	.back-to-top{
		position: absolute;
		bottom: -40px;
		margin: 0 0 0 -11px;
		left: 50%;
	}
}
.category-filters{
	transition: padding 0.5s ease-out;
	position: relative;
	@include mobile-inset;
	@media (min-width: $screen-md) {
	   padding-top: 60px; 
	   margin-left: 0;
	   margin-right: 0;
	}
	&.pinned{
		position: fixed;
		top: $ls-navbar-height;
		width: 157px;
		@media (min-width: $screen-lg) {
			width: 180px;
		}
	}
	&.pinned-lower{
		@media (min-width: $screen-md) {
			padding-top: 113px;
		}
	}
	&.pinned-bottom{
		position: absolute;
		top: auto;
		bottom: 0;
		width: 157px;
		@media (min-width: $screen-lg) {
			width: 180px;
		}
	}
	.loading{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: auto;
		height: auto;
	}
	.collapsing {
	  @include transition(height .2s ease);
	}
}
.main .category-filters{
	margin-left: 0;
	margin-right: 0;
}
	    
.filter-control{
	margin-bottom: 20px;
	margin-top: 20px;
	@media (min-width: $screen-md) {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}
}
.filter-toggle{
	background: none;
	border: none;
	text-transform: uppercase;
	font-size: $font-size-small;
	letter-spacing: $ls-sm;
	color: $headings-color;
	padding: 10px 0;
	margin-bottom: 10px;
	display: block;
	@media (min-width: $screen-md) {
		margin-bottom: 0;
	}
	@media (min-width: $screen-lg) {
		letter-spacing: $ls-lg;
	}
	&:focus{
		outline: none;
	}
	.caret{
		margin-right: 6px;
		margin-left: 0;
		position: relative;
		top: -1px;
	}
	.badge{
		background: $brand-blue;
		color: #FFF;
		letter-spacing: 0;
		font-size: $font-size-xs;
		margin-left: 3px;
	}
}
.all-filters-toggle{
	color: $headings-color;
	&:focus,
	&:hover{
		outline: none;
		color: $headings-color;
	}
	.caret{
		margin-right: 6px;
		margin-left: 0;
		position: relative;
		top: -1px;
	}
	.badge{
		background: $brand-blue;
		color: #fff;
		letter-spacing: 0;
		margin-left: 6px;
	}
}

	// pretty rotation for good browsers
	.csstransitions{
		.filter-toggle{
			&.collapsed{
				.caret{
					@include rotate(-90deg);
				}
			}
			.caret{
				@include transition(all .3s ease-in-out);
			}
		}
		.all-filters-toggle{
			.caret{
				@include rotate(-90deg);
				@include transition(all .3s ease-in-out);
			}
			&.open{
				.caret{
					@include rotate(0);
				}
			}
		}
	}
	// fake it for stupid browsers
	.no-csstransitions{
		.filter-toggle.collapsed{
			.caret{
				border-top: $caret-width-base solid transparent;
				border-bottom: $caret-width-base solid transparent;
				border-left: $caret-width-base solid;
				top: -2px;
				left: 3px;
			}
		}
	}

.filter-options{
	padding: 5px 0 20px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: $ls-xs;
	border-bottom: solid 1px $gray-lighter;
	margin-bottom: 15px;
	@media (min-width: $screen-md) {
	    font-size: 10px;
	}
	&.last{
		border-bottom: none;
	}
	label{
		display: block;
		position: relative;
		margin-bottom: 15px;
		padding-left: 20px;
		@media (min-width: $screen-md) {
		    margin-bottom: 5px;
		}
		&.checked{
			color: $headings-color;
			&:before{
				border-color: $headings-color;
			}
			&:after{
				background: $brand-blue;
				border-color: #fff;
			}
		}
		&:before,
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 4px;
			left: 0;
		}
		&:before{
			@include square(14px);
			background: #FFF;
			border: solid 1px #fff;
			top: 3px;
			left: -1px;
			@media (min-width: $screen-md) {
			    @include square(12px);
			}
		}
		&:after{
			@include square(12px);
			background: #fff;
			border: solid 1px #d8d8d8;
			@media (min-width: $screen-md) {
			    @include square(10px);
			}
		}

		input{
			-webkit-appearance: none;
		    border: none;
			width: 14px;
			height: 14px;
			margin: 0 8px 0 -20px;
			visibility: hidden; // IE
			@media (min-width: $screen-md) {
			    width: 12px;
			    height: 12px;
			}
			&:checked{
				background: none;
			}
			&:focus{
				outline: none;
			}
		}

	}
}
.block-select{
	display: block;
	@include transition-off;
	padding-bottom: 5px;
	&:hover{
		@include transition-on;
		@include box-shadow(0 0 20px rgba(0,0,0,.1));
		text-decoration: none;
	}
}