.category-price{
	display: block;
	font-size: 80%;
	margin-top: .5em;
}
.category-product{
	@include mb('lg');
	.image-grid{
		@include mb();
		picture{
			display: inline;
			img{
				width: 100%;
			}
		}	
	}
	.topic-content{
		padding: 0;
		text-align: center;
	}
	.btn-set{
		@media (min-width: $screen-sm) {
			width: 100%;
			.btn{
				display: inline-block;
				margin: 0 3px;
			}
		}
	}
}