.page-header.is-collection{
	background: none;
	border-bottom: solid 1px #e6e6e6;
	padding-bottom: 0;
	margin-bottom: 30px;
	@media (min-width: $screen-md) {
		margin-bottom: 70px;
	}
	h1{
		margin-bottom: 35px;
	}
	&.has-active-filters{
		.filter-options{
			margin-bottom: 0;
			@media (min-width: $screen-md) {
			    margin-bottom: 62px;
			}
		}
		#active-filters{
			display: block;
		}
	}
}
#filters{
	margin-left: $mobile-gutter;
	margin-right: $mobile-gutter;
	@media (min-width: $screen-md) {
		display: inline-block;
		margin: 0;
	}
	ul{
		@include clean;
		background: #F8F8F8;
		border-radius: 4px;
		padding: 15px 0;
		margin: 0 auto 40px;
		display: flex;
		justify-content: center;
	}
	li{
		border-right: solid 1px #dcdcdc;
		&:last-child{
			border: 0;
		}
	}
}
.filter-toggle{
	background: none;
	border: 0;
	color: #888;
	font-size: 14px;
	padding: 0 10px;
	@media (min-width: $screen-md) {
		padding: 0 45px;
	}
	&.active,
	&:hover,
	&:focus{
		color: $gray-darker;
		text-decoration: none;
	}
}
.filter-options{
	@include clean;
	margin: 0 $mobile-gutter;
	text-align: left;
	@media (min-width: $screen-md) {
		margin: 0 0 103px;
		text-align: center;
	}
	li{
		padding: 0 0 30px;
		@media (min-width: $screen-md) {
			display: inline-block;
			padding: 0 25px;
		}
	}
} 
.filter-option{
	background: none;
	border: 0;
	font-size: 14px;
	color: #646464;
	line-height: 24px;
	position: relative;
	@include transition(all .2s ease);
	&:focus,
	&:hover{
		outline: none;
		color: $gray-darker;
		&:before{
			box-shadow: 0 0 0 2px #d8d8d8 inset;
		}
	}
	&:before,
	&:after{
		content: '';
		width: 24px;
		height: 24px;
	}
	&:before{
		display: inline-block;
		box-shadow: 0 0 0 1px #d8d8d8 inset;
		margin-right: 15px;
		vertical-align: bottom;
		@include transition(all .2s ease-in-out);
	}
	&:after{
		display: block;
		position: absolute;
		left: 7px;
		top: 0;
		opacity: 0;
		background: url('check-mark.svg') no-repeat center center;
		@include transition(all .2s ease-in-out .1s);
	}
	&.selected{
		&:before{
			box-shadow: 0 0 0 13px $brand-blue inset;
		}
		&:after{
			opacity: 1;
		}
	}
}

#active-filters{
	display: none;
	margin-bottom: 25px;
	color: #888;
	@include transition(all .2s ease);
	a{
		color: $brand-blue;
		padding: 0 15px;
	}
}
[data-active-filters]{
	@media (max-width: $screen-sm-max) {
	    display: none;
	}
}
#filters-collapse{
	margin: 0 auto 30px;
	width: 230px;
}