.page-header{
	&.is-collection{
		background: none;
		border-bottom: solid 1px #e6e6e6;
		padding-bottom: 0;
		margin-bottom: 30px;
		z-index: 10;
		@media (min-width: $screen-md) {
			margin-bottom: 70px;
		}
		h1{
			margin-bottom: 35px;
		}
		&.has-active-filters{
			.filter-options{
				margin-bottom: 0;
				@media (min-width: $screen-md) {
						margin-bottom: 62px;
				}
			}
			#active-filters{
				display: block;
			}
		}
	}
	&.group-of-collections{
		padding: 50px;
		color: $gray;
		background: none;
		margin: 0;
		@media (min-width: $screen-sm) {
			padding: 60px 0;
		}
		@media (min-width: $screen-md) {
			padding: 65px 0;
		}
		@media (min-width: $screen-lg) {
			padding: 75px 0;
		}
		h1{
			margin-bottom: .5em; 
			@include heroTitle;
		}
		p{
			margin: 0;
			@include heroDescription;
		}
	}
}
body.fixed-filters{
	.page-header.is-collection{
		position: fixed;
		width: 100%;
		background: #fff;
	}
}
#filters{
	@media (min-width: $screen-sm) {
		margin-left: $mobile-gutter;
		margin-right: $mobile-gutter;	
	}
	@media (min-width: $screen-md) {
		display: inline-block;
		margin: 0;
	}
	ul{
		@include resetList;
		background: #F8F8F8;
		border-radius: 4px;
		padding: 15px 0;
		margin: 0 auto 40px;
		display: flex;
		justify-content: center;
	}
	li{
		border-right: solid 1px #dcdcdc;
		&:last-child{
			border: 0;
		}
	}
}
.filter-toggle{
	background: none;
	border: 0;
	color: #888;
	font-size: 14px;
	padding: 0 10px;
	@media (min-width: $screen-md) {
		padding: 0 45px;
	}
	&.active,
	&:hover,
	&:focus{
		color: $gray-darker;
		text-decoration: none;
	}
}
.filter-options{
	@include resetList;
	margin: 0 $mobile-gutter;
	text-align: left;
	@media (min-width: $screen-md) {
		margin: 0 0 103px;
		text-align: center;
	}
	li{
		padding: 0 0 30px;
		@media (min-width: $screen-md) {
			display: inline-block;
			padding: 0 25px;
		}
	}
} 
.filter-option{
	background: none;
	border: 0;
	font-size: 14px;
	color: $gray;
	line-height: 24px;
	position: relative;
	padding: 0;
	@include transition(all .2s ease);
	&:focus,
	&:hover{
		outline: none;
		color: $gray-darker;
		&:before{
			box-shadow: 0 0 0 2px #d8d8d8 inset;
		}
	}
	&:before,
	&:after{
		content: '';
		width: 24px;
		height: 24px;
	}
	&:before{
		display: inline-block;
		box-shadow: 0 0 0 1px #d8d8d8 inset;
		margin-right: 15px;
		vertical-align: bottom;
		@include transition(all .2s ease-in-out);
	}
	&:after{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		background: url('check-mark.svg') no-repeat center center;
		@include transition(all .2s ease-in-out .1s);
	}
	&.selected{
		&:before{
			box-shadow: 0 0 0 13px $brand-blue inset;
		}
		&:after{
			opacity: 1;
		}
	}
}

#active-filters{
	display: none;
	margin-bottom: 25px;
	color: #888;
	@include transition(all .2s ease);
	a{
		color: $brand-blue;
		padding: 0 15px;
	}
}
[data-active-filters]{
	@media (max-width: $screen-sm-max) {
	    display: none;
	}
}
#filters-collapse{
	margin: 0 auto 30px;
	width: 230px;
}

#product-families{
	@media (max-width: $screen-sm-max) {
		padding-left: 0;
		padding-right: 0;
		.row{
			margin: 0;
			padding-left: 23px;
			padding-right: 23px;
			display: flex;
			flex-wrap: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;	
			&::before,
			&::after{
				display: none;
			}
			&::after{
				content: '';
				display: block;
				width: 23px;
				flex: 0 0 auto; // extra element at the end to fake the side gutters
			}
		}
		[class^="col-"]{
			flex: 0 0 auto;
			width: 30%;
			padding-left: 5px;
			padding-right: 5px;
		}
		.section-heading{
			text-align: left;
			margin-bottom: 28px;
			padding-left: $mobile-gutter;
			.title{
				font-size: 1.5em;
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		[class^="col-"]{
			width: 70%;
		}
	}
}

.collection-hero{
	position: relative;
	@include mb;
	.content{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;
		text-align: center;
	}
	.title{
		color: currentColor;
	}
	.description{
		@include heroDescription;
	}
	&.as-h1{
		.title{
			@include heroTitle;
		}
	}
	&.as-h2{
		.title{
			@include sectionTitle;
		}
	}
	.btn{
		@include invertedSecondaryBtn;
	}
	img{
		width: 100%;
	}
}
