// testing ground for global styles later?
.max-container{
	max-width: $site-max-width;
	margin-left: auto;
	margin-right: auto;
	position: relative; 
}
.discover{
	.blocks-bg{
		background: $gray-lightest; 
	}
	.container {
		padding-left: $mobile-gutter;
		padding-right: $mobile-gutter;
		max-width: 100%;
		@media (min-width: $screen-sm) {
			width: 100%;
			max-width: 768px;
			padding-left: 15px;
			padding-right: 15px;
			.row{
				margin-left: -15px;
				margin-right: -15px;
			}
			[class^="col-"]{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		@media (min-width: $screen-md) {
			max-width: 971px;
		}
		@media (min-width: $screen-lg) {
			max-width: 1170px;
		}
	}
	.hero{
		position: relative;
		margin-bottom: 100px;
		opacity: 0;
		@include transition(opacity .4s ease-out);
		&.in{
			opacity: 1;
		}
		@media (min-width: $screen-sm) {  
			margin-bottom: 80px;
		}
		@media (min-width: $screen-md) {
			margin-bottom: 86px;
		}
		@media (min-width: $screen-lg) {
			margin-bottom: 130px;
		}
		img{
			width: 100%;
		}
		&.theme-white{
			.hero-content{
				.block-title,
				.block-subtitle,
				.block-description{
					color: #FFF;
				}	
			}
		}
		.hero-content{
			position: absolute;
			top: 0;
			text-align: center;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@media (min-width: $screen-md) {
				width: 50%;	
				&.right{
					right: 0;
					left: auto;
				}
				&.center{
					left: 25%;
				}
			}
			@media (min-width: $screen-md) {
				&.center{
					*{
						max-width: 100%;
					}
				}
			}
			&.theme-medium {
				.block-title{
					color: $gray-darker;
				}
				.block-description{
					color: $gray;
				}
			}
			*{
				max-width: 330px;
				color: #FFF;
				@media (min-width: $screen-md) {
					color: $gray-darker;
					max-width: 360px;
				}
			}
			.block-title{
				font-family: $font-family-bold;
				font-size: 42px;
				@media (min-width: $screen-lg) {
					font-size: 40px;
				}
			}
			.block-description{
				margin-bottom: 26px;
			}
			.block-title,
			.block-description{
				@media (max-width: $screen-xs-max) {
					padding-left: $mobile-gutter;
					padding-right: $mobile-gutter;
				}
			}
		}
	}

	/*
	Typography
	 */
	.theme-white{
		.title,
		.discription,
		.block-title,
		.block-subtitle,
		.block-description{
			color: #FFF;
		}
	}
	.block-title{
		font-family: $font-family-medium; 
		font-size: 44px;
		line-height: calculateEm(52px, 48px);
		margin-bottom: .3em;
		color: $gray-darker;
		@media (min-width: $screen-sm) {
			@include fslh(40,51);
		}
		@media (min-width: $screen-lg) {
			font-size: 52px;
		}
	}
	.block-subtitle{
		display: block;
		font-family: $font-family-base;
		color: $gray-darker;
		text-transform: uppercase;
		margin: 0;
		@include fslh(16,20);
	}
	.block-description{
		@include fslh(19,27);
		color: $gray;
		margin-bottom: 50px;
		@media (min-width: $screen-sm) {
			@include fslh(20,28);
		}
		@media (min-width: $screen-lg) {
			@include fslh(23,36);
			margin-bottom: 80px;
		}
	}
	.block-price{
		color: $gray;
		@include fslh(24,20);
		margin-bottom: 30px;
		@media (min-width: $screen-md) {
			@include fslh(30,50);
		}
	}
	
	/*
	Headling + text pairing, not an actual figure + figcaption
	 */
	.figure-caption{
		.title{
			@include fslh(27,30);
			font-family: $font-family-medium;
			margin-top: 1.6em;
			margin-bottom: 0.5em;
			@media (min-width: $screen-sm) {
				@include fslh(20,25);
			}
			@media (min-width: $screen-md) {
				font-size: 22px;
			}
			@media (min-width: $screen-lg) {
				font-size: 28px;
			}
		}
		.description{
			@include fslh(19,27);
			color: $gray;
			margin-bottom: calculateEm(100px, 19px);
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
				font-size: 16px;
				margin-bottom: calculateEm(60px, 16px);
			}
			@media (min-width: $screen-md) {
				font-size: 18px;
			}
			@media (min-width: $screen-lg) {
				font-size: 22px;
			}
		}
		&.reduced-margin-xs{
			@media (max-width: $screen-xs-max) {
				.description{
					margin-bottom: 40px;	
				}
			}
		}
	}
	
	/*
	Compare section
	 */
	.discover-compare{
		background: #F4F4F4;
		padding: 100px 0;
		.block-title{
			font-size: 42px;
			@media (min-width: $screen-sm) and (max-width: $screen-lg - 1) {
				font-size: 40px;
			}
		}
		.block-description{
			margin-bottom: 0;
		}
	}
	.compare-labels{
		@include clean;
		li{
			display: inline-block;
			vertical-align: top;
			text-align: left;
			font-family: $font-family-medium;
			@include fslh(16,20);
			@media (min-width: $screen-md) {
				@include fslh(20,28);
			}

			&:nth-child(1){ margin-left: 16%; }
			&:nth-child(2){ margin-left: 9%; }
			&:nth-child(3){ margin-left: 7%; }
			&:nth-child(4){ margin-left: 6%; }

			@media (min-width: $screen-lg) {
				&:nth-child(1){ margin-left: 16%; }
				&:nth-child(2){ margin-left: 12%; }
				&:nth-child(3){ margin-left: 10%; }
				&:nth-child(4){ margin-left: 8%; }
			}
			
		}
	}

	/*
	CTA blocks
	 */
	.cta-block-divider{
		background: $gray-lightest;
		hr{
			margin-left: $mobile-gutter;
			margin-right: $mobile-gutter;
		}
		@media (min-width: $screen-sm) {
			display: none;
		}
	}
	.row.cta-block{
		position: relative;
		background: $gray-lightest;
		padding: 75px 0;
		@media (min-width: $screen-sm) {
			margin: 0 65px 80px;
		}
		@media (min-width: $screen-md) {
			padding: 0;
			margin: 0 0 40px;
		}

		picture{
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
				width: 45%;
				margin: 0 auto 1.3em;
			} 
		}

		.figure-caption{
			.title{
				@media (min-width: $screen-sm) {
					margin-top: 0;
				}
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
					font-size: 26px;
				}
			}
			.description{
				margin-bottom: 1.3em;
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
					margin-left: 5%;
					margin-right: 5%;
				}
			}
		}
		
		.overlay{
			.content-col{
				text-align: center;
				.description{
					max-width: 73%;
					margin-left: auto;
					margin-right: auto;
					@media (min-width: $screen-lg) {
						max-width: 100%;
					}
				}
			}
			@media (min-width: $screen-sm) {
				.btn-set{
					max-width: 100%;
					margin: 0;
					.btn{
						display: inline-block;
						margin-bottom: 0;
						min-width: 161px;
						&:first-child{
							margin-right: 15px;
						}
					}
				}
			}
			@media (min-width: $screen-md) {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				.content-col{
					height: 100%;
					display: flex;
					justify-content: center;
					flex-direction: column;
					text-align: left;
					.description{
						margin-left: 0;
					}
				}
			}
		}
	}

	/*
	CTA footer
	 */
	.discover-cta{
		background: #f8f8f8;
		padding: 55px 0 65px;
		text-align: center;
 		.row{
			@media (min-width: $screen-md) {
				display: flex;
	 		}
 		}
		.btn-set{
			padding-top: 0;
			max-width: 250px;
			width: 100%;
		}
		.block-title{
			font-size: 30px;
			@media (min-width: $screen-md) {
				font-size: 40px;
			}
		}
		.section-content{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		picture{
			display: inline-block;
			@media (max-width: $screen-sm-max) {
			    max-width: 285px;
			    margin-bottom: 45px;
			}
		}
	}

	/*
	Press items
	 */
	.pr-items{
		.block-title{
			margin: 100px 0;
			@media (min-width: $screen-sm) {
				margin: 80px 0;
			}
			@media (min-width: $screen-md) {
				margin: 120px 0 95px;
			}
			@media (min-width: $screen-lg) {
				margin: 126px 0 120px;
			}
		}
		[class^="col-"]{
			@media (min-width: $screen-md) {
				&:nth-child(odd){
					clear: left;
				}
			}
			@media (min-width: $screen-lg) {
				&:nth-child(odd){
					clear: none;
				}
				&:nth-child(3n+1){
					clear: left;
				}
			}
		}
	}
	.pr{
		margin: 0 0 50px;
		padding: 0;
	}
	.pr-logo{
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (min-width: $screen-md) {
			align-items: flex-start;
			margin-bottom: 36px;
		}
	}
	.pr-quote{
		color: $gray;
		font-size: 15px;
		line-height: calculateEm(24px, 15px);
	}
	
	/*
	Some elements break out of containers
	 */
	.fw-xs{
		@media (max-width: $screen-xs-max) {
		    margin-left: -$mobile-gutter;
		    margin-right: -$mobile-gutter;
		}
	}
	.col-lg-14{
		@media (min-width: $screen-lg) {
			width: auto;
			margin-left: -72px;
			margin-right: -72px;
		}
	}

	/*
	generic name for something that pushes away the next block, eww
	 */
	.topic-end-md{
		margin-bottom: $mobile-gutter;
		@media (min-width: $screen-sm) {
			margin-bottom: 40px;
		}
		@media (min-width: $screen-md) {
			margin-bottom: 60px;
		}
	}
	.topic-end-lg{
		margin-bottom: 100px;
		@media (min-width: $screen-sm) {
			margin-bottom: 85px;
		}
		@media (min-width: $screen-md) {
			margin-bottom: 120px;
		}
		@media (min-width: $screen-lg) {
			margin-bottom: 126px;
		}
	}

	.topic-end-negate-sm{
		@media (max-width: $screen-sm-max) {
		    margin-bottom: 0;
		}
	}

	/*
	when content center aligns against an image
	 */
	.row.align-centers-sm{
		@media (min-width: $screen-sm) {
			display: flex;
			&.reversed{
				> *{
					order: 1;
				}
				> .content-col{
					order: 0
				}
			}
			.content-col{
				display: flex;
				justify-content: center;
				flex-direction: column;
				.figure-caption{
					text-align: left;
					.title{
						margin-top: 0;
					}
					.description{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.row.align-centers-md{
		@media (min-width: $screen-md) {
			display: flex;
			&.bottom-aligned{
				.content-col{
					justify-content: flex-end;
					.figure-caption{
						.description{
							margin-bottom: calculateEm(50px, 18px);
						}
					}
				}
			}
			&.reversed{
				> *{
					order: 1;
				}
				> .content-col{
					order: 0
				}
			}
			.content-col{
				display: flex;
				justify-content: center;
				flex-direction: column;
				.figure-caption{
					text-align: left;
					.title{
						margin-top: 0;
					}
					.description{
						margin-bottom: 0;
					}
				}
			}
		}
	}

	/*
	when content overlays an image
	mixins only used here
	 */
	@mixin overlayRow{
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}
	@mixin overlayCol{
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		&.left{
			.figure-caption{
				text-align: left;
			}
		}
	}
	.has-overlay-xs{
		.row{
			@include overlayRow;
		}
		.content-col{
			@include overlayCol;
			.figure-caption{
				.title{
					margin-top: 0;
					font-size: 44px;
					line-height: calculateEm(52px, 48px);
					@media (min-width: $screen-sm) {
						@include fslh(40,51);
					}
					@media (min-width: $screen-lg) {
						font-size: 52px;
					}
				}
				.description{
					margin-bottom: 0;
				}
			}
			
		}
	}
	.has-overlay-sm{
		.row{
			@media (min-width: $screen-sm) {
				@include overlayRow;
			}
		}
		.content-col{
			@media (min-width: $screen-sm) {
				@include overlayCol;
			}
			.figure-caption{
				.title{
					@media (min-width: $screen-sm) {
						margin-top: 0;
					}
				}
				.description{
					@media (min-width: $screen-sm) {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	/*
	overrides, maybe should be new global defaults
	 */
	picture{
		display: block;
	}
	.overview-video-trigger {
	    opacity: 1;
	    width: 80px;
	    @media (min-width: $screen-sm) {
	    	width: 60px;
	    }
	    @media (min-width: $screen-lg) {
	    	width: 94px;
	    }
	    img{
	    	width: 100%;
	    }
	}
	.btn-set p:first-child{
		margin-bottom: 10px;
	}
	.text-center{
		text-align: center;
	}
	.text-center-sm{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			text-align: center;
		}
	}
	.text-center-md{
		@media (min-width: $screen-md) {
			text-align: center;
		}
	}
	.text-left-xs{
		@media (max-width: $screen-xs-max) {
			text-align: left;
		}
	}
	.text-left{
		text-align: left;
	}
	hr{
		margin: 0;
		border-top-color: #EAEAEA;
	}
	.offset-top-sm{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			margin-top: 60px;
		}
	}
	.offset-top-md{
		@media (min-width: $screen-md) and (max-width: $screen-md-max) {
			margin-top: 60px;
		}
	}
	.offset-top-lg{
		@media (min-width: $screen-lg) {
			margin-top: 80px;
		}
	}
}


/*
Specific things
 */
#discover-catalina-compare{
	width: 822px; // causes sidescrolling on mobile intentially
	@media (min-width: $screen-sm) {
		width: auto;
	}
}
#catalina-compact{
	display: block;
	img{
		width: 100%;
	}
	@media (min-width: $screen-sm) {
		width: 610px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: $screen-md) {
		width: 874px;
		margin: 0;
	}
	@media (min-width: $screen-lg) {
		width: 1118px;
	}
}

#catalina-locker{
	display: block;
	@media (min-width: $screen-md) {
		margin-top: -110px;
	}
	@media (min-width: $screen-lg) {
		margin-top: -164px;
	}
}

#catalina-bottom-pocket{
	margin-bottom: 10px;
	@media (min-width: $screen-sm) {
		margin-bottom: 40px;
	}
	@media (min-width: $screen-md) {
		margin-bottom: 60px;
	}
	@media (min-width: $screen-lg) {
		margin-bottom: 80px;
	}
}

#catalina-deluxe-tote-lightweight{
	@media (min-width: $screen-md) {
		margin-bottom: 50px;
	}
	@media (min-width: $screen-lg) {
		margin-bottom: 80px;
	}
}

#catalina-deluxe-tote-what-fits{
	@media (max-width: $screen-xs-max) {
		margin-bottom: 0;
	}
}

#catalina-deluxe-tote-exterior-pocket,
#catalina-deluxe-tote-key-leash{
	@media (max-width: $screen-sm-max) {
		margin-bottom: 0;
	}
}

#catalina-collection-bottom-pocket,
#catalina-deluxe-tote-materials-description{
	@media (max-width: $screen-xs-max) {
		margin-bottom: 0;
	}
}

#catalina-collection-bottom-pocket-content{
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		display: flex;
		flex-direction: column-reverse;
		.figure-caption{
			.title{
				margin-top: 3em;
			}
			.description{
				margin-bottom: 0;
			}
		}
	}
}

#catalina-collection-handle-sleeve-content{
	@media (max-width: $screen-sm-max) {
		margin-bottom: 0;
	}
	@media (min-width: $screen-md) {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
}

#og-omg-side-pocket,
#hanover-deluxe-anywhere-2,
#hanover-minimalist-1,
#waverley-materials-1{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-sm) {
		margin-bottom: 0;
	}
}

#hanover-organized{
	@media (min-width: $screen-md) {
		max-width: 1100px;
		.row{
			margin-left: -7px;
			margin-right: -8px;
		}
		[class^="col-"]{
			padding-left: 7px;
			padding-right: 8px;
		}
	}
	@media (min-width: $screen-lg) {
		max-width: 1498px;
	}
}

#og-omg-compare,
#hanover-compare{
	.block-title{
		font-size: 30px;
		@media (min-width: $screen-md) {
			font-size: 30px;
		}
		@media (min-width: $screen-lg) {
			font-size: 40px;
		}
	}
	.block-description{
		font-size: 19px;
		@media (min-width: $screen-sm) {
			font-size: 16px;
		}
		@media (min-width: $screen-md) {
			font-size: 18px;
		}
		@media (min-width: $screen-lg) {
			font-size: 28px;
		}
	}
	@media (max-width: $screen-sm-max) {
		picture{
			margin-bottom: 55px;
		}
	}
	@media (min-width: $screen-md) {
		> *{
			order: 0;
		}
		> .content-col{
			order: 1;
		}
		.btn-set{
			width: 250px;
			p{
				margin: 0;
			}
		}
		.block-description{
			margin-bottom: 1em;
		}
	}
}
#og-omg-cta,
#hanover-cta{ 
	picture{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			max-width: 220px;
		}
	}
}

#og-omg-hero{
	@media (max-width: $screen-sm-max) {
	    .block-title,
	    .block-description{
	    	padding: 0;
	    }
	}
}
#og-omg-side-pocket{
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		margin-bottom: 60px;
	}
}
#og-omg-compare{
	.block-title{
		font-size: 27px;
		margin-bottom: 48px;
		@media (min-width: $screen-sm) {
			font-size: 20px;
		}
		@media (min-width: $screen-md) {
			font-size: 22px;
		}
		@media (min-width: $screen-lg) {
			font-size: 28px;
			margin-bottom: 30px;
		}
	}
}
#og-omg-plenty{
	@media (min-width: $screen-md) {
		.figure-caption .description{
			margin-bottom: 0; 
		}
	}
}

#pearl-crossbody,
#pearl-wristlet{
	margin-bottom: 87px;
	@media (min-width: $screen-sm) {
		margin-bottom: 0;
	}
}

#pearl-anywhere-1,
#pearl-anywhere-2,
#pearl-anywhere-3,
#pearl-anywhere-4,
#pearl-anywhere-5,
#pearl-anywhere-6{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-sm) {
		margin-bottom: 50px;
	}
	@media (min-width: $screen-lg) {
		margin-bottom: 60px;
	}
}

#pearl-anywhere-3,
#pearl-anywhere-4{
	@media (min-width: $screen-md) {
		margin-bottom: 30px;
	}
}

#pearl-cta{
	picture{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			max-width: 455px;
		}
	}
}