.blocks-bg{
	background: $gray-lightest; 
}

/*
 Specific Overrides
 */
#catalina-hero{
	.title,.description{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			transform: translate(100px,56px);
		}
	}
	.description{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			max-width: 83%;
		}
	}
}
#catalina-deluxe-hero{
	@media (max-width: $screen-xs-max) {
		.title,.description{
			color: #FFF;
		}
		.scroll-down-indicator{
			background-image: url(hero-arrow.svg);
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		.hero-content{
			width: 50%;
			padding: 0 10%;
		}
	}
	@media (min-width: $screen-lg) {
		.hero-content{
			padding: 0 12%;
		}
	}
}
#dimensions-overlay{
	table{
		width: 100%;
		font-size: 16px;
		color: $gray;
		th{
			font-weight: 400;
		}
		thead{
			th{
				text-align: center;
				padding: 0 22px 11px;
				&:last-child{
					padding-right: 11px;
				}
			}
		}
		tbody{
			th, td{
				padding: 20px 0;
				border-bottom: solid 1px #979797;
				@media (min-width: $screen-sm) {
					padding: 5px 0;
				}
				@media (min-width: $screen-md) {
					padding: 12px 0;
				}
				@media (min-width: $screen-lg) {
					padding: 20px 0;
				}
				&:last-child{
					padding-right: 11px;
				}
			}
			th{
				text-align: left;
			}
			td{
				text-align: center;
				font-size: 23px;
				color: $gray-darker;
				padding-left: 22px;
				padding-right: 22px;
			}
			tr:last-child{
				th, td{
					border: 0;
				}
			}
		}
	}
}
#catalina-deluxe-tote-hero{
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		.hero-content{
			width: 50%;
			padding: 0 6%;
		}
	}
}
#catalina-compact{
	display: block;
	img{
		width: 100%;
	}
	@media (min-width: $screen-sm) {
		width: 610px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: $screen-md) {
		width: 874px;
		margin: 0;
	}
	@media (min-width: $screen-lg) {
		width: 1118px;
	}
}

#catalina-locker{
	display: block;
	@media (min-width: $screen-md) {
		margin-top: -110px;
	}
	@media (min-width: $screen-lg) {
		margin-top: -164px;
	}
}

#catalina-bottom-pocket{
	margin-bottom: 10px;
	@media (min-width: $screen-sm) {
		margin-bottom: 40px;
	}
	@media (min-width: $screen-md) {
		margin-bottom: 60px;
	}
	@media (min-width: $screen-lg) {
		margin-bottom: 80px;
	}
}

#catalina-deluxe-straps{
	position: relative;
	.topic-content{
		@media (min-width: $screen-sm) {
			position: absolute;
			top: 0;
			left: 0;
			width: 41.66667%;
			margin-left: 8.33333%;
			height: 100%;
			padding: 0;
		}
		@media (min-width: $screen-md) {
			width: 33.33333%;
		}
	}
}
#catalina-deluxe-tote-what-fits{
	@media (max-width: $screen-xs-max) {
		margin-bottom: 0;
	}
}

#catalina-deluxe-tote-exterior-pocket,
#catalina-deluxe-tote-key-leash{
	@media (max-width: $screen-sm-max) {
		margin-bottom: 0;
	}
}

#catalina-collection-bottom-pocket,
#catalina-deluxe-tote-materials-description{
	@media (max-width: $screen-xs-max) {
		margin-bottom: 0;
	}
}

#catalina-collection-bottom-pocket-content{
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		display: flex;
		flex-direction: column-reverse;
		.figure-caption{
			.title{
				margin-top: 3em;
			}
			.description{
				margin-bottom: 0;
			}
		}
	}
}

#catalina-collection-handle-sleeve-content{
	@media (max-width: $screen-sm-max) {
		margin-bottom: 0;
	}
	@media (min-width: $screen-md) {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
}

#hanover-deluxe-m-anywhere,
#hanover-deluxe-anywhere-1{
	@media (max-width: $screen-xs-max) {
	    margin-bottom: $mobile-gutter;
	}
}

#hanover-deluxe-anywhere-2,
#hanover-minimalist-1,
#waverley-materials-1{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-sm) {
		margin-bottom: 0;
	}
}

#hanover-organized{
	@media (min-width: $screen-md) {
		max-width: 1100px;
		.row{
			margin-left: -7px;
			margin-right: -8px;
		}
		[class^="col-"]{
			padding-left: 7px;
			padding-right: 8px;
		}
	}
	@media (min-width: $screen-lg) {
		max-width: 1498px;
	}
}

#hanover-m-removable{
	position: relative;
	.content-col{
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
#sev-m-1,
#sev-m-2{
	top: auto;
	bottom: 30px;
}
#catalina-deluxe-tote-compara-cta{
	@media (max-width: $screen-xs-max) {
	    top: auto;
	    bottom: 30px;
	}
}
#compare-og-hero,
#compare-hanover-hero{
	.hero-content{
		padding-top: $mobile-gutter;
		height: auto;
		@media (min-width: $screen-sm) {
			padding: 40px $mobile-gutter 0;
		}
		@media (min-width: $screen-md) {
			padding-left: 0;
			padding-right: 0;
		}
		@media (min-width: $screen-lg) {
			padding-top: 60px;
		}
	}
}

#og-omg-compare,
#hanover-compare{
	@media (max-width: $screen-sm-max) {
		picture{
			margin-bottom: 55px;
		}
	}
	@media (min-width: $screen-md) {
		> *{
			order: 0;
		}
		> .content-col{
			order: 1;
		}
	}
	.btn-set{
		margin-left: auto;
	}
}
#og-omg-cta,
#hanover-cta{ 
	picture{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			max-width: 220px;
		}
	}
}

#og-omg-hero{
	@media (max-width: $screen-sm-max) {
	    .block-title,
	    .block-description{
	    	padding: 0;
	    }
	}
}
#og-omg-side-pocket{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-md) {
		margin-bottom: 0;
	}
}
#og-omg-compare{
	.block-title{
		font-size: 27px;
		margin-bottom: 48px;
		@media (min-width: $screen-sm) {
			font-size: 20px;
		}
		@media (min-width: $screen-md) {
			font-size: 22px;
		}
		@media (min-width: $screen-lg) {
			font-size: 28px;
			margin-bottom: 30px;
		}
	}
}
#og-omg-plenty{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-md) {
		margin-bottom: 0;
		display: flex;
		align-items: center;
	}
}

#pearl-anywhere-1,
#pearl-anywhere-2,
#pearl-anywhere-3,
#pearl-anywhere-4,
#pearl-anywhere-5,
#pearl-anywhere-6{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-sm) {
		margin-bottom: 50px;
	}
	@media (min-width: $screen-lg) {
		margin-bottom: 60px; 
	}
}

#pearl-anywhere-3,
#pearl-anywhere-4{
	@media (min-width: $screen-md) {
		margin-bottom: 30px;
	}
}

#pearl-cta{
	picture{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			max-width: 455px;
		}
	}
}

#rhodes-hero{
	@media (max-width: $screen-xs-max) {
		.hero-content{
			height: 50%;
		}
	}
}

#rhodes-hero,
#edgemont-hero{
	@media (min-width: $screen-sm) {
		.hero-content{
			left: 0;
			width: 50%;
			padding: 0 10%;
		}
	}
}
#edgemont-cta{
	picture{
		@media (max-width: $screen-sm-max) {
		    max-width: 200px;
		}
	}
}

#edgemont-intro-video{
	@media (max-width: $screen-sm-max) {
	    .embed-container{
	    	padding-bottom: 100%;
	    }
	}
}

#organic-canvas-hero{
	.hero-content{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		    width: 50%;
		    right: 0;
		    left: auto;
		    padding: 0 3%;
		}
	}
}
.legacy-has-overlay.organic-canvas-better{
	.image-panel-content{
		height: 70%;
	}
}

#claremont-cta{
	@media (max-width: $screen-xs-max) {
	    .title, .final-price{
	    	color: #FFF;
	    }
	}
	@media (min-width: $screen-md) {
		.btn-set{
			width: auto;
		}
	}
}

#pearl-colors-hero{
	.hero-content{
		@media (max-width: $screen-xs-max) {
			height: 50%;
		}
		@media (min-width: $screen-sm) {
			padding: 0 15%;
		}
		@media (min-width: $screen-md) {
			padding: 0;
		}
	}
}
#pearl-comparison-hero{
	.hero-content{
		@media (min-width: $screen-sm) {
			padding: 0 6%;
		}
		@media (min-width: $screen-md) {
			padding: 0 1%;	
		}
	}
}

#seville-comparison-hero{
	@media (max-width: $screen-xs-max) {
		.hero-content{
			height: 50%;
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		.hero-content{
			.title{
				font-size: 1.9em;
			}
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
		.hero-content{
			left: 0;
			width: 56%;
			padding: 0 5%;
		}
	}
}

#seville-discover-hero{
	@media (max-width: $screen-xs-max) {
		.hero-content{
			height: 50%;
		}
	}
	@media (min-width: $screen-sm) {
		.hero-content{
			left: 0;
			width: 50%;
			padding: 0 5%;
		}
	}
}
#seville-addtional-colors{
	@media (max-width: $screen-xs-max) {
		position: static;
	}
}
.topic-block.has-overlay-xs .topic-content.seville-overlay-block{
	@media (max-width: $screen-xs-max) {
		height: 60%;
		padding-left: $mobile-gutter;
		padding-right: $mobile-gutter;
		.title{
			font-size: 1.5em;
		}
		.description{
			font-size: .9em;
		}
	}
	@media (max-width: $screen-sm-max) {
		.title{
			font-size: 1.3em;
		}
		.description{
			font-size: .7em;
		}
		.btn-set{
			margin-left: auto;
		}
	}
}

#camo-hero{
	&::after{
		@media (max-width: $screen-sm-max) {
		    height: 26px;
		}
	}
	.hero-content{
		width: 100%;
		left: 0;
		height: 64%;
		@media (min-width: $screen-sm) {
			padding: 0;
			height: 50%;
		}
	}
}

#svg-logo-lockup{
	width: 200px;
	display: block;
	margin: 0 auto;
	@media (min-width: $screen-sm) {
		width: 322px;
	}
	@media (min-width: $screen-md) {
		width: 338px;
	}
	@media (min-width: $screen-lg) {
		width: 372px;
	}
}

#svg-hero{
	@media (max-width: $screen-xs-max) {
		.hero-content{
			height: 50%;
		}
	}
}

#yotp-cta{
	@media (min-width: $screen-sm) {
		margin-left: auto;
		margin-right: auto;
	}
}
#laptops,
#zodiac-signs{
	padding-top: 40px;
	font-size: 28px;
	color: $gray-darker;
	div{
		display: none;
	}
	p{
		margin-bottom: 20px;
	}
}
#laptops{
	h3{
		font-family: $font-family-medium;
		font-size: 21px;
		@media (min-width: $screen-lg) {
			font-size: 28px;
		}
	}
	p{
		color: #4A4A4A;
		margin-bottom: 40px;
		line-height: 2.14;
		font-size: 14px;
		@media (min-width: $screen-sm) {
			font-size: 18px;
			line-height: 1.64;
		}
		@media (min-width: $screen-lg) {
			font-size: 22px;
			margin-bottom: 70px;
		}
	}
}
#zodiac-select-wrap{
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}
#laptops-select-wrap{
	max-width: 140px;
	margin-left: auto;
	margin-right: auto;
}
#yotp-intro p{
	@media (min-width: $screen-sm) {
		font-size: 19px;
	}
	@media (min-width: $screen-lg) {
		font-size: 22px;
	}
}

#eco-hero{
	.hero-content{
		padding: 0 $grid-gutter-width;
		height: 70%;
		@media (min-width: $screen-sm) {
			padding: 0 10%;
		}
		@media (min-width: $screen-md) {
			padding: 0;
			height: 80%;
		}
		@media (min-width: $screen-lg) {
			padding: 0 5%;
		}
	}	
}
#eco-backpacks-icons{
	text-align: center;
	background: #EBEBEB;
	padding: 45px $grid-gutter-width;
	@media (min-width: $screen-sm) {
		padding: 60px;
	}
	@media (min-width: $screen-md) {
		padding: 60px 0;
	}
	h2{
		font-family: $font-family-medium;	
		margin: 0;
		font-size: 36px;
		@media (min-width: $screen-sm) {
			font-size: 40px;
		}
		@media (min-width: $screen-lg) {
			font-size: 46px;
		}
	}
	img{
		margin: 45px 0;
		max-width: 100%;
		@media (min-width: $screen-sm) {
			max-width: 432px;
		}
		@media (min-width: $screen-lg) {
			max-width: none;
		}
	}
	p{
		margin: 0;
		font-size: 18px;
		@media (min-width: $screen-lg) {
			font-size: 22px;
		}
	}
}
#eco-edgemont-cta{
	picture{
		max-width: 160px;
		@media (min-width: $screen-sm) {
			max-width: 240px;
		}
		@media (min-width: $screen-md) {
			max-width: 100%;
		}
	}
}

#eco-hanover-cta,
#eco-hanover-deluxe-cta{
	picture{
		@media (min-width: $screen-md) {
			max-width: 340px;
		}
	}
}

#rowledge-hero{
	@media (max-width: $screen-xs-max) {
		.description{
			font-size: 22px;
			padding: 0 30px;
		}
	}
}
#rowledge-title{
	@media (max-width: $screen-xs-max) {
		font-size: 30px;
	}
}