.skimm-topic-end{
	margin-bottom: 75px;
	@media (min-width: $screen-sm) {
		margin-bottom: 100px;
	}
	@media (min-width: $screen-md) {
		margin-bottom: 115px;
	}
	@media (min-width: $screen-md) {
		margin-bottom: 150px;
	}
}
#skimm-hero{
	@media (max-width: $screen-xs-max) {
	    margin-bottom: $mobile-gutter;
	}
	.block-title{
		font-size: 48px;
		max-width: 100%;
		font-family: $font-family-medium;
		@media (max-width: $screen-sm-max) {
		    margin-bottom: 150px;
		}
		@media (min-width: $screen-sm) {
		    font-size: 90px;
		}
		@media (min-width: $screen-md) {
		    font-size: 70px;
		}
		@media (min-width: $screen-lg) {
			font-size: 90px;
		}
	}
} 
// because mobile groups things different than desktop. consistency is overrated
#skimm-offer{
	max-width: 100%;
	padding: 35px 15px;
	background: rgba($gray-darker,.3);
	position: absolute;
	bottom: $mobile-gutter;
	left: $mobile-gutter;
	right: $mobile-gutter;
	@media (min-width: $screen-sm) {
		bottom: 70px;
		left: 70px;
		right: 70px;
	}
	@media (min-width: $screen-md) {
		padding: 0;
		background: none;
		position: static; 
	}
	*{
		max-width: 100%;
	}
}
#skimm-code{
	@media (min-width: $screen-md) {
		border: solid 1px #fff;
	    display: flex;
	    align-items: center;
	    padding: 15px;
	    margin-bottom: 18px;
	}
	span{
		color: #FFF;
		font-size: 30px;
		line-height: 1.2;
		display: block;
		font-family: $font-family-medium;
		margin-bottom: 15px;
		@media (min-width: $screen-sm) {
			font-size: 40px;
		}
		@media (min-width: $screen-md) {
			font-size: 24px;
			padding: 0 25px 0 10px;
			margin-bottom: 0;
		}
		small{
			display: block;
			font-size: 73%;
			color: #FFF;
			@media (min-width: $screen-md) {
				display: inline;
				font-size: 100%;
			}
		}
	}
	.code{
		background: #FFF;
		color: $brand-blue;
		font-size: 20px;
		line-height: 1;
		text-transform: uppercase;
		padding: 15px 0;
		width: 200px;
		margin: 0 auto 15px;
		display: block;
		font-family: $font-family-medium;
		@media (min-width: $screen-md) {
			font-size: 26px;
			padding: 20px 30px;
			width: auto;
			margin: 0;
		}
	}
}
#skimm-code-disclaimer{
	color: #FFF;
	font-size: 16px;
	line-height: 1;
	@media (min-width: $screen-md) {
	    padding-left: 25px;
	    text-align: left;
	    font-size: 18px;
	}
}
.skimm-lead{
	color: $gray;
	@include fslh(24,36);
	@media (min-width: $screen-sm) {
	    @include fslh(28,48);
	}
	@media (min-width: $screen-md) {
	    @include fslh(30,50);
	}
	@media (min-width: $screen-lg) {
		@include fslh(38,63);
	}
}

#skimm-cta{
	border: solid 1px $gray-lighter;
	padding: 60px 50px 70px;
	text-align: center;
	font-family: $font-family-medium;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 30px;
	@media (min-width: $screen-sm) {
		margin: 0;
	}
	@media (min-width: $screen-md) {
		font-size: 40px;
		padding: 70px 50px 95px;
	}
	@media (min-width: $screen-lg) {
		font-size: 50px;
		padding: 80px 50px 100px;
	}
	h6{
		text-transform: uppercase;
		font-size: 13px;
		color: $gray;
		letter-spacing: .125ex;
		margin-top: 0;
		margin-bottom: 1.1em;
		@media (min-width: $screen-md) {
			font-size: 14px;
		}
		@media (min-width: $screen-lg) {
			font-size: 16px;
		}
	}
	small{
		display: block;
		font-size: 73%;
		@media (min-width: $screen-md) {
			font-size: 100%;
		}
	}
	.code{
		color: $brand-blue;
		text-transform: uppercase;
	}
}