.blocks-bg{
	background: $gray-lightest; 
}

/*
 Specific Overrides
 */
#catalina-hero{
	.title,.description{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			transform: translate(100px,56px);
		}
	}
	.description{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			max-width: 83%;
		}
	}
}
#catalina-deluxe-hero{
	@media (max-width: $screen-xs-max) {
		.title,.description{
			color: #FFF;
		}
		.scroll-down-indicator{
			background-image: url(hero-arrow.svg);
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		.hero-content{
			width: 50%;
			padding: 0 10%;
		}
	}
	@media (min-width: $screen-lg) {
		.hero-content{
			padding: 0 12%;
		}
	}
}
#dimensions-overlay{
	table{
		width: 100%;
		font-size: 16px;
		color: $gray;
		th{
			font-weight: 400;
		}
		thead{
			th{
				text-align: center;
				padding: 0 22px 11px;
				&:last-child{
					padding-right: 11px;
				}
			}
		}
		tbody{
			th, td{
				padding: 20px 0;
				border-bottom: solid 1px #979797;
				@media (min-width: $screen-sm) {
					padding: 5px 0;
				}
				@media (min-width: $screen-md) {
					padding: 12px 0;
				}
				@media (min-width: $screen-lg) {
					padding: 20px 0;
				}
				&:last-child{
					padding-right: 11px;
				}
			}
			th{
				text-align: left;
			}
			td{
				text-align: center;
				font-size: 23px;
				color: $gray-darker;
				padding-left: 22px;
				padding-right: 22px;
			}
			tr:last-child{
				th, td{
					border: 0;
				}
			}
		}
	}
}
#catalina-deluxe-tote-hero{
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		.hero-content{
			width: 50%;
			padding: 0 6%;
		}
	}
}
#catalina-compact{
	display: block;
	img{
		width: 100%;
	}
	@media (min-width: $screen-sm) {
		width: 610px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: $screen-md) {
		width: 874px;
		margin: 0;
	}
	@media (min-width: $screen-lg) {
		width: 1118px;
	}
}

#catalina-locker{
	display: block;
	@media (min-width: $screen-md) {
		margin-top: -110px;
	}
	@media (min-width: $screen-lg) {
		margin-top: -164px;
	}
}

#catalina-bottom-pocket{
	margin-bottom: 10px;
	@media (min-width: $screen-sm) {
		margin-bottom: 40px;
	}
	@media (min-width: $screen-md) {
		margin-bottom: 60px;
	}
	@media (min-width: $screen-lg) {
		margin-bottom: 80px;
	}
}

#catalina-deluxe-straps{
	position: relative;
	.topic-content{
		@media (min-width: $screen-sm) {
			position: absolute;
			top: 0;
			left: 0;
			width: 41.66667%;
			margin-left: 8.33333%;
			height: 100%;
			padding: 0;
		}
		@media (min-width: $screen-md) {
			width: 33.33333%;
		}
	}
}
#catalina-deluxe-tote-what-fits{
	@media (max-width: $screen-xs-max) {
		margin-bottom: 0;
	}
}

#catalina-deluxe-tote-exterior-pocket,
#catalina-deluxe-tote-key-leash{
	@media (max-width: $screen-sm-max) {
		margin-bottom: 0;
	}
}

#catalina-collection-bottom-pocket,
#catalina-deluxe-tote-materials-description{
	@media (max-width: $screen-xs-max) {
		margin-bottom: 0;
	}
}

#catalina-collection-bottom-pocket-content{
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		display: flex;
		flex-direction: column-reverse;
		.figure-caption{
			.title{
				margin-top: 3em;
			}
			.description{
				margin-bottom: 0;
			}
		}
	}
}

#catalina-collection-handle-sleeve-content{
	@media (max-width: $screen-sm-max) {
		margin-bottom: 0;
	}
	@media (min-width: $screen-md) {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
}

#hanover-deluxe-m-anywhere,
#hanover-deluxe-anywhere-1{
	@media (max-width: $screen-xs-max) {
	    margin-bottom: $mobile-gutter;
	}
}

#hanover-deluxe-anywhere-2,
#hanover-minimalist-1,
#waverley-materials-1{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-sm) {
		margin-bottom: 0;
	}
}

#hanover-organized{
	@media (min-width: $screen-md) {
		max-width: 1100px;
		.row{
			margin-left: -7px;
			margin-right: -8px;
		}
		[class^="col-"]{
			padding-left: 7px;
			padding-right: 8px;
		}
	}
	@media (min-width: $screen-lg) {
		max-width: 1498px;
	}
}

#hanover-m-removable{
	position: relative;
	.content-col{
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
#sev-m-1,
#sev-m-2{
	top: auto;
	bottom: 30px;
}
#catalina-deluxe-tote-compara-cta{
	@media (max-width: $screen-xs-max) {
	    top: auto;
	    bottom: 30px;
	}
}
#compare-og-hero,
#compare-hanover-hero{
	.hero-content{
		padding-top: $mobile-gutter;
		height: auto;
		@media (min-width: $screen-sm) {
			padding: 40px $mobile-gutter 0;
		}
		@media (min-width: $screen-md) {
			padding-left: 0;
			padding-right: 0;
		}
		@media (min-width: $screen-lg) {
			padding-top: 60px;
		}
	}
}

#og-omg-compare,
#hanover-compare{
	@media (max-width: $screen-sm-max) {
		picture{
			margin-bottom: 55px;
		}
	}
	@media (min-width: $screen-md) {
		> *{
			order: 0;
		}
		> .content-col{
			order: 1;
		}
	}
	.btn-set{
		margin-left: auto;
	}
}
#og-omg-cta,
#hanover-cta{ 
	picture{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			max-width: 220px;
		}
	}
}

#og-omg-hero{
	@media (max-width: $screen-sm-max) {
	    .block-title,
	    .block-description{
	    	padding: 0;
	    }
	}
}
#og-omg-side-pocket{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-md) {
		margin-bottom: 0;
	}
}
#og-omg-compare{
	.block-title{
		font-size: 27px;
		margin-bottom: 48px;
		@media (min-width: $screen-sm) {
			font-size: 20px;
		}
		@media (min-width: $screen-md) {
			font-size: 22px;
		}
		@media (min-width: $screen-lg) {
			font-size: 28px;
			margin-bottom: 30px;
		}
	}
}
#og-omg-plenty{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-md) {
		margin-bottom: 0;
		display: flex;
		align-items: center;
	}
}

#pearl-anywhere-1,
#pearl-anywhere-2,
#pearl-anywhere-3,
#pearl-anywhere-4,
#pearl-anywhere-5,
#pearl-anywhere-6{
	margin-bottom: $mobile-gutter;
	@media (min-width: $screen-sm) {
		margin-bottom: 50px;
	}
	@media (min-width: $screen-lg) {
		margin-bottom: 60px; 
	}
}

#pearl-anywhere-3,
#pearl-anywhere-4{
	@media (min-width: $screen-md) {
		margin-bottom: 30px;
	}
}

#pearl-cta{
	picture{
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			max-width: 455px;
		}
	}
}

#rhodes-hero{
	@media (max-width: $screen-xs-max) {
		.hero-content{
			height: 50%;
		}
	}
}

#rhodes-hero,
#edgemont-hero{
	@media (min-width: $screen-sm) {
		.hero-content{
			left: 0;
			width: 50%;
			padding: 0 10%;
		}
	}
}
#edgemont-cta{
	picture{
		@media (max-width: $screen-sm-max) {
		    max-width: 200px;
		}
	}
}

#edgemont-intro-video{
	@media (max-width: $screen-sm-max) {
	    .embed-container{
	    	padding-bottom: 100%;
	    }
	}
}

#claremont-cta{
	@media (max-width: $screen-xs-max) {
	    .title, .final-price{
	    	color: #FFF;
	    }
	}
	@media (min-width: $screen-md) {
		.btn-set{
			width: auto;
		}
	}
}

#pearl-colors-hero{
	.hero-content{
		@media (max-width: $screen-xs-max) {
			height: 50%;
		}
		@media (min-width: $screen-sm) {
			padding: 0 15%;
		}
		@media (min-width: $screen-md) {
			padding: 0;
		}
	}
}
#pearl-comparison-hero{
	.hero-content{
		@media (min-width: $screen-sm) {
			padding: 0 6%;
		}
		@media (min-width: $screen-md) {
			padding: 0 1%;	
		}
	}
}

#seville-comparison-hero{
	@media (max-width: $screen-xs-max) {
		.hero-content{
			height: 50%;
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		.hero-content{
			.title{
				font-size: 1.9em;
			}
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
		.hero-content{
			left: 0;
			width: 56%;
			padding: 0 5%;
		}
	}
}

#seville-discover-hero{
	@media (max-width: $screen-xs-max) {
		.hero-content{
			height: 50%;
		}
	}
	@media (min-width: $screen-sm) {
		.hero-content{
			left: 0;
			width: 50%;
			padding: 0 5%;
		}
	}
}
#seville-addtional-colors{
	@media (max-width: $screen-xs-max) {
		position: static;
	}
}
.topic-block.has-overlay-xs .topic-content.seville-overlay-block{
	@media (max-width: $screen-xs-max) {
		height: 60%;
		padding-left: $mobile-gutter;
		padding-right: $mobile-gutter;
		.title{
			font-size: 1.5em;
		}
		.description{
			font-size: .9em;
		}
	}
	@media (max-width: $screen-sm-max) {
		.title{
			font-size: 1.3em;
		}
		.description{
			font-size: .7em;
		}
		.btn-set{
			margin-left: auto;
		}
	}
}

#camo-hero{
	&::after{
		@media (max-width: $screen-sm-max) {
		    height: 26px;
		}
	}
	.hero-content{
		width: 100%;
		left: 0;
		height: 64%;
		@media (min-width: $screen-sm) {
			padding: 0;
			height: 50%;
		}
	}
}

#svg-logo-lockup{
	width: 200px;
	display: block;
	margin: 0 auto;
	@media (min-width: $screen-sm) {
		width: 322px;
	}
	@media (min-width: $screen-md) {
		width: 338px;
	}
	@media (min-width: $screen-lg) {
		width: 372px;
	}
}

#svg-hero{
	@media (max-width: $screen-xs-max) {
		.hero-content{
			height: 50%;
		}
	}
}

#yotp-cta{
	@media (min-width: $screen-sm) {
		margin-left: auto;
		margin-right: auto;
	}
}
#laptops,
#zodiac-signs{
	padding-top: 40px;
	font-size: 28px;
	color: $gray-darker;
	div{
		display: none;
	}
	p{
		margin-bottom: 20px;
	}
}
#laptops{
	h3{
		font-family: $font-family-medium;
		font-size: 21px;
		@media (min-width: $screen-lg) {
			font-size: 28px;
		}
	}
	p{
		color: #4A4A4A;
		margin-bottom: 40px;
		line-height: 2.14;
		font-size: 14px;
		@media (min-width: $screen-sm) {
			font-size: 18px;
			line-height: 1.64;
		}
		@media (min-width: $screen-lg) {
			font-size: 22px;
			margin-bottom: 70px;
		}
	}
}
#zodiac-select-wrap{
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}
#laptops-select-wrap{
	max-width: 140px;
	margin-left: auto;
	margin-right: auto;
}
#yotp-intro p{
	@media (min-width: $screen-sm) {
		font-size: 19px;
	}
	@media (min-width: $screen-lg) {
		font-size: 22px;
	}
}

#eco-hero{
	.hero-content{
		padding: 0 $grid-gutter-width;
		height: 70%;
		@media (min-width: $screen-sm) {
			padding: 0 10%;
		}
		@media (min-width: $screen-md) {
			padding: 0;
			height: 80%;
		}
		@media (min-width: $screen-lg) {
			padding: 0 5%;
		}
	}	
}
#eco-backpacks-icons{
	text-align: center;
	background: #EBEBEB;
	padding: 45px $grid-gutter-width;
	@media (min-width: $screen-sm) {
		padding: 60px;
	}
	@media (min-width: $screen-md) {
		padding: 60px 0;
	}
	h2{
		font-family: $font-family-medium;	
		margin: 0;
		font-size: 36px;
		@media (min-width: $screen-sm) {
			font-size: 40px;
		}
		@media (min-width: $screen-lg) {
			font-size: 46px;
		}
	}
	img{
		margin: 45px 0;
		max-width: 100%;
		@media (min-width: $screen-sm) {
			max-width: 432px;
		}
		@media (min-width: $screen-lg) {
			max-width: none;
		}
	}
	p{
		margin: 0;
		font-size: 18px;
		@media (min-width: $screen-lg) {
			font-size: 22px;
		}
	}
}
#eco-edgemont-cta{
	picture{
		max-width: 160px;
		@media (min-width: $screen-sm) {
			max-width: 240px;
		}
		@media (min-width: $screen-md) {
			max-width: 100%;
		}
	}
}

#eco-hanover-cta,
#eco-hanover-deluxe-cta{
	picture{
		@media (min-width: $screen-md) {
			max-width: 340px;
		}
	}
}

#rowledge-hero{
	@media (max-width: $screen-xs-max) {
		.description{
			font-size: 22px;
			padding: 0 30px;
		}
	}
}
#rowledge-title{
	@media (max-width: $screen-xs-max) {
		font-size: 30px;
	}
}

#organic-canvas-hero{
	margin-bottom: 0;
	.hero-content{
		@media (max-width: $screen-xs-max) {
			height: 62%;
		}
	}
	.description{
		max-width: 560px;
		@media (max-width: $screen-xs-max) {
			font-size: 22px;
		}
	}
}

#organic-canvas-natural{
	@media (min-width: $screen-sm) {
		text-align: left;
		padding: 0;
	}
	@media (max-width: $screen-xs-max) {
		height: 42%;
	}
	.description{
		color: #4A4A4A;
	}
}
.topic-content .title.organic-title,
#organic-canvas-features .title{
	font-size: 32px;
	@media (min-width: $screen-md) {
		font-size: 40px;
	}
	@media (min-width: $screen-lg) {
		font-size: 46px;
	}
}

#organic-canvas-features{
	background: #D4CDC6;
	color: #fff;
	padding: 0 $grid-gutter-width;
	text-align: center;
	@media (min-width: $screen-sm) {
		padding: 0;
		text-align: left;
	}
	img{
		margin-bottom: 20px;
		@media (min-width: $screen-sm) {
			margin: 0 0 0 7%;
		}
		@media (min-width: $screen-md) {
			margin: 0;
		}
	}
	.feature{
		margin: 55px 0;
		@media (min-width: $screen-sm) {
			display: flex;
			align-items: center;
		}
		@media (min-width: $screen-lg) {
			margin: 85px 0;
		}
	}
	.content{
		@media (min-width: $screen-sm) {
			padding: 0 $grid-gutter-width;
		}
	}
	.title{
		font-family: $font-family-sans-serif;
		color: #fff;
	}
	.description{
		font-size: 16px;
		margin: 0;
		@media (min-width: $screen-sm) {
			font-size: 18px;
		}
		@media (min-width: $screen-lg) {
			font-size: 22px;
		}
	}
}
#organic-canvas-foliage{
	.topic-content .description{
		margin-left: auto;
		margin-right: auto;
		@media (min-width: $screen-sm) {
			max-width: 75%
		}
		@media (min-width: $screen-md) {
			max-width: 575px;
		}
	}
}
#organic-canvas-shop-title{
	@media (max-width: $screen-xs-max) {
		font-size: 1.78em;
	}
}

#recycled-poly-hero{
	margin-bottom: 0;
}

#recycled-poly-process,
#recycled-poly-benefits{
	background: #5F6C7C;
	color: #fff;
	padding: 45px;
	@include fslh(16, 22);
	@media (min-width: $screen-sm) {
		padding: 75px;
		@include fslh(18, 28);
	}
	@media (max-width: $screen-sm-max) {
		.container{
			width: 100%;
			padding: 0;
		}
	}
	@media (min-width: $screen-md) {
		padding: 85px 0;
	}
	@media (min-width: $screen-lg) {
		@include fslh(22, 36);
		padding: 100px 0;
	}
	h2{
		color: #fff;
		font-family: $font-family-medium;
		font-size: 32px;
		margin-bottom: 1em;
		@media (min-width: $screen-sm) {
			font-size: 40px;
		}
		@media (min-width: $screen-lg) {
			font-size: 46px;
		}
	}
	em{
		color: #B7C2CF;
	}
	.row{
		text-align: center;
	}
}

.recycled-poly-lifestyle{
	position: relative;
	margin-bottom: $grid-gutter-width;
	@media (min-width: $screen-sm) {
		margin-bottom: 0;
	}
	footer{
		text-align: right;
		color: #9B9B9B;
		padding-top: 15px;
		@media (min-width: $screen-sm) {
			font-size: 14px;
		}
		@media (min-width: $screen-md) {
			font-size: 18px;
		}
		@media (min-width: $screen-lg) {
			font-size: 22px;
		}
		@media (max-width: $screen-xs-max) {
			position: absolute;
			bottom: 15px;
			left: 15px;
			text-align: left;
			color: #fff;
		}
	}
	&.offset{
		@media (min-width: $screen-sm) {
			margin-top: 55px;
		}
		@media (min-width: $screen-md) {
			margin-top: 85px;
		}
		@media (min-width: $screen-lg) {
			margin-top: 100px;
		}
		@media (max-width: $screen-xs-max) {
			footer{
				color: #9B9B9B;
		}
		}
	}
}

.sustainability{
	h2{
		font-family: $font-family-medium;
		margin-bottom: 1em;
		@include fslh(36,44);
		@media (min-width: $screen-sm) {
			@include fslh(40,45);
		}
		@media (min-width: $screen-lg) {
			@include fslh(46,45);
		}
	}
	p{
		color: #4A4A4A;
		@include fslh(16,24);
		@media (min-width: $screen-sm) {
			@include fslh(18,28);
		}
		@media (min-width: $screen-lg) {
			@include fslh(22,36);
		}
	}
}
#sustainability-hero{
	@media (max-width: $screen-xs-max) {
		margin-bottom: 50px;
	}
	.hero-content{
		width: 100%;
		left: 0;
		padding: 0 $grid-gutter-width;
	}
}
#sustainability-mission{
	font-family: $font-family-sans-serif;
	@include fslh(28, 35);
	border-bottom: solid 2px #979797;
	padding-bottom: 50px;
	margin-bottom: 50px;
	text-align: left;
	@media (min-width: $screen-sm) {
		@include fslh(32, 46);
	}
	@media (min-width: $screen-md) {
		@include fslh(35, 46);
		text-align: center;
		padding: 0 7%;
		border: 0;
		margin-bottom: 105px;
	}
	@media (min-width: $screen-lg) {
		@include fslh(38, 48);
	}
}
.sustainability-icon-grid{
	background: #CECDCD;
	padding: 60px 13px 35px;
	text-align: center;
	@include mb(lg);
	p{
		color: #fff;
		font-size: 18px;
		&.lead{
			font-size: 24px;
			font-family: $font-family-medium;
		}
	}
	@media (min-width: $screen-sm) {
		padding: 55px 0 30px;
	}
	@media (min-width: $screen-md) {
		padding: 60px 0;
	}
	@media (min-width: $screen-lg) {
		padding: 75px 0;
		p{
			@include fslh(22, 36);
			&.lead{
				font-size: 28px;
			}
		}
	}
}
#sustainability-challenges-2{
	@media (max-width: $screen-sm-max) {
		padding-bottom: 25px;
	}
}

#waverley2-specs,
#waverley2-fit{
	.container-fluid{
		width: 100%;
		max-width: 1680px;
		padding: 0;
	}
	p{
		text-align: center;
		color: $gray;
		@media (min-width: $screen-md) {
			font-size: 18px;
		}
		@media (min-width: $screen-lg) {
			font-size: 23px;
		}
	}
}
#waverley2-specs{
	padding: 50px 0;
	background: $gray-lightest;
	@media (min-width: $screen-md) {
		padding: 80px 0;
	}
	@media (min-width: $screen-lg) {
		padding: 130px 0;
	}
	.container-fluid{
		.row{
			margin: 0;
			display: flex;
			justify-content: center;
		}
	}
	.title{
		background: #fff;
		font-family: $font-family-medium;
		text-align: center;
		@include fslh(16,20);
		padding: 10px;
		margin-bottom: 50px;
		@media (min-width: $screen-sm) {
			font-size: 24px;
		}
		@media (min-width: $screen-md) {
			margin-bottom: 80px;
			padding: 15px;
		}
		@media (min-width: $screen-lg) {
			margin-bottom: 130px;
			font-size: 33px;
		}
	}
	picture{
		margin-bottom: 10px;
		@media (min-width: $screen-sm) {
			margin-bottom: 30px;
		}
		@media (min-width: $screen-md) {
			margin-bottom: 80px;
		}
		@media (min-width: $screen-lg) {
			margin-bottom: 100px;
		}
	}
	.col{
		margin: 0 15px;
		@media (min-width: $screen-md) {
			margin: 0 60px;
		}
		@media (min-width: $screen-lg) {
			margin: 0 80px;
		}
		max-width: 720px;
	}
}
.neutral-products,
#waverley2-fit{
	.container-fluid{
		@media (min-width: $screen-sm) {
			.row{
				margin: 0;
				display: flex;
				justify-content: center;
			}
		}
	}
	.col{
		max-width: 512px;
		margin: 0 15px;
	}
	picture{
		margin-bottom: 20px;
		@media (min-width: $screen-md) {
			margin-bottom: 40px;
		}
	}
	.description{
		@media (max-width: $screen-xs-max){
			margin-bottom: 40px;
		}
	}
	.product-name{
		text-align: center;
		font-size: 21px;
		@media (min-width: $screen-sm) {
			font-size: 24px;
		}
		@media (min-width: $screen-lg) {
			font-size: 28px;
		}
		a{
			display: block;
			text-decoration: underline;
			font-size: 16px;
			padding-top: 10px;
			@media (min-width: $screen-sm) {
				font-size: 18px;
			}
			@media (min-width: $screen-lg) {
				padding-top: 15px;
				font-size: 22px;
			}

		}
	}
}

@keyframes old-vs-new {
	0%   { opacity: 0; }
	15%   { opacity: 0; }
	35%	 { opacity: 1; }
	65%	 { opacity: 1; }
  85% { opacity: 0; }
  100% { opacity: 0; }
}

#waverley-2-old-vs-new{
	position: relative;
	text-align: center;
	.new{
		width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		animation: old-vs-new 6s infinite;
	}
}

#leather-wallet-cta,
#waverley2-cta{
	.discover-cta{
		@media (min-width: $screen-md) {
			padding: 130px 0;
		}
	}
}

#waverley-comparison-overlay{
	padding-bottom: 0;
	.slider{
		background: #F8F8F8;
		padding: 75px 0;
		.slide{
			width: 375px;
			text-align: center;
			color: $gray;
			@media (min-width: $screen-sm) {
				width: 490px;
				font-size: 18px;
				padding: 0 15px;
			}
			@media (min-width: $screen-md) {
				width: 624px;
				padding: 0 24px;
			}
			@media (min-width: $screen-lg) {
				width: 780px;
				padding: 0 30px;
				font-size: 23px;
			}
			.title{
				margin-bottom: 40px;
				@media (max-width: $screen-xs-max) {
					margin-left: 42px;
					margin-right: 42px;
				}
			}
			picture{
				margin-bottom: 20px;
				@media (min-width: $screen-sm) {
					margin-bottom: 50px;
				}
				@media (min-width: $screen-md) {
					margin-bottom: 75px;
				}
				@media (min-width: $screen-lg) {
					margin-bottom: 100px;
				}
			}
			p{
				padding: 0 42px;
				@media (min-width: $screen-md) {
					padding: 0 54px;
				}
				@media (min-width: $screen-lg) {
					padding: 0 60px;
				}
			}
		}
		.slick-arrow{
			@include resetButton;
			position: absolute;
			z-index: 100;
			width: 26px;
			height: 52px;
			background: url('slide-next-gray.svg') no-repeat center center;
			background-size: 100% auto;
			text-indent: -999em;
			top: 111px;
			right: 40px;
			@media (max-width: $screen-xs-max) {
				opacity: 0;
			}
			@media (min-width: $screen-md) {
				top: 146px;
			}
			@media (min-width: $screen-lg) {
				top: 172px;
			}
			&.slick-prev{
				background-image: url('slide-prev-gray.svg');
				right: auto;
				left: 40px;
			}
		}
		.slick-dots{
			bottom: -60px;
			button::after{
				background: $gray;
			}
		}
	}
	.columns{
		background: #F8F8F8;
		padding: 50px 0;
		@media (min-width: $screen-sm) {
			padding: 33px 0;
		}
		@media (min-width: $screen-md) {
			padding: 65px 0;
		}
		@media (min-width: $screen-lg) {
			padding: 90px 0;
		}
		.row{
			display: flex;
			justify-content: center;
			margin: 0;
			.col{
				flex: 1;
				max-width: 720px;
				margin: 0 15px;
				@media (min-width: $screen-md) {
					margin: 0 22px;
				}
				@media (min-width: $screen-lg) {
					margin: 0 30px;
				}
			}
		}
	}
	.swatches{
		max-width: 164px;
		margin: 0 auto 35px;
		@media (min-width: $screen-sm) {
			font-size: 18px;
		}
		@media (min-width: $screen-md) {
			max-width: 262px;
		}
		@media (min-width: $screen-lg) {
			max-width: 390px;
			font-size: 23px;
		}
		&:last-child{
			margin-bottom: 80px;
		}
		img{
			width: 124px;
			margin-top: 10px;
			@media (min-width: $screen-sm) {
				width: 142px;
				margin-top: 15px;
			}
			@media (min-width: $screen-md) {
				width: 229px;
			}
			@media (min-width: $screen-lg) {
				width: 310px;
			}
		}
	}
	.two-up{
		margin-left: auto;
		margin-right: auto;
		@media (min-width: $screen-sm) {
			width: 686px;
		}
		@media (min-width: $screen-md) {
			width: 1108px;
		}
		@media (min-width: $screen-lg) {
			max-width: 1500px;
		}
		img{
			width: 100%;
		}
	}
	h2.title{
		font-size: 42px;
		@media (min-width: $screen-sm) {
			font-size: 46px;
		}
		@media (min-width: $screen-lg) {
			font-size: 53px;
		}
	}
	h3.title{
		font-size: 36px;
		@media (min-width: $screen-sm) {
			font-size: 32px;
		}
		@media (min-width: $screen-md) {
			font-size: 40px;
		}
		@media (min-width: $screen-lg) {
			font-size: 46px;
		}
	}
	h4.title{
		font-size: 21px;
		@media (min-width: $screen-sm) {
			font-size: 24px;
		}
		@media (min-width: $screen-lg) {
			font-size: 28px;
		}
	}
	.section-heading{
		 padding: 0 30px;
		 font-size: 16px;
		@media (min-width: $screen-sm) {
			max-width: 490px;
			margin-left: auto;
			margin-right: auto;
			font-size: 18px;
			&.first{
				max-width: 620px;
			}
		}
		@media (min-width: $screen-md) {
			max-width: 620px;
		}
		@media (min-width: $screen-lg) {
			max-width: 780px;
			font-size: 23px;
		}
	}
	.title.has-bg{
		background: #fff;
		font-family: $font-family-medium;
		text-align: center;
		padding: 10px;
		position: relative;
		margin-bottom: 20px;
		@media (max-width: $screen-xs-max) {
			font-size: 16px;
		}
		@media (min-width: $screen-sm) {
			margin-bottom: 35px;
		}
		@media (min-width: $screen-md) {
			padding: 15px;
			margin-bottom: 50px;
		}
		@media (min-width: $screen-lg) {
			margin-bottom: 80px;
		}
		small{
			font-size: 12px;
			padding-top: 5px;
			display: block;
			@media (min-width: $screen-sm) {
				font-size: 10px;
				font-style: italic;
				position: absolute;
				top: 100%;
				left: 0;
				display: inline;
			}
			@media (min-width: $screen-md) {
				top: auto;
				left: auto;
				right: 20px;
				bottom: 12px;
				font-size: 14px;
			}
		}
	}
}

#leather-wallet-slider{
	background: $gray-lightest;
	.topic-content{
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		.btn-set{
			text-align: center;
		}
	}
}
#prospect-cta,
#leather-wallet-cta{
	@media (max-width: $screen-xs-max) {
		.container{
			padding: 0;
		}
		.row{
			margin: 0;
		}
		[class^="col-"]{
			padding: 0;
		}
		.description{
			padding: 0 $grid-gutter-width;
		}
	}
	picture{
		max-width: 100%;
	}
}

#neutrals-shop-title{
	font-size: 36px;
	text-align: center;
	font-family: $font-family-medium;
	margin: 1em 30px 2em;
	@media (min-width: $screen-sm) {
		font-size: 46px;
	}
	@media (min-width: $screen-md) {
		font-size: 40px;
	}
	@media (min-width: $screen-lg) {
		font-size: 53px;
	}
}

#chic-content-xs{
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	@media (min-width: $screen-sm) {
		display: none;
	}
}
#chic-content-sm{
	padding-top: 0;
	padding-bottom: 20px;
	@media (max-width: $screen-xs-max) {
		opacity: 0; // faking a margin on the caption
		height: 50px;
	}
	@media (min-width: $screen-lg) {
		padding-bottom: 75px;
	}
}

.neutrals-caption{
	font-size: 14px;
	color: $gray;
	padding-top: .5em;
	@media (min-width: $screen-sm) {
		font-size: 12px;
	}
	@media (min-width: $screen-md) {
		font-size: 14px;
	}
	@media (min-width: $screen-lg) {
		font-size: 19px;
	}
}

#neutrals-chic{
	.col{
		margin-bottom: 30px;
		&.narrow{
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	@media (min-width: $screen-sm) {
		display: flex;
		justify-content: center;
		.col{
			margin-bottom: 0;
			&.narrow{
				margin-left: 30px;
				margin-right: 0;
			}
		}
	}
}

#neutrals-hero{
	.hero-content{
		@media (min-width: $screen-md) {
			padding: 0;
		}
	}
}

#neutrals-rose-3up,
#neutrals-sand-3up{
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		display: none;
	}
}

#neutrals-sand-slider,
#neutrals-rose-slider{
	@media (min-width: $screen-md) {
		display: none;
	}
	@media (max-width: $screen-xs-max) {
		display: none;
	}
	.slick-slide{
		@media (min-width: $screen-sm) {
			width: 383px;
			padding: 0 15px;
		}
	}
	.slick-arrow{
		@include resetButton;
		position: absolute;
		z-index: 100;
		width: 26px;
		height: 52px;
		background: url('slide-next-gray.svg') no-repeat center center;
		background-size: 100% auto;
		text-indent: -999em;
		top: 160px;
		right: 40px;
		&.slick-prev{
			background-image: url('slide-prev-gray.svg');
			right: auto;
			left: 40px;
		}
	}
}
.neutral-products .col{
	@media (max-width: $screen-xs-max) {
		margin: 0 0 40px;
	}
}

#prospect-lifestyle{
	picture{
		margin-top: 18px;
	}
	@media (min-width: $screen-sm) {
		display: flex;
		justify-content: space-between;
		picture{
			flex: 1;
			margin: 0;
			max-width: calc(50vw - 15px);
		}
	}
}
#prospect-cta{
	margin-bottom: $grid-gutter-width;
}
#prospect-hero-break{
	@media (max-width: 374px) {
		display: none;
	}
	@media (min-width: $screen-md) and (max-width: 1145px) {
		display: none;
	}
}