.page-content{
	background: #FCFCFC; 
	padding-top: 23px;
	@media (min-width: $screen-md) {
	   padding-top: 53px;
	}
}
.edit-link{
	display: block;
	border-top: solid 1px $brand-blue;
	background: $brand-blue-light;
	padding: 20px;
	margin: 40px 0;
	text-align: center;
}
.post-edit-link{
	text-transform: uppercase;
	color: $gray;
	font-family: $font-family-sans-serif;
	color: $brand-blue;
	letter-spacing: 1px;
	&:hover{
		text-decoration: none;
	}
}

#our-story{
	.image-panel .image-panel-content .flexer{
		width: auto;
	}
	.half-width-panel{
		padding: 20px;
	}
	#section-0-item-0{
		margin-bottom: 20px;
	}
	#section-6-item-0{
		margin-top: 20px;
	}
}

.page-testimonials{
	.story-blocks{
		.story-block-content{
			font-family: $font-family-sans-serif;
			color: $gray-dark;
		}
	}
}

.nav-local{
	margin-top: 12px;
	transition: padding 0.5s ease-out;
	@include cart-shift; // transition right
	display: none;
	@media (min-width: $screen-md) {
	    display: block;
	}
	&.pinned{
		position: fixed;
		width: 235px;
		top: $ls-navbar-height;
		padding-top: 0;
		@media (min-width: $screen-lg) {
			width: 285px;
		}
		@media (min-width: $screen-xl) {
			width: 315px;
		}
	}
	&.pinned-lower{
		@media (min-width: $screen-md) {
			padding-top: 113px;
		}
	}
	&.pinned-bottom{
		position: absolute;
		top: auto;
		bottom: 0;
	}
	.nav{
		a{
			text-transform: uppercase;
			font-size: $font-size-small;
			letter-spacing: $ls-sm;
			color: $headings-color;
			padding: 10px 0;
			display: block;
			@media (min-width: $screen-lg) {
				letter-spacing: $ls-lg;
			}
			&:hover,
			&:focus{
				background: none;
				outline: none;
			}
		}
	}
}

// .cms-page-content-block{
// 	padding: 0 0 40px;
// 	@include mobile-inset;
// 	@media (min-width: $screen-md) {
// 	    margin: 0;
// 	}
// }

.cms-press{
	h2{
		text-transform: uppercase;
		text-align: center;
	}
	.press,
	.reviews{
		@media (min-width: 600px) and (max-width: $screen-sm-max) {
			.col-sm-4{
				width: 50%;
				float: left;
			}
			.col-sm-4:nth-child(2n+1){
				clear: left;
			}
		}
		@media (min-width: $screen-md) {
			.col-sm-4:nth-child(3n+1){
				clear: left;
			}
		}
	}
}

nav.local{
	background: #fafafa;
	line-height: 1;
	padding: 18px 0;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 1010;
	width: 100%;
	top: $ls-navbar-height-xs;
	@media (min-width: $screen-md) {
		padding: 32px 0;
		top: $ls-navbar-height;
	}
	a{
		color: $gray;
		margin: 0 11px;
		font-size: 13px;
		@media (min-width: $screen-md) {
			margin: 0 20px;
			font-size: $font-size-base;
		}
		&:focus,
		&:hover{
			text-decoration: none;
			color: $gray-darker;
		}
		&.active{
			color: $gray-darker;
		}
	}	
}

.page-nav{
	position: fixed;
	left: 0;
	right: 0;
	top: $ls-navbar-height-xs;
	margin-top: 0;
	z-index: 900;
	background: rgba(#000, 0.3);
	color: #FFF;
	height: $page-nav-height-xs;
	opacity: 0;
	@include transition(all .25s ease-out);
	&.theme-light{
		background: rgba(255,255,255, 0.7);
		#page-nav-items-toggle{
			background-image: url("down-dark.png");
		}
		.page-nav-title,
		.page-nav-item,
		.page-nav-item:hover,
		.page-nav-item:focus{
			color: #000;
		}
		&.open{
			background: #FFF;
			ul.page-nav-items{
				background: #FFF;
				li{ 
					border-bottom-color: #000;
				}
			}
		}
	}
	&.is-shown{
		opacity: 1;
	}
	&.open{
		background: #000;
		.page-nav-items{
			display: block;
		}
		#page-nav-items-toggle{
			@include rotate(180deg);
			@include transition-off;
		}
	}
	@media (min-width: $screen-md) {
		top: $ls-navbar-height;
		height: $page-nav-height;
	}
	.btn{
		padding: 6px 12px;
		font-size: 10px;
		line-height: 1.4;
		letter-spacing: 0;
		@media (min-width: $screen-md) {
		    font-size: 12px;
		    width: 90px;
		}
	}
	
	.container-fluid{
		padding-left:20px; // little more on the left to align with the menu icon bars
	}

	&.has-button{
		ul.page-nav-items{
			@media (min-width: $screen-sm) {
				margin-right: 15px; 
			}
		}
		.container-fluid{
			padding-right: 15px;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		float: right;
		font-size: 12px;
		&.page-nav-items{ 
			@media (max-width: $screen-xs-max) {
				display: none;
				float: none;
				background: #000;
				position: absolute;
				left: 0;
				right: 0;
				top: $page-nav-height-xs;
				padding: 0 55px 55px;
				text-transform: none;
				letter-spacing: $ls-xs;
				margin: 0;
				li{
					display: block;
					border-bottom: 1px solid #fff;
					padding: 0;
					a{
						padding: 16px 0 14px;
						margin: 0;
					}
				}
			}
		}
	}
	li{
		display: inline-block;
		padding-top: 8px;
		@media (min-width: $screen-md) {
			padding-top: 22px;
		}
	}
}
#page-nav-items-toggle{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -$page-nav-height-xs/2;
	@include square($page-nav-height-xs);
	background: url('down.png') center center no-repeat;
	background-size: 20px auto;
	@include transition-off;
	@media (min-width: $screen-sm) {
		display: none;
	}
}

.page-nav-item{
	display: block;
	margin: 0 5px;
	padding: 2px 7px;
	text-transform: none;
	color: #FFF;
	&:hover,
	&:focus{
		color: #FFF;
	}
	@media (min-width: $screen-md) {
		margin: 2px 5px;
	}
}
.page-nav-title{
	font-size: 10px;
	margin: 0;
	line-height: $page-nav-height-xs;
	display: inline;
	color: #FFF;
	font-family: $font-family-semibold;
	@media (min-width: $screen-md) {
		line-height: $page-nav-height;
		font-size: $font-size-base;
	}
}

.overview-block{
	position: relative;
	// z-index: 1;
	// &.is-embed{
	// 	z-index: 10;
	// }
	a{
		display: block;
		&.jumptarget{
			display: inline;
			position: absolute;
		}
	}
	picture{
		display: block;
	}
	img{
		width: 100%;
		height: auto;
	}
}

.page-template-page-custom-layout.has-page-nav{
	.marquee{
		display: none;
	}
	.site-content{
		// padding-top: $ls-navbar-height-xs + $page-nav-height-xs; page nav is hidden on mobile initially
		@media (min-width: $screen-md) {
		    padding-top: $ls-navbar-height;
		}
	}
}