
#reviews-page-container blockquote,
#press-page-container .article,
#press-container .article{
	text-align: center;
	padding: 0;
	@include mb;
	@media (min-width: $screen-sm) {
		max-width: 100%;
		padding: 0 20px;
	}
	@media (min-width: $screen-md) {
		padding: 0 30px;
	}
} 

#reviews-page-container blockquote,
#press-page-container .article-excerpt{
	text-align: left;
	@include fslh(16, 24);
	color: $gray; 
}
#press-page-container .article{
	@media (min-width: $screen-md) {
		text-align: left;
	}
	img{
		margin-bottom: 20px;
	}
}

#press-page-container,
#press-container{
	.col-sm-6:nth-child(odd){
		clear: left;
		@media (min-width: $screen-md) {
			clear: none;
		}
	}
	.col-md-4:nth-child(3n+1){
		@media (min-width: $screen-md) {
			clear: left;
		}
	}
}
// #press-page-container{
// 	padding-top: 30px;
// 	padding-bottom: 30px;
// 	border-bottom: 1px solid $gray-lighter;
// 	@media (min-width: $screen-md) {
// 		padding-top: 80px;
// 		padding-bottom: 80px;
// 	}
// }
#reviews-page-container{
	padding-top: 30px;
	padding-bottom: 40px;
	@media (min-width: $screen-md) {
		padding-top: 120px;
	}
	.col-sm-6:nth-child(odd){
		clear: left;
		@media (min-width: $screen-md) {
			clear: none;
		}
	}
	.col-md-4:nth-child(3n+1){
		@media (min-width: $screen-md) {
			clear: left;
		}
	}
	.author{
		font-size: 21px;
		margin-bottom: 0;
	}
	.author, .title{
		color: $text-color;
	}
}

.article-title{
	text-transform: uppercase;
	font-size: $font-size-small;
	padding: 0 10px;
	font-family: $font-family-sans-serif;
	font-style: normal;
	display: none;
}
.article-excerpt{
	margin: 0;
}

.press-item{
	font-size: 18px;
	color: $gray;
	@media (min-width: $screen-sm) {
		text-align: center;
	}
	// I'll probably regret this later, but...
	p{
		max-width: 670px;
		margin-left: auto;
		margin-right: auto;
	}
	p:nth-child(even){
		margin-bottom: 50px;
		@media (min-width: $screen-md) {
			margin-bottom: 100px;
		}
	}
}

/*
PR items on discover pages
 */
/*
Press items
 */
.pr-items{
	.block-title{
		margin: 100px 0;
		@media (min-width: $screen-sm) {
			margin: 80px 0;
		}
		@media (min-width: $screen-md) {
			margin: 120px 0 95px;
		}
		@media (min-width: $screen-lg) {
			margin: 126px 0 120px;
		}
	}
	[class^="col-"]{
		@media (min-width: $screen-md) {
			&:nth-child(odd){
				clear: left;
			}
		}
		@media (min-width: $screen-lg) {
			&:nth-child(odd){
				clear: none;
			}
			&:nth-child(3n+1){
				clear: left;
			}
		}
	}
}
.pr{
	@include mb;
	padding: 0;
}
.pr-logo{
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media (min-width: $screen-md) {
		align-items: flex-start;
		margin-bottom: 36px;
	}
}
.pr-quote{
	color: $gray;
	font-size: 15px;
	line-height: calculateEm(24px, 15px);
}