ul.messages {
    @include clean;
    text-align: centerl
}

ul.messages>li {
    margin: 0;
    padding: 0 !important
}

ul.messages>li ul {
    text-transform: none;
    list-style: none;
    
    margin: 0;
    padding: 0;
    font-size: 16px
}

ul.messages>li ul li {
    margin: 0;
    padding: 15px;
    
}

ul.messages>li ul li a {
    color: #FFF;
    text-decoration: underline
}

ul.messages>li ul li a:hover {
    text-decoration: none
}

ul.messages {
    padding: 15px;
    margin-bottom: 22px;
    border: 1px solid transparent;
    border-radius: 0
}

ul.messages h4 {
    margin-top: 0;
    color: inherit
}

ul.messages .alert-link {
    font-weight: bold
}

ul.messages>p,ul.messages>ul {
    margin-bottom: 0
}

ul.messages>p+p {
    margin-top: 5px
}

ul.messages>li.success-msg li {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff
}

ul.messages>li.success-msg li hr {
    border-top-color: #4cae4c
}

ul.messages>li.success-msg li .alert-link {
    color: #e6e6e6
}

ul.messages>li.error-msg li {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff
}

ul.messages>li.error-msg li hr {
    border-top-color: #d43f3a
}

ul.messages>li.error-msg li .alert-link {
    color: #e6e6e6
}

#start-a-return {

    #left-column {
        @media ( max-width: 768px ) {
            padding-top: 30px;
            padding-bottom: 40px;
        }

        a {
            display: block;
            font-size: 14px;
            
            transition: .3s ease;

            span {
                font-size: 10px;
                display: block;
                float: left;
                min-height: 30px;
                margin-right: 10px;
                position: relative;
                top: 2px;
            }

            &:hover {
                text-decoration: none;
                color: #666;
            }

            &:focus {
                text-decoration: none;
            }
        }
    }

    #returns-find-order-form {
        // padding-left: 150px;
        // padding-bottom: 200px;

        // @media ( max-width: 1200px ) {
        //     padding-left: 80px;
        //     padding-bottom: 150px;
        // }

        // @media ( max-width: 1029px ) {
        //     padding-left: 0;
        //     padding-bottom: 100px;
        // }

        h2 {
            margin-top: 0; 
        }

        p {
            a {
                color: $brand-blue-dark;
                text-decoration: underline;
            }
        }

        .field-note {
            color: #666;
            opacity: .5;
            margin-bottom: 20px;
            line-height: 1;
            font-size: 14px;
            a {
                text-decoration: underline;
            }
        }
    }

}

#return-selector {

    #return-order-selector {
        .selector-heading {
            font-family: "Garamond", serif;
            font-size: 24px;
            color: #666666;
            text-align: center;
            padding-bottom: 50px;
            font-weight: normal;
        }

        .selector-order-details {
            @include clearfix;
            padding-bottom: 20px;
            .order-status {
                text-align: right;
                .icon {
                    display: inline-block;
                    position: relative;
                    top: -4px; 
                    margin-right: 5px;
                    width: 20px;
                    @media (min-width: $screen-md) {
                        width: auto;
                        margin-right: 15px;
                        top: -5px; 
                    }
                }

                .status-label {
                    font-size: 18px;
                    display: inline-block;
                    text-transform: capitalize;
                    @media (min-width: $screen-md) {
                        font-size: 24px;
                    }
                }
            }
        }

        .selector-table-header {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #EAEAEA;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 30px;
            @include clearfix;

            .col-quantity {
                text-align: center;

                span.desktop {
                    @media ( max-width: 768px ) {
                        display: none;
                    }
                }

                span.mobile {
                    display: none;

                    @media ( max-width: 768px ) {
                        display: block;
                    }
                }
            }
        }

        .selection-check-box-outer {
            border: 1px solid #9B9B9B;
            height: 30px;
            width: 30px;
            cursor: pointer;
            transition: .3s ease;

            .selection-check-box-inner {
                width: 12px;
                height: 12px;
                margin-top: 7px;
                margin-left: 8px;
                opacity: 0;
                transition: .3s ease;

                img {
                    display: block;
                    width: 100%;
                }
            }

            &.selected {b

                .selection-check-box-inner {
                    opacity: 1;
                }
            }
        }

        .selector-product-list {

            .selector-product-list-item {
                padding: 18px 0;
                @include clearfix;
                border-bottom: 1px solid #EAEAEA;

                .col-product {
                    .product-details-container {
                        @include clearfix;

                        .product-thumbnail {
                            width: 30%;
                            float: left;
                        }

                        .details {
                            width: 70%;
                            float: left;

                            h2 {
                                margin: 0 0 3px;
                                font-size: 16px;
                                
                                color: #333;
                                text-transform: uppercase;
                            }

                            @media ( max-width: 768px ) {
                                padding-left: 5px;
                            }
                        }
                    }

                    .mobile-sku {
                        display: none;
                        margin: 0;
                        font-size: 16px;
                        
                        color: #333;
                        text-transform: uppercase;
                        padding-top: 15px;

                        @media ( max-width: 540px ) {
                            display: block;
                        }
                    }
                }

                .col-sku {
                    h2 {
                        margin: 0;
                        font-size: 16px;
                        
                        color: #333;
                        text-transform: uppercase;
                    }
                }
            }

            input.quantity-input-box {
                height: 38px;
                margin: 0 auto;
                border: solid 1px #333;
                border-radius: 0;
                box-shadow: none;
                text-align: center;
                width: 40px;
                -webkit-appearance: none;
                display: block;

                &.error {
                    border-color: #c00;
                }
            }
        }

        .col-one, .col-two, .col-three, .col-four { float: left; }

        .col-one {
            width: 10%;
            @media ( max-width: 540px ) { width: 15%; }
        }

        .col-two {
            width: 50%;
            padding-right: 15px;
            @media ( max-width: 768px ) { width: 55%; }
            @media ( max-width: 540px ) { width: 70%; }
        }

        .col-three {
            width: 20%;
            @media ( max-width: 768px ) { width: 25%; }
            @media ( max-width: 540px ) { display: none; }
        }

        .col-four {
            width: 20%;
            @media ( max-width: 768px ) { width: 10%; }
            @media ( max-width: 540px ) { width: 15%; }
        }

        .return-reason {
            padding-top: 25px;
            padding-bottom: 30px;
            border-bottom: 1px solid #EAEAEA;

            .label-row {
                @include clearfix;
                padding-bottom: 25px;

                .left-label {
                    width: 70%;
                    float: left;
                    font-family: "Garamond", serif;
                    font-size: 24px;
                    color: #666;
                }

                .right-label {
                    width: 30%;
                    float: left;
                    text-align: right;
                    font-family: "Garamond", serif;
                    font-size: 18px;
                    color: #666;
                    opacity: .5;
                    padding-top: 4px;
                }
            }

            .input-row {
                textarea {
                    width: 100%;
                    display: block;
                    border: 1px solid black;
                    padding: 10px;
                }
            }
        }

        .return-submit-request {
            padding-top: 30px;

            .btn.error {
                background-color: #c00;
            }
        }

    }

}

#return-confirmation {
    max-width: 800px;
    margin: 0 auto;
    padding: 150px 0 200px;
    text-align: center;

    @media ( max-width: 840px ){
        margin: 0 15px;
        padding: 50px 0 100px;
    }

    @media ( max-width: 600px ) {
        padding-top: 20px;
    }

    .order-number {
        border-bottom: 1px solid #EAEAEA;

        h2 {
            text-transform: uppercase;
        }
    }

    .message-line {
        font-family: "Garamond", serif;
        font-size: 23px;
        color: #666;
        padding-top: 25px;
    }

    .return-to-home-link {
        padding-top: 50px;
    }
}
