.page-header.is-search{
	background: none;
	margin: 0 $mobile-gutter 30px;
	padding: 50px 0 30px;
	border-bottom: solid 1px #e6e6e6;
	@media (min-width: $screen-md) {
		margin: 0 0 100px;
		padding: 60px 0;
	}
	h1{
		font-size: 18px;
		line-height: 25px;
		padding: 0 $mobile-gutter;
		@media (min-width: $screen-sm) {
		    font-size: 24px;
		    padding: 0;
		}
	}
}
#in-page-search-container{
	max-width: 400px;
	margin: 30px 0;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 0 11px 15px 1px rgba(0,0,0,0.04);
	border-radius: 2px;
	@media (min-width: $screen-sm) {
	    margin: 50px auto 30px;
	}
	[role="search"]{
		margin: 0;
		.form-control{
			background: #FFF;
			&::-webkit-input-placeholder {
			  color: #646464;
			}
			&::-moz-placeholder {
			  color: #646464;
			}
			&:-ms-input-placeholder {
			  color: #646464;
			}
			&:-moz-placeholder { 
			  color: #646464;
			}
		}
	} 
}