@mixin fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@mixin center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin ratio($amount) {
  position: relative;
  display: block;

  &:before{
    content: '';
    display: block;
    padding-top: #{$amount};
  }
}

@mixin pdp-border-bottom-xs-only {
  position: relative;

  &:before{
    content: '';
    display: block;
    width: calc(100% + #{$mobile-gutter-pdp * 2});
    margin-left: -$mobile-gutter-pdp;
    height: 1px;
    background-color: $gray-lighter;
    position: absolute;
    left: 0;
    bottom: 0;

    @media (min-width: $screen-xs){
      display: none;
    }
  }
}

@mixin pdp-border-bottom-md {
  position: relative;

  &:before{
    content: '';
    display: block;
    width: calc(100% + #{$mobile-gutter-pdp * 2});
    margin-left: -$mobile-gutter-pdp;
    height: 1px;
    background-color: $gray-lighter;
    position: absolute;
    left: 0;
    bottom: 0;


    @media (min-width: $screen-xs){
      width: calc(100% + #{$mobile-gutter-pdp-lg * 2});
      margin-left: -$mobile-gutter-pdp-lg;
    }

    @media (min-width: $screen-md){
      display: none;
    }
  }
}

@mixin stretch-to-fill-viewport {
  width: calc(100% + #{$mobile-gutter-pdp * 2});
  margin-left: -$mobile-gutter-pdp;

  @media (min-width: $screen-xs) {
    width: calc(100% + #{$mobile-gutter-pdp-lg * 2});
    margin-left: -$mobile-gutter-pdp-lg;
  }

  @media (min-width: $screen-md) {
    width: 100%;
    margin-left: 0;
  }
}
