.pdp-testimonials{


  @media (min-width: $screen-md){
    padding-bottom: 50px;
  }

  .flickity-viewport{
    height: auto;
  }

  .flickity-page-dots,
  .flickity-button{
    display: none;
  }

  .pdp-testimonials-logos{
    margin-bottom: 40px;
  }

  .pdp-testimonials-logos-item{
    display: block;
    opacity: 1;
    width: 50%;
    margin: 0 20px;
    text-align: center;
    transition: opacity 1s;

    @media (min-width: $screen-xs){
      margin-right: 10px;
      width: calc(20% - 20px);
      opacity: .2;
    }

    &:hover{
      opacity: 1;
    }

    span:after{
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $brand-blue;
      transition: width .5s;
    }

    &.is-selected{
      opacity: 1;

      span:after{
        width: 100%;
      }
    }

  }

  .pdp-testimonials-texts{
    p{
      @extend %p1;
      opacity: 0;
      transition: opacity 1s;
      text-align: center;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      color: $gray;

      &.is-selected{
        opacity: 1;
      }

      @media (min-width: $screen-md){
        width: 100%;
      }

    }
  }
}


#reviews-widget{

  @media (min-width: $screen-md){
    padding-bottom: 40px;
  }

}
