.pdp-stories{
  .flickity-viewport{
    height: auto;
  }

  .flickity-page-dots,
  .flickity-button{
    display: none;
  }
}

.pdp-stories article{
  width: calc(33% - 20px);
  margin-right: 10px;
  text-align: center;

  h4{
    @extend %h3;
    margin-top: 15px;
  }

  a{
    text-decoration: none;
    color: $gray-dark;
  }

  @media ( max-width: 768px ) {
  	width: 80%;
  }
}
