#pdp-modal-size-fit{
  background-color: $gray-lightest;
}

.pdp-size-fit__carousel{
  border: 1px solid $gray-lighter;
  margin-bottom: 40px;

  .flickity-button{
    display: none;
    background-color: transparent;

    @media (min-width: $screen-md){
      display: block;
    }
  }

  .flickity-page-dots{
    display: block;
    @media (min-width: $screen-md){
      display: none;
    }
  }

  svg{
    transform: scale(.7);
  }
}
.pdp-size-fit__carousel div{
  width: 100%;
}
.pdp-size-fit__table{
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  @media (min-width: $screen-md){
    overflow-x: initial;
  }

  table{
    @extend %p3;
    width: 100%;

    &.hide-first{
      th:first-child,
      td:first-child{
        display: none;

        @media (min-width: $screen-md){
          display: table-cell;
        }
      }
    }
  }

  thead{
    background-color: white;

    th{
      text-align: center;
      border: 1px solid $gray-lighter;
      padding: 1.7% 1.5%;
      font-weight: normal;
      color: $gray;
    }

    th:first-child{
      font-weight: bold;
    }
  }

  tbody{
    td{
      text-align: center;
      border: 1px solid $gray-lighter;
      padding: 1.7% 1.5%;
    }

    td:first-child{
      text-align: left;
      text-transform: uppercase;

    }
  }
}


.pdp-modal__section-two-column{
  @media (min-width: $screen-md){
    display: flex;
  }

  > div{
    margin-bottom: 80px;
    flex-basis: 100%;

    @media (min-width: $screen-md){
      max-width: 300px;
      margin: auto;
      flex: 1 1 50%;
      margin-bottom: 0px;
    }
  }
}

.pdp-modal__section-airline{
  figure{
    margin-bottom: 50px;
    margin-top: 30px;
  }

  p{
    color: $gray;
  }

  div{
    text-align: center;
  }

  h5{
    @extend %h4;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  h6{
    font-weight: bold;
    color: $gray;
  }
}

.pdp-size-fit-galleries-container {
  display: flex;
}

.pdp-size-fit-galleries {
  background: transparent;
  width: 33%;
  
  .flickity-button { display: none; } 

  .pdp-callout-galleries__carousel-main-slide:before {
    padding-top: 0;
  }

  .pdp-callout-galleries__carousel {
    @media (min-width: $screen-md) {
      width: 100%;
    }
  }

  .pdp-size-fit-galleries__text {
    color: #646464;
    margin-top: 1em;
  }
}

