/**
 * Even though we use Post CSS and BEM as documented in our
 * best practices, we are going to use SASS with -VERY- minimal
 * nesting for this project so it feels inline with the rest of the
 * site code to some degree.
 *
 * Please only use one level of nesting where possible
 * Avoid the use of !important
 * Couple media queries inside the declaration in which it relates to
 * Use existing color variables (see /local/base/_variables)
 * Add to existing type variables (see /local/base/_variables)
 * Review and use existing media queries where possible
 */


.pdp-cross-sell{

  margin-bottom: 60px;

  a{

    &:hover{
      text-decoration: none;
    }

  }

  article{
    text-align: center;
  }

  .flickity-viewport{
     height: auto;
  }

  .flickity-page-dots,
  .flickity-button{
      display: none;
  }

}

.pdp-cross-sell article{

  width: 66%;

  @media (min-width: $pdp-breakpoint-desktop){
    width: calc(33% - 20px);
    margin-right: 10px;
  }

}


.pdp-cross-sell-product-type{
  font-size: 14px;
  color: $gray;
  margin-bottom: 5px;
}

.pdp-cross-sell-product-colors{
  font-size: 12px;
  color: $gray-dark;
}
