.pdp-cross-sell{
  margin-bottom: 60px;

  .pdp-cross-sell-image{
    @include ratio(110%);

    img{
      object-fit: contain;
      @include fill;
    }
  }


  a{
    &:hover{
      text-decoration: none;
    }
  }

  h4{
    @extend %h3;
    color: $brand-grey;
    margin-bottom: 5px;
  }

  article{
    text-align: center;
  }

  .flickity-viewport{
     height: auto;
  }

  .flickity-page-dots,
  .flickity-button{
      display: none;
  }
}

.pdp-cross-sell article{
  width: 66%;

  @media (min-width: $screen-md){
    width: calc(33% - 20px);
    margin-right: 10px;
  }
}

.pdp-cross-sell-product-type{
  @extend %p2;
  color: $brand-grey;
  margin-bottom: 3px;
  color: $gray;
}

.pdp-cross-sell-product-colors{
  @extend %p3;
  color: $brand-grey;
  margin-bottom: 5px;
}
