/**
 * Even though we use Post CSS and BEM as documented in our
 * best practices, we are going to use SASS with -VERY- minimal
 * nesting for this project so it feels inline with the rest of the
 * site code to some degree.
 *
 * Please only use one level of nesting where possible
 * Avoid the use of !important
 * Couple media queries inside the declaration in which it relates to
 * Use existing color variables (see /local/base/_variables)
 * Add to existing type variables (see /local/base/_variables)
 * Review and use existing media queries where possible
 */

 .pdp-form-title{
   color: red;
 }


.pdp-form-price{
  margin-bottom: 20px;
}

.pdp-form-description{
  color: #666;
}

.pdp-form-size-fit{
  display: inline-block;
  text-decoration: underline;
  font-size: 12px;
  color: $gray;
}

#add-to-cart{

  position: relative;
  background-color: $brand-blue;
  transition: background-color .5s;

  &:hover{
    background-color: $brand-black;
  }

  select{
    z-index: 1;
    width: auto;
    padding: 0 30px;
    margin: 0;
    border: 0;
    outline: 0;
    color: white;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: transparent;
  }

  button{
    position: relative;
    background-color: transparent;
    border: 0;
    color: white;

    &:hover{
      background: transparent;
    }

  }

  button:before{
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    height: 40px;
    top: 10px;
    left: 0px;
    background-color: white;
  }

  button:hover{
    background: inherit;
  }

  .pdp-chevron-down{
    top: 23px;
    left: 54px;
    position: absolute;
  }

  .pdp-chevron-down:before{
    color: white;
  }

}


.pdp-form-option-group{

  //border-bottom: 1px solid $gray-lighter;
  padding: $mobile-gutter/2 $mobile-gutter;
  margin-left: -$mobile-gutter;
  margin-right: -$mobile-gutter;

  &:first-child{
    //border-top: 1px solid $gray-lighter;
  }

  &:after{
    content: 'flickity';
    display: none;
  }

  @media (min-width: $pdp-breakpoint){
    border: 0;
    padding: 0;
    margin: 0;

    &:first-child{
      border-top: 0;
    }

  }


  @media (min-width: $pdp-breakpoint-tablet){
    border: 0;
    padding: 0;
    margin: 0;

    &:first-child{
      border-top: 0;
    }

    &:after{
      content: '';
      display: block;
    }

  }

  .configuration-label{
    margin-bottom: 5px;
  }

  .pdp-swatches-wrapper{
    width: 66%;
  }

}

.pdp-chevron::before {
    height: 50px;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: block;
    height: 0.45em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    text-align: center;
    color: #ccc;
    margin: auto;
}


#price-wrapper{

  .discount-label{
    font-size: 14px;
    margin-left: 10px;
  }

  [data-compare-price]{
    font-size: 14px;
    margin-right: 10px!important;
  }

}
