/**
 * Even though we use Post CSS and BEM as documented in our
 * best practices, we are going to use SASS with -VERY- minimal
 * nesting for this project so it feels inline with the rest of the
 * site code to some degree.
 *
 * Please only use one level of nesting where possible
 * Avoid the use of !important
 * Couple media queries inside the declaration in which it relates to
 * Use existing color variables (see /local/base/_variables)
 * Add to existing type variables (see /local/base/_variables)
 * Review and use existing media queries where possible
 */


 .pdp-stories{

   .flickity-viewport{
     height: auto;
   }

    .flickity-page-dots,
    .flickity-button{
      display: none;
    }

  }


.pdp-stories article{

  width: calc(33% - 20px);
  margin-right: 10px;
  text-align: center;

  a{
    text-decoration: none;
    color: $gray-dark;
  }

  h4{
    font-size: $font-size-sm;
    margin-top: 10px;
  }

  @media ( max-width: 768px ) {
  	width: 80%;
  }

}
