.pdp-callout-galleries{
  background-color: transparent;
  position: relative;
  margin-bottom: 40px;

  &:after{
    clear: both;
    content: '';
    display: block;
  }

  @media (min-width: $screen-md){
    display: flex;
    background-color: white;
    margin-bottom: 80px;
  }
}

.pdp-product-features-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 112px;
  float: none;
  color: $gray;

  h4{
    @extend %h2;
  }

  p{
    @extend %p2;
    color: $gray;
  }

  @media (min-width: $screen-xs){
    width: 100%;
  }

  @media (min-width: $screen-md){
    width: 50%;
  }
}

.pdp-callout-galleries-alternate{
  flex-direction: row-reverse;

  .pdp-product-features-text{
    @media (min-width: $screen-xs){
      width: 100%;
    }
    @media (min-width: $screen-md){
      width: 50%;
    }
  }
}

.pdp-product-features-carousel{
  text-align:center;
  position: relative;

  @media (min-width: $screen-xs){
    width: 100%;
    float: none;
  }

  @media (min-width: $screen-md){
    width: 50%;
    float: left;
  }

  img{
    display: block;

    @media (min-width: $screen-md){
      height: 610px;
      object-fit: cover;
    }
  }
}

.pdp-product-features-carousel-main{
  height: 100%;

  .flickity-viewport{
     height: auto;
   }
}

.pdp-product-features-carousel-main-slide{
  width: 80%;
  padding: 10px;

  span{
    background-color: white;
    position: absolute;
    bottom: 10px;
    padding: 10px 0;
    margin: 20px;
    width: calc(100% - 40px);
    left:0;
    bottom:0;
    display: block;
    text-transform: uppercase;
    font-size: $font-size-sm;

    @media (min-width: $screen-md){
      display: none;
    }
  }

  @media (min-width: $screen-md){
    width: 100%;
    padding: 0px;
  }
}

.pdp-product-features-carousel-nav{
  background-color: white;
  margin: 0 10px;
  display: none;
  position: absolute!important;
  width: calc(100% - 20px);
  z-index: 9;
  bottom: 10px;

  @media (min-width: $screen-md){
    display: block;
  }

  span{
    @extend %h4;
    text-align: center;
    margin-right: 0 !important;
    color: $gray-light;
    white-space: nowrap;
    min-width: calc(33% - 20px);
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    padding: 10px 25px;

    @media ( max-width: 768px ) {
      width: 70%;
    }
  }

  span.is-selected{
    color: $gray-darker;
  }

  span.is-selected:before{
    background: $brand-blue;
    width: 100%;
    content: '';
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .flickity-button{
    border-radius: 0;
    background-color: white;
    height: 100%;
    outline: 0;
    width: 30px;


    &.previous{
      left: 0!important;
      border-right: 1px solid $gray-lighter;

      &:active{
        opacity: 1;
      }

    }

    &.next{
      right: 0!important;
      border-left: 1px solid $gray-lighter;

      &:active{
        opacity: 1;
      }

    }

    svg{
      transform: scale(.3);
    }

  }

  .flickity-button:disabled{
    display: none;
  }
}
