.pdp-instagram{
  padding-top: 20px;
  width: 100%;
  padding-bottom: 20px;

  @media (min-width: $screen-xs){
    padding-top: 40px;
  }

  @media (min-width: $screen-md){
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 0px;
    min-height: 180px;
  }

  .yotpo{
    margin: 0;
  }

  .yotpo-pictures-gallery-header-wrapper{
    display: none;
  }

  .yotpo-single-image-container{
    @media (min-width: $screen-md){
      margin: 0 !important;
    }
  }
}
.pdp-instagram__header{
  padding-bottom: 20px;
  text-align: center;

  @media (min-width: $screen-md){
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: .4;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  h3{
    margin-bottom: 5px;
    @extend %h1;
  }

  a{
    @extend %h4;
  }
}
.pdp-instagram__widget{
  @media (min-width: $screen-md){
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}
