/**
 * Even though we use Post CSS and BEM as documented in our
 * best practices, we are going to use SASS with -VERY- minimal
 * nesting for this project so it feels inline with the rest of the
 * site code to some degree.
 *
 * Please only use one level of nesting where possible
 * Avoid the use of !important
 * Couple media queries inside the declaration in which it relates to 
 * Use existing color variables (see /local/base/_variables)
 * Add to existing type variables (see /local/base/_variables)
 * Review and use existing media queries where possible
 */


.pdp-gallery{
  position: relative;
  display: none;

  &.active{
    display: block;
  }

}

.pdp-gallery-featured{

  @media (min-width: $breakpoint){
    padding-left: 60px;
  }

}

 .pdp-gallery-featured img{
   width: 100%;
 }

 .pdp-gallery-thumbs-wrapper{

   display: none;

   @media (min-width: $breakpoint){
     display: block;
     position: absolute;
     top: 0;
   }

 }

 .pdp-gallery-thumbs{

   max-height: 500px;
   overflow: hidden;

  a{
    display: block;
    max-width: 50px;
    margin: 10px 0;
  }
}

.pdp-gallery-thumbs-video{
  margin: 10px auto;
  display: block;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}

.pdp-gallery-thumbs-video path{
  fill: #00AEEF;
}