.product-main{
  @media (min-width: $pdp-breakpoint-tablet) {
    margin-top: 80px;
  }
}
.pdp-container{
  margin: auto;
  width: 100%;
  @media (min-width: $pdp-breakpoint-mobile) {
    padding: 0 20px;
  }
  @media (min-width: $pdp-breakpoint-tablet) {
    padding: 0 30px;
  }
  @media (min-width: $pdp-breakpoint-desktop) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.product-main__featured{
  width: calc(100% + 140px);
  float: none;
  @media (min-width: $pdp-breakpoint-desktop){
    float:left;
    width:50%;
  }
}

.product-main__holder{
  margin-bottom: $mobile-gutter;

  .selector-wrapper{
    label{
      display: inline-block;
    }

    .variant-buttons{
      display: inline-block;
    }

  }

  #price-wrapper [data-product-price]{
    font-size: 14px;
  }

  #price-wrapper [data-compare-price]{
    margin-right: 20px;
    margin-left: 0px;
  }


  #price-wrapper{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 22px;

    *{
      line-height: normal;
    }

    .is-hidden{
      display: none;
    }
  }


  @media (min-width: $pdp-breakpoint-tablet){
    float: none;
    width: 100%;
    max-width: 376px;
    padding: 0;
    margin: auto;
  }


  @media (min-width: $pdp-breakpoint-desktop){
    float: left;
    width: 50%;
    max-width: 50%;
    padding: 70px 0 0 100px;
  }
}

.pdp-main-product-heading{
  display: none;

  h1{
    @extend %h1;
    margin-bottom: 5px;
  }

  @media (min-width: $pdp-breakpoint-desktop){
    display: block;
    margin-bottom: 13px;
  }
}

.pdp-main-product-type{
  @extend %h4;
}

.pdp-main-product-heading-mobile{
  display: block;
  text-align: center;
  padding-top: $mobile-gutter;

  h1{
    margin-bottom: 0;
  }

  @media (min-width: $pdp-breakpoint-desktop){
    display: none;
  }
}

.pdp-main-product-description{
  color: $gray;
  max-width: 320px;

  @media (min-width: $pdp-breakpoint){
    display: block;
  }

  p{
    @extend %p2;
    margin-bottom: 10px;
    @media (min-width: $pdp-breakpoint){
      margin-bottom: 20px;
    }
  }
}

.pdp-form-product-type{
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pdp-shipping-returns-warranty-care{
  color: #333;
  font-size: 12px;
  text-decoration: underline;

  &:hover{
    color: #333;
  }
}

.pdp-main-product-yotpo{
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid $gray-light;

  @media (min-width: $pdp-breakpoint){
    margin-left: 10px;
    padding-left: 10px;
  }

  .yotpo-icon{
    color: $brand-blue;
    font-size: 14px;
    line-height: 20px!important;
  }

  &:hover{
    .pdp-main-product-yotpo-reviews{
      color: $gray;
    }
  }

}

.pdp-main-product-yotpo-reviews{
  margin-left: 10px!important;
  display: inline-block;
  text-decoration: underline;
  color: $gray!important;
  font-size: $font-size-xs!important;
}

.pdp-chevron-down::before{
  transform: rotate(135deg);
}

.pdp-chevron-up::before{
  transform: rotate(-45deg);
}

.pdp-chevron-right::before,
.pdp-chevron-up::before,
.pdp-chevron-down::before {
    transition: transform .5s;
    height: 50px;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: block;
    height: 0.45em;
    position: relative;
    top: 0.15em;
    vertical-align: top;
    width: 0.45em;
    text-align: center;
    color: #ccc;
    margin: auto;
}

.pdp-chevron-up:active,
.pdp-chevron-down:active{
  transform: scale(.9);
}

.section-heading{
  text-align: center;

  @media (min-width: $pdp-breakpoint){
    margin-bottom: 90px!important;
    margin-top: 90px!important;
  }

}

.section-heading h2.title{
  max-width: 700px;
  margin: auto;
}
