/**
 * Even though we use Post CSS and BEM as documented in our
 * best practices, we are going to use SASS with -VERY- minimal
 * nesting for this project so it feels inline with the rest of the
 * site code to some degree.
 *
 * Please only use one level of nesting where possible
 * Avoid the use of !important
 * Couple media queries inside the declaration in which it relates to
 * Use existing color variables (see /local/base/_variables)
 * Add to existing type variables (see /local/base/_variables)
 * Review and use existing media queries where possible
 */



.product-main__featured{

  @media (min-width: $breakpoint){

    float:left;
    width:50%;

  }

}

.product-main__holder{

  margin-bottom: $mobile-gutter;

  h1{
    font-weight: bold;
    font-size: 34px;
    line-height: normal;
    margin-bottom: 0;
  }

  .selector-wrapper{

    label{
      display: inline-block;
    }

    .variant-buttons{
      display: inline-block;
    }

  }

  #price-wrapper [data-product-price]{
    font-size: 14px;
  }

  #price-wrapper [data-compare-price]{
    margin-right: 20px;
    margin-left: 0px;
  }


  #price-wrapper{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: $mobile-gutter;

    *{
      line-height: normal;
    }

    .is-hidden{
      display: none;
    }

  }


  @media (min-width: $breakpoint){

    float: left;
	  width: 50%;
	  padding: 70px 0 0 100px;

  }

}


.pdp-main-product-heading{

  display: none;

  h1{
    font-weight: normal;
  }

  @media (min-width: $breakpoint){

    display: block;
    margin-bottom: 10px;

  }

}

.pdp-main-product-type{
  text-transform: uppercase;
  font-size: $font-size-sm;
}


.pdp-main-product-heading-mobile{

  display: block;
  text-align: center;
  padding-top: $mobile-gutter;

  h1{
    margin-bottom: 0;
  }

  h4{

  }

  @media (min-width: $breakpoint){

    display: none;

  }

}

.pdp-main-product-description{

  display: none;
  color: $gray;
  font-size: $font-size-sm;

  @media (min-width: $breakpoint){

    display: block;

  }

}


.pdp-form-product-type{

  margin-bottom: 20px;
  text-transform: uppercase;

}

.pdp-shipping-returns-warranty-care{
  color: #333;
  font-size: 12px;
  text-decoration: underline;

  &:hover{
    color: #333;
  }

}


.pdp-main-product-yotpo{
  display: inline-block;
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid $gray-light;

  .yotpo-icon{
    color: $brand-blue;
  }

  &:hover{
    .pdp-main-product-yotpo-reviews{
      color: $gray;
    }
  }

}


.pdp-main-product-yotpo-reviews{
  margin-left: 10px!important;
  display: inline-block;
  text-decoration: underline;
  color: $brand-blue!important;
}


.pdp-chevron-right::before,
.pdp-chevron-up::before,
.pdp-chevron-down::before {
    height: 50px;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: block;
    height: 0.45em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    text-align: center;
    color: #ccc;
    margin: auto;
}
