.pdp-stories{
  &:after{
    content: 'flickity';
    display:none;

    @media (min-width: $screen-md){
      content: '';
    }
  }


  @media (min-width: $screen-md){
    margin: 0 -10px;
  }

  .flickity-viewport{
    height: auto;
  }

  .flickity-page-dots,
  .flickity-button{
    display: none;
  }
}
.pdp-stories{
  @media (min-width: $screen-md){
    display: flex;
  }
}
.pdp-stories article{
  margin-right: 10px;
  text-align: center;
  width: calc(80% -  10px);

  .pdp-stories-img-container{
    @include ratio(60%);
  }

  h4{
    @extend %h3;
    margin-top: 15px;
  }

  a{
    text-decoration: none;
    color: $brand-grey;
  }

  @media (min-width: $screen-xs){
    margin: 0 10px;
    width: calc(80% - 40px);
  }

  @media (min-width: $screen-md){
    width: calc(33.3% - 20px);
  }
}
