.pdp-swatches{

  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  &:after{
    display: block;
    content: '';
    clear:both;
  }

  .pdp-swatch{
    float: left;
    margin-right: 10px;

    img{
      width: 23px;
      height: 23px;
      border-radius: 2px;
      display: block;
    }

    &:focus,
    &.active{
      outline: 2px solid $brand-blue;
    }

  }

}

.pdp-selected-color{
  margin-left: 5px;
}
