/**
 * Even though we use Post CSS and BEM as documented in our
 * best practices, we are going to use SASS with -VERY- minimal
 * nesting for this project so it feels inline with the rest of the
 * site code to some degree.
 *
 * Please only use one level of nesting where possible
 * Avoid the use of !important
 * Couple media queries inside the declaration in which it relates to
 * Use existing color variables (see /local/base/_variables)
 * Add to existing type variables (see /local/base/_variables)
 * Review and use existing media queries where possible
 */

 .pdp-material{

  &:after{
    content: '';
    display: block;
    clear: both;
  }

   .flickity-viewport{
     height: auto;
   }

    .flickity-button{
      display: none;
    }

}


.pdp-material-images{

  @media (min-width: $pdp-breakpoint-desktop){
    float: left;
    width: 50%;
  }


  .flickity-page-dots{
    @media (min-width: $pdp-breakpoint-desktop){
      display: none;
    }
  }

}

.pdp-material-image{

  width: 100%;
  text-align: center;

  @media (min-width: $pdp-breakpoint-desktop){
    .pdp-material-image-caption{
      display: none;
    }
  }

}


.pdp-material-image-caption{
  h3{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
  }
}

.pdp-material-tiles{

  display: none;

  &:after{
    content: 'flickity';
    display: none;
  }


  .flickity-viewport{
    overflow: visible;
  }

  .flickity-slider{
    transform: none!important;
  }


  @media (min-width: $pdp-breakpoint-desktop){
    display: block;
    float: left;
    width: 50%;
  }

}


.pdp-material-tile{
  position: relative!important;
  left: 0!important;
  opacity: .5;
  text-align: center;
  padding: 45px 69px;
  cursor: pointer;
  transition: opacity 1s;
  border: 1px solid $gray-light;
  transition: border .5s;
  margin-bottom: 20px;


  &.is-selected{
    opacity: 1;
    background-color: white;
    border-color: white;
    cursor: default;
  }

  h3{
    font-weight: bold;
  }

  p{
    color: $gray;
    font-size: $font-size-sm;
    line-height: $line-height-lg;
  }

}
