.pdp-form-title{
   color: red;
 }

.pdp-form-price{
  margin-bottom: 20px;
}

.pdp-form-description{
  color: #666;
}

.pdp-form-size-fit{
  display: inline-block;
  text-decoration: underline;
  font-size: 12px;
  color: $gray;
}

#add-to-cart{

  max-width: 320px;
  height: 40px;
  position: relative;
  background-color: $brand-blue;
  transition: background-color .5s;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 2px;


  @media (min-width: $screen-xs){
    max-width: 100%;
    height: 50px;
  }

  &:hover{
    background-color: $brand-black;
  }

  select{
    @extend %h3;
    z-index: 1;
    width: auto;
    padding: 0 20px;
    margin: 0;
    border: 0;
    outline: 0;
    color: white;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: transparent;
    height: 40px;

    @media (min-width: $screen-xs){
      height: 50px;
    }
  }

  button{
    @extend %h3;
    position: relative;
    background-color: transparent;
    border: 0;
    color: white;

    &:hover{
      background: transparent;
    }

    @media (min-width: $screen-xs){
      font-size: 16px;
    }
  }

  button:before{
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    height: 30px;
    top: 5px;
    left: 0px;
    background-color: white;
  }

  button:hover{
    background: inherit;
  }

  .pdp-chevron-down{
    top: 14px;
    left: 36px;
    position: absolute;
    transform: scale(.7);

    @media (min-width: $screen-xs){
      top: 20px;
    }

  }

  .pdp-chevron-down:before{
    color: white;
  }

}

.pdp-form-option-group{

  border-top: 1px solid rgba(151,151,151,.2);
  border-bottom: 1px solid rgba(151,151,151,.2);

  padding: 12px 20px;

  &:first-child{
  }

  &:after{
    content: 'flickity';
    display: none;
  }

  @media (min-width: $screen-md){
    border: 0;
    padding: 0;
    margin: 0;

    &:first-child{
      border-top: 0;
    }
  }

  @media (min-width: $screen-xs){
    border: 0;
    padding: 0;
    margin: 0;

    &:first-child{
      border-top: 0;
    }

    &:after{
      content: '';
      display: block;
    }
  }

  .flickity-slider{
    height: auto;
  }

  .configuration-label{
    margin-bottom: 5px;
  }

  .pdp-swatches-wrapper{
    width: 66%;
  }
}

.pdp-chevron::before {
    height: 50px;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: block;
    height: 0.45em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    text-align: center;
    color: #ccc;
    margin: auto;
}


#price-wrapper{
  .discount-label{
    font-size: 14px;
    margin-left: 10px;
    color: #E14154;
  }

  [data-compare-price]{
    font-size: 14px;
    margin-right: 10px!important;
  }
}
