.pdp-callout-galleries{
  background-color: transparent;
  position: relative;
  margin-top: 40px;

  @media (min-width: $screen-xs){
    margin-top: 80px;
  }

  @media (min-width: $screen-md){
    display: flex;
    background-color: white;
  }

  &.pdp-callout-galleries--alternate {
    flex-direction: row-reverse;
  }
}

.pdp__section-heading + .pdp-callout-galleries{
  margin-top: 0;
}

.pdp-callout-galleries__text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  float: none;
  color: $gray;
  margin-top: 50px;

  h4{
    @extend %h2;
  }

  p{
    @extend %p2;
    color: $gray;
  }

  @media (min-width: $screen-xs){
    width: 100%;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media (min-width: $screen-md){
    width: 50%;
    padding: 0 112px;
  }
}

.pdp-callout-galleries__carousel{
  @include stretch-to-fill-viewport;
  text-align: center;
  position: relative;

  @media (min-width: $screen-md){
    display: block;
    width: 50%;
    float: left;
  }
}

.pdp-callout-galleries__carousel-main{
  height: 100%;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  @media (min-width: $screen-md){
    display: block;
    overflow-x: auto;
  }

  &:after{
    content: '';
    display: none;

    @media (min-width: $screen-md){
      content: 'flickity';
    }
  }
}

.pdp-callout-galleries__carousel-main-slide{
  @include ratio(100%);
  width: 90%;
  margin-right: 10px;
  flex: 0 0 auto;

  &:only-child{
    width: 100%;
  }

  span{
    @extend %h4;
    background-color: white;
    position: absolute;
    bottom: 10px;
    padding: 10px 0;
    margin: 20px;
    width: calc(100% - 40px);
    left: 0;
    bottom: 0;
    display: block;
    text-transform: uppercase;
    color: $brand-grey;

    @media (min-width: $screen-md){
      display: none;
      margin-right: 0px;
    }
  }

  @media (min-width: $screen-xs){
    width: 80%;
  }

  @media (min-width: $screen-md){
    width: 100%;
    padding: 0px;
  }
}

.pdp-callout-galleries__carousel-nav{
  background-color: white;
  margin: 0 10px;
  display: none;
  position: absolute;
  width: calc(100% - 20px);
  z-index: 9;
  bottom: 10px;
  height: 46px;

  @media (min-width: $screen-md){
    display: block;
  }

  span{
    @extend %h4;
    text-align: center;
    margin-right: 0;
    color: $gray-light;
    white-space: nowrap;
    min-width: calc(33% - 20px);
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    line-height: 30px;

    @media ( max-width: 768px ) {
      width: 70%;
    }
  }

  span.is-selected{
    color: $gray-darker;
  }

  span.is-selected:before{
    background: $brand-blue;
    width: 100%;
    content: '';
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .flickity-button{
    border-radius: 0;
    background-color: white;
    height: 100%;
    outline: 0;
    width: 30px;


    &.previous{
      left: 0 !important;
      border-right: 1px solid $gray-lighter;

      &:active{
        opacity: 1;
      }
    }

    &.next{
      right: 0 !important;
      border-left: 1px solid $gray-lighter;

      &:active{
        opacity: 1;
      }
    }

    svg{
      transform: scale(.3);
    }
  }

  .flickity-button:disabled{
    display: none;
  }
}
.pdp-callout-galleries__carousel-1-slides{
  .pdp-callout-galleries__carousel-nav{
    span.is-selected:before{
      display:none;
    }
  }
}
