.pdp-cross-sell{
  margin-bottom: 60px;

  a{
    &:hover{
      text-decoration: none;
    }
  }

  h4{
    @extend %h3;
    color: $brand-grey;
    margin-bottom: 5px;
  }
}
.pdp-cross-sell__container{
  @include stretch-to-fill-viewport;
}
.pdp-cross-sell__article{
  width: 66%;
  text-align: center;

  @media (min-width: $screen-md){
    width: calc(33% - 20px);
    margin-right: 10px;
  }
}
.pdp-cross-sell__image{
  @include ratio(110%);
}
.pdp-cross-sell__type{
  @extend %p2;
  color: $brand-grey;
  margin-bottom: 3px;
  color: $gray;
}
.pdp-cross-sell__colors{
  @extend %p3;
  color: $brand-grey;
  margin-bottom: 3px;
}



.pdp-cross-sell__section-heading{
  padding-top: 80px;
  padding-bottom: 63px;
}
