.pdp__section-heading{
  text-align: center;
  padding: 50px 0 25px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-xs){
    padding: 70px 0 40px;
  }

  @media (min-width: $screen-md){
    padding: 130px 0 50px;
  }

  h2{
    @extend %h1;
    color: $brand-grey;
    margin: 0 auto;
  }
}
.pdp__container{
  margin: auto;
  width: 100%;
  padding: 0 $mobile-gutter-pdp;

  @media (min-width: $screen-xs) {
    padding: 0 30px;
    max-width: calc(974px + 60px);
  }
  @media (min-width: $screen-lg) {
    max-width: calc(1166px + 60px);
  }
}
.pdp__separator{
  @include pdp-border-bottom-xs-only;
  padding-bottom: 50px;
  @media (min-width: $screen-xs){
    padding-bottom: 0;
  }
}
.pdp__white-wrapper{
  background-color: white;
}
