

$breakpoint:    768px;

@import '../sections/variables.scss';

@import '../sections/imageviewer.css';
@import '../sections/pdp-main.scss';
@import '../sections/pdp-gallery.scss';
@import '../sections/pdp-form.scss';
@import '../sections/pdp-swatches.scss';
@import '../sections/pdp-callout-galleries.scss';
@import '../sections/pdp-material.scss';
@import '../sections/pdp-stories.scss';
@import '../sections/pdp-testimonials.scss';
@import '../sections/pdp-cross-sell.scss';
@import '../sections/pdp-size-fit-modal.scss';
@import '../sections/pdp-modal.scss';

body{
  background-color: rgb(248,248,248);
}


.section-heading{
  margin-bottom: 40px;
}

.section-heading .title{
  font-size: 1.4em;
}