{%- assign collection_ref = collection_ref | default: false -%}

<h2>Shipping, Returns, Warranty & Care</h2>
<div class="pdp-modal__content--shipping">
  <h3>Shipping & Returns</h3>
  {{ shop.metafields["global"]["shipping-returns-exchanges"] }}
  <h3>Warranty</h3>
  {{ shop.metafields["global"]["warranty"] }}
  <h3>Care Instructions</h3>
  {{ collection_ref.metafields["global"]["care-instructions"] }}
</div>

{%- assign collection_ref = nil -%}
