html{
	&.supports-cookies{
		.supports-no-cookies{
			display: none;
		}
	}
}
body{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.menu-open{
		#site-nav-panel{
			left: 0;
			box-shadow: 2px 0 8px rgba(0,0,0,.1);
		}
	}
	&.page-print{
		padding-top: 0;
	}
}

.site-window{
	overflow: hidden;
}
.site-content{
	position: relative;
	// z-index: 2;
	// box-shadow: 0 0 30px rgba(0,0,0,.2);
	left: 0;
	@include transition(left .25s ease-out);
	padding-top: $ls-navbar-height-xs;
	@media (min-width: $screen-md) {
	    padding-top: $ls-navbar-height;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  text-rendering: optimizeLegibility;
  color: $gray-darker;
  margin-top: 0;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-bottom: ($line-height-computed);
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: ($line-height-computed);
}

.has-divider{
	@include divider-title; 
}
.has-bar{
	line-height: 1;
	font-family: $font-family-medium;
	font-size: 30px;
	display: inline-block;
	position: relative;
	&:after{
		content: '';
		height: 50%;
		background: $brand-blue-light;
		position: absolute;
		left: -5px;
		right: -5px;
		bottom: 2px;
		z-index: -1;
		@media (min-width: $screen-md) {
			bottom: -4px;
			left: -10px;
			right: -10px;
		}
	}
}

.flush-top{
	margin-top: 0;
}

b, strong{
	font-weight: normal;
	font-family: $font-family-bold; 
}
.shop{
	h2{
		text-transform: uppercase;
	}
}
.page-header{
	text-align: center;
	background: #fafafa;
	margin: 0;
	padding: 20px $mobile-gutter;
	border: none;
	line-height: 1;
	@media (min-width: $screen-md) {
		padding: 35px 0;
	}
	h1, h2{
		font-size: 24px;
		margin: 0;
		@media (min-width: $screen-md) {
			font-size: 30px;
		}
	}
	.container-fluid{
		padding: 0; 
	}
}
p {
  margin: 0 0 $line-height-computed;
}
ul, ol{
	font-family: $font-family-sans-serif;
	margin-bottom: $line-height-computed;
}
img {
	max-width: 100%;
}
dl.faqs{
	margin: 0 10px;
	padding: 0;
	font-family: $font-family-sans-serif;
	@media (min-width: $screen-md) {
		margin: 0;
	}
	dt{
		font-family: $font-family-bold;
		font-size: $font-size-h4; 
		color: $gray-darker;
		font-weight: 400;
		margin-bottom: 1.5em;
		@media (min-width: $screen-md) {
			font-size: 24px;
		}
	}
	dd{
		margin-bottom: 4em;
		font-size: 18px;
		line-height: 1.5;
	}
}
hr{
	margin-top: 50px;
	margin-bottom: 50px;
}
hr.mini-divider{
	width: 54px;
	border-top-color: $gray-dark;
	@media (min-width: $screen-sm) {
		margin-left: 0;
	}
}
.container-fluid {
	padding-left: $mobile-gutter;
	padding-right: $mobile-gutter;
	max-width: $md-max-width;
	@media (min-width: $screen-lg) {
		max-width: $lg-max-width;
	}
	@media (min-width: $screen-xl) {
		max-width: $xl-max-width;
	}
}

// kill bootstrap's gutters
@media (min-width: $screen-md) {
	.container-fluid,
	[class^="col-"]{
		padding-left: 0;
		padding-right: 0;
	}
	.row{
		margin-left: 0;
		margin-right: 0;
	}	
}
.jumptarget:focus{
	outline: none;
}
.jumptarget:before {
  content: "";
  display: block;
  height: $ls-navbar-height-xs;
  margin: -$ls-navbar-height-xs 0 0;
  @media (min-width: $screen-md) {
  	height: $ls-navbar-height;
  	margin: -$ls-navbar-height 0 0;
  }
}
.jumptarget.page-has-nav:before{
	height: $ls-navbar-height-xs + $page-nav-height-xs;
	margin: -($ls-navbar-height-xs + $page-nav-height-xs) 0 0;
	@media (min-width: $screen-md) {
		height: $ls-navbar-height + $page-nav-height;
		margin: -($ls-navbar-height + $page-nav-height) 0 0;
	}
}
.btn-set{
	max-width: 220px;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: $screen-md) {
		max-width: 250px;
	}
	.btn{
		display: block;
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.btn{
	font-family: $font-family-medium;
	background: $brand-blue;
	border: solid 1px $brand-blue;
	color: #FFF;
	font-size: 18px;
	padding: 15px 19px;
	line-height: 1;
	@media (min-width: $screen-md) {
		padding: 19px 29px 18px;
		font-size: 19px;
	    @include transition-off;
	    &:focus,
	    &:hover{
	    	background: $brand-blue-hover;
	    	color: #fff;
	    	@include transition-on;
	    }
	    &.btn-primary{
	    	&:hover{
	    		border-color: $brand-blue;
	    	}
	    }
	}
	@media (min-width: $screen-xl) {
		padding: 19px 29px 20px;
	}
	&.btn-secondary{
		color: $gray-dark; 
		background: transparent;
		border-color: #A0A4A6;
		&:focus{
			box-shadow: none;
		}
		&:hover{
			border-color: $brand-blue;
			color: $brand-blue;
		}
		&.inverted{
			@include invertedSecondaryBtn;
		}
	}
	&.btn-md{
		font-size: 16px;
		padding: 13px 56px;
		@media (min-width: $screen-md) {
			padding: 13px 36px;
		}
	}
	&.btn-sm{
		font-size: 12px;
		padding: 8px 16px;
	}
	&.btn-text{
		background: none;
		color: $brand-blue;
		border: none;
		font-size: $font-size-base;
		padding: 0;
		line-height: $line-height-base;
		font-family: $font-family-base;
		&:hover{
			text-decoration: underline;
		}
	}
	&.variant-option{
		padding: 12px 26px 11px;
		margin-right: 10px;
		font-size: 15px;
		color: $gray;
		border-color: #e6e6e6;
		font-family: $font-family-base;
		&.selected{
			border-color: $brand-blue;
			color: $brand-blue;
		}
	}
	&.navigate-back{
		background: url('navigate-left.svg') no-repeat left center;
		padding-left: 15px;
	}
	&.navigate-forward{
		background: url('navigate-right.svg') no-repeat right center;
		padding-right: 15px;
	}
}

.print-btn{
	color: $brand-blue;
	font-size: $font-size-xs;
	margin-top: 20px;
	@include transition-off;
	&:hover{
		@include transition-on;
		color: $brand-blue-dark;
		text-decoration: none;
	}
}

.panel-close{
	display: block;
	@include text-hide;
	@include square(40px);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	&:before,
	&:after{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -11px;
		margin-top: -1px;
		display: block;
		content: '';
		width: 19px;
		height: 2px;
		background: #979797;
	}
	&:before{
		@include rotate(45deg);
	}
	&:after{
		@include rotate(135deg);
	}
	&:hover{
		&:before,
		&:after{
			background: $gray-darker;
		}
	}
}
.text-small{
	font-size: $font-size-xs;
}
.text-soft{
	font-style: italic;
	color: #A8A8A8;
}
.highlighted{
	color: $brand-blue;
}
.callout{
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	letter-spacing: $ls-sm;
	color: $gray-dark;
	font-size: $font-size-small;
	text-align: center;
	padding: 30px 0 20px;
}
.marquee {
	padding: 10px 45px 11px;
	background: $brand-blue;
	font-size: $font-size-small;
	line-height: 1.3;
	z-index: 1000;
	color: #FFF;
	position: relative;
	a{
		color: #FFF;
	}
	@media (min-width: $screen-sm) {
	    padding: 10px 15px;
	}
	@media (min-width: $screen-md) {
		padding: 12px 0;
	}
	&::selection{
		background: $brand-blue-dark;
	}
	.panel-close{
		left: auto;
		right: 0;
		top: 50%;
		margin-top: -20px;
		&:before,
		&:after{
			background: $brand-blue-light;
		}
		@media (min-width: $screen-md) {
			&:hover{
				&:before,
				&:after{
					background: #FFF;
				}
			}
		}
	}
}
.cms-overview-template .marquee{
	display: none; // interferes with page nav
}

.alert{
	border-radius: 2px;
	padding: 40px 30px;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	a{
		color: #FFF;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	&.alert-muted{
		background: #FDFDFD;
		border: solid 1px #DEDEDE;
		a{
			color: $gray; 
		}
	}
}
.low-stock-warning{
	font-family: $font-family-sans-serif;
	color: $gray;
	font-size: $font-size-xs;
} 

.breadcrumbs{
	line-height: 26px;
	// these padding values are for the account area. will need to refactor if breadcrumbs get used elsewhere some day
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 12px;
	@media (min-width: $screen-md) {
		padding-top: 40px;
		font-size: $font-size-base;
	}
	a{
		color: #888;
		margin-right: 7px;
		@include transition(all .2s ease);
		@media (min-width: $screen-md) {
			margin-right: 15px;
		}
		&:focus,
		&:hover{
			text-decoration: none;
			color: $gray-darker;
		}
		&:after{
			content: '';
			display: inline-block;
			background: url('navigate-right-gray.svg') no-repeat right center;
			width: 16px;
			height: 9px;
			@media (min-width: $screen-md) {
				width: 24px;
			}
		}
	}
	span{
		color: $brand-blue;
	}
}

.back-to-top{
	@include text-hide();
	@include square(23px);
	display: block;
	margin: 0 auto 40px;
	background: url('back-to-top.png') center center no-repeat;
	@media (min-width: $screen-md) {
	    margin: 0 0 40px 78px;
	}
	&.persistent{
		position: fixed;
		margin: 0;
		bottom: 30px;
		left: auto;
		right: 0;
		@include square(40px);
		background-color: rgba(255, 255, 255, .95);
		background-position: center 7px;
		z-index: 100;
		opacity: 0;
		@include transition(opacity .3s ease-out);
		&.active{
			opacity: 1;
		}
	}
	
}
// .svg .back-to-top{
// 	background-image: url('back-to-top.svg');
// }

.scroll-down-indicator{
	@include size(40px, 40px);  // make the whole thing tall rather than position it from the bottom. makes the js easier
	display: block;
	background: url('down-arrow.png') center center no-repeat;
	background-size: 23px auto;
	position: fixed;
	left: 50%;
	margin-left: -20px;
	bottom: 0;
	z-index: 100;
	@media (min-width: $screen-md) {
		@include size(44px, 64px);
		margin-left: -22px;
		background-size: 100% auto;
	}
	&.pinned{
		position: absolute;
	}
}
.tab-nav-collapsed{
	right: 0;
	border: none;
	border-top: 2px solid $gray-dark;
	margin: -2px 0 0;
	li{
		text-align: left;
		&.active{
			a{
				color: $gray-dark;
				background: none;
				&:hover{
					background: none;
					color: $gray-dark;
				}
			}
		}
		a{
			color: $brand-blue;
			text-transform: uppercase;
			font-size: $font-size-small;
			letter-spacing: $ls-xs;
			padding: 8px 15px;
			&:hover{
				background: none;
			}
		}
	}
}

blockquote{
	font-size: $font-size-small;
	border: none;
	padding: 15px 0;
	margin: 0;
	@media (max-width: $screen-sm-max) {
	   @include mobile-inset;
	}
	@media (min-width: $screen-sm) {
	    padding: 25px 0 30px;
	}
	line-height: 1.75;
	p{
		margin-bottom: 20px;
	}
	.quote-title{
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		letter-spacing: $ls-xs;
	}
	.quote-footer{
		font-size: $font-size-small;
		font-family: $font-family-sans-serif;
		color: $gray-dark;
		text-transform: uppercase;
		letter-spacing: $ls-xs;
		&:before{
			display: none;
			text-transform: uppercase;
		}
	}
	.author-title{
		text-transform: none;
		display: block;
		color: $text-color; 
		padding-top: 5px;
		letter-spacing: 0;
	}
}
.pager{
	@include clearfix;
	font-family: $font-family-sans-serif;
	font-size: $font-size-small;
	.amount{
		float: left;
		margin-bottom: 0;
		strong{
			font-weight: normal;
		}
	}
	.limiter{
		float: right;
		text-align: right;
	}
}
.local-nav{
	margin: 0;
	padding: 0;
	list-style: none;
	li.active{
		color: $brand-blue;
	}
}
.loading{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10000;
	background: rgba(255, 255, 255, .8) url('tail-spin.svg') center center no-repeat;
	height: 143px;
	@media (min-width: $screen-md) {
	    width: $cart-width-md;
	    left: auto;
	    height: 113px;
	}
}
.spinner {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  border-top: .2em solid rgba(0, 0, 0, 0.2);
  border-right: .2em solid rgba(0, 0, 0, 0.2);
  border-bottom: .2em solid rgba(0, 0, 0, 0.2);
  border-left: .2em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.spinner,
.spinner:after {
 border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Olark chat window
#habla_beta_container_do_not_rely_on_div_classes_or_names .hbl_pal_main_font_family{
	font-family: $font-family-sans-serif !important;
}

.embed-container { position: relative; height: 0; overflow: hidden; max-width: 100%; }
.ratio-16-13 .embed-container{ padding-bottom: 81.25%; }
.ratio-16-9 .embed-container{ padding-bottom: 56.25%; }
.ratio-1-1 .embed-container{ padding-bottom: 100%; }
.ratio-3-2 .embed-container{ padding-bottom: 66.6%; }
.ratio-4-3 .embed-container{ padding-bottom: 75%; }
.embed-container iframe,
.embed-container object,
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

// force cinema aspect ratio in heros when on desktop
.is-hero{
	&.ratio-1-1,
	&.ratio-3-2,
	&.ratio-4-3{
		.embed-container{
			@media (min-width: $screen-md) {
				padding-bottom: 56.25%;
			}
		}
	}	
}

.text-divider{
	overflow: hidden;
	text-align: center;
	margin: 25px 0;
	span{
		display: inline-block;
		position: relative;
		padding: 0 22px;
		color: $gray;
		line-height: 1;
		&:before,
		&:after{
			content: '';
			display: block;
			height: 1px;
			background: #e6e6e6;
			width: 1000px;
			top: 50%;
			left: 100%;
			position: absolute;
		}
		&:after{
			left: auto;
			right: 100%;
		}
	}
}

.shopify-challenge__container{
	padding: 160px 0;
	.shopify-challenge__button{
		margin-top: 20px;	
	}
}

