@function calculateEm($input, $base) {
  $emSize: $input / $base; 
  @return #{$emSize}em;
}

@mixin fslh($fontSize, $lineHeight){
	font-size: #{$fontSize}px;
	line-height: calculateEm($lineHeight, $fontSize);
}

@mixin resetList(){
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin resetButton(){
	-webkit-appearance: none;
	overflow: visible;
	text-transform: none;
	outline: 0;
	border: none;
	background: transparent;
}

@mixin transition-on(){
	@include transition(all 0.1s ease-in-out);
}
@mixin transition-off(){
	@include transition(all 0.2s ease-in-out);
}

@mixin mobile-inset{
	margin-left: $mobile-gutter;
	margin-right: $mobile-gutter;
}

@mixin collapsing-panel-toggle{
	position: relative;
	&:before,
	&:after{
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: 0;
		display: block;
		content: '';
		width: 15px;
		height: 1px;
		background: $brand-blue;
		transition: all .3s ease;
	}
	&:before{
		transform: rotate(135deg);
	}
	&:after{
		transform: rotate(225deg);
	}
	&.collapsed{
		&:before{
			transform: rotate(0deg);
		}
		&:after{
			transform: rotate(90deg);
		}
	}
}

@mixin divider-title{
	font-size: 18px;
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 20px;
	color: $gray-darker;
	font-family: $font-family-medium;
	@media (min-width: $screen-md) {
		margin-bottom: 45px;
		padding-bottom: 25px;
		font-size: 24px;
	}
	&:after{
		content: '';
		display: block;
		height: 2px;
		width: 39px;
		background: $brand-blue;
		position: absolute;
		bottom: 0;
	}
}
@mixin secondaryBtn{
	color: $gray-darker; 
	background: transparent;
	border-color: $gray-darker;
	&:focus{
		box-shadow: none;
	}
	&:hover{
		border-color: $brand-blue;
		color: $brand-blue;
	}
}
@mixin invertedSecondaryBtn{
	color: #fff;
	border-color: #fff;
	&:hover{
		border-color: #fff;
		color: #fff;
		background: rgba(255,255,255,.1);
	}
}

@mixin mb($size: 'default'){
	@if $size == 'sm' {

		margin-bottom: $mb-small-xs;
		@media (min-width: $screen-sm) {
			margin-bottom: $mb-small-sm;
		}
		@media (min-width: $screen-md) {
			margin-bottom: $mb-small-md;
		}
		@media (min-width: $screen-lg) {
			margin-bottom: $mb-small-lg;
		} 

	} @else if $size == 'lg'{

		margin-bottom: $mb-large-xs;
		@media (min-width: $screen-sm) {
			margin-bottom: $mb-large-sm;
		}
		@media (min-width: $screen-md) {
			margin-bottom: $mb-large-md;
		}
		@media (min-width: $screen-lg) {
			margin-bottom: $mb-large-lg;
		}
		
	} @else {

		margin-bottom: $mb-default-xs;
		@media (min-width: $screen-sm) {
			margin-bottom: $mb-default-sm;
		}
		@media (min-width: $screen-md) {
			margin-bottom: $mb-default-md;
		}
		@media (min-width: $screen-lg) {
			margin-bottom: $mb-default-lg;
		}

	}
	
}

@mixin headerShadow(){
	box-shadow: 0 0 20px rgba($gray-darker,.15);
	@media (min-width: $screen-md) {
		box-shadow: 0 0 60px rgba($gray-darker,.15);
	}
}

@mixin sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

@mixin ratio($amount) {
  position: relative;
  display: block;

  &:before{
    content: '';
    display: block;
    padding-top: #{$amount};
  }
}

@mixin heroTitle{
	font-family: $font-family-medium;
	font-weight: 400;
	font-size: 28px;
	line-height: 1.24;
	@media (min-width: $screen-sm) { font-size: 34px; }
	@media (min-width: $screen-md) { font-size: 38px; }
	@media (min-width: $screen-lg) { font-size: 42px; }
}
@mixin heroDescription{
	font-size: 16px;
	line-height: 1.375;
	@media (min-width: $screen-md) { font-size: 18px; }
	@media (min-width: $screen-lg) { font-size: 22px; }
}

@mixin sectionTitle{
	font-family: $font-family-medium;
	font-weight: 400;
	font-size: 26px;
	line-height: 1.25;
	@media (min-width: $screen-sm) { font-size: 32px; }
	@media (min-width: $screen-md) { font-size: 36px; }
	@media (min-width: $screen-lg) { font-size: 40px; }
}
@mixin sectionDescription{
	font-size: 14px;
	line-height: 1.4;
	@media (min-width: $screen-md) { font-size: 16px; }
	@media (min-width: $screen-lg) { font-size: 20px; }
}

@mixin blockTitle{
	font-family: $font-family-medium;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	@media (min-width: $screen-sm) { font-size: 22px; }
	@media (min-width: $screen-lg) { font-size: 24px; }
}
@mixin blockDescription{
	font-size: 12px;
	line-height: 1.5;
	@media (min-width: $screen-md) { font-size: 14px; }
	@media (min-width: $screen-lg) { font-size: 16px; line-height: 1.375;}
}