@function calculateEm($input, $base) {
  $emSize: $input / $base; 
  @return #{$emSize}em;
}

@mixin transition-on(){
	@include transition(all 0.1s ease-in-out);
}
@mixin transition-off(){
	@include transition(all 0.2s ease-in-out);
}
@mixin cart-shift(){
	@include transition(right .5s ease-out);
}
@mixin clean(){
	margin: 0;
	padding: 0;
	list-style: none;
}
@mixin mobile-inset{
	margin-left: 20px;
	margin-right: 20px;
}
@mixin panel-section{
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #a8a8a8;
}
@mixin bs-margins-lg{
	margin-top: $line-height-computed;
	margin-bottom: ($line-height-computed / 2);
}
@mixin bs-margins-sm{
	margin-top: $line-height-computed / 2;
	margin-bottom: ($line-height-computed / 2);
}
@mixin title-dash{
	content: '';
	position: absolute;
	top: 0;
	left: 47%;
	right: 47%;
	height: 2px;
	background-color: $text-color;
	display: block;
}
@mixin divider-title{
	font-size: 18px;
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 20px;
	color: $gray-darker;
	font-family: $font-family-semibold;
	@media (min-width: $screen-md) {
		margin-bottom: 45px;
		padding-bottom: 25px;
		font-size: 24px;
	}
	&:after{
		content: '';
		display: block;
		height: 2px;
		width: 39px;
		background: $brand-blue;
		position: absolute;
		bottom: 0;
	}
}
@mixin collapsing-panel-toggle{
	position: relative;
	&:before,
	&:after{
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: 0;
		display: block;
		content: '';
		width: 15px;
		height: 1px;
		background: $brand-blue;
		@include transition(all .3s ease);
	}
	&:before{
		@include rotate(135deg);
	}
	&:after{
		@include rotate(225deg);
	}
	&.collapsed{
		&:before{
			@include rotate(0deg);
		}
		&:after{
			@include rotate(90deg);
		}
	}
}

@mixin invertedSecondaryBtn{
	color: #fff;
	border-color: #fff;
	&:hover{
		border-color: #fff;
		color: #fff;
		background: rgba(255,255,255,.1);
	}
}