.flickity-page-dots .dot{
  width: 7px!important;
  height: 7px!important;
  margin:0 4px!important;
  background-color: white!important;
  border: 1px solid $gray;
}
.flickity-page-dots .dot.is-selected{
  background-color: $gray !important;
}
