
%h1{
  font-family: $font-family-medium;
  font-size: 22px;
  line-height: 30px;

  @media (min-width: $screen-s-md){
    font-size: 32px;
    line-height: 40px;
  }
}

%h2{
  font-family: $font-family-medium;
  font-size: 18px;
  line-height: 28px;

  @media (min-width: $screen-s-md){
    font-size: 26px;
    line-height: 28px;
  }
}

%h3{
  font-family: $font-family-medium;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $screen-s-md){
    font-size: 16px;
    line-height: 22px;
  }
}

%h4{
  font-family: $font-family-medium;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;

  @media (min-width: $screen-s-md){
    font-size: 13px;
  }
}
%h4--alt{
  @extend %h4;

  @media (min-width: $screen-s-md){
    font-size: 12px;
  }
}
%p1{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $screen-s-md){
    font-size: 18px;
    line-height: 24px;
  }
}
%p2{
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;

  @media (min-width: $screen-s-md){
    font-size: 14px;
    line-height: 23px;
  }
}
%p3{
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}
