@import '../../../local/scss/base/variables';

$screen-xs:               450px;
$screen-s-md:             768px;
$screen-md:               1025px;
$screen-lg:               1400px;

$mobile-gutter-pdp:       20px;
$mobile-gutter-pdp-lg:    30px;

$brand-grey:              #2F2D2D;
$brand-red-2:             #E14154;

$text-color:              $gray-darker;
$link-color:              $brand-blue;
