<div class="section-header">
	{%- if block.settings.isPageTitle -%}
	<h1 class="{{ block.settings.headingStyle }}">{{ block.settings.text }}</h1>
	{%- else -%}
	<h2 class="{{ block.settings.headingStyle }}">{{ block.settings.text }}</h2>
	{%- endif -%}
</div>