<div class="topic-content {{ modifiers }}">
    <h3 class="title">{{ title }}</h3>
    {%- unless text == blank -%}<p class="description">{{ text }}</p>{%- endunless-%}
    {%- unless moreWindow == blank -%}<p class="description">{{ moreWindow }}</p>{%- endunless-%}
</div>