{% include 'discover-section-heading', title: "Carry-On Friendly", text: "We designed Hanover Deluxe 2 to be the ideal travel partner." %}
<div class="row animate mb-large" {{ animateFadeInUp }}>
  <div class="col-sm-6">  
    {% include 'discover-picture', name: 'hanover2-discover-section6-block1', alt: 'airplane seating', retina: true, fw: false, lg: true %}
    {% include 'discover-topic-content', title: "Under Seat Ready", text: "The Hanover Deluxe 2 fits seamlessly under any airline seat." %}               
  </div>
  <div class="col-sm-6">    
    {% include 'discover-picture', name: 'hanover2-discover-section6-block2', alt: 'bag in airplane overhead compartment', retina: true, fw: false, lg: true %}                
    {% include 'discover-topic-content', title: "Compatible with Overhead Storage  ", text: "The Hanover Deluxe 2 fits seamlessly in the overhead cabin storage." %}
  </div>
</div>