{% if section.settings.marquee_active == true %}
<div class="marquee text-center hidden" role="marquee"{% unless section.settings.background_color == blank %} style="background-color: {{ section.settings.background_color }}"{% endunless %}>
  {%- if section.settings.url == blank -%}
    {{ section.settings.marquee_text }}
  {%- else -%}
    <a href="{{ section.settings.url }}">{{ section.settings.marquee_text }} {% include 'get-icon', icon: 'arrow'%}</a>
  {%- endif -%}
  {% comment %} <a href="#" class="panel-close"><span class="sr-only">Close</span></a> {% endcomment %}
</div>
{% endif %}
 
{% schema %}
  {
    "name": "Marquee",
    "settings": [
      {
        "type": "textarea",
        "id": "marquee_text",
        "label": "Message"
      },
      {
         "type": "url",
         "id": "url",
         "label": "Links to"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "info": "Default is #00AEEF"
      },
      {
         "type": "checkbox",
         "id": "marquee_active",
         "label": "Enabled",
         "default": true
      }
    ]
  }

{% endschema %}
