{% include 'vars' %}

<div class="max-container">
	<div class="hero has-slides">
		{% for block in section.blocks %}
			{% if block.type == 'heroSlide' %}
	 			{% include 'hero-slide' %}
			{% endif %}
		{% endfor %}
	</div>
</div>  

{% for block in section.blocks %}
	{% case block.type %}

		{% when 'sectionHeading' %}
		{% include 'section-heading' %}

		{% when 'productGroup' %}
		{% include 'product-group' %}

		{% when 'feature' %}
		{% include 'feature-single' %}

		{% when 'features' %}
		{% include 'feature-double' %}

	{% endcase %}
{% endfor %}

<div class="container">
	<div class="press-slider mb-default fw-xs">
		<div class="row ui-black">
		{% for block in section.blocks %}
			{% if block.type == 'review' %}
	 			{% include 'press-item-slide' %}
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>


{% schema %}
{
	"name": "Content Manager",
	"blocks": [
		{
			"type": "heroSlide",
			"name": "Hero Slide",
			"settings":[
				{
					"type": "image_picker",
					"id": "mobileImage",
					"label": "Mobile Image",
					"info": "750px by 1100px, medium quality"
				},
				{
					"type": "image_picker",
					"id": "tabletImage",
					"label": "Tablet Image",
					"info": "1536px by 1926px, medium quality"
				},
				{
					"type": "image_picker",
					"id": "desktopImage",
					"label": "Desktop Image",
					"info": "1680px by 660px, high quality"
				},
				{
					"type": "text",
					"id": "altText",
					"label": "Alt Text"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "text",
					"id": "description",
					"label": "Description"
				},
				{
					"type": "text",
					"id": "linkText",
					"label": "Link -- Text"
				},
				{
					"type": "url",
					"id": "linkUrl",
					"label": "Link -- URL"
				},
				{
					"type": "radio",
					"id": "linkStyle",
					"label": "Link -- Style",
					"options": [
						{ "value": "default", "label": "Default" },
						{ "value": "outline", "label": "Outline" }
					]
				},
				{
					"type": "radio",
					"id": "textPosition",
					"label": "Text Position",
					"options": [
						{ "value": "left", "label": "Left" },
						{ "value": "center", "label": "Center" },
						{ "value": "right", "label": "Right" }
					]
				},
				{
					"type": "radio",
					"id": "textColor",
					"label": "Text Color",
					"options": [
						{ "value": "default", "label": "Default" },
						{ "value": "black", "label": "Black" },
						{ "value": "white", "label": "White" }
					]
				}
			]
		},
		{
			"type": "productGroup",
			"name": "Product Group",
			"settings":[
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image",
					"info": "1680px by 600px, high quality"
				},
				{
					"type": "text",
					"id": "altText",
					"label": "Alt Text"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "text",
					"id": "description",
					"label": "Description"
				},
				{
					"type": "radio",
					"id": "textPosition",
					"label": "Text Position",
					"options": [
						{ "value": "left", "label": "Left" },
						{ "value": "center", "label": "Center" },
						{ "value": "right", "label": "Right" }
					]
				},
				{
					"type": "radio",
					"id": "textColor",
					"label": "Text Color",
					"options": [
						{ "value": "default", "label": "Default" },
						{ "value": "black", "label": "Black" },
						{ "value": "white", "label": "White" }
					]
				},
				{
					"type": "image_picker",
					"id": "image1",
					"label": "Image 1",
					"info": "750px by 1000px, medium quality"
				},
				{
					"type": "text",
					"id": "imageLabel1",
					"label": "Image 1 -- Label"
				},
				{
					"type": "url",
					"id": "imageLink1",
					"label": "Image 1 -- Link"
				},
				{
					"type": "image_picker",
					"id": "image2",
					"label": "Image 2"
				},
				{
					"type": "text",
					"id": "imageLabel2",
					"label": "Image 2 -- Label"
				},
				{
					"type": "url",
					"id": "imageLink2",
					"label": "Image 2 -- Link"
				},
				{
					"type": "image_picker",
					"id": "image3",
					"label": "Image 3"
				},
				{
					"type": "text",
					"id": "imageLabel3",
					"label": "Image 3 -- Label"
				},
				{
					"type": "url",
					"id": "imageLink3",
					"label": "Image 3 -- Link"
				},
				{
					"type": "image_picker",
					"id": "image4",
					"label": "Image 4"
				},
				{
					"type": "text",
					"id": "imageLabel4",
					"label": "Image 4 -- Label"
				},
				{
					"type": "url",
					"id": "imageLink4",
					"label": "Image 4 -- Link"
				},
				{
					"type": "image_picker",
					"id": "image5",
					"label": "Image 5"
				},
				{
					"type": "text",
					"id": "imageLabel5",
					"label": "Image 5 -- Label"
				},
				{
					"type": "url",
					"id": "imageLink5",
					"label": "Image 5 -- Link"
				},
				{
					"type": "image_picker",
					"id": "image6",
					"label": "Image 6"
				},
				{
					"type": "text",
					"id": "imageLabel6",
					"label": "Image 6 -- Label"
				},
				{
					"type": "url",
					"id": "imageLink6",
					"label": "Image 6 -- Link"
				},
				{
					"type": "image_picker",
					"id": "image7",
					"label": "Image 7"
				},
				{
					"type": "text",
					"id": "imageLabel7",
					"label": "Image 7 -- Label"
				},
				{
					"type": "url",
					"id": "imageLink7",
					"label": "Image 7 -- Link"
				},
				{
					"type": "image_picker",
					"id": "image8",
					"label": "Image 8"
				},
				{
					"type": "text",
					"id": "imageLabel8",
					"label": "Image 8 -- Label"
				},
				{
					"type": "url",
					"id": "imageLink8",
					"label": "Image 8 -- Link"
				}
			] 
		},
		{
			"type": "feature",
			"name": "Full Width Feature",
			"settings": [
				{
					"type": "image_picker",
					"id": "mobileImage",
					"label": "Mobile Image"
				},
				{
					"type": "image_picker",
					"id": "desktopImage",
					"label": "Desktop Image"
				},
				{
					"type": "text",
					"id": "altText",
					"label": "Alt Text"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "text",
					"id": "linkText",
					"label": "Link Text"
				},
				{
					"type": "url",
					"id": "linkUrl",
					"label": "Link URL"
				},
				{
					"type": "radio",
					"id": "linkStyle",
					"label": "Link Style",
					"options": [
						{ "value": "default", "label": "Default" },
						{ "value": "outline", "label": "Outline" }
					]
				},
				{
					"type": "radio",
					"id": "textColor",
					"label": "Text Color",
					"options": [
						{ "value": "default", "label": "Default" },
						{ "value": "black", "label": "Black" },
						{ "value": "white", "label": "White" }
					]
				}
			]
		},
		{
			"type": "features",
			"name": "Half Width Features",
			"settings": [
				{
					"type": "image_picker",
					"id": "mobileImageA",
					"label": "Feature A - Mobile Image"
				},
				{
					"type": "image_picker",
					"id": "desktopImageA",
					"label": "Feature A - Desktop Image"
				},
				{
					"type": "text",
					"id": "altTextA",
					"label": "Feature A - Alt Text"
				},
				{
					"type": "text",
					"id": "titleA",
					"label": "Feature A - Title"
				},
				{
					"type": "text",
					"id": "linkTextA",
					"label": "Feature A - Link Text"
				},
				{
					"type": "url",
					"id": "linkUrlA",
					"label": "Feature A - Link URL"
				},
				{
					"type": "radio",
					"id": "linkStyleA",
					"label": "Feature A - Link Style",
					"options": [
						{ "value": "default", "label": "Default" },
						{ "value": "outline", "label": "Outline" }
					]
				},
				{
					"type": "radio",
					"id": "textColorA",
					"label": "Feature A - Text Color",
					"options": [
						{ "value": "default", "label": "Default" },
						{ "value": "black", "label": "Black" },
						{ "value": "white", "label": "White" }
					]
				},
				{
					"type": "image_picker",
					"id": "mobileImageB",
					"label": "Feature B - Mobile Image"
				},
				{
					"type": "image_picker",
					"id": "desktopImageB",
					"label": "Feature B - Desktop Image"
				},
				{
					"type": "text",
					"id": "altTextB",
					"label": "Feature B - Alt Text"
				},
				{
					"type": "text",
					"id": "titleB",
					"label": "Feature B - Title"
				},
				{
					"type": "text",
					"id": "linkTextB",
					"label": "Feature B - Link Text"
				},
				{
					"type": "url",
					"id": "linkUrlB",
					"label": "Feature B - Link URL"
				},
				{
					"type": "radio",
					"id": "linkStyleB",
					"label": "Feature B - Link Style",
					"options": [
						{ "value": "default", "label": "Default" },
						{ "value": "outline", "label": "Outline" }
					]
				},
				{
					"type": "radio",
					"id": "textColorB",
					"label": "Feature B - Text Color",
					"options": [
						{ "value": "default", "label": "Default" },
						{ "value": "black", "label": "Black" },
						{ "value": "white", "label": "White" }
					]
				}
			]
		},
		{
			"type": "sectionHeading",
			"name": "Section Heading",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "text",
					"id": "description",
					"label": "Description"
				}
			]
		},
		{
			"type": "review",
			"name": "Review",
			"settings":[
				{
					"type": "image_picker",
					"id": "logo",
					"label": "Logo"
				},
				{
					"type": "text",
					"id": "altText",
					"label": "Publication Name"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Review Content",
					"info": "Don't include the opening and closing quotation marks."
				}
				
			]
		}
	]
}
{% endschema %}