.btn-set{
	width: 190px;
	margin-left: auto;
	margin-right: auto;
	&.inlined{
		@media (min-width: $screen-sm) {
			width: 100%;
			text-align: center; 
			.btn{
				display: inline-block;
				margin: 0 3px;
			}
		}
	}
	&.aligned-left{
		margin-left: 0;
	}
	.btn{
		display: block;
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.btn{
	font-family: $font-family-medium;
	background: $brand-blue;
	border: solid 1px $brand-blue;
	color: #FFF;
	font-size: 16px;
	padding: 1em 1.5em;
	line-height: 1;
	@media (min-width: $screen-md) {
	    @include transition-off;
	    &:focus,
	    &:hover{
	    	background: $brand-blue-hover;
	    	color: #fff;
	    	@include transition-on;
	    }
	    &.btn-primary{
	    	&:hover{
	    		border-color: $brand-blue;
	    	}
	    }
	}
	@media (min-width: $screen-lg) {
		font-size: 19px;
	}
	&.btn-secondary{
		@include secondaryBtn;
		&.inverted{
			@include invertedSecondaryBtn;
		}
	}
	&.btn-md{
		font-size: 16px;
		padding: 11px 28px;
		@media (min-width: $screen-md) {
			padding: 16px 36px;
		}
		@media (min-width: $screen-lg) {
			padding: 16px 50px;
		}
	}
	&.btn-sm{
		font-size: 12px;
		padding: 8px 16px;
	}
	&.btn-text{
		background: none;
		color: $brand-blue;
		border: none;
		font-size: $font-size-base;
		padding: 0;
		line-height: $line-height-base;
		font-family: $font-family-base;
		&:hover{
			text-decoration: underline;
		}
	}
	&.variant-option{
		padding: 12px 26px 11px;
		margin: 0 10px 10px 0;
		font-size: 15px;
		color: $gray;
		border-color: #e6e6e6;
		font-family: $font-family-base;
		background: #FFF;
		&.selected{
			border-color: $brand-blue;
			color: $brand-blue;
		}
	}
	&.navigate-back{
		background: url('navigate-left.svg') no-repeat left center;
		padding-left: 15px;
	}
	&.navigate-forward{
		background: url('navigate-right.svg') no-repeat right center;
		padding-right: 15px;
	}
}

.print-btn{
	color: $brand-blue;
	font-size: $font-size-xs;
	margin-top: 20px;
	@include transition-off;
	&:hover{
		@include transition-on;
		color: $brand-blue-dark;
		text-decoration: none;
	}
}

.panel-close{
	display: block;
	@include text-hide;
	@include square(40px);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	&:before,
	&:after{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -11px;
		margin-top: -1px;
		display: block;
		content: '';
		width: 19px;
		height: 2px;
		background: #979797;
	}
	&:before{
		@include rotate(45deg);
	}
	&:after{
		@include rotate(135deg);
	}
	&:hover{
		&:before,
		&:after{
			background: $gray-darker;
		}
	}
}

.video-trigger {
    opacity: 1;
    width: 80px;
    @media (min-width: $screen-sm) {
    	width: 60px;
    }
    @media (min-width: $screen-lg) {
    	width: 94px;
    }
    img{
    	width: 100%;
    }
}