.card-stack-window{
  position: relative; // our nav and cards position against this
}
.card-stack{
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;

  // When .frame hits the top of the stack, .card becomes absolutely positioned relative to the window
  // .frame keeps on scrolling so the stack maintains its natural height and the lower cards don't shift around
  // in other words, we drop the card at the top of the window and pick it back up again when scrolling the other direction
  .frame{
    border: 0;
    height: 540px;
    @media (min-width: $screen-sm) {
      height: 380px;
    }
  }
  .card{
    display: flex;
    flex-direction: column-reverse; // stack the image above on mobile
    background: $gray-lightest;
    height: 100%;
    width: 100%;
    position: relative;
    @media (min-width: $screen-sm) {
      flex-direction: row;
    }
    .body{
      background: #000;
      height: 203px;
      color: #fff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 60px;
      @media (min-width: $screen-sm) {
        width: 293px;
        height: 100%;
      }
    }
    .image{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      img{
        width: 541px;
      }
    }
    .title{
      @include blockTitle;
      color: currentColor;
    }
    .description{
      @include blockDescription;
      margin: 0;
      font-size: 14px;
    }
  }
}
.card-stack-nav{
  @include resetList;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 203px;
  display: none;
  @media (min-width: $screen-sm) {
    top: 0;
    height: auto
  }
  li{
    margin: 2px 0;
    &.active{
      a{
        background-color: $gray;
      }
    }
  }
  a{
    background: $gray-lighter;
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transition: .2s;
  }
}