.card{
  @include blockDescription;
  margin-bottom: 50px;
  color: $gray;
  @media (min-width: $screen-sm) {
    margin-bottom: 0; // use .block margins when in columns
  }
  &.title-card{
    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column-reverse;
      .title{
        order: 3;
      }
      .media{
        margin-bottom: 0;
      }
      p:last-child{
        margin-bottom: 23px;
      }
    }
  }
  &.cta-card{
    .media{
      margin-bottom: 0;
    }
    p{
      margin: 10px 0;
    }
  }
  .title{
    @include blockTitle;
    margin-bottom: 5px;
  }
  .media{
    margin-bottom: 20px;
  }
  p{
    @media (min-width: $screen-sm) {
      max-width: 75%;
    }
  }
  > *:last-child{
    margin-bottom: 0;
  }
  img{
    width: 100%;
  }
}

// ugh
body.page-discover-metallics{
  .card p{
    max-width: 100%; 
  }
}