
#site-header {
	font-family: $font-family-sans-serif;
	@include transition(all .25s ease-out);
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 10002;
	&.after-scroll{
		#site-header-items {
			background-color: #fff;
			border-bottom: 1px solid $gray-lighter;
		}
	}
}
#site-header-items{
	padding-bottom: 5px;
	padding-top: 5px;
	position: relative;
	z-index: $header-z-index;
	border: 1px solid transparent;
	// line-height: 0; // fixes weird space below items ¯\_(ツ)_/¯
	@include transition(all .25s ease-out);
	@media (min-width: $screen-md) {
		padding-top: 0;
		padding-bottom: 0;
		text-align: left;

	}
	.container{
		position: relative;
		@media (max-width: $screen-md) {
			width: 100%;
			padding: 0 28px;
		}
	}
}

.site-header-icons {
	float: right;
	padding-right:5px;
	padding-top: 12px;
	display: inline-block;
	@media (min-width: $screen-md) {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate;
		transform: translate(0, -50%);
		padding-top: 5px;
	}
}

.cart-link{
	position: relative;
	.cart-icon{
		background-image: url('icon-cart-v3.svg');
	}
	.cart-count{
		color: #fff;
		position: absolute;
		top: -9px;
		right: -8px;
		background-color: $brand-blue;
		border-radius: 50%;
		height: 14px;
		width: 14px;
		font-size: 10px;
		text-align: center;
	}
}

.showing-alternate #site-header-items{
	background: white;

	body.has-tw-header &,
	body.has-tb-header & {
		background: transparent;
	} 
}

.site-content{
	body.has-tw-header &,
	body.has-tb-header & {
		padding-top: 0;
	}
}

body.has-tw-header{
	#site-header{
		.navbar-toggle {
			.icon-bar1, .icon-bar2, .icon-bar3 {
				background-color: #000;
			}
		}
		#site-logo {
			background-image: url('lo-and-sons.svg');
		}
		.cart-link{
			.cart-icon{
				background-image: url('icon-cart-v3.svg');
			}
			.cart-count{
				color: #fff;
			}
		}
		.login-link {
			.login-icon {
				background-image: url('icon-account.svg');
			}
		}
		.help-link {
			.help-icon {
				background-image: url( 'icon-help.svg');
			}
		}
	}
}

body.has-tw-header{
	#site-header.showing-alternate {
		#site-logo {
			background-image: url('lo-and-sons-white.svg');
		}
		.navbar-toggle {
			.icon-bar1, .icon-bar2, .icon-bar3 {
				background-color: #fff;
			}
		}
		.mega-menu__nav .mega-menu__nav__item .mega-menu__nav__item__link {
			@media (min-width: $screen-md) {
				color: #fff;
			}
		}
		.mega-menu__nav__item:hover,
		.mega-menu__nav__item:focus,
		.mega-menu__nav__item:active {
			@media (min-width: $screen-md) {
				.mega-menu__nav__item__link {
					border-bottom: 1px solid #fff;
				}
			}
		}
		.site-header-icons__icon {
			color: #fff;
		}
	}
}

body.menu-open{
	@media (max-width: ($screen-md - 1px)) {
		overflow: hidden;
	}
}

#site-logo {
	@include text-hide;
	position: relative;
	overflow:hidden;
	background: url('lo-and-sons.svg') no-repeat transparent center center;
	@include size(130px, 43px);
	background-size: auto 14px;
	margin:0;
	padding:0;
	display: inline-block;
	@media only screen and (min-width: $screen-md) {
		height: $ls-navbar-height;
		@include size(168px, 64px);
		background-size: auto 18px;
		z-index: 10;
		display: block;
		margin: 0 auto;
	}
}

.navbar-toggle{
	display: block;
	border: none;
	margin: 0;
	padding-left: 12px;
	.icon-bar1, .icon-bar2, .icon-bar3 {
		background-color: $brand-black;
		width: 18px;
		transition: 0.4s;
	}
	.icon-bar + .icon-bar{
		margin-top: 5px;
	}
	&:hover,
	&:focus{
		background: none;
	}
}

.navbar-toggle {
	&.mega-menu-active .icon-bar1 {
		transform: rotate(-45deg) translate(-6px, 4.5px);
	}
	&.mega-menu-active .icon-bar2 {
		opacity: 0;
	}
	&.mega-menu-active .icon-bar3 {
		transform: rotate(45deg) translate(-5px, -4px);
	}
}

.site-header-icons__icon {
  display: inline-block;
  color: $brand-black;
  height: 30px;
  position: relative;
  cursor: pointer;

  &.is-active {
    @media (max-width: ($screen-md - 1)) {
      transition: color 300ms;

      > a {
        color: $brand-blue;
      }
    }
	}
	
	&.search-link {
		display: none;
		
		@media (min-width: $screen-md) {
			display: inline-block;
		}

		&.is-active > a{
			color: $brand-blue;
		}
	}

  & + .site-header-icons__icon {
		padding-left: 8px;
		&.navbar-toggle {
			padding-left: 12px;
		}
		@media (min-width: $screen-md) {
			padding-left: 17px;
		}
  }

  > a {
    color: currentColor;
  }

  &:hover{
    @media (min-width: $screen-md) {
      text-decoration: none;
      transition: color 300ms;
      color: $brand-blue;

      > a {
        color: $brand-blue;
      }
    }
  }
  
  .cart-link.empty{
    .cart-count{
      display: none;
    }
  }
  svg {
		width: 22px;
		height: 22px;
  }
  &:last-child {
    padding-right: 0;
  }
  &.navbar-toggle {
    @media (min-width: $screen-md) {
      display: none;
    }
  }
}

.site-header-icons__icon--sm svg {
	width: 8px;
	height: 8px;
}