
#site-header {
	font-family: $font-family-sans-serif;
	@include transition(all .25s ease-out);
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 1020;
	&.after-scroll{
		@include headerShadow;
	}
}
#site-header-items{
	background: #FFF;
	padding-bottom:12px;
	padding-top:12px;
	text-align: center;
	line-height: 0; // fixes weird space below items ¯\_(ツ)_/¯
	@include transition(all .25s ease-out);
	@media (min-width: $screen-md) {
		padding-top: 0;
		padding-bottom: 0;
	}
	.container{
		position: relative;	
	}
}

/*
 Some pages have a transparent nav over the hero
 */
body.has-tw-header,
body.has-tb-header{
	#site-header.showing-alternate #site-header-items{
		background: none;
	}
	.site-content{
		padding-top: 0;
	}
}

body.has-tw-header{
	#site-header.showing-alternate{
		.navbar-toggle .icon-bar{
			background-color: #fff;
		}
		#site-logo {
			background-image: url(ls-logo-white.svg);
		}
		.cart-link{
			&:hover{
				.cart-count{
					border-color: $brand-blue;
					color: $brand-blue; 
				}
				.cart-icon{
					background-position: right 4px;
				}
			}
			&.empty{
				.cart-count{
					color: #fff;
				}
			}
			.cart-icon{
				background-position: left -29px;
			}
			.cart-count{
				border-color: #fff;
				color: #fff;
			}
		}
	}
}

#site-logo {
	@include text-hide;
	overflow:hidden;
	background: url(ls-logo.svg) no-repeat transparent center center;
	@include size(52px, 30px);
	background-size: 52px auto;
	margin:0 auto;
	padding:0;
	display: block;
	@media only screen and (min-width: $screen-md) {
		@include size(70px, $ls-navbar-height);
		background-size: auto 36px;
	    position: relative;
	    z-index: 10;
	}
}

.navbar-toggle{
	display: block;
	position: absolute;
	border: none;
	margin: 0;
	left: $mobile-gutter;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 0;
	@media (min-width: $screen-sm) {
		left: $grid-gutter-width/2;
	}
	.icon-bar{
		background-color: $brand-black;
		width: 20px;
	}
	.icon-bar + .icon-bar{
		margin-top: 5px;
	}
	&:hover,
	&:focus{
		background: none;
	}
	&:focus{
		.icon-bar{
			background-color: $brand-blue;
		}
	}
}

.cart-link{
	display: block;
	position: absolute;
	right: $mobile-gutter;
	top: 50%;
	transform: translateY(-50%);
	@media (min-width: $screen-sm) {
		right: $grid-gutter-width/2;
	}
	&:hover{
		text-decoration: none;
		.cart-count{
			border-color: $brand-blue;
		}
		.cart-icon{
			background-position: right 4px;
		}
	}
	&.empty{
		.cart-count{
			color: $brand-black;
		}
	}
	.cart-icon{
		display: inline-block;
		width: 19px;
		height: 32px;
		background: url('sprite-icon-cart-v5.svg') no-repeat left 4px;
		background-size: 38px auto;
		vertical-align: middle;
	}
	.cart-count{
		display: inline-block;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: solid 1px $brand-black;
		color: $brand-blue;
		margin-left: 10px;
		line-height: 29px;
		vertical-align: middle;
	}
}