.hero{
	position: relative;
	@include mb('lg');
	&.soft-load{
		opacity: 0;
		@include transition(opacity .4s ease-out);
		&.in{
			opacity: 1;
		}
	}
	&.without-image{
		background: $gray-lightest;
		padding: 160px 0;
		.hero-content{
			position: static;
			margin-left: auto;
			margin-right: auto;
			@media (min-width: $screen-sm) {
				padding: 0;
				width: 400px;
			}
			@media (min-width: $screen-lg) {
				width: 500px;
			}
		}
	}
	&.has-slides{
		.slide{
			position: relative;
		}
	}
	&.has-black-arrow,
	&.has-arrow{
		.scroll-down-indicator{
			display: block;
			width: 32px;
			height: 40px;
			background: url('hero-arrow.svg') no-repeat center top;
			background-size: 100% auto;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&.has-black-arrow{
		.scroll-down-indicator{
			background-image: url('hero-arrow-black.svg');
		}
	}
	picture{
		img{
			width: 100%;
		}
	}
}
.content{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	@include heroDescription;
	color: white;
	&.black{
		color: $brand-black;
	}
	.title{
		@include heroTitle;
		margin-bottom: 5px;
		color: currentColor;
	}
	.subtitle{
		display: block;
		font-size: 40%;
		text-transform: uppercase;
		letter-spacing: .125ex;
		margin: 0 0 7px;
		line-height: 1.25;
		font-family: $font-family-base;
	}
	*:last-child{
		margin-bottom: 0;
	}
}
// legacy
.hero-content{
	position: absolute;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0 $mobile-gutter;
	color: #FFF;
	@include heroDescription;
	@media (min-width: $screen-sm) {
		padding: 0 25%;
	}
	@media (min-width: $screen-md) {
		width: 50%;
		left: 25%;
		padding: 0 10%;
		color: $brand-black;
		&.right{
			right: 0;
			left: auto;
		}
		&.left{
			left: 0;
		}
	}
	&.black{
		color: $brand-black;
		.title{
			color: $brand-black;
		}
		.btn.btn-secondary{
			@include secondaryBtn;
		}
	}
	&.white{
		color: #FFF;
		.title{
			color: #FFF;
		}
		.btn.btn-secondary{
			@include invertedSecondaryBtn;
		}
	}
	&.medium{
		.title{
			color: $brand-black;
		}
		.description{
			color: $gray;
		}
	}
	.title{
		color: #FFF;
		@include heroTitle;
		margin-bottom: 5px;
		@media (min-width: $screen-md) {
		    color: $brand-black;
		}
	}
	.subtitle{
		display: block;
		font-size: 40%;
		text-transform: uppercase;
		letter-spacing: .125ex;
		margin: 0 0 5px;
		line-height: 1.25;
		font-family: $font-family-base;
	}
	.btn.btn-secondary{
		@media (max-width: $screen-sm-max) {
			@include invertedSecondaryBtn;
		}
	}
}

// .hero.legacy-hero{
// 	.hero-content{
// 		@media (max-width: $screen-xs-max) {
// 		    position: static;
// 		    padding-top: $mobile-gutter;
// 		    // don't allow white text on mobile since the content drops blow the image
// 		    &.white{
// 		    	.title, .description{
// 		    		color: $brand-black;
// 		    	}
// 		    	.btn.btn-secondary{
// 		    		color: $brand-black;
// 		    		border-color: $brand-black;
// 		    	}
// 		    }
// 		}
// 		@media (min-width: $screen-sm) {
// 			width: 50%;
// 			left: 25%;
// 			padding: 0 10%;
// 			&.right{
// 				right: 0;
// 				left: auto;
// 			}
// 			&.left{
// 				left: 0;
// 			}
// 		}
// 		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
// 			font-size: 18px;
// 		}
// 		.title{
// 			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
// 				font-size: 1.6em;
// 			}
// 		}
		
// 	}
// }

