#site-nav-panel{
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 10001;
	width: 100%;
	background: #fff;
	@include transition(left .25s ease-out);
	@media (min-width: $screen-sm) {
		left: -$menu-width-md;
		width: $menu-width-md;
	}
	.panel-close{
		left: auto;
		right: 31px;
		top: 15px;
	}
}
body.menu-open{
	#site-nav-panel{ 
		left: 0;
		box-shadow: 0 0 60px rgba(0,0,0,.1);
	}
}

/* --- MEGA MENU --- */
.mega-menu{
	position: relative;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
    padding: 75px $mobile-gutter 30px;
}
.mega-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	a {
		text-decoration: none;
	}
}
.mega-menu__nav {
	@include resetList;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
.mega-menu__nav__item {
	width: 32%;
	margin-bottom: 10px;
	border: 1px solid $gray-lighter;
	border-radius: 2px;
	text-align: center;
	&:hover,
	&:active,
	&:focus {
		background-color: $brand-blue;
		border: 1px solid $brand-blue;
	}
}
.mega-menu__nav__item.open .mega-menu__nav__item__link {
	color: white;
	background-color: $brand-blue;
}
.mega-menu__nav__item__link {
	font-family: $font-family-medium;
	display: inline-block;
	line-height: 40px;
	width: 100%;
	text-transform: uppercase;
	color: $gray;
	font-size: 10px;
	letter-spacing: 1px;
	&:hover {
		color: white;
	}
}
.mega-menu__subnav {
	font-size: 12px;
	position: absolute;
	top: 100%;
	left: 0;
	text-align: left;
}
.mega-menu__subnav__item {
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 15px;
	&:first-child {
		padding-top: 20px;
	}
}

.mega-menu__subnav__item__link{
	color: $gray-darker;
}

.mega-menu__subnav__item__header {
	margin-top: 30px;
	color: $gray-darker;
}
.mega-menu__subnav__item-title {
	text-transform: uppercase;
	color: $gray-darker;
	margin-bottom: 10px;
}
.mega-menu__subnav__item__child {
	padding-bottom: 10px;
}
.mega-menu__subnav__item__child__link {
	color: $gray-light;
	font-size: 13px;
}



.page-nav{
	position: relative;
	background: #fff;
	border-top: solid 1px #f4f4f4;
	opacity: 0;
	@include transition(all .25s ease-out);
	&.is-shown{
		opacity: 1;
	}
	&.persistent{
		background: #FAFAFA;
		@media (min-width: $screen-md) {
			.title{
				@include sr-only;
			}
		}
	}
	&.without-actions{
		@media (min-width: $screen-md) {
			.items{
				justify-content: flex-end;
			}
		}
	}
	.container{
		position: relative;
		height: $page-nav-height-xs;
		@media (min-width: $screen-md) {
			height: $page-nav-height;
		}
	}
	.items{
		position: absolute;
		right: $grid-gutter-width;
		top: $page-nav-height-xs;
		width: 50%;
		display: none;
		background: #FFF;
		padding: 0 $grid-gutter-width/2;
		@include headerShadow;
		&.active{
			display: block;
		}
		@media (min-width: $screen-md) {
			position: relative;
			z-index: 1;
			top: 0;
			background: none;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: auto;
			right: auto;
			box-shadow: none;
			height: 100%;
		}
		a{
			color: $gray;
			padding: $grid-gutter-width/2 0;
			border-bottom: solid 1px #ededed;
			font-size: 13px;
			text-decoration: none;
			display: block;
			@media (min-width: $screen-md) {
				font-size: $font-size-base;
				margin: 0 11px;
				border: 0;
				padding: 0;
				&:hover{
					color: $gray-darker;
				}
			}
			@media (min-width: $screen-lg) {
				margin: 0 20px;
			}
			&:last-child{
				border: 0;
			}
			&.active{
				color: $gray-darker;
			}
		}	
		.active-bar{
			display: none;
			@media (min-width: $screen-md) {
				display: block;
				bottom: 22px;
			}
		}
	}
	// .items{
	// 	background: #fafafa;
	// 	line-height: 1;
	// 	padding: 18px 0;
	// 	display: flex;
	// 	justify-content: center;
	// 	position: fixed;
	// 	z-index: 1010;
	// 	width: 100%;
	// 	top: $ls-navbar-height-xs;
	// 	@include transition(all .25s ease-out);
	// 	&.after-scroll{
	// 		@include headerShadow;
	// 	}
	// 	@media (min-width: $screen-md) {
	// 		padding: 32px 0;
	// 		top: $ls-navbar-height;
	// 	}
		
	// }
	.title{
		font-family: $font-family-medium;
		position: absolute;
		left: $grid-gutter-width;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		@include fslh(18,18);
		@media (min-width: $screen-sm) {
			left: $grid-gutter-width/2;
		}
		@media (min-width: $screen-md) {
			@include fslh(28,28);
		}
	}
	#price-xs{
		display: block;
		position: absolute;
		right: $grid-gutter-width;
		top: 50%;
		transform: translateY(-50%);
		color: $gray;
		@media (min-width: $screen-sm) {
			right: $grid-gutter-width/2;
		}
		@media (min-width: $screen-md) {
			display: none;
		}
	}
	.actions{
		@include resetList;
		color: $gray;
		z-index: 10;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #FFF;
		padding: 15px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		@include headerShadow;
		display: none;
		@media (min-width: $screen-md) {
			position: absolute;
			right: $grid-gutter-width/2;
			top: 50%;
			bottom: auto;
			left: auto;
			width: auto;
			transform: translateY(-50%);
			display: block;
			background: none;
			padding: 0;
			box-shadow: none;
		}
		li{
			display: inline-block;
			vertical-align: middle;
			margin: 0 8px;
			@media (min-width: $screen-md) {
				margin-left: 18px;
			}
			&#price-md{
				@media (max-width: $screen-sm-max) {
				    display: none;
				}
			}
		}
	}
}
#items-toggle{
	display: block;
	position: absolute;
	right: $grid-gutter-width;
	top: 50%;
	transform: translateY(-50%);
	color: $gray;
	padding-right: 21px;
	border: 0;
	background: 0;
	-webkit-appearance: none;
	// disabled
	display: none;
	@media (min-width: $screen-sm) {
		right: $grid-gutter-width/2;
	}
	@media (min-width: $screen-md) {
		display: none;
	}
	&:focus,
	&:hover{
		text-decoration: none;
	}
	&::after{
		content: '';
		display: block;
		background: url('caret-down.svg') no-repeat center right;
		background-size: 13px auto;
		width: 13px;
		height: 13px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: .2s;
	}
	&.active{
		&::after{
			transform: translateY(-50%) rotate(180deg);
		}
	}
	
}

