.product-grid{
	@media (max-width: $screen-xs-max) {
	    .col-xs-6:nth-child(2n+1){
			clear: left;
	    }
	}
	@media (min-width: $screen-sm) {
		margin: 40px 0;
	    .col-sm-3:nth-child(4n+1){
			clear: left;
	    }
	}
	.product{
		@include mb;
		.image{
			margin-bottom: 13px;
			position: relative;
		}
		.title{
			font-family: $font-family-medium;
			font-size: 15px;
			line-height: 1;
			margin: 0 0 8px;
			@media (min-width: $screen-md) {
				font-size: 22px;
			}
		}
		a{
			color: $brand-black;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.product-color{
		font-size: 12px;
		line-height: 1;
		margin: 0 0 8px;
		@media (min-width: $screen-md) {
			font-size: 18px;
		}
	}
	.product-material{
		color: #A9A9A9;
		font-size: 12px;
		line-height: 1;
		margin: 0 0 15px;
		@media (min-width: $screen-md) {
			font-size: 16px;
		}
	}
	.price{
		font-family: $font-family-medium;
		font-size: 12px;
		line-height: 12px;
		@media (min-width: $screen-md) {
			font-size: 18px;
			line-height: 20px;
		}
		span{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.discount-label, 
	.old-price{
		font-family: $font-family-base;
		font-size: 11px;
		color: $gray;
		line-height: 12px;
		margin-left: 5px;
		@media (min-width: $screen-md) {
			font-size: 14px;
			line-height: 20px;
			margin-left: 10px;
		}
	}
	.discount-label{
		font-family: $font-family-bold;
		color: $brand-red;
	}
	.low-stock-warning{
		margin-left: 5px;
		@media (min-width: $screen-md) {
			margin-left: 10px;
		}
	}
}

.low-stock-warning{
	color: $gray;
	font-size: $font-size-xs;
} 

.discount-badge{
	position: absolute;
	background: #5E4471;
	top: 10px;
	left: 10px;
	width: 60px;
	height: 60px;;
	color: #F2E7F7;
	display: block;
	padding-top: 13px;
	text-align: center;
	border-radius: 50%;
	line-height: 1;
	font-size: 16px;
	transform: scale(.61);
	transform-origin: 0 0;
	@media (min-width: $screen-md) {
		top: 20px;
		left: 20px;
		transform: scale(1);
	}
}