.product-item{
  .image{
    margin-bottom: 15px;
  }
  .details{
    @include blockDescription;
  }
  .title{
    font-size: 1em;
    margin: 0;
  }
  a{
    color: $gray-darker;
    &:focus,
    &:hover{
      text-decoration: none;
    }
  }
  .material,
  .old-price,
  .low-stock-warning{
    color: #a9a9a9;
  }
	.discount-label, 
	.old-price{
    margin-left: 10px;
	}
	.discount-label{
    color: $brand-red;
  }
  .low-stock-warning{
    padding: 0;
    font-size: 1em;
    text-align: left;
  }
}