.product-grid{
	@include mb;
	@media (max-width: $screen-xs-max) {
		.col-xs-6:nth-child(2n+1){
			clear: left;
		}
	}
	@media (min-width: $screen-sm) {
		.col-sm-4:nth-child(3n+1){
			clear: left;
		}
	}
	.product-item{
		margin-bottom: $grid-gutter-width*2;
	}
}

// .discount-badge{
// 	position: absolute;
// 	background: #5E4471;
// 	top: 10px;
// 	left: 10px;
// 	width: 60px;
// 	height: 60px;;
// 	color: #F2E7F7;
// 	display: block;
// 	padding-top: 13px;
// 	text-align: center;
// 	border-radius: 50%;
// 	line-height: 1;
// 	font-size: 16px;
// 	transform: scale(.61);
// 	transform-origin: 0 0;
// 	@media (min-width: $screen-md) {
// 		top: 20px;
// 		left: 20px;
// 		transform: scale(1);
// 	}
// }