.product-family{
	@include mb;
}

.product-row-title{
	@include sectionDescription;
	margin-bottom: 1.5em;
	h2.title{
		@include sectionTitle;
		display: inline;
		margin-right: 40px;
	}
  .configuration-options{
    display: block;
    margin-top: 12px;
    @media (min-width: $screen-sm){
      display: inline;
      margin-top: 0;
		}
  }
  a{
		color: $gray-darker;
		font-size: 1em;
  }
}

.product-row-wrap{
  overflow: hidden; // hide scrollbar because css isn't strong enough. js will set the size
  margin-left: -$mobile-gutter;
  margin-right: -$mobile-gutter;
  @media (min-width: $screen-sm) { 
    margin-left: 0;
    margin-right: 0;
  }
}
.product-row{
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  padding-bottom: 15px;
  .item{
    position: relative; // fixes body side scrolling even with overflow scrolling 
    padding: 0 $mobile-gutter 0 0;
    min-width: 290px;
    width: 290px;
    box-sizing: content-box;
    @media (min-width: $screen-sm) {  min-width: 226px; width: 226px; padding-right: $grid-gutter-width; }
    @media (min-width: $screen-md) {  min-width: 293px; width: 293px; }
    @media (min-width: $screen-lg) {  min-width: 360px; width: 360px; }
    &:first-child{
      padding-left: $mobile-gutter;
      @media (min-width: $screen-sm) {  padding-left: 0; }
    }
    &:last-child{
      @media (min-width: $screen-sm) {  padding-right: 0; }
    }
  }
}
.product-row-bar{
  background: #EAEAEA;
  height: 4px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
  .handle{
    background: #9B9B9B;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }
}