[role="search"]{
	position: relative;
	margin-bottom: 20px;
	.form-control{
		border: 0;
		padding-right: 60px;
		height: 58px;
		background: $gray-lightest;
		font-family: $font-family-sans-serif;
		font-size: 16px;
		padding-left: 15px;
		box-shadow: none;
		@media (min-width: $screen-md) {
			height: 66px;
			font-size: 19px;
		}
		&::-webkit-input-placeholder {
		  color: #868686;
		}
		&::-moz-placeholder {
		  color: #868686;
		}
		&:-ms-input-placeholder {
		  color: #868686;
		}
		&:-moz-placeholder { 
		  color: #868686;
		}
	}
	.btn{
		background: url('icon-search.svg') no-repeat center center;
		background-size: 15px auto;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		padding: 0;
		width: 46px;
		border: 0;
	}
}