.section-heading{
	@include mb();
	text-align: center;
	font-size: 18px;
	color: $gray;
	@media (min-width: $screen-sm) {
		font-size: 20px;
	}
	@media (min-width: $screen-lg) {
		font-size: 23px;
	}
	.title{
		font-size: 2em;
		font-family: $font-family-medium;
		color: $brand-black;
		margin-bottom: .3em;
	}
	.description{
		margin-bottom: 0;
	}
}

