.section-heading{
	@include mb();
	text-align: center;
	&.is-page-title{
		margin-top: $mb-default-xs / 2;
		margin-bottom: $mb-default-xs / 2;
		@media (min-width: $screen-sm) {
			margin-top: $mb-default-sm / 2;
			margin-bottom: $mb-default-sm / 2;
		}
		@media (min-width: $screen-md) {
			margin-top: $mb-default-md / 2;
			margin-bottom: $mb-default-md / 2;
		}
		@media (min-width: $screen-lg) {
			margin-top: $mb-default-lg / 2;
			margin-bottom: $mb-default-lg / 2;
		}
	}
	.title{
		@include sectionTitle;
	}
	.description{
		@include sectionDescription;
		color: $gray;
	}
}

