.table{
	width: 100%;
	#table-heading{
		padding-left: 0;
	}
	thead{
		th{
			padding: 0 10px 40px;
			font-size: 19px;
			line-height: 1;
			color: #888;
			text-align: left;
			border-bottom: solid 1px #e6e6e6;
			font-weight: normal;
			white-space: nowrap;
			@media (min-width: $screen-md) {
				padding: 0 20px 40px;
			}
			&.text-right{
				text-align: right;
			}
			&.text-center{
				text-align: center;
			}
		}
	}
	tbody{
		td{
			padding: 20px 10px;
			border-bottom: solid 1px #e6e6e6;
			@media (min-width: $screen-md) {
				padding: 9px 20px;
			}
		}
		tr > td:first-child{
			@media (max-width: $screen-xs-max) {
			    padding-left: 0;
			}
		}
		tr > td:last-child{
			@media (max-width: $screen-xs-max) {
			    padding-right: 0;
			}
		}
	}
}

.order-items{
	color: #888;
	line-height: 1;
	.item-thumb{
		padding-left: 0;
		padding-right: 0;
		img{
			width: 60px;
			@media (min-width: $screen-sm) {
				width: auto;
			}
		}
	}
	.item-info{
		.product-name{ 
			line-height: 1;
			color: $gray-darker;
			margin-bottom: 6px;
			display: block;
			@include transition(all .2s ease);
			@media (min-width: $screen-sm) {
				font-size: 20px;
			}
		}
		a.product-name{
			&:hover{
				text-decoration: none;
				color: $brand-blue;
			}
		}
	}
	.item-options{
		color: #888;
		margin: 0;
		font-size: 15px;
		line-height: 20px;
		@media (min-width: $screen-sm) {
			font-size: $font-size-base;
			line-height: 1;
		}
	}
	.item-price{
		@media (max-width: $screen-xs-max) {
		    text-align: right;
		    padding-right: 0;
		}
	}
	.item-subtotal{
		text-align: right;
	}
}

.order-totals{
	width: 100%;
	line-height: 1;
	@media (min-width: $screen-sm) {
		margin-left: auto;
		width: auto;
	}
	td{
		&:first-child{
			text-align: right;
		}
		&:last-child{
			text-align: left;
			@media (min-width: $screen-sm) {
				text-align: right;
			}
		}
		padding: 5px 10px;
		@media (min-width: $screen-md) {
			padding: 10px 20px;
		}
	}
	.total{
		font-size: 18px;
		@media (min-width: $screen-md) {
			font-size: 26px;
		}
		.line-total{
			color: $brand-blue;
		}
	}
}