.tab-headings{
	display: flex;
	padding-bottom: 25px;
	border-bottom: solid 1px #e6e6e6;
	position: relative;
	a{
		margin-right: 30px;
		color: #888;
		@include transition(all .2s ease);
		&.active,
		&:hover,
		&:focus{
			color: $gray-darker;
			text-decoration: none;
		}
		@media (min-width: $screen-md) {
			margin-right: 40px;
			font-size: 24px;
		}
	}
}
.active-bar{
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 2px;
	background: $brand-blue;
	@include transition(all .3s ease-out);
}
.tab-panel{
	padding-top: 40px;
	display: none;
	@media (min-width: $screen-md) {
		padding-top: 50px;
	}
	&.active{
		display: block;
	}
}