	@media (max-width: 767px) {
	#section-0-item-0 .title,
	#section-0-item-0 .subtitle,
	#section-0-item-0 .description,
	#section-0-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-0-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-0-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-0-item-0 .title,
	#section-0-item-0 .subtitle,
	#section-0-item-0 .description,
	#section-0-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-0-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-0-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (max-width: 767px) {
	#section-0-item-0-play-icon{
		fill: #000000;
	}
}
		@media (min-width: 768px) {
	#section-0-item-0-play-icon{
		fill: #000000;
	}
}
	@media (max-width: 767px) {
	#section-1-item-0 .title,
	#section-1-item-0 .subtitle,
	#section-1-item-0 .description,
	#section-1-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-1-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-1-item-0 hr{
		border-top-color: #ffffff;
	}
}
			@media (min-width: 768px) {
	#section-1-item-0 .title,
	#section-1-item-0 .subtitle,
	#section-1-item-0 .description,
	#section-1-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-1-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-1-item-0 hr{
		border-top-color: #ffffff;
	}
}
			@media (max-width: 767px) {
	#section-1-item-0-play-icon{
		fill: #000000;
	}
}
		@media (min-width: 768px) {
	#section-1-item-0-play-icon{
		fill: #000000;
	}
}
	@media (max-width: 767px) {
	#section-2-item-0 .title,
	#section-2-item-0 .subtitle,
	#section-2-item-0 .description,
	#section-2-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-2-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-2-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-2-item-0 .title,
	#section-2-item-0 .subtitle,
	#section-2-item-0 .description,
	#section-2-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-2-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-2-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-3-item-0 .title,
	#section-3-item-0 .subtitle,
	#section-3-item-0 .description,
	#section-3-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-3-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-3-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-3-item-0 .title,
	#section-3-item-0 .subtitle,
	#section-3-item-0 .description,
	#section-3-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-3-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-3-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-4-item-0 .title,
	#section-4-item-0 .subtitle,
	#section-4-item-0 .description,
	#section-4-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-4-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-4-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-4-item-0 .title,
	#section-4-item-0 .subtitle,
	#section-4-item-0 .description,
	#section-4-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-4-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-4-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-5-item-0 .title,
	#section-5-item-0 .subtitle,
	#section-5-item-0 .description,
	#section-5-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-5-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-5-item-0 hr{
		border-top-color: #ffffff;
	}
}
			@media (min-width: 768px) {
	#section-5-item-0 .title,
	#section-5-item-0 .subtitle,
	#section-5-item-0 .description,
	#section-5-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-5-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-5-item-0 hr{
		border-top-color: #ffffff;
	}
}
	@media (max-width: 767px) {
	#section-7-item-0 .title,
	#section-7-item-0 .subtitle,
	#section-7-item-0 .description,
	#section-7-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-7-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-7-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-7-item-0 .title,
	#section-7-item-0 .subtitle,
	#section-7-item-0 .description,
	#section-7-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-7-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-7-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-9-item-0 .title,
	#section-9-item-0 .subtitle,
	#section-9-item-0 .description,
	#section-9-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-9-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-9-item-0 hr{
		border-top-color: #ffffff;
	}
}
			@media (min-width: 768px) {
	#section-9-item-0 .title,
	#section-9-item-0 .subtitle,
	#section-9-item-0 .description,
	#section-9-item-0 .link a.default{
		color: #ffffff;
		border-bottom-color: #ffffff;
	}
	#section-9-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-9-item-0 hr{
		border-top-color: #ffffff;
	}
}
	@media (max-width: 767px) {
	#section-10-item-0 .title,
	#section-10-item-0 .subtitle,
	#section-10-item-0 .description,
	#section-10-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-10-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-10-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-10-item-0 .title,
	#section-10-item-0 .subtitle,
	#section-10-item-0 .description,
	#section-10-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-10-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-10-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-11-item-0 .title,
	#section-11-item-0 .subtitle,
	#section-11-item-0 .description,
	#section-11-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-11-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-11-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-11-item-0 .title,
	#section-11-item-0 .subtitle,
	#section-11-item-0 .description,
	#section-11-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-11-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-11-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-12-item-0 .title,
	#section-12-item-0 .subtitle,
	#section-12-item-0 .description,
	#section-12-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-12-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-12-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-12-item-0 .title,
	#section-12-item-0 .subtitle,
	#section-12-item-0 .description,
	#section-12-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-12-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-12-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-16-item-0 .title,
	#section-16-item-0 .subtitle,
	#section-16-item-0 .description,
	#section-16-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-16-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-16-item-0 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-16-item-0 .title,
	#section-16-item-0 .subtitle,
	#section-16-item-0 .description,
	#section-16-item-0 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-16-item-0 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-16-item-0 hr{
		border-top-color: #000000;
	}
}
	@media (max-width: 767px) {
	#section-16-item-1 .title,
	#section-16-item-1 .subtitle,
	#section-16-item-1 .description,
	#section-16-item-1 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-16-item-1 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-16-item-1 hr{
		border-top-color: #000000;
	}
}
			@media (min-width: 768px) {
	#section-16-item-1 .title,
	#section-16-item-1 .subtitle,
	#section-16-item-1 .description,
	#section-16-item-1 .link a.default{
		color: #000000;
		border-bottom-color: #000000;
	}
	#section-16-item-1 .link a.default:hover{
		border-bottom-color: transparent;
	}
	#section-16-item-1 hr{
		border-top-color: #000000; 
	}
}