
@media (max-width: 767px) {
#section-0-item-0 .title,
#section-0-item-0 .subtitle,
#section-0-item-0 .description,
#section-0-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-0-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-0-item-0 hr{
border-top-color: #ffffff;
}
}
@media (min-width: 768px) {
#section-0-item-0 .title,
#section-0-item-0 .subtitle,
#section-0-item-0 .description,
#section-0-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-0-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-0-item-0 hr{
border-top-color: #ffffff;
}
}
@media (max-width: 767px) {
#section-0-item-0-play-icon{
fill: #ffffff;
}
}
@media (min-width: 768px) {
#section-0-item-0-play-icon{
fill: #ffffff;
}
}



@media (max-width: 767px) {
#section-2-item-0 .title,
#section-2-item-0 .subtitle,
#section-2-item-0 .description,
#section-2-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-2-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-2-item-0 hr{
border-top-color: #ffffff;
}
}
@media (min-width: 768px) {
#section-2-item-0 .title,
#section-2-item-0 .subtitle,
#section-2-item-0 .description,
#section-2-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-2-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-2-item-0 hr{
border-top-color: #000000;
}
}
@media (max-width: 767px) {
#section-2-item-0-play-icon{
fill: #ffffff;
}
}
@media (min-width: 768px) {
#section-2-item-0-play-icon{
fill: #000000;
}
}


@media (max-width: 767px) {
#section-4-item-0 .title,
#section-4-item-0 .subtitle,
#section-4-item-0 .description,
#section-4-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-4-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-4-item-0 hr{
border-top-color: #ffffff;
}
}
@media (min-width: 768px) {
#section-4-item-0 .title,
#section-4-item-0 .subtitle,
#section-4-item-0 .description,
#section-4-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-4-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-4-item-0 hr{
border-top-color: #ffffff;
}
}
@media (max-width: 767px) {
#section-4-item-0-play-icon{
fill: #ffffff;
}
}
@media (min-width: 768px) {
#section-4-item-0-play-icon{
fill: #ffffff;
}
}


@media (max-width: 767px) {
#section-8-item-0 .title,
#section-8-item-0 .subtitle,
#section-8-item-0 .description,
#section-8-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-8-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-8-item-0 hr{
border-top-color: #ffffff;
}
}
@media (min-width: 768px) {
#section-8-item-0 .title,
#section-8-item-0 .subtitle,
#section-8-item-0 .description,
#section-8-item-0 .link a.default{
color: #ffffff;
border-bottom-color: #ffffff;
}
#section-8-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-8-item-0 hr{
border-top-color: #ffffff;
}
}
@media (max-width: 767px) {
#section-8-item-0-play-icon{
fill: #ffffff;
}
}
@media (min-width: 768px) {
#section-8-item-0-play-icon{
fill: #ffffff;
}
}


@media (max-width: 767px) {
#section-15-item-0 .title,
#section-15-item-0 .subtitle,
#section-15-item-0 .description,
#section-15-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-15-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-15-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-15-item-0 .title,
#section-15-item-0 .subtitle,
#section-15-item-0 .description,
#section-15-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-15-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-15-item-0 hr{
border-top-color: #000000;
}
}



@media (max-width: 767px) {
#section-16-item-0 .title,
#section-16-item-0 .subtitle,
#section-16-item-0 .description,
#section-16-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-16-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-16-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-16-item-0 .title,
#section-16-item-0 .subtitle,
#section-16-item-0 .description,
#section-16-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-16-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-16-item-0 hr{
border-top-color: #000000;
}
}



@media (max-width: 767px) {
#section-17-item-0 .title,
#section-17-item-0 .subtitle,
#section-17-item-0 .description,
#section-17-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-17-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-17-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-17-item-0 .title,
#section-17-item-0 .subtitle,
#section-17-item-0 .description,
#section-17-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-17-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-17-item-0 hr{
border-top-color: #000000;
}
}



@media (max-width: 767px) {
#section-19-item-0 .title,
#section-19-item-0 .subtitle,
#section-19-item-0 .description,
#section-19-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-19-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-19-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-19-item-0 .title,
#section-19-item-0 .subtitle,
#section-19-item-0 .description,
#section-19-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-19-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-19-item-0 hr{
border-top-color: #000000;
}
}



@media (max-width: 767px) {
#section-20-item-0 .title,
#section-20-item-0 .subtitle,
#section-20-item-0 .description,
#section-20-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-20-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-20-item-0 hr{
border-top-color: #000000;
}
}
@media (min-width: 768px) {
#section-20-item-0 .title,
#section-20-item-0 .subtitle,
#section-20-item-0 .description,
#section-20-item-0 .link a.default{
color: #000000;
border-bottom-color: #000000;
}
#section-20-item-0 .link a.default:hover{
border-bottom-color: transparent;
}
#section-20-item-0 hr{
border-top-color: #000000;
}
}
