.pagination{
	font-size: $font-size-small;
	text-align: center;
	display: block;
	span{
		display: inline-block;
		margin: 0 2px;
	}
	a{
		color: $gray;
		&:hover{
			text-decoration: none;
			color: $brand-blue;
		}
	}
	.page{
		a, &.current{
			padding: 6px 0;
			width: 40px;
			height: 40px;
			color: $gray;
			border: solid 1px $gray-lighter;
			border-radius: 50%;
		}
		a{
			display: block;
		}
		&.current{
			color: $brand-blue;
			border-color: $brand-blue;
			// shopify pagination uses an empty span for current .page,
			// but our reviews pagination doesn't change the span > a markup,
			// so reset here
			a{
				width: auto;
				height: auto;
				padding: 0;
				border: 0;
				color: $brand-blue;
				cursor: default;
			}
		}
		&:focus,
		&:hover{
			a{
				border-color: $brand-blue;
				text-decoration: none;
			}
		}
	}
}