.story-blocks{
	max-width: 400px;
	margin: 0 (-$grid-gutter-width/2);
	img{
		width: 100%;
		height: auto;
		margin-top: 35px;
	}
	@media (min-width: 400px) {
	  	margin: 0 auto;
  	}
  	@media (min-width: $screen-sm) {
	  	max-width: 100%;
	  	.row{
	  		margin-left: -$grid-gutter-width;
	  		margin-right: -$grid-gutter-width;
	  		@media (min-width: $screen-md) {
	  			margin: 0;
	  		}
	  	}
	  	.col-sm-6,
	  	.col-xs-12{
	  		padding: 0;
	  	}
  	}
	
	.row{
		&.full{
			.story-block{
				width: 100%;
				position: relative;
				@media (min-width: $screen-picture-switch) {
					max-width: 100%;
				}
			}
			.story-block-content{
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				color: #FFF;
				font-family: $font-family-sans-serif;
				letter-spacing: 1px;
				text-align: center;
				padding: 0;
				margin: 0;
				*{
					max-width: 90%;
					&:last-child{
						margin-bottom: 0;
					}
					@media (min-width: $screen-md) {
						max-width: 50%;
					}
				}
				p{
					margin-bottom: $grid-gutter-width;
				}
			}
		}
	}
  	.story-block-content{
  		text-align: center;
  		@media (min-width: $screen-sm) {
  			padding: $block-padding-small-sm $block-padding-small-sm 0;    
  		}
  		@media (min-width: $screen-md) {
  			padding: $block-padding-small-md $block-padding-small-md 0;
  		}
  		@media (min-width: $screen-lg) {
  			padding: $block-padding-small-lg $block-padding-small-lg 0;
  		}
  	} 
}

.flexbox{
	.story-blocks{
		.row{
			@media (min-width: $screen-sm) {
				display: flex;
				align-items: center;
				justify-content: center;
				&.reverse{
					flex-direction: row-reverse;
				}
			}
		}
		.col-sm-push-6,
		.col-sm-pull-6{
			position: static;
		}
	}
	.story-block-content{
		padding-top: 0;
	}
}

.story-block-content{
	@include mobile-inset;;
	@media (min-width: $screen-sm) {
		margin: 0;
	}
	@media (min-width: $screen-md) {
		font-size: 18px;
	}
	h2, h3{
		text-transform: uppercase;
		margin-top: 25px;
		@media (min-width: $screen-sm) {
			margin-top: 0;
		}
	}
	p:last-child{
		@media (min-width: $screen-sm) {
			margin-bottom: 0;
		}
	}
}
